
<div class="pd-20" >
    <!--<div class="mb-10 framework">-->
        <!--<span class="framework_s">渠道：</span>-->
        <!--<div >-->
            <!--<select class="input-text" >-->
                <!--<option>app</option>-->
                <!--<option>web</option>-->
                <!--<option>微信</option>-->
            <!--</select>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="mb-10 framework">-->
        <!--<span class="framework_s">选择服务：</span>-->
        <!--<div >-->
            <!--<select class="input-text" >-->
                <!--<option>乔司龙引擎</option>-->
                <!--<option></option>-->
                <!--<option></option>-->
            <!--</select>-->
        <!--</div>-->
    <!--</div>-->
    <div class="framework mb-10 cl" style="min-height:25px;">
        <span class="framework_s text-r">选择服务：</span>
        <div class="">
            <select class="bd" style="height:30px;min-width: 50px" ng-model="vm.serviceId"  ng-options="service.serviceId as service.serviceName for service in vm.listService">
                <option value="" ng-if="vm.listService.length==0">应用下服务为空</option>
            </select>
        </div>
    </div>
    <div class="framework mb-10 cl" style="min-height:25px;">
        <span class="framework_s text-r">渠道：</span>
        <div class="">
            <label class="mr-20" ng-repeat="channel in vm.channelList"><input type="radio" name="channel" ng-click="vm.channel=channel.channelId"/> {{channel.channelName}}</label>
        </div>
    </div>
    <div class="text-c pt-10 pb-10">
        <input type="button" value="确定" ng-disabled="myForm.$invalid" ng-click="closeThisDialog(1)"  class="btn1 btn1_blue mr-10"/>
        <input type="button" value="取消" ng-click="closeThisDialog(0)"  class="btn1 btn_gray"/>
    </div>
</div>

<script>

</script>





