
<div class="pd-20" >
    <div class="framework mb-10">
        <span class="framework_s">测试问法:</span>
        <div>
            <input type="text" placeholder="12306怎么购票？" ng-model="vm.editTitle" class="input-text" style="width:300px;"/>
        </div>
    </div>
    <div class="framework mb-10">
        <span class="framework_s">知识标题:</span>
        <div>
            <input type="text" placeholder="12306购票流程" ng-model="vm.editKnow" class="input-text" style="width:300px;"/>
        </div>
    </div>

    <div class="framework mb-10">
        <span class="framework_s ">渠道:</span>
        <div class="">
            <label class="mr-10" ng-repeat="channel in vm.channelList"><input type="radio" name="channel" ng-checked="(vm.editChannel==channel.channelCode)?true:false" ng-click="vm.editChannel=channel.channelCode" /> {{channel.channelName}}</label>
        </div>
    </div>
    <div class="tc mt-20">
        <input type="button" value="确定" class="btn1 btn1_blue mr-20" ng-click="closeThisDialog(1)"/>
        <input type="button" value="取消" class="btn1 btn_gray" ng-click="closeThisDialog(0)"/>
    </div>
</div>
<style>
    .ngdialog.ngdialog-theme-default .ngdialog-content{width:500px;}
</style>
<script>

</script>





