<div ui-view="header"></div>

<div class="wrap pr chat_test_wrap participle" style="padding-top:10px;">

    <div class="p20 cl" style="background:#fff;height:100%;">
        <div class="r-cont-hd mb-10">
            <span>批量分词</span>
        </div>
        <div class="cl" style="width:420px;height:30px;margin:0 auto 20px;">
            <select class="sel bd L mr-10" id="selected" ng-model="vm.searchType">
                <option value="0">全部</option>
                <option value="21006">分词失败</option>
                <option value="21007">待分词</option>
                <option value="21008">分词中</option>
                <option value="21009">已完成</option>

            </select>
            <input type="text" class="input-text L mr-10" ng-model="vm.selectInput" placeholder="测试文件/操作人" style="width:250px;height:30px;" />
            <button class="btn1 btn1_blue L" type="button"  ng-click="vm.getPartList(vm.paginationConf.currentPage,vm.paginationConf.pageSize,1)">查找</button>
        </div>
        <div class="bd p20" style="background:#fcfdfd;">
            <div class="mb-10 cl">
                <div class="L">
                    <!--<button class="L mr-10 btn1 btn1_blue">上传</button>-->
                    <div class="L mr-10" style="display:inline-block;"  part-test  factor="vm.paginationConf.currentPage" is-upload="vm.upload"></div>
                    <button class="L btn1 btn_delete"  ng-click="vm.deletePart(vm.deleteIds)"> 删除</button>
                </div>
                <div class="R">
                    <!--<span class="c-999 pl-10">共有数据：<strong >3</strong> 条 </span>-->
                </div>
            </div>

            <div class="mt-20">
                <div class="dataTables_wrapper no-footer">
                    <table class="stop_word_tab" >
                        <thead>
                        <tr>
                            <th class="bold" width="4%"><input class="selectAllBtn" ng-click="vm.selectAll()" type="checkbox"  ng-checked="vm.selectAllCheck"/></th>
                            <!--<th class="bold" width="10%">编号</th>-->
                            <th class="bold" width="34%">测试文件</th>
                            <th class="bold" width="10%">状态</th>
                            <th class="bold" width="10%">测试总数</th>
                            <th class="bold" width="15%">上传时间</th>
                            <th class="bold" width="10%">操作人</th>
                            <th class="bold" width="12%">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in vm.listData" >
                                <td><input type="checkbox" ng-checked="vm.deleteIds.inArray(item.id)"  ng-click="vm.selectSingle(item.id)"></td>

                                <td class="c_blue">{{item.fileName}}</td>
                                <td ng-if="item.status==21007">待分词</td>
                                <td ng-if="item.status==21008">分词中</td>
                                <td ng-if="item.status==21009">已完成</td>

                                <td>{{item.amount}}</td>
                                <td>{{item.testTime|date:'yyyy-MM-dd HH:mm:ss'}}</td>
                                <td>{{item.modifierName}}</td>
                                <td>
                                    <a href="javascript:;" class="mr10 c_blue" ng-if="item.status==21007" ng-click="vm.startTestPart(item.id)">启动</a>
                                    <a href="javascript:;" class=" mr10 c_orange " ng-if="item.status==21009">重测</a>
                                    <a href="javascript:;" ng-click="vm.exportPart(item.id)" class="c-green" ng-if="item.status==21009">下载</a>
                                    <!--<a href="api/ms/participle/test/result/export/excel/{{item.id}}"  class="c-green" ng-if="item.status==21009">下载</a>-->
                                </td>
                            </tr>
                            <!--<tr >-->
                                <!--<td><input type="checkbox" ng-checked="vm.deleteIds.inArray(v.batchNumberId)"  ng-click="vm.selectSingle(v.batchNumberId)"></td>-->
                                <!--&lt;!&ndash;<td>1</td>&ndash;&gt;-->
                                <!--<td><a href="javascript:;" class="c_blue" ui-sref="functionalTest.participleResult">高铁管家第一版.xlsx</a></td>-->
                                <!--<td>分词中</td>-->
                                <!--<td>100</td>-->
                                <!--<td>2016-8-17 13:45:23</td>-->
                                <!--<td>cuipeijun</td>-->
                                <!--<td>-->
                                    <!--<a href="javascript:;" class="c_blue">启动</a>-->
                                    <!--<a href="javascript:;" class="mr10 c-green">重测</a>-->
                                    <!--<a href="javascript:;" class="c_blue" >下载</a>-->
                                <!--</td>-->
                            <!--</tr>-->

                        </tbody>
                    </table>

                    <pagination ng-if="vm.paginationConf.totalItems && vm.paginationConf.totalItems>0" conf="vm.paginationConf"></pagination>

                </div>
            </div>
        </div>
    </div>
</div>
<style>

</style>
<script>

</script>





