<div ui-view="header"></div>
<div class="warp "  style="margin-top:20px;">
    <div class="pd-30" style="background:#fff;">
       <h3 class="mb-20 f16">资源监控</h3>
        <div class="mb-20">
            <table class="access_amount_table ">
                <tr>
                    <td width="25%">IP地址</td>
                    <td width="25%">内存占用（%）</td>
                    <td width="25%">CPU占用(%)</td>
                    <td width="25%">服务状态</td>
                </tr>
                <tr ng-repeat="item in vm.result">
                    <td>{{ item[item.length-1].ip }}</td>
                    <td>{{ item[item.length-1].memory }}%</td>
                    <td>{{ item[item.length-1].cpu }}%</td>
                    <td>{{ item[item.length-1].responseStatus }}</td>
                </tr>
            </table>
        </div>
        <div class="data_time_statis_bot">
            <ul>
                <li>
                    <p class="tc mb-10">使用内存-1天</p>
                    <div class="flow_echart" id="main">
                        <!--<img src="../../../images/1.png" />-->
                    </div>
                </li>
                <li>
                    <p class="tc mb-10">CPU占用率-1天</p>
                    <div class="flow_echart" id="mainCpu">
                        <!--<img src="../../../images/2.png" />-->
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
