<div ui-view="header"></div>
<div class="msgR-cont pd-20 ">
    <div class="r-cont-hd">
        <span>问法测试</span>
    </div>
    <div class="pd-30" style="background:#fff;">
        <div class="mb-10 cl list_facContent" style="padding-left: 100px;height:30px;">
            <div class="list_facContent_L" style="width:100px;">预期知识：</div>
            <div >
                <input type="text" class="input_text mr-10" placeholder="请输入预期知识" ng-model="vm.testTitle"/>
                <button type="button"   class="btn btn-primary radius mr-10" ng-click="vm.test()">测试</button>
                <button type="button"   class="btn btn_gray radius" ng-click="vm.emptyInput()" style="color:#fff;">清空</button>
            </div>
        </div>
        <div class="mb-10 cl list_facContent" style="padding-left: 100px;">
            <div class="list_facContent_L" style="width:100px;">可能问法：</div>
            <div >
                <!--<textarea class="textarea"  ng-model="vm.question" ng-keypress="vm.addArr($event)"></textarea>-->
                <textarea class="textarea"  ng-model="vm.question" placeholder="请输入可能问法"></textarea>
            </div>
        </div>

        <div class="mb-10 cl list_facContent" style="padding-left: 100px;">
            <div class="list_facContent_L" style="width:100px;margin-top:7px;">测试结果：</div>
            <div  >
                <div class="bd pd-10" style="min-height:200px;max-height:300px;overflow:auto;" id="solution">
                    <div class="c-red bold mb-10">
                        <span ng-show="vm.show_tit">标准问法：</span>
                        <ul ng-repeat="v in vm.listData.askDebugInfo track by $index" style="display:inline-block;">
                            <li>
                                [
                                <span>{{v.topic}}：</span>
                                <!--<span>{{v.content}}</span>-->
                                <span ng-repeat="i in v.content.split(' ') track by $index">
                                    {{i}}
                                </span>
                                ]
                            </li>
                        </ul>

                    </div>
                    <ul class="mb-10" ng-repeat="v in vm.listData.compareDebugInfo track by $index">测试问法{{$index+1}}：
                        <li ng-repeat="item in v track by $index" style="display:inline-block;margin-right:5px;">
                            [
                            <span>{{item.topic}}：</span>
                            <!--<span>{{item.content}}</span>-->
                            <span ng-repeat="i in item.content.split(' ') track by $index" ng-class="vm.check(i,vm.listData.askDebugInfo)?'c-red':'c-green'">
                                {{i}}
                            </span>
                            ]
                        </li>
                    </ul>

                </div>
            </div>
        </div>

    </div>
</div>







