<div ui-view="header"></div>
<div class="msgR-cont pd-20 ">
    <div class="r-cont-hd">
        <span>相关度测试</span>
    </div>
    <div class="pd-30" style="background:#fff;">
        <div class="mb-10 cl list_facContent" style="padding-left: 100px;height:30px;">
            <div class="list_facContent_L" style="width:100px;">预期知识：</div>
            <div >
                <input type="text" class="input_text mr-10" placeholder="购买火车票能不能选择铺位" ng-model="vm.testTitle"/>
                <button type="button"   class="btn btn-primary radius mr-10" ng-click="vm.test()">测试</button>
                <button type="button"   class="btn btn-warning radius" ng-click="vm.emptyInput()">清空</button>
            </div>
        </div>
        <div class="mb-10 cl list_facContent" style="padding-left: 100px;">
            <div class="list_facContent_L" style="width:100px;">可能问法：</div>
            <div >
                <!--<textarea class="textarea"  ng-model="vm.question" ng-keypress="vm.addArr($event)"></textarea>-->
                <textarea class="textarea"  ng-model="vm.question" ></textarea>
            </div>
        </div>

        <div class="mb-10 cl list_facContent" style="padding-left: 100px;">
            <div class="list_facContent_L" style="width:100px;margin-top:7px;">测试结果：</div>
            <div  >
                <div class="bd pd-10" style="min-height:200px;max-height:300px;overflow:auto;" id="solution">
                    <div class="c-red bold mb-10">
                        <span ng-show="vm.show_tit">标准问法：</span>
                        <!--{{vm.answerRes.standardQueryResult}}-->
                        <span ng-repeat="v in vm.answerRes.standardQueryResult track by $index">[ {{v.tagList.join(',')}} ]</span>
                    </div>
                    <div class="mb-10" ng-repeat="v in vm.answerRes.comparisonResult track by $index">测试问法{{$index+1}}:

                                <span ng-repeat="i in v.wordTagResultList track by $index" ng-class="">
                                    [<span ng-repeat="val in i.tagList track by $index" ng-class="vm.check(val,v.matchedWordTagResults)?'c-red':'c-green'">{{val}}<i ng-if="$index!=i.tagList.length-1">，</i></span>]
                                </span>
                        <span > ; 相似度：{{v.similarity}}</span>
                    </div>
                    <!--<div>测试问答1:-->
                    <!--<span class="c-red">key_1_购买,key_1_买入 </span>-->
                    <!--<span class="c-success">key_1_网上,key_1_互联网</span>-->
                    <!--<span class="c-blue">key_1_再,key_1_同时</span>-->
                    <!--<span class="c-orange">key_1_再,key_1_同时</span>-->
                    <!--<span class="c-green">key_1_再,key_1_同时</span>-->
                    <!--</div>-->
                </div>
            </div>
        </div>

    </div>
</div>







