<div class="warp" style="margin-top:20px;">
    <div class=" tw_mes pd-20" style="background:#fff;">
        <h3 class="f16 mb10 ml10">新建图文消息</h3>
        <div class="cl" style="background:#F8F8F8;">
            <div class="L tw_mes_l mr30 pd-10" >
                <p class="mb20">图文列表</p>
                <div class="bd  pd-10"  style="background:#fff;">
                    <dl class="pr add_tw_dl" >
                        <dt>
                            <img ng-if="vm.imgSelected" ng-src="/img/{{vm.imgSelected.url}}" />
                            <img ng-if="!vm.imgSelected" ng-src="../../../images/u1134.png" />
                        </dt>
                        <dd class="pa">
                            <span></span>
                            <p>标题</p>
                        </dd>
                    </dl>
                </div>
            </div>
            <div class="R tw_mes_r">
                <div class="tit mt20 mb20">
                    <input type="text" placeholder="请必须输入标题" ng-model="vm.title" maxlength="60" class="input_text mr20 f16" />
                    <span ><span>{{vm.title.length}}</span>/60</span>
                </div>
                <div class="author mt20 mb20">
                    <input type="text" placeholder="请输入作者" ng-model="vm.author" maxlength="8" class="input_text mr20 " />
                    <span ><span>{{vm.author.length}}</span>/8</span>
                </div>
                <div class="mt20 mb20" >
                    <!--加载编辑器的容器-->
                    <!--<script id="container" name="content" type="text/plain" style="width:95%;background:none;border:0;margin:0;min-height: 300px;">这里写你的初始化内容</script>-->
                    <div class="ueditor" config="vm.config" ng-model="vm.content"></div>
                </div>
                <div class="pb20 mb20" style="border-bottom:1px solid #e3e3e3;">
                    <input type="checkbox" />
                    原文链接
                    <input type="text" placeholder="设置原文链接后，图文中的内容将会失效" class="input_text ml20" style="width:500px;border-radius:2px;"/>
                </div >
                <p class="mb20">发布样式编辑</p>
                <div class="mb10">
                    <span style="color:#333;margin-right:10px;">封面</span> 大图片建议尺寸：900像素 * 500像素
                </div>
                <div class="mb10 upload_btndiv">
                    <button class="mr10 butn">本地上传</button>
                    <button class="butn" ng-click="vm.selectLocalImg()">从图片库选择</button>
                </div>
                <div class="mb10">
                    <input type="checkbox" />
                    封面图片显示在正文中
                </div>
                <div class="mb10 upload_btndiv">
                    <button class="mr10 btn1 btn1_blue">保存图文</button>
                    <button class="butn">清空全部</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--&lt;!&ndash; 实例化编辑器 &ndash;&gt;-->
<!--<script type="text/javascript">-->
    <!--var ue = UE.getEditor('container');-->
<!--</script>-->