<div class="pd-10 selectImage">
    <form class="form form-horizontal" >
        <div>
            <p class="tc mb-10">请选择要上传的图片</p>
            <ul class="classic_head_ul clearfix">
                <li ng-repeat="item in vm.imageList"  ng-class="vm.imgSelected.id==item.pictureId ? 'active' : ''"
                    ng-click="vm.selectImage(item)">
                    <div style="width:88px;height:81px;overflow:hidden;margin-bottom: 5px;">
                        <img title="{{item.pictureName}}" style="width: 100%;height: 100%;cursor:pointer;" ng-src="/img/{{item.pictureUrl}}">
                    </div>
                    <p class="f14">{{item.pictureName}}</p>
                </li>
            </ul>
        </div>
        <pagination ng-if="(vm.imgPaginationConf.totalItems) && (vm.imgPaginationConf.totalItems>0)" conf="vm.imgPaginationConf"></pagination>
    </form>
</div>
<style>
    .ipt-txt-box .ipt-txt{
        border:1px solid gray
    }

</style>
