<div class="r-cont pd30 L" style="width: 100%;box-sizing:border-box;">
    <div class="r-cont-hd">
        <span>停用概念管理</span>
    </div>
    <div>
        <div class="conceptSearch clearfix">
            <div class=" L bd mr-5" style="height:34px;max-width:477px;padding:0 1px;">

                <select id="searchType" ng-model="vm.searchType" style="height: 29px;">
                    <option value="stopConceptKey" selected>停用概念类名</option>
                    <option value="stopConceptTerm">停用概念集合</option>
                    <option value="stopConceptModifier">修改人</option>
                    <option value="stopConceptModifyTime">更新时间</option>
                </select>
                <input type="text" ng-if="vm.searchType!='stopConceptModifyTime'" ng-model="vm.searchVal" class="input_text" style="border:0;height:19px;" ng-keypress="($event.which === 13)?vm.search():0"/>
                <div style="margin: -30px 0px 0px 110px;" ng-if="vm.searchType=='stopConceptModifyTime'">
                    <input type="text" id="startTime" onchange=""  ng-model="vm.timeStart"  onclick="WdatePicker({startDate:'%y',dateFmt:'yyyy-MM-dd',maxDate:'#F{$dp.$D(\'endTime\')}'})" class="input-text Wdate "  style="width:170px;border:1px solid #e1e1e1;height: 31px;font-size: 15px;color: #333!important;" placeholder="yyyy-mm-dd" readonly>
                    -
                    <input type="text" id="endTime"   onchange="" ng-model="vm.timeEnd" onclick="WdatePicker({startDate:'%y',dateFmt:'yyyy-MM-dd',minDate:'#F{$dp.$D(\'startTime\')}'})" class="input-text Wdate "  style="width:170px;border:1px solid #e1e1e1;height: 31px;font-size: 15px;color: #333!important;" placeholder="yyyy-mm-dd" readonly>
                </div>
            </div>
            <input type="button" value="查找" ng-click="vm.searchStopConcept(1)"  class="btn1 btn1_blue"/>
            <div class=" conceptSearchRt">
                <a class="btn btn-blue mr10" id="addCase" ng-click="vm.addStop()">新增</a>
                <a class="btn btn-blue mr10" href="javascript:;" ng-click="vm.batchUpload()">导入</a>
                <!--<a class="btn btn-green mr10" href="javascript:;">继续概念库</a>-->
                <a class="btn btn-green2 mr10" href="javascript:;" ng-click="vm.exportAll()">导出</a>
                <a class="btn btn-red mr10" href="javascript:;" ng-click="vm.batchDelete()">删除</a>
            </div>
        </div>
        <table class="stop_word_tab">
            <thead>
                <tr>
                    <th class="bold" width="5%"><input id="selectAll" type="checkbox"/></th>
                    <th class="bold" width="10%">停用概念类名</th>
                    <th class="bold" width="35%">停用概念集合</th>
                    <th class="bold" width="15%">更新时间</th>
                    <th class="bold" width="15%">修改人</th>
                    <th class="bold" width="10%">操作</th>
                </tr>
            </thead>
            <tr ng-repeat="item in vm.listData">
                <td><input type="checkbox" value="{{item.stopConceptId}}" name="sid"></td>
                <td>{{item.stopConceptKey}}</td>
                <td>
                    <span ng-class="($index%2==1)?'ng-blue':'ng-red'" ng-repeat = "i in item.stopConceptTerm.split('；')">{{i}} <i ng-if="$index!=item.stopConceptTerm.split('；').length-1" style="color: #333;">,</i></span>
                </td>
                <td>{{item.stopConceptModifyTime | date : 'yyyy-MM-dd HH:mm:ss'}}</td>
                <td>{{item.stopConceptModifier}}</td>
                <td>
                    <a href="javascript:;" class="color-blue modifyConcept" ng-click="vm.editStop(item)">修改</a> &nbsp;
                    <a href="javascript:;" class="delConcept" ng-click="vm.deleteStop(item.stopConceptId)">删除</a>
                </td>
            </tr>
        </table>
        <pagination ng-if="vm.paginationConf.totalItems && vm.paginationConf.totalItems>0" conf="vm.paginationConf"></pagination>
    </div>
</div>
<style>
    .pagination {
        margin: 0 !important;
    }
    .ngdialog{
        z-index: 5!important;
    }
</style>
<script></script>