
<div class="pd-20" >
    <div>
        <h3 class="mb-20 tc">修改停用概念</h3>
        <div class="mb-20 concept_div">
            <span class="concept_s">概念类名：</span>
            <div >
                <input type="text" ng-model="vm.key"  class="input_text" value="违禁品"/>
            </div>
        </div>
        <div class="mb-20 concept_div">
            <span class="concept_s">概念权重：</span>
            <div>
                <select class="input_text" ng-value="vm.weight">
                    <option value="1">极不重要</option>
                    <option value="2">>不重要</option>
                    <option value="3">>一般</option>
                    <option value="4">>重要</option>
                    <option value="5">>极重要</option>
                </select>
            </div>
        </div>
        <div class="mb-20 concept_div">
            <span class="concept_s">新增概念：</span>
            <div >
                <textarea class="textarea" ng-model="vm.term">
                </textarea>
            </div>
        </div>
        <div class="mb-20 concept_div">
            <span class="concept_s">同义概念：</span>
            <div >
                <textarea class="textarea">

                </textarea>
            </div>
        </div>
        <div class="concept_div">
            <input type="submit" class="btn1 btn1_blue mr-15" value="确定"/>
            <input type="button" class="btn1 btn_gray" value="取消" />
        </div>
    </div>
</div>
<style>
    .ngdialog.ngdialog-theme-default .ngdialog-content{
        width:500px;
    }
</style>
<script>

</script>