<div ui-view="header"></div>

<div class="wrap" style="margin-top:10px;">
    <div class="pd30" style="background:#fff;">
        <h3 class="f22 c-666 mb20">操作日志</h3>
        <div class="data_time_statis_top mb-20" style="width:520px;">
            <!--<span>用户</span>-->
            <!--<input type="text" class="input-text bd" style="width:200px;height:31px;" ng-model="vm.operationLogAuthor"/>-->
            <span>
            日期范围:
                <input type="text" id="startTime" onchange=""  ng-model="vm.startTime"  onclick="WdatePicker({startDate:'%y',dateFmt:'yyyy-MM-dd',maxDate:'#F{$dp.$D(\'endTime\')}'})" class="input-text Wdate "  style="width:185px;border:1px solid #e1e1e1;height:31px;font-size:14px;" placeholder="请选择开始日期" readonly>
                            -
                <input type="text" id="endTime"   onchange="" ng-model="vm.endTime" onclick="WdatePicker({startDate:'%y',dateFmt:'yyyy-MM-dd',minDate:'#F{$dp.$D(\'startTime\')}'})" class="input-text Wdate "  style="width:185px;border:1px solid #e1e1e1;height:31px;font-size:14px;" placeholder="请选择结束日期" readonly>
            </span>
            <input type="button" class="btn1 btn1_blue" value="查询" ng-click="vm.getData(1)"/>
        </div>
        <div>
            <table class="access_amount_table">
                <tr>
                    <td width="15%">用户名</td>
                    <td width="15%">应用名称</td>
                    <td width="20%">模块</td>
                    <td width="15%">操作类型</td>
                    <td width="20%">操作内容</td>
                    <td width="15%">操作时间</td>
                </tr>
                <tr ng-repeat="item in vm.listData.objs">
                    <td>{{item.name}}</td>
                    <td>{{item.applicationName}}</td>
                    <td>{{item.moduleType|moduleType}}</td>
                    <td>{{item.type|operateState}}</td>

                    <!--<td>-->
                        <!--<a href="javascript:;" class="c_blue" ui-sref="MM.chatAdd({knowTextId: item.content.substring(item.content.indexOf(',')+1 })" ng-if="item.content.indexOf(',')!=-1">{{item.content|contentShow}}</a>-->
                        <!--<span  ng-if="item.content.indexOf(',')==-1">{{item.content|contentShow}}</span>-->
                    <!--</td>-->
                    <td>
                        <a href="javascript:;" class="c_blue" ng-click="vm.pageJump(item)" ng-if="item.content.indexOf(',')!=-1">{{item.content|contentShow}}</a>
                        <span  ng-if="item.content.indexOf(',')==-1">{{item.content|contentShow}}</span>
                    </td>

                    <td>{{item.time|date:'yyyy-MM-dd HH:mm:ss'}}</td>
                </tr>

            </table>
            <pagination ng-if="vm.paginationConf.totalItems && vm.paginationConf.totalItems>0" conf="vm.paginationConf"></pagination>

        </div>
    </div>
</div>






