<!--<div ui-view="header"></div>-->

<div class="pd-20" >
    <div class="bk-gray clearfix h100" style="width:100%;">
        <div class="L w22  user_session">
            <p class="text-c l-30 f-16 user_sessionp">
                会话
            </p>
            <ul class="chat_theme_ul" id="sessionBar" ng-if="vm.timeList.length">
                <li style="cursor:pointer;" ng-if="vm.timeList" ng-repeat="item in vm.timeList" ng-click="vm.getdetail(item.sessionId,1)">{{item.sessionTime | limitTo:19}}</li>
            </ul>
            <div class="text-c mb-10 user_session_pag" id="barPage" ng-if="vm.timeList.length">
                <div name="laypage1.2" class="laypage_main laypageskin_molv" id="laypage_0" ng-if="vm.currentPage!=1" style="float: left;margin: 2px;border: 1px solid #e1e1e1;">
                    <a href="javascript:;" class="laypage_next" data-page="2" ng-click="vm.prePage()">上一页</a>
                </div>
                <div name="laypage1.2" class="laypage_main laypageskin_molv" id="laypage_1" style="float: left;margin: 2px;border: 1px solid #e1e1e1;">
                    <a href="javascript:;" class="laypage_next" data-page="2" ng-click="vm.nextPage()" ng-if="vm.currentPage!=vm.total">下一页</a>
                </div>
            </div>
            <span id="barPageDetail" style="right: 14px;bottom: 18px;position: absolute;">{{vm.currentPage}}/{{vm.total}}</span>
        </div>
        <div id="chatContent" class="L w78" style="height: 500px;overflow: scroll;border-left: 1px solid #eee;">
            <div ng-repeat="item in vm.talkDetail">
                <div style="clear: both" class="chatPopLeftMe">
                    <div>
                        <p>
                            <span class="chatPopLeftMeMSg">
                                <sub></sub>{{item.question}}
                            </span>
                        </p>
                    </div>
                </div>
                <div class="chatPopLeftHe" style="z-index:0;">
                    <div>
                        <p><sub></sub>
                            <span class="RecommendCnt">
                                <span class="RecommendCnt1">{{item.answer}}</span>
                                <span class="RecommendCnt1-line" ng-if="item.prompt!=null && item.prompt!=''">{{item.prompt}}</span>
                                <span ng-if="item.recommendQuestions!=null && item.recommendQuestions.length>0" ng-repeat="reco in item.recommendQuestions">
                                    <i style="display:inline">{{reco.knowledgeTitle}}</i>
                                </span>
                            </span>
                        </p>
                    </div>
                </div>
            </div>
            <a href="javascript:;" ng-if="vm.talkDetailTotal>vm.pageSize" ng-click="getdetail(item.sessionId,vm.contentIndex)">查看更多</a>
        </div>
    </div>
</div>
<style>
    .ngdialog.ngdialog-theme-default .ngdialog-content{
        width:930px;
        min-height: 500px;
        top: 50%;
        left: 50%;
        margin-left: -480px;
        margin-top: -250px;
    }
    .ngdialog.ngdialog-theme-default {
    padding-bottom: 0;
    padding-top: 0;
}
</style>






