<div alert-bar class="alert_bar" message="tipService.message" type="tipService.type"></div>
<!--头部-->
<div class="">
    <div class="h-cont">
        <div class="warp">
            <a class="logo ellipsis fl" href="javascript:;">
                <span>Dinfo-UBKM</span>
                <em>统一业务知识库 · 知识的海洋</em>
            </a>
            <!--<div class="h-search fl">-->
                <!--<input class="search-txt" type="text" ng-model="SearchPOJO.keywords"/>-->
                <!--<input class="search-btn" value="搜索" type="button" ng-click="setKeywords(SearchPOJO.keywords)" />-->
            <!--</div>-->
            <div class="user-box fr">
                <ul>
                    <li style="cursor:pointer;">
                        <a ng-click="toBack()">知识管理</a>
                    </li>
                    <li>
                        <div class="user-info">
                            <img class="user-photo" ng-if="currentUser.protarit!='' &&currentUser.protarit!=null &&currentUser.protarit!=undefined" ng-src="{{currentUser.protarit}}"/>
                            <img class="user-photo" ng-if="currentUser.protarit=='' ||currentUser.protarit==null ||currentUser.protarit==undefined" ng-src="images/example/per-poto.png"/>
                            <span class="ellipsis" ng-bind="currentUser.userName"></span>
                        </div>
                    </li>
                    <!--<li>-->
                        <!--<a class="signout" href="javascript:;" ng-click="logout()">退出</a>-->
                    <!--</li>-->
                </ul>
            </div>
        </div>
    </div>
    <!--{{currentUser | json }}-->
    <div class="nav-box">
        <div class="warp">
            <ul class="nav">
                <li><a ng-class="active('home')"  ui-sref="index.home">首页</a></li>
                <li><a ng-class="active('portal')" ui-sref="index.portal" >知识门户</a></li>
                <li><a ng-class="active('search')" ui-sref="index.search.main" >知识搜索</a></li>
                <li><a ng-class="active('community')" ui-sref="index.community({isGo: true})" >知识社区</a></li>
                <li><a ng-class="active('statistics')" ui-sref="index.statistics" >知识统计</a></li>
                <li><a ng-class="active('center')" ui-sref="index.center" >个人中心</a></li>
            </ul>
        </div>
    </div>
</div>
<!--end 头部-->

<div ui-view="main_container"></div>

<!--尾部-->
<div class="footer_f">
    <div class="warp">
        <p class="f-bq fr">
            &copy;CopyRight  中科鼎富（北京）科技发展有限公司
        </p>
        <dl class="f-nav">
            <dt><img src="images/icon-fj.png"/><span>新手上路</span></dt>
            <dd><a href="javascript:;">操作指引</a></dd>
            <dd><a href="javascript:;">编辑规则</a></dd>
            <dt><img src="images/icon-wh.png"/><span>我的疑问</span></dt>
            <dd><a href="javascript:;">常见问题</a></dd>
            <dd><a href="javascript:;">意见反馈</a></dd>
        </dl>
    </div>
</div>
<!--end 尾部-->
