
<div class="pd-20">
    <h3 class="tc f16 mb-20">请选择要对话的服务</h3>
    <div>
        <table class="table1">
            <tr>
                <td width="30%" class="bold"></td>
                <td width="70%" class="bold">服务名称</td>
            </tr>
            <tr ng-repeat="val in vm.serviceArray">
                <td ><input type="radio" ng-model="vm.serviceUrl" value="{{val.url}}" name="service" /></td>
                <td >{{val.name}}</td>
            </tr>
        </table>
    </div>
    <pagination ng-if="vm.paginationConf.totalItems && vm.paginationConf.totalItems>0" conf="vm.paginationConf"></pagination>
    <div class="tc mt-20">
        <input type="button" value="确定" class="btn1 btn1_blue" ng-click="closeThisDialog(1)"/>
    </div>
</div>
<style>
    .table1{border-collapse: collapse;}
    .table1 td{border:1px solid #eee;text-align:center;font-size:14px;min-height:25px;padding:5px 0;}
    .ngdialog.ngdialog-theme-default .ngdialog-content{width:500px;}
</style>
<script>

</script>
