<div class="r-cont pd30">
    <div class="r-cont-hd">
        <span>维度管理</span>
    </div>
    <div class="r-cont-bd oh ">
        <div class="con_box  mb25">
            <div class="pr con_box_serl bd mr10" style="margin:0 auto 20px;">
                <input type="text" class="txt L" placeholder="请输入维度名称" ng-model="vm.getDimension" style="width:257px;">
                <!--<input type="button" class="btn1" value="查找" >-->
                <button class="btn1 btn1_blue" type="button"  ng-click="vm.getData()">查找</button>
            </div>
            <div class="mb10 bd p20 cl" style="background:#fcfdfd;border-color:#f2f4f7;">
                <div class="cl mb-20">
                    	<span class="L">
                        	<button class="L btn1 btn1_blue mr-10" ng-click="vm.operateDimension()">创建维度</button>
                        </span>
                        <span class="R">
                            <span>共有数据：<b ng-bind="vm.paginationConf.totalItems"></b> 条</span>
                        </span>
                </div>
                <div>
                    <table class="stop_word_tab" >
                        <thead>
                        <tr>
                            <!--<th class="bold" width="5%">-->
                                <!--&lt;!&ndash;<input  type="checkbox" />&ndash;&gt;-->
                            <!--</th>-->
                            <th class="bold" width="15%">维度名称</th>
                            <th class="bold" width="15%">创建时间</th>
                            <th class="bold" width="12%">创建人</th>
                            <th class="bold" width="14%">启用状态</th>
                            <th class="bold" width="15%">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in vm.listData" ng-if="item.dimensionParentId == 0">
                            <!--<td><input  type="checkbox" /></td>-->
                            <td>{{item.dimensionName}}</td>
                            <td>{{item.createTime | date : 'yyyy-MM-dd HH:mm:ss'}}</td>
                            <td>{{item.creatorId}}</td>
                            <td>
                                <span class="btn1 btn_green2" ng-bind="item.dimensionStatusId==10001?'已启用':'未启用'"  ng-if="item.dimensionStatusId==10001"></span>
                            </td>
                            <td>
                                <a href="javascript:;" class="c-primary mr-10" ng-click="vm.operateDimension(item)">编辑</a>

                                <a href="javascript:;" title="删除" class="mr-10 c-red" ng-click="vm.deleteDimension(item.dimensionId)">删除</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <pagination ng-if="vm.paginationConf.totalItems && vm.paginationConf.totalItems>0" conf="vm.paginationConf"></>
            </div>
        </div>
    </div>
</div>