<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
<meta http-equiv="Cache-Control" content="no-siteapp">

<!--[if lt IE 9]>
	<link href="../css/H-ui.ie.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="../lib/html5.js"></script>
	<script type="text/javascript" src="../lib/respond.min.js"></script>
	<script type="text/javascript" src="../js/PIE_IE678.js"></script>
	<![endif]-->
    <link rel="stylesheet" type="text/css" href="../css/H-ui.min.css">
    <link rel="stylesheet" type="text/css" href="../css/H-ui.admin.css">
    <link href="../css/common2.css" type="text/css" rel="stylesheet" />
    <link href="../css/style_new.css" type="text/css" rel="stylesheet" />

    <link href="../css/base.css" type="text/css" rel="stylesheet" />
    <link href="../css/common.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="../css/robotSetup.css"/>


	<!--[if IE 6]>
	<script type="text/javascript" src="../lib/DD_belatedPNG_0.0.8a-min.js"></script>
	<script>DD_belatedPNG.fix('*');</script>
	<![endif]-->
<title>应用配置-参数设置</title>
<meta name="keywords" content="">
<meta name="description" content="">
<link rel="stylesheet" href="../css/layer.css" id="layui_layer_skinlayercss">
<link rel="stylesheet" href="../js/skin/WdatePicker.css">
<style>
    .jqrsz-item2{border-top:0;padding:0;margin-top:0;}
</style>
</head>

<body >
<div class="main warp">
    <div class="crumbs-nav bgwhite mt20">
        <span class="cn-lable">你曾经路过此地：</span>
        <span class="cn-value"><a class="cn-a" href="javascript:;">首页</a><i class="close">x</i></span>
        <span class="cn-value"><a class="cn-a" href="javascript:;">我的应用</a><i class="close">x</i></span>
        <span class="cn-value"><a class="cn-a" href="javascript:;">评论列表</a><i class="close">x</i></span>
        <span class="cn-value active"><a class="cn-a" href="javascript:;">机器人设置</a><i class="close">x</i></span>
    </div>

    <div class="page-lrcont210 clearfix bgwhite mt10">
        <div class="l-aside fl">
            <div class="aside-hd tac">
                <img class="hd-img" src="../images/poto.png">
                <span class="hd-name ellipsis">长沙银行机器人</span>
            </div>
            <div class="aside-nav aside-nav2">
                <ul>
                    <li>
                        <a class="slide-a ellipsis" href="javascript:;">
                            <i class="icon-l icon-nav1"></i>
                            <span>应用信息</span>
                            <i class="icon-r icon-jt"></i>
                        </a>
                        <ul class="menu_1">
                            <li>
                                <a class="ellipsis" href="javascript:;"><span>机器人设置123</span></a>
                            </li>
                            <li>
                                <a class="ellipsis" href="javascript:;"><span>机器人设置</span></a>
                            </li>
                            <li>
                                <a class="ellipsis" href="javascript:;"><span>机器人设置</span></a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="slide-a ellipsis" href="javascript:;">
                            <i class="icon-l icon-nav2"></i>
                            <span>应用开发</span>
                            <i class="icon-r icon-jt"></i>
                        </a>
                        <ul class="menu_1">
                            <li>
                                <a class="ellipsis" href="javascript:;"><span>机器人设置</span></a>
                            </li>
                            <li>
                                <a class="ellipsis" href="javascript:;"><span>机器人设置</span></a>
                            </li>
                            <li>
                                <a class="ellipsis" href="javascript:;"><span>机器人设置</span></a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="slide-a ellipsis" href="javascript:;">
                            <i class="icon-l icon-nav3"></i>
                            <span>应用配置</span>
                            <i class="icon-r icon-jt"></i>
                        </a>
                        <ul class="menu_1">
                            <li>
                                <a class="ellipsis" href="javascript:;"><span>机器人设置</span></a>
                            </li>
                            <li>
                                <a class="ellipsis" href="javascript:;"><span>机器人设置</span></a>
                            </li>
                            <li>
                                <a class="ellipsis" href="javascript:;"><span>机器人设置</span></a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="slide-a ellipsis" href="javascript:;">
                            <i class="icon-l icon-nav4"></i>
                            <span>应用发布 </span>
                            <i class="icon-r icon-jt"></i>
                        </a>
                        <ul class="menu_1">
                            <li>
                                <a class="ellipsis" href="javascript:;"><span>机器人设置</span></a>
                            </li>
                            <li>
                                <a class="ellipsis" href="javascript:;"><span>机器人设置</span></a>
                            </li>
                            <li>
                                <a class="ellipsis" href="javascript:;"><span>机器人设置</span></a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="r-cont pd30">
            <div class="r-cont-hd">
                <span>参数设置</span>
            </div>
            <div class="r-cont-bd oh pt30">
                <div class="jqrsz-item jqrsz-item2">
                    <div class="item-line">
                        <div class="lable">
                            评论小尾巴：
                        </div>
                        <div class="value">
                            <div class="dib pt-5 mr-15">
                                <div  class="open1 b_box" style="float:left;margin-right:10px;">
                                    <div  class="open2 s_box" onclick="turn_on(this);"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="jqrsz-item jqrsz-item2">
                    <div class="item-line">
                        <div class="lable">
                            寒暄开关：
                        </div>
                        <div class="value">
                            <div class="dib pt-5 mr-15">
                                <div  class="open1 b_box" style="float:left;margin-right:10px;">
                                    <div  class="open2 s_box" onclick="turn_on(this);"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="jqrsz-item jqrsz-item2">
                    <div class="item-line">
                        <div class="lable">
                            话轮识别：
                        </div>
                        <div class="value">
                            <div class="dib pt-5 mr-15">
                                <div  class="open1 b_box" style="float:left;margin-right:10px;">
                                    <div  class="open2 s_box" onclick="turn_on(this);"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="jqrsz-item jqrsz-item2">
                    <div class="item-line">
                        <div class="lable">
                            关联个数：
                        </div>
                        <div class="value">
                            <input class="input-text" type="text" placeholder="配置关联问题的个数，标准格式为数字型" style="width: 350px;">
                        </div>
                    </div>
                </div>
                <div class="jqrsz-item jqrsz-item2">
                    <div class="item-line">
                        <div class="lable">
                            推荐个数：
                        </div>
                        <div class="value">
                            <input class="input-text" type="text" placeholder="配置推荐问题个数，标准格式为数字型" style="width: 350px;">
                        </div>
                    </div>
                </div>
                <div class="jqrsz-item jqrsz-item2">
                    <div class="item-line">
                        <div class="lable">
                            获取数据时间：
                        </div>
                        <div class="value">
                            <input class="input-text" type="text" placeholder="配置关联问题的个数，标准格式为数字型" style="width: 350px;">
                        </div>
                    </div>
                </div>
                <div class="jqrsz-item jqrsz-item2">
                    <div class="item-line">
                        <div class="lable">
                            上限阈值：
                        </div>
                        <div class="value">
                            <input class="input-text" type="text" placeholder="配置上限阈值，标准格式为float型" style="width: 350px;">
                        </div>
                    </div>
                </div>
                <div class="jqrsz-item jqrsz-item2">
                    <div class="item-line">
                        <div class="lable">
                            下限阈值：
                        </div>
                        <div class="value">
                            <input class="input-text" type="text" placeholder="配置下线阈值，标准格式为float型" style="width: 350px;">
                        </div>
                    </div>
                </div>
                <div class="jqrsz-item jqrsz-item2">
                    <div class="item-line">
                        <div class="lable">
                            寒暄阈值：
                        </div>
                        <div class="value">
                            <input class="input-text" type="text" placeholder="配置寒暄阈值，标准格式为float型" style="width: 350px;">
                        </div>
                    </div>
                </div>
                <div class="jqrsz-btn-box">
                    <a class="btn btn-blue mr10" href="javascript:;">保存</a>
                    <a class="btn btn-gray" href="javascript:;">取消</a>
                </div>

            </div>
        </div>
    </div>

</div>

<script type="text/javascript" src="../js/jquery.min.js"></script>
<script type="text/javascript" src="../js/layer.js"></script>
<script type="text/javascript" src="../js/H-ui.js"></script>
<script type="text/javascript" src="../js/H-ui.admin.js"></script>
<script src="../js/WdatePicker.js" type="text/javascript"></script>
<script src="../js/jquery-1.11.3.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../js/jquery.plugIn.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../js/base.js" type="text/javascript" charset="utf-8"></script>

<script type="text/javascript">
    //开关
    function turn_on(obj){
        if($(obj).parent().hasClass('close1')){
            $(obj).parent().attr('class','b_box open1');

        }else{
            $(obj).parent().attr('class','b_box close1');
        }
        if($(obj).hasClass('close2')){
            $(obj).attr('class','s_box open2');
        }else{
            $(obj).attr('class','s_box close2');
        }

    }
</script>
</body>
</html>
