# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
vcs.xml
*.iws
*/*.iml/
# Mac
.DS_Store

# Maven
*/target/
target/
# log
logs/

app/dest/release/js/know_front.min.js
app/dest/release/js/know_front.js
app/dest/release/js/know_front_module.min.js
/app/dest/
/app/dest/release/js/know_front.min.js
dest
dest
/app/bower_components/jquery

node_modules/grunt-newer/.cache/
/node_modules
