<div ui-view="header"></div>

<div class="main warp">


    <div class="page-lrcont210 clearfix bgwhite mt10">
        <div class="l-aside fl">
            <div class="aside-hd tac">
                <img class="hd-img" ng-src="{{vm.imgUrl}}{{vm.robotHead}}"/>
                <!--<span class="hd-name ellipsis">长沙银行机器人</span>-->
                <span class="hd-name ellipsis">{{vm.robotName}}</span>
            </div>
            <div class="aside-nav aside-nav2">
                <ul>
                    <li>
                        <a class="slide-a ellipsis" ng-click="vm.isSlide($event)" ui-sref="setting.Infor">
                            <i class="icon-l icon-nav1"></i>
                            <span>应用信息</span>
                            <!--<i class="icon-r icon-jt"></i>-->
                        </a>
                    </li>
                    <li>
                        <a class="slide-a ellipsis" ng-click="vm.isSlide($event)">
                            <i class="icon-l icon-nav2"></i>
                            <span ng-click="vm.isSlide2($event)">应用开发</span>
                            <i class="icon-r icon-jt"></i>
                        </a>
                        <ul class="menu_1">
                            <li>
                                <a class="ellipsis" ui-sref="relationalCatalog.manage"><span>业务建模</span></a>
                            </li>
                            <li>
                                <a class="ellipsis" ui-sref="custServScenaOverview.manage"><span>知识管理</span></a>
                                <!--营销型-->
                                <!--<a class="ellipsis" ui-sref="markServScenaOverview.manage"><span>知识管理</span></a>-->
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="slide-a ellipsis" ng-click="vm.isSlide($event)">
                            <i class="icon-l icon-nav3"></i>
                            <span ng-click="vm.isSlide2($event)">应用配置</span>
                            <i class="icon-r icon-jt"></i>
                        </a>
                        <ul class="menu_1">
                            <li>
                                <a class="ellipsis" ui-sref=".robot"><span>机器人设置</span></a>
                            </li>
                            <li>
                                <a class="ellipsis" ui-sref=".parameter"><span>参数设置</span></a>
                            </li>
                            <li>
                                <a class="ellipsis" ui-sref=".chatPageConfig"><span>聊天页面配置</span></a>
                            </li>
                            <li>
                                <a class="ellipsis" ui-sref=".sceneManage"><span>场景管理</span></a>
                            </li>
                            <li>
                                <a class="ellipsis" ui-sref=".dimension"><span>维度管理</span></a>
                            </li>
                            <li>
                                <a class="ellipsis" ui-sref=".channel"><span>渠道管理</span></a>
                            </li>
                            <li ng-if="vm.sceneId==2">
                                <a class="ellipsis" ui-sref=".association"><span>关联管理</span></a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="slide-a ellipsis"  ng-click="vm.isSlide($event)">
                            <i class="icon-l icon-nav4"></i>
                            <span ng-click="vm.isSlide2($event)">应用发布 </span>
                            <i class="icon-r icon-jt"></i>
                        </a>
                        <ul class="menu_1" >
                            <li>
                                <a class="ellipsis" ui-sref="setting.releaseMan"><span>发布管理</span></a>
                            </li>
                            <li>
                                <a class="ellipsis" ui-sref="setting.nodeMan"><span>节点管理</span></a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div ui-view="content"></div>
    </div>

</div>
<style>
    .menu_1{
        display: block;
    }
</style>
<script>
    $('.menu_1 li').click(function(){
        $(this).css('background','#d0caca').siblings().css('background','#e6e6e6');
    });
</script>





