<div ui-view="header"></div>

<div class="msgR-cont pd-20 ">
    <div class="content_wrap page-container" style="padding:0;">

        <div class="r-cont-hd">
            <span>纠正学习</span>
        </div>
        <div class="mb30 " style="margin-top:20px;">
            <div class="tab_tit">
                <span ng-class="vm.contentType==0?'cur':''" ng-click="vm.contentType=0" style="width:80px;">未学习  </span>
                <span ng-class="vm.contentType==1?'cur':''" ng-click="vm.contentType=1" style="width:80px;">已学习 </span>
            </div>
            <div class="tab_con pt10 ">
                <div ng-show="vm.contentType==0" >
                    <div class="con_box mb25  mt10" style="min-height:500px;padding:0;">
                        <div class="data_time_statis_top pt-10" style="width:auto ;margin: 5px auto 20px;">
                            <select class="sel bd L mr-5" id="request_time_type" ng-model="vm.timeType">
                                <option value="">全部时间</option>
                                <option value="1">今日</option>
                                <option value="2">昨日</option>
                                <option value="3">过去7天</option>
                                <option value="4">过去30天</option>
                            </select>
                            <!--<select class="sel bd L mr-5" ng-model="vm.channelId" >-->
                                <!--<option value="130">全部渠道</option>-->
                                <!--<option value="131">维信</option>-->
                                <!--<option value="132">web</option>-->
                                <!--<option value="133">app</option>-->
                            <!--</select>-->
                            <span>
                                日期范围:
                                    <input type="text" id="startTime" onchange=""  ng-model="vm.timeStart"  onclick="WdatePicker({startDate:'%y',dateFmt:'yyyy-MM-dd',maxDate:'#F{$dp.$D(\'endTime\')}'})" class="input-text Wdate "  style="width:185px;border:1px solid #e1e1e1;height: 31px;font-size: 14px;color: #333!important;" placeholder="请选择开始日期" readonly>
                                    -
                                    <input type="text" id="endTime"   onchange="" ng-model="vm.timeEnd" onclick="WdatePicker({startDate:'%y',dateFmt:'yyyy-MM-dd',minDate:'#F{$dp.$D(\'startTime\')}'})" class="input-text Wdate "  style="width:185px;border:1px solid #e1e1e1;height: 31px;font-size: 14px;color: #333!important;" placeholder="请选择结束日期" readonly>
                            </span>
                            <span>
                                知识标题:
                                <input type="text" id="question" ng-model="vm.question" class="input-text" style="width: 180px"/>
                                <input type="button" class="btn1 btn1_blue" ng-click="vm.searchReinforcement(vm.paginationConf.currentPage,vm.paginationConf.pageSize)" value="查找" />
                            </span>

                        </div>
                        <div class="cl mb-10">
                            <!--<input type="button" class="btn1 btn_delete" ng-click="vm.ignore(vm.unstuydyArr)" value="忽略" />-->
                        </div>
                        <div>
                            <table class="access_amount_table" id="user_session_statistic">
                                <thead>
                                <tr>

                                    <th width="20%">知识标题</th>
                                    <th width="20%">知识类型</th>
                                    <!--<th width="12%">来源渠道</th>-->
                                    <th width="20%">待学习数量</th>
                                    <th width="20%">创建时间</th>
                                    <th width="20%">操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr role="row" class="odd" ng-repeat="item in vm.listData" >

                                    <td>{{item.knowledgeTitle}}</td>
                                    <td>{{item.classifyName}}</td>
                                    <!--<td>{{item.channelId| channelFilter}}</td>-->
                                    <td>{{item.num}}</td>
                                    <td>{{item.modifyTime|date:'yyyy-MM-dd HH:mm:ss'}}</td>
                                    <td><a href="javascript:;" class="c-green" ng-click="vm.unLearnLook(1,item.knowledgeId,item.knowledgeTitle)">查看</a></td>
                                </tr>

                                </tbody>
                            </table>
                            <pagination ng-if="vm.paginationConf.totalItems && vm.paginationConf.totalItems>0" conf="vm.paginationConf"></pagination>
                            <div ng-if="!vm.paginationConf.totalItems" style="text-align:right;padding-top:10px;">
                                本页共0条，总共0条！
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-show="vm.contentType==1">
                    <div class="con_box mb25  mt10" style="min-height:500px;padding:0;">
                        <div class="data_time_statis_top pt-10" style="width:auto ;margin: 5px auto 20px;">

                            <select class="sel bd L mr-5" id="" ng-model="vm.timeType1">
                                <option value="">全部时间</option>
                                <option value="1">今日</option>
                                <option value="2">昨日</option>
                                <option value="3">过去7天</option>
                                <option value="4">过去30天</option>
                            </select>
                            <!--<select class="sel bd L mr-5" ng-model="vm.channelId1" >-->
                                <!--<option value="130">全部渠道</option>-->
                                <!--<option value="131">维信</option>-->
                                <!--<option value="132">web</option>-->
                                <!--<option value="133">app</option>-->
                            <!--</select>-->

                            <span class="mr-10">
                                日期范围:
                                    <input type="text" id="startTime1" onchange=""  ng-model="vm.timeStart1"  onclick="WdatePicker({startDate:'%y',dateFmt:'yyyy-MM-dd',maxDate:'#F{$dp.$D(\'endTime\')}'})" class="input-text Wdate "  style="width:185px;border:1px solid #e1e1e1;height: 31px;font-size: 14px;color: #333!important;" placeholder="请选择开始日期" readonly>
                                    -
                                    <input type="text" id="endTime1"   onchange="" ng-model="vm.timeEnd1" onclick="WdatePicker({startDate:'%y',dateFmt:'yyyy-MM-dd',minDate:'#F{$dp.$D(\'startTime\')}'})" class="input-text Wdate "  style="width:185px;border:1px solid #e1e1e1;height: 31px;font-size: 14px;color: #333!important;" placeholder="请选择结束日期" readonly>
                            </span>
                            <span>
                                知识标题:
                                    <input type="text" id="question1" ng-model="vm.question1" class="input-text" style="width: 180px"/>
                                    <input type="button" class="btn1 btn1_blue" ng-click="vm.listNoReview(vm.paginationConf.currentPage,vm.paginationConf.pageSize)" value="查找" />
                            </span>
                        </div>
                        <div class="cl mb-10">
                            <b class="l f-14">纠正学习</b>
                            <!--<p class="r f-12 c-999" style="display: none;">共有数据<span id="total1"></span>条</p>-->
                        </div>
                        <div>
                            <table class="access_amount_table" id="user_session_statistic1">
                                <thead>
                                <tr>
                                    <th width="21%">知识标题</th>
                                    <th width="16%">知识类型</th>
                                    <!--<th width="16%">来源渠道</th>-->
                                    <th width="15%">待审核数量</th>
                                    <th width="20%">学习时间</th>
                                    <th width="12%">操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in vm.listData1">
                                        <td>{{item.knowledgeTitle}}</td>
                                        <td>{{item.classifyName}}</td>
                                        <!--<td>web</td>-->
                                        <td>{{item.num}}</td>
                                        <td>{{item.modifyTime|date:'yyyy-MM-dd HH:mm:ss'}}</td>
                                        <td><a href="javascript:;" ng-click="vm.learnLook(1,item.knowledgeId,item.knowledgeTitle)">查看</a></td>
                                    </tr>
                                    <!--<tr >-->
                                        <!--<td>信用卡</td>-->
                                        <!--<td>埋点测试</td>-->
                                        <!--<td>web</td>-->
                                        <!--<td>1</td>-->
                                        <!--<td>2018-01-08 14:50:16</td>-->
                                        <!--<td><a href="javascript:;" ng-click="vm.learnLook()">查看</a></td>-->
                                    <!--</tr>-->
                                </tbody>
                            </table>
                            <pagination ng-if="vm.paginationConf1.totalItems && vm.paginationConf1.totalItems>0" conf="vm.paginationConf1"></pagination>
                            <div ng-if="!vm.paginationConf1.totalItems" style="text-align:right;padding-top:10px;">
                                本页共0条，总共0条！
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>

</style>






