<div class="pd-20" >
    <div class="mb-10">
        <p>用户提问：积分</p>
    </div>
    <div class="text-c mb-10">
        <input type="text"  style="width: 316px;" ng-keydown="" class="input-text txt_corre">
        <input type="button" value="查找" ng-click="" class="btn1">
    </div>
    <div>
        <table class="access_amount_table">
            <thead>
                <tr>
                    <th width="20%"></th>
                    <th width="80%" class="text-c">知识标题</th>
                </tr>
            </thead>
            <tbody>
                <tr role="row" class="odd">
                    <td><input type="radio" checked="checked"></td>
                    <td>{{vm.currKnowledgeTitle}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>分页</div>
    <div class="tc mt-10">
        <input type="button" class="btn1 btn_green mr-10" ng-click="closeThisDialog(0)" value="完成"/>
        <input type="button" class="btn1 btn_gray" ng-click="closeThisDialog(0)" value="取消"/>
    </div>
</div>
<style>

</style>






