<div class="parameter_setting">
    <p class="parameter_title">参数配置</p>
    <div class="parameter_content">
        <div class="item">
            <p class="item_left caliper_title">标签语义匹配：</p>
            <div class="item_right caliper_content">
                <input type="hidden" style="margin-left: 40px;" class="slider-input-greeting"/>
            </div>
            <span class="set_tip_bar" style="line-height: 25px; margin-left: 15px; padding-top: 8px;">
                <a href="javascript:;" class="tip_bar_warn" ng-mouseenter="showTip($event)" ng-mouseleave ="hideTip($event)"></a>
                <span class="pd-5 tip_bar_info" >机器人在标签语义匹配模块下的阈值设置</span>
           </span>
        </div>
        <div class="item">
            <p class="item_left caliper_title"> 深度语义匹配：</p>
            <div class="item_right caliper_content">
                <input type="hidden" class="slider-input-tag"/>
            </div>
        </div>
        <div class="item">
            <p class="item_left"> 评论小尾巴：</p>
            <div class="item_right">
                <div switch value="parameter.commentOn"></div>
            </div>
            <span class="set_tip_bar" style="margin-left: 10px;">
                <a href="javascript:;" class="tip_bar_warn" ng-mouseenter="showTip($event)" ng-mouseleave ="hideTip($event)"></a>
                <span class="pd-5 tip_bar_info" >是否开启全局问答评价开关</span>
           </span>
        </div>
        <div class="item">
            <p class="item_left">  寒暄开关：</p>
            <div class="item_right">
                <div switch value="parameter.greetingOn"></div>
            </div>
            <span class="set_tip_bar" style="margin-left: 10px;">
                <a href="javascript:;" class="tip_bar_warn" ng-mouseenter="showTip($event)" ng-mouseleave ="hideTip($event)"></a>
                <span class="pd-5 tip_bar_info" >是否开启全局机器人寒暄开关</span>
           </span>
        </div>
        <div class="item">
            <p class="item_left">  推荐个数：</p>
            <div class="item_right">
                <input class="input-text" type="number" ng-model="parameter.recommendNumber"
                       ng-change="vm.parameterLimit(1,'recommendNumber')" step="1"
                       placeholder="配置推荐问题个数，标准格式为数字型" style="width: 350px;" required>
            </div>
            <span class="set_tip_bar" style="line-height: 31px;margin-left: 10px;">
                <a href="javascript:;" class="tip_bar_warn" ng-mouseenter="showTip($event)" ng-mouseleave ="hideTip($event)"></a>
                <span class="pd-5 tip_bar_info" >设置全局机器人推荐问题个数</span>
           </span>
        </div>
        <div class="item">
            <p class="item_left">  寒暄阈值：</p>
            <div class="item_right">
                <input class="input-text" type="number" ng-model="parameter.greetingUpperLimit"
                       ng-change="vm.parameterLimit(0,'greetingUpperLimit')" step="0.1"
                       placeholder="配置寒暄阈值，标准格式为float型" style="width: 350px;" required>
            </div>
             <span tip-bar="是否采用寒暄回答的下线阈值"></span>
        </div>
        <div class="item btn_group">
            <a class="btn btn-blue mr10" ng-click="vm.updateParameter()">保存</a>
            <a class="btn btn-gray" ng-click="vm.queryParameter()">取消</a>
        </div>
    </div>
</div>
<style>
    .parameter_setting{
        width:100%;
        padding-top: 30px;;
        padding-left:30px;
    }
    .parameter_setting .parameter_title{
        font-size:22px;
        font-weight: 700;
    }
    .parameter_setting .parameter_content{
        font-size:100%;
        width:100%;
    }
    .parameter_setting .parameter_content .item{
        margin-top:10px;;
        width:100%;
    }
    .parameter_setting .parameter_content .btn_group{
        padding-left:20%;
    }
    .parameter_setting .parameter_content .item .item_left{
        float: left;
        margin-right:6px;
        width:14%;
        text-align: right;
    }
    .parameter_setting .parameter_content .item {
        height: 50px;
    }
    .parameter_setting .parameter_content .item .item_right {
        float: left;
        font-size:100%;
    }
    .parameter_setting .parameter_content .item .caliper_title{
        height:50px;
        padding-top:10px;
    }
    .parameter_setting .parameter_content .item .caliper_content{
        padding-top:18px;
    }

</style>