<div class="r-cont pd30 L" style="width: 100%;box-sizing:border-box;">
    <div class="r-cont-hd">
        <span>语义表达概念管理</span>
    </div>
    <div>
        <div class="conceptSearch clearfix">
            <div class=" L mr-5">

                <select id="searchType" ng-model="vm.searchType" class="bd L" style="width:140px;height: 30px;border-right:0;">
                    <option value="semanticExpressionConceptKey" selected>语义表达概念类名</option>
                    <option value="semanticExpressionSynonymConcept">同义概念</option>
                    <option value="semanticExpressionConceptTerm">语义表达概念集合</option>
                    <option value="semanticExpressionConceptModifier">修改人</option>
                    <option value="semanticExpressionConceptModifyTime">更新时间</option>
                </select>
                <div class="L " style="height:30px;overflow:hidden;">
                    <input type="text" ng-if="vm.searchType!='semanticExpressionConceptModifyTime'" ng-model="vm.searchVal" class="input_text" style="height:30px;" ng-keypress="($event.which === 13)?vm.search():0"/>
                    <div  ng-if="vm.searchType=='semanticExpressionConceptModifyTime'">
                        <input type="text" id="startTime" onchange=""  ng-model="vm.timeStart"  onclick="WdatePicker({startDate:'%y',dateFmt:'yyyy-MM-dd',maxDate:'#F{$dp.$D(\'endTime\')}'})" class="input-text Wdate "  style="background-color:#fff;width:170px;border:1px solid #e1e1e1;height: 30px;font-size: 15px;color: #333!important;" placeholder="yyyy-mm-dd" readonly>
                        -
                        <input type="text" id="endTime"   onchange="" ng-model="vm.timeEnd" onclick="WdatePicker({startDate:'%y',dateFmt:'yyyy-MM-dd',minDate:'#F{$dp.$D(\'startTime\')}'})" class="input-text Wdate "  style="background-color:#fff;width:170px;border:1px solid #e1e1e1;height: 30px;font-size: 15px;color: #333!important;" placeholder="yyyy-mm-dd" readonly>
                    </div>
                </div>
            </div>
            <input type="button" value="查找" ng-click="vm.searchSemanticExpressionConcept(1)"  class="btn1 btn1_blue L"/>
            <div class=" conceptSearchRt">
                <a class="btn btn-blue mr10" id="addCase" ng-click="vm.addSemanticExpression()">新增</a>
                <a class="btn btn-blue mr10" href="javascript:;" ng-click="vm.batchUpload()">导入</a>
                <!--<a class="btn btn-green mr10" href="javascript:;">继续概念库</a>-->
                <a class="btn btn-green2 mr10" href="javascript:;" ng-click="vm.exportAll()">导出</a>
                <a class="btn btn-red mr10" href="javascript:;" ng-click="vm.batchDelete()">删除</a>
            </div>
        </div>
        <table class="stop_word_tab">
            <thead>
                <tr>
                    <th class="bold" width="5%"><input id="selectAll" type="checkbox"/></th>
                    <th class="bold" width="10%">语义表达概念类名</th>
                    <th class="bold" width="10%">同义概念</th>
                    <th class="bold" width="25%">语义表达概念集合</th>
                    <th class="bold" width="15%">更新时间</th>
                    <th class="bold" width="15%">修改人</th>
                    <th class="bold" width="10%">操作</th>
                </tr>
            </thead>
            <tr ng-repeat="item in vm.listData">
                <td><input type="checkbox" name="sid" value="{{item.semanticExpressionConceptId}}"></td>
                <td>{{item.semanticExpressionConceptKey}}</td>
                <td>{{item.semanticExpressionSynonymConcept}}</td>
                <td>
                    <span ng-class="($index%2==1)?'ng-blue':'ng-red'" ng-repeat = "i in item.semanticExpressionConceptTerm.split('；')"><i ng-if="$index!=0 && i " style="color: #333;">, </i>{{i}} </span>
                </td>
                <td>{{item.semanticExpressionConceptModifyTime | date : 'yyyy-MM-dd HH:mm:ss'}}</td>
                <td>{{item.semanticExpressionConceptModifier}}</td>
                <td>
                    <a href="javascript:;" class="color-blue modifyConcept" ng-click="vm.editSemanticExpression(item)">修改</a> &nbsp;
                    <a href="javascript:;" class="delConcept" ng-click="vm.deleteSemanticExpression(item.semanticExpressionConceptId)">删除</a>
                </td>
            </tr>
        </table>
        <pagination ng-if="vm.paginationConf.totalItems && vm.paginationConf.totalItems>0" conf="vm.paginationConf"></pagination>
    </div>
</div>
<style>
    .pagination {
        margin: 0 !important;
    }
    .ngdialog{
        z-index: 5!important;
    }
</style>
<script></script>