<div class="wrap" >
    <h4 class="pt-20 pb-20"><img src="../../../../images/u15.png" width="20" height="20" />
        <b class="f16 ml-5 mt-5" style="color:green;">我的应用</b>
    </h4>
    <div class="p20 my_appbox cl mb-20">
        <div class="L">
            <p class="mb-10">用户名称： {{vm.userName}}</p>
            <p>用户权限：{{vm.userRole}}</p>
        </div>
        <div class="R">
            <div ng-click="vm.addApplicationWindow()" style="cursor: pointer">
                <img src="../../../../images/u25.png" width="50" height="50" />
                <p class="mt-10">新建应用</p>
            </div>
        </div>
    </div>
    <div class="application_box clearfix">
        <div class="L text-c application_box_list bd" ng-repeat="application in vm.myApplication" style="padding-top:30px">
            <a ui-sref="AM.info">
                <!--<img ng-if="application.sceneId==2" ng-click="vm.selectScene(application.sceneId,application.applicationId)"  src="../../../../images/marketing.png" width="80" height="80"/>-->
                <img ng-click="vm.selectApplication(application)" src="../../../../images/cust_service.png" width="80" height="80"/>
                <!--<img ng-if="application.sceneId==3" ng-click="vm.selectScene(application.sceneId,application.applicationId)" src="../../../../images/images/u33.png" width="80" height="80"/>-->
            </a>
            <div class="p10 mb-10" >
                <p title="{{application.name}}" class="name" >{{application.name | limitCheckFilter:8}}</p>
                <!--<p class="name" ng-if="application.name.length<=8">{{application.name}}</p>-->
                <p class="scene">场景类型：<span>客服型</span></p>
                    <p class="status">应用状态：
                        <span ng-if="application.status==40001" class="c-orange">未使用</span>
                        <span ng-if="application.status==40002" class="c-primary">使用中</span>
                        <span ng-if="application.status==40003" class="c-error">已停用</span>
                    </p>
            </div>
            <!--<p title="{{application.description}}" class="describe">{{application.description | limitCheckFilter:8}}</p>-->
        </div>
    </div>
</div>
<style>
    .application_box{background:#fff;padding:20px 0 20px 20px; clear: both;}
    .application_box_list{padding:10px;box-sizing:border-box;width:273px;margin:0 20px 20px 0;height:220px;}
    .application_box_list p{min-height:21px;}
    .application_box_list .describe{
        width: 100%;
        text-align: center;
    }
    .application_box_list .status .c-blue{
        color:lightblue;
    }
</style>