<!--<div ui-view="header"></div>-->
<div class="main warp">
    <div class="addContent pd30">
        <div class="r-cont-hd">
            <span>知识预览</span>
        </div>
        <ul class="Preview">
            <li>
                <p class="mb-10">
                    <span>知识标题：</span>
                    {{knowledge.title}}
                </p>
                <p class="mb-10" ng-if="knowledge.expDateEnd || knowledge.expDateStart">
                    <span>知识有效期：</span>
                    <span style="text-align: left;width: auto;">{{!knowledge.expDateStart?"--":(knowledge.expDateStart | date : 'yyyy-MM-dd')}}</span>
                     至
                    <span style="text-align: left">{{!knowledge.expDateEnd?"--":(knowledge.expDateEnd | date : 'yyyy-MM-dd')}}</span>
                </p>
                <p class="mb-10" ng-if="knowledge.classifyList.length" ng-repeat="item in knowledge.classifyList track by $index"><span ng-class="$index==0?'':'mileVs'">BOT路径：</span> <b  style="font-weight:normal;">{{item.value}}</b></p>
            </li>

            <!-- 扩展问 -->
            <li class="borderN">
                <p ng-repeat="item in knowledge.extensionQuestionList track by $index">
                    <span ng-class="$index!=0?'milesVh':''" ng-bind="{100:'用户问法个数：',101:'概念扩展个数：',102:'用户问法：',103:'触发问法个数：'}[knowledge.type]"></span>
                     <span style="width: auto;" >
                        {{item.title}}
                    </span>
                </p>
            </li>

            <li ng-class="vm.knowledgeType==101?'':'borderN'" style="border-bottom: 0">
                <div class="knowContent mb-10" ng-repeat="item in knowledge.contents track by $index">
                    <span ng-class="$index!=0?'mileVs':''">知识内容：</span>
                    <div class="PreviewRight">
                        <!-- faq 概念-->
                        <p  ng-if="knowledge.type==100 || knowledge.type==101 ">内容 {{$index+1 | numberToWord}}</p>
                        <!-- faq-->
                        <div  ng-if="knowledge.type==100">
                            <p>{{item.content}}</p>
                            <span>&nbsp;</span>
                        </div>
                        <!-- 概念-->
                        <div  ng-if="knowledge.type==101">
                            <p ng-bind="{1010:item.content,1018:'[图片]',1019:'[图文]',1020:'[语音]'}[item.type]"></p>
                            <span>&nbsp;</span>
                        </div>
                        <!-- 列表-->
                        <div ng-if="knowledge.type==102">
                            <p ng-bind="{1010:'肯定回答',1011:'否定回答'}[item.type]+':'+item.content">:</p>
                            <span>&nbsp;</span>
                        </div>
                        <!-- 要素 表格形式-->
                        <div ng-if="knowledge.type==103" style="width:920px;max-height:500px;overflow:auto;">
                                <table class="essential_factor_tab" style="width:auto;">
                                    <tr ng-repeat="(indexRow,row) in item.knowledgeContent.listTable track by $index">
                                        <td ng-repeat="(indexColumn,item) in row track by $index" >
                                            <div style="min-width:80px;max-width:300px;height:40px;overflow: auto;text-align: center;">{{item}}</div>
                                        </td>
                                    </tr>
                                </table>
                            <span>&nbsp;</span>
                        </div>
                    </div>
                    <!--<p ng-repeat=" (indexVal,val) in item.knowledgeRelevantContentList">-->
                        <!--<span ng-class="indexVal?'':'mileVs'">已添加知识：</span>-->
                        <!--<span style="width:100%;">{{indexVal}}{{val}}</span>-->
                    <!--</p>-->
                    <div class="pr" ng-if="item.knowledgeRelevantContentList.length" style="padding-left:150px;">
                        <span  class="pa dib" style="width:150px;left:0;top:0;color:#666;">已添加知识：</span>
                        <div>
                            <p class="mb-10" ng-repeat=" (indexVal,val) in item.knowledgeRelevantContentList track by $index">
                                <span style="width:100%;text-align:left;color:#333;">{{indexVal+1}}. {{val}}</span>
                            </p>
                        </div>
                    </div>
                </div>
            </li>
            <div class="jqrsz-btn-box" style="padding-left: 150px;margin-top: 4px;">
                <a class="btn btn-blue mr10" ui-sref="KM.overview">返回</a>
                <a class="btn btn-gray" href="javascript:;" ng-click="vm.edit()" style="background: #2bcacc; color: #fff;">修改</a>
            </div>
        </ul>
    </div>
</div>
