<div class="wrap">
    <div class="content_wrap page-container" style="padding:0;">
        <div class="wrap mb30">

            <div class="content_box mb25 ">
                <h3 class="f22 pl-10 mb15">聊天新增</h3>
                <div class=" p10 ">
                    <div class="row cl mb-10">
                        <label class="form-label col-xs-4 col-sm-2 text-r">标准问法：</label>
                        <div class="formControls col-xs-8 col-sm-9" style="padding-right:0;">
                            <input  type="text" ng-model="vm.standardQuestion" id="standardQuestion" class="bk-gray input-text mr-10" maxlength="20" ng-blur="vm.checkTitle()" placeholder="请输入标准问法" style="width:350px;"/>
                            <span ><span>{{vm.standardQuestion.length}}</span>/20</span>
                            <div class="c-red " style="display:none;" ></div>
                        </div>
                    </div>
                    <!--用户问法-->
                    <div class="row cl mb-10">
                        <label class="form-label col-xs-4 col-sm-2 text-r">用户问法：</label>
                        <div class="formControls col-xs-8 col-sm-9" style="padding-right:0;">
                            <div style="margin-bottom:10px;">
                                <p ng-repeat="ext in vm.extensionQuestionList track by $index" style="position: relative;width:407px;height:32px;">
                                    <input class="ipt-txt bd" style="width:407px;height:32px;padding:0 6px;" type="text"
                                           ng-model="ext.content" ng-change="vm.extensionQuestionList[$index].content=ext.content" ng-keydown="vm.skipNewLine(this,$event,$index)"
                                           ng-blur="vm.extensionUnique(vm.extensionQuestionList)">
                                    <span style="position:absolute;right: 8px;top: 8px;display: inline-block;width: 16px;height:16px;background: url('images/detel.png')"
                                          ng-click="vm.removeExtention(this,$index)"
                                    ></span>
                                </p>
                            </div>

                        </div>
                    </div>
                    <!--知识内容-->
                    <div class="row cl mb-10">
                        <label class="form-label col-xs-4 col-sm-2 text-r">知识内容：</label>
                        <div class="formControls col-xs-8 col-sm-9" style="padding-right:0;">
                            <div style="margin-bottom:10px;">
                                <p ng-repeat="ext in vm.contentArr track by $index" style="position: relative;width:407px;height:32px;">
                                    <input class="ipt-txt bd" style="width:407px;height:32px;padding:0 6px;" type="text"
                                           ng-model="ext.content" ng-change="vm.contentArr[$index].content=ext.content" ng-keydown="vm.skipNewLineCon(this,$event,$index)"
                                           ng-blur="vm.ConUnique(vm.contentArr)">
                                    <span style="position:absolute;right: 8px;top: 8px;display: inline-block;width: 16px;height:16px;background: url('images/detel.png')"
                                          ng-click="vm.removeCon(this,$index)"
                                    ></span>
                                </p>
                            </div>


                        </div>
                    </div>
                    <div class="row cl mb-10 ">
                        <label class="form-label col-xs-4 col-sm-2 text-r"></label>
                        <div class="formControls col-xs-8 col-sm-9">
                            <input type="button" class="btn1 btn_green" ng-click="vm.save()" value="保存"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>