<div class="wrap">
    <div class="content_wrap page-container" style="padding:0;">
        <div class="wrap mb30">

            <div class="content_box mb25 ">
                <h3 class="f22 pl-10 mb15">聊天新增</h3>
                <div class=" p10 ">
                    <div class="row cl mb-10">
                        <label class="form-label col-xs-4 col-sm-2 text-r">标准问法：</label>
                        <div class="formControls col-xs-8 col-sm-9" style="padding-right:0;">
                            <input  type="text" ng-model="vm.standardQuestion" id="standardQuestion" class="bk-gray input-text mr-10" maxlength="20" ng-blur="vm.checkTitle()" placeholder="请输入标准问法" style="width:350px;"/>
                            <span ><span>{{vm.standardQuestion.length}}</span>/20</span>
                            <div class="c-red " style="display:none;" ></div>
                        </div>
                    </div>
                    <!--用户问法-->
                    <div class="row cl mb-10">
                        <label class="form-label col-xs-4 col-sm-2 text-r">用户问法：</label>
                        <div class="formControls col-xs-8 col-sm-9" style="padding-right:0;">
                            <div>
                                <table class="access_amount_table material_table">
                                    <tr>
                                        <td>
                                            <input type="text" class="txt"  ng-model="vm.extendedQuestion" ng-keydown="vm.addExtension1($event)"  placeholder="请输入用户问法" style="width:90%;"/>
                                            <!--<a href="javascript:;" class="create_a" ng-click="vm.addExtension()" >-->
                                                <!--<img src="../../images/images/add_img.png" >-->
                                            <!--</a>-->
                                        </td>
                                    </tr>
                                    <tr ng-repeat="item in vm.extendedQuestionArr">
                                        <td  ng-mouseenter="vm.addExtensionShow($event)" ng-mouseleave="vm.addExtensionHide($event)">
                                            <input type="text" class="txt"  ng-model="item.content"  readonly style="width:90%;"/>
                                            <a style="display:none;"  href="javascript:;" class="create_a " ng-click="vm.remove(item,vm.extendedQuestionArr)" >
                                                <img src="../../images/images/delete_img.png" >
                                            </a>
                                        </td>
                                    </tr>

                                </table>
                            </div>
                            <div class="c-red " style="display:none;" ></div>
                        </div>
                    </div>
                    <!--知识内容-->
                    <div class="row cl mb-10">
                        <label class="form-label col-xs-4 col-sm-2 text-r">知识内容：</label>
                        <div class="formControls col-xs-8 col-sm-9" style="padding-right:0;">
                            <div>
                                <table class="access_amount_table material_table">
                                    <tr>
                                        <td>
                                            <input type="text" class="txt"  ng-model="vm.contentVal" ng-keydown="vm.addContent1($event)" placeholder="请输入知识内容" style="width:90%;"/>
                                            <!--<a href="javascript:;" class="create_a" ng-click="vm.addContent()">-->
                                                <!--<img src="../../images/images/add_img.png" >-->
                                            <!--</a>-->
                                        </td>
                                    </tr>
                                    <tr ng-repeat="item in vm.contentArr">
                                        <td  ng-mouseenter="vm.addExtensionShow($event)" ng-mouseleave="vm.addExtensionHide($event)">
                                            <input type="text" class="txt"  ng-model="item.content" readonly style="width:90%;"/>
                                            <a style="display:none;" href="javascript:;" class="create_a " ng-click="vm.removeCon(item,vm.contentArr)" >
                                                <img src="../../images/images/delete_img.png" >
                                            </a>
                                        </td>
                                    </tr>

                                </table>
                            </div>
                            <div class="c-red " style="display:none;" ></div>
                        </div>
                    </div>
                    <div class="row cl mb-10 ">
                        <label class="form-label col-xs-4 col-sm-2 text-r"></label>
                        <div class="formControls col-xs-8 col-sm-9">
                            <input type="button" class="btn1 btn_green" ng-click="vm.save()" value="保存"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>