@charset "utf-8";
/* CSS Document */

/*首页*/

/*.header{height:80px;box-sizing:border-box;padding-top:25px;}*/
.header_wrap{
	height: 104px;
	background-color: #03a3ff;
	overflow: hidden;
}
.header_r{
	overflow: hidden;
	line-height: 1;
	margin: 26px 0;
	padding: 18px 0;
}
.header_b .logo{margin:26px 200px 0 0;color:#fff;display: inline-block;}
.search .txt{width:370px;height:34px;line-height:34px;padding-left:5px;box-sizing:border-box;border:1px solid #3e91e7;}
.search .btn{width:46px;height:34px;background:url(../images/search_img.png) #3e91e7 no-repeat center center;cursor:pointer;}
.header_ra{background:url(../images/arrow.png) no-repeat right 10px;padding-right:10px;padding-bottom:10px;}
.header_ra2{background-image:url(../images/arrow2.png);}

.user_div{position:relative;}
.drop_down{position:absolute;top:22px;left:0;display:none;}
.drop_down li{background:#e5eaf5;padding:5px 10px;cursor:pointer;}



.nav_wrap{width:100%;margin-bottom:20px;    height: 52px;
	background-color: #393e49;}
.nav{}
/*.nav_ul li{width:200px;border-right:1px solid #60a0e3;border-left:1px solid #2c84de;box-sizing:border-box;float:left;line-height:44px;text-align:center;}*/
.nav_ul li{float: left;margin-right: 45px;}
.nav_ul li a {
	font-size: 16px;
	color: #e1e1e3;
	display: block;
	height: 47px;
	line-height: 52px;
}/*.nav_ul li a{color:#b3d1f1;font-size:14px}*/
/*.nav_ul2 li{width:150px;}      !*11.7-add*!*/


.nav_ul li.current a,.nav_ul li a:hover{
	border-bottom: 5px solid #03a3ff;
	color: #03a3ff;
}/*.nav_ul li a:hover{color:#fff;}  .nav_ul li.current a{color:#fff;}*/


.content_bot {background:#fff;}
.content_topl{width:825px;border:1px solid #f2f2f2;}
.content_toplul li{padding:20px 22px;background:#fff;border-bottom:1px solid #eee;}
.content_toplul li:hover{
	background:#f6f9fc;
}
.content_toplul .bg_blue{background:#f6f9fc;}
.content_toplul li .p1{width:100%;height:33px;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}
.content_toplul li a:hover{text-decoration:underline;}
.con_topl_div span{width:25%;display:inline-block;float:left;}
.con_topl_div2 .zan{background:url(../images/zan.png) no-repeat left center;padding-left:20px;}
.con_topl_div2 .comment{background:url(../images/comment.png) no-repeat left center;padding-left:20px;}
.con_topl_div2 .collection{background:url(../images/collection.png) no-repeat left center;padding-left:20px;}
.source_p{width:530px;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}

.content_topr{width:352px;}
.con_toprdiv{height:295px;box-sizing:border-box;margin-bottom:20px;}
.con_topr_tit{height:38px;width:100%;line-height:38px;box-sizing:border-box;padding:0 10px 0 10px;}
.con_topr_tit h3{background:url(../images/knowledge_ranking.png) no-repeat left center;padding-left:28px;font-size:16px;}
.know{background:#eef2fa;}
.hot{background:#faf3f0;}
.integral{background:#f2f9f9;}

.know h3{color:#618bfb;}
.hot h3{color:#f3754c;background-image:url(../images/hot_search.png);}
.integral h3{color:#4bc6ca;background-image:url(../images/ranking_ranking.png);}
.con_topr_con{padding:10px 5px;background:#fff;}
.con_topr_con ol li{position:relative;padding:0 80px 0 30px;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;line-height:45px;}
.con_topr_con ol li i,.con_topr_con ol li .s1{position:absolute;left:0;top:0;width:30px;display:inline-block;text-align:center;}
.con_topr_con ol li .s2{position:absolute;right:0;top:0;}
.con_topr_con i{font-size:28px;}
.con_topr_con .i1{color:#ef3232;}
.con_topr_con .i2{color:#f09121;}
.con_topr_con .i3{color:#77de45;}

.my_column_h3{height:24px;font-size:20px;color:#478af0;margin-top:15px;margin-bottom:10px;border-left:6px solid #478af0;padding-left:10px;}
.my_column_div{padding:0 30px 30px;}
.my_column_divtit{border-bottom:1px solid #f4c32f;}
.my_column_divtit a{width:104px;height:32px;display:block;float:left;line-height:32px;text-align:center;}
.my_column_divtit .cur_a{background:#f4c32f;color:#fff;}
.my_column_divcon{padding:20px 10px;overflow:auto;}
.my_column_table{width:100%;border-collapse:collapse;}
.my_column_table td{height:40px;}
.my_column_table .tr2 td{background:#fcfcfc;}

/*footer*/
.footer_wrap{width:100%;position:fixed;bottom:0;height:140px;background:#f6f6f6;border-top:1px solid #f2f2f2;}
.footer_wrap2{height:37px;line-height:37px;}
.footer{width:610px;margin:0 auto 15px;padding-top:35px;}
.footer div{width:50%;background:url(../images/footer_img.png) no-repeat right center;}
/*page*/
.page{text-align:center;overflow:hidden;padding:25px 0;background:#fff;}
.page a,.page .page_span{padding:5px 10px;border:1px solid #eaeaea;margin-right:10px;background:#fff;border-radius:2px;cursor:pointer;font-size:12px;}
.page a:hover{background:#3e91e7;color:#fff;border-color:#3e91e7;}
.page a.cura{background:#3e91e7;color:#fff;border-color:#3e91e7;}
.page .page_b{color:#52e5dc;font-size:12px;}
.page .page_txt{width:29px;height:26px;border:1px solid #eaeaea;padding-left:5px;}
.page .go_span{width:34px;height:31px;line-height:31px;text-align:center;background:#f7ad56;display:inline-block;color:#fff;cursor:pointer;font-size:12px;border-radius:2px;}


/*应用管理*/
.cp{
	cursor: pointer;}
.app_manage_con{box-sizing:border-box;padding:25px 25px 0;background:#fff;}
.add_app,.add_person_a,.add_know_a{background:url(../images/add_app.png) no-repeat left center;padding-left:25px;}
.know_import{background:url(../images/import.png) no-repeat left center;padding-left:25px;}
.app_search .txt{width:225px;height:31px;line-height:31px;padding-left:5px;box-sizing:border-box;border:1px solid #e4e4e4;}
.app_search .btn{width:46px;height:31px;background: #3e91e7;cursor:pointer;color:#fff; padding: 0; }
.app_manage_conbot{margin-top:25px;}
.app_manage_tab{width:100%;border:1px solid #f2f2f2;}
.app_manage_tab tr{
	height:48px;
}
.app_manage_tab tr:hover{background:#f1f4fb;}
.app_manage_tab .tr1 td{background:#f1f4fb;border-bottom:none;}
.app_manage_tab td{height:38px;text-align:center;border-bottom:1px dashed #f2f2f2;}
/*应用查看*/
.bg_white{background-color: #fff;}
.app_info .tit{padding: 0 0 10px 25px; border-bottom: 1px solid #e4e4e4;}
.app_info .info{padding:25px;}
/*新增接口*/
.creat_interface .creat_interface_span{width:100px;height:30px;display: block;line-height:30px;}
.creat_interface .creat_interface_txt{width: 300px;
	height:30px;}
.creat_interface .creat_interface_area{
	width:500px;
	height:100px;
	resize: none;
}
.creat_interface .creat_interface_tab{
	width:800px;
}
.creat_interface .creat_interface_tab table{
	width:100%;
}
.creat_interface .creat_interface_tab tr{
	height:30px;
}
.creat_interface .creat_interface_tab td{
	text-align: center;border:1px solid #BFBABA;
}
.creat_interface .creat_interface_tab td input{
	padding: 0 5px;
}
.creat_interface_submit{
	width: 100%;
}
.creat_interface_submit input{
	width:100px;margin:0 auto;display: block;background: #478af0;height:30px;color:#fff;
}
.interface_url{width: 800px;line-height: 30px;}
/*新建应用*/
.new_appl{background:#fff;}
.add_app_h3{border-left:6px solid #478af0;padding-left:15px;margin:20px 0;}
.add_app_div1{width:100%;position:relative;padding-left:80px;}
.txt{width:164px;height:28px;line-height:28px;padding-left:5px;box-sizing:border-box; }
/*::-moz-placeholder{color:red;}
::-webkit-input-placeholder{color:red;}
:-ms-input-placeholder{color:red;} */
.add_app_s{width:80px;display:inline-block;line-height:28px;}
.add_app_s2{position:absolute;left:0;top:0;}
.add_app_div {width:100%;}
.add_app_ul{}
.add_app_ul li{width:115px;float:left;background:url(../images/add_app_img1.png) no-repeat left center;padding-left:20px;margin-bottom:10px;cursor:pointer;}
.add_app_ul .cur_li{background-image:url(../images/add_app_img2.png);}
.btn{width:100px;height:30px;border-radius:2px;cursor:pointer;}
.btn1{background:#3e91e7;line-height: 0px; color:#fff;}
.btn2{background:#cbcbcb;line-height: 0px;}

.more{position:absolute;right:0;top:0;background:url(../images/arrow.png) no-repeat right center;padding-right:10px;}
.more2{position:absolute;right:0;top:0;background:url(../images/arrow2.png) no-repeat right center;padding-right:10px;}
.add_app_tabtit{position:relative;height:34px;}
.add_app_tabtit span{width:130px;height:34px;border:1px solid #f2f2f2;display:block;float:left;line-height:34px;text-align:center;border-bottom:0;box-sizing:border-box;cursor:pointer;background:#fff;}
.add_app_tabtit .cur_span{border-bottom:2px solid #fff;height:35px;}
.add_app_tabcon {background:#fff;}
.add_app_tabcon div{line-height:30px;}
.interface_div{width:1000px;margin:20px auto;}

/*知识社区*/
.know_comm_toptit{height:48px;}
.know_comm_toptit span{width:100px;height:48px;display:inline-block;font-size:16px;line-height:48px;text-align:center;cursor:pointer;box-sizing:border-box;}
.know_comm_toptit .cur_span{border-left:1px solid #f2f2f2;border-right:1px solid #f2f2f2;background:url(../images/cur_span_bg.png) #fff repeat-x left top;height:50px;}
.know_comm_bot{background:#fff;}
.txt_m{width:270px;height:30px;line-height:30px;padding-left:5px;}
/*.btn{width:72px;height:30px;border-radius:2px;cursor:pointer;}*/
.bg_blue_btn{background:#3fb1fa;}
.bg_green_btn{background:#66e2a0;}

.w70{width:70%;}
.w10{width:10%;}

.li_div_top a,.li_div_top span{display:inline-block;float:left;line-height:40px;}
.li_div_top .a_tit{overflow:hidden;width:68%;margin-right:2%;height:30px;text-overflow:ellipsis;white-space:nowrap;}
.li_div_bot{padding:10px 20px 15px;display:none;}
.answer_div{width:1020px;height:108px;border:1px solid #a5c9ef;}
.answer_divi{width:13px;height:8px;display:block;position:absolute;left:25px;top:-8px;background:url(../images/know_arrow.png) no-repeat;}
.answer_div_btn{position:absolute;right:0px;bottom:0;width:60px;height:27px;background:#f2b808;color:#fff;cursor:pointer;}
.txta{width:100%;height:79px;box-sizing:border-box;padding:5px;outline:none;}

	/**/
.popup_wrap{width:100%;height:100%;position:fixed;left:0;top:0;z-index:9000;display:none;}
.popup_span{width:100%;height:100%;position:fixed;left:0;top:0;background:#000;opacity:0.6;filter:alpha(opacity=60);z-index:100;}
.popup{width:740px;height:266px;position:fixed;left:50%;top:50%;margin:-133px 0 0 -370px;background:#fff;z-index:102;border-radius:5px;overflow:hidden;}
.popup_h3{height:42px;background:#f4f4f4;line-height:42px;padding-left:20px;font-size:15px;border-bottom:1px solid #e6e5e5;}
.close_btn{width:18px;height:16px;position:absolute;right:20px;top:7px;}
.popup_div{padding:30px 30px 0;}
.popup_txta{width:610px;height:120px;border:1px solid #e3e3e3;padding:10px;box-sizing:border-box;}
.popup_div .btn{width:72px;height:30px;border-radius:2px;cursor:pointer;font-size:14px;}
.popup_btn1{background:#3e91e7;color:#fff;line-height: 0px;}
.popup_btn2{background:#fff;color:#666;line-height: 0px;border: 1px solid #d8d8d8;}

/*知识库管理*/

.know_manage{box-sizing:border-box;}
.know_man_div{background:#fff;padding:25px 25px 0;}
.know_man_tit{border-bottom:1px solid #e4e4e4;height:40px;padding:0 10px;}
.know_man_tit p{float:left;padding:0 15px;line-height:40px;height:40px;box-sizing:border-box;font-size:15px;margin-right:10px;cursor:pointer;}
.know_man_tit p.current{color:#f2b808;border-bottom:2px solid #f2b808;}

.popup_person{width:600px;height:588px;margin:-238px 0 0 -300px;}
.person_list{height:400px;overflow:auto;margin-top:10px;}
.person_list_tab{width:100%;}
.person_list_tab td{text-align:center;height:36px;}
.person_list_tab thead th{height:36px;background:#f1f4fb;}

.popup_know{width:600px;height:424px;margin:-212px 0 0 -300px;}
.know_span{width:100px;height:30px;color:#666;line-height:30px;display:block;}
.addpad{position: relative;}
.addpad .add_app{position: absolute;right: 17px; top:7px;width:17px;height:17px;padding-left: 0;}
.addpad input{padding-right: 20px;}
.popup_know span,.popup_know a{line-height:30px;}
.know_txta{width:435px;height:115px;resize:none;}
.know_add_icon{margin-left: 30px;background: url(../images/add_app.png) no-repeat left center;
	padding-left: 20px;line-height: 30px;}
.adminis_sel{width:100%;height:30px;box-sizing:border-box;outline:none;}
.content_manage{background:#fff;box-sizing:border-box;}
.source_p2{width: 70%; text-overflow: ellipsis;margin-top:10px; white-space: nowrap; overflow: hidden}
.edit_a{width:17px;height:19px;display:inline-block;background:url(../images/edit.png) no-repeat;}
.delete_a{width:17px;height:19px;display:inline-block;background:url(../images/delete.png) no-repeat;}
.con_manage_tit{height:44px;background:#fcfcfc;line-height:44px;}
.con_manage_sel{width:80px;height:24px;}
.con_manage_chk,.rad{margin:-2px 3px 0px 0;vertical-align:middle;}
.refresh{background: url(../images/refresh.png) no-repeat left center;line-height: 30px;
	width:24px;height:28px;display: inline-block;  position: absolute; top:0;right:15px;}
#modelSelect .refresh{right:3px;top:-3px;}
/*个人中心*/
.column_manage{background:#fff;padding:40px;}
.c_orange{color:#f4a344;} 
.column_manage_div{width:245px;height:250px;border-radius:2px;background:#fbfbfb;margin:0 60px;box-sizing:border-box;padding:20px 30px;}
.pers_infor_man{height:350px;}
.pers_infor_manl{width:510px;}
.pers_infor_manr{width:660px;}
.pers_infor_manldiv{}
.pers_infor_manlleft{width:160px;height:250px;position:absolute;top:0;left:50px;z-index:10;}
.pers_infor_manlleft dt{width:160px;height:200px;border:1px solid #e8f6f5;}
.pers_infor_manlleft dt img{width:100%;height:100%;}
.pers_infor_manlleft dd{}

.pers_infor_manlright{width:510px;height:276px;border:1px solid #e8f6f5;position:absolute;top:30px;left:0px;background:#fff;padding:30px 0 0 260px;}

.modify_infor{background:url(../images/edit.png) no-repeat left center;padding-left:20px;}
.know_pro_notspan{background:#de5d5d;padding:2px 3px;border-radius:10px;color:#fff;margin-left:10px;}
.pers_infor_manrdiv{background:#fff;padding:20px;box-sizing:border-box;height:282px;width:658px;border:1px solid #e8f6f5;overflow:auto;}
.pers_infor_manrtab{width:100%;}
.pers_infor_manrtab .td1{}
.modify_infor_popup{width:542px;height:470px;margin:-235px 0 0 -271px;}
.know_p{width: 90px;  height: 25px; line-height: 25px; margin-right:20px;}

/*知识门户*/
.know_portal{box-sizing:border-box;height:1033px;}
.know_portal_left{width:313px;box-sizing:border-box;height:100%;overflow:hidden;}
.know_portal_right{width:885px;box-sizing:border-box;border-left:1px solid #e3e3e3;background:#fff;}
.practice_div{width:100%;box-sizing:border-box;height:30px;background:#f3f3f3;line-height:30px;padding-left:20px;}
.know_portal_rdiv a{background:url(../images/arrow_sort.png) no-repeat right center;padding-right:13px;}
.know_portal_rdiv .up_sort{background-image:url(../images/arrow_sort_up.png) ;}
.know_portal_rdiv .down_sort{background-image:url(../images/arrow_sort_down.png);}

/*知识统计*/

.echart_box{width:100%;box-sizing:border-box;height:385px;}
.echart_box_titol{}
.echart_box_titol li{background:url(../images/radio_img1.png) no-repeat left center;padding-left:18px;margin-right:20px;float:left;}
.echart_box_titol .cur_li{background-image:url(../images/radio_img2.png);}
.echart_div{width:100%;padding:20px;height:310px;box-sizing:border-box;}
.echart_box2{width:50%;box-sizing:border-box;height:385px;border-right:1px solid #e3e3e3;}

/*后台首页*/
.know_man_div2{background:#fff;}
.todo_h3{left:0;top:0;}

/*知识接入*/
.doc_import{width:100%;background:#fff;}
.doc_import_tit {height:45px;background:#f6f6f6;border-bottom:1px solid #e3e3e3;}
.doc_import_tit a{float:left;height:45px;box-sizing:border-box;line-height:45px;padding:0 20px;display:block;}
.doc_import_tit .cur_p{background:#fff;color:#3e91e7;border-right:1px solid #e3e3e3;}

.doc_up_tit{height:45px;box-sizing:border-box;}
.doc_up_tit a{height:44px;line-height:44px;padding:0 20px;display:inline-block;background:#fff;}
.doc_up_tit .cur_a{border:1px solid #e3e3e3;border-bottom:0;font-weight:bold; height:46px;}
.upload{width:484px;}
.sel{width:93px;height:28px;line-height:28px}

	/*upload*/

.upload_btn{width:70px;
			height:30px;
			background:none;
			border-radius:3px;
			color:#4ea8f7;
			cursor:pointer;
			border:1px solid #e5e5e5;
			border-radius:17px;
			outline:none;
		}
#filelist{background:#fff; width:100%;}
#console{color:red;	width:31%; margin:10px auto;}
#container{width:31%;margin:10px auto 100px;}
.file_wrapper{height:178px; overflow-y:auto;}
/*.name{float:left;}*/

.progress{float:right; width:44px}
.size{float:right; position:relative; right:100px}
.file_title{overflow: hidden; background:#f5f5f5; padding:10px;}
.file_con{padding:10px;}
      /*upload-end*/
	  
.upload_attach{width:88px;color:#4ea8f7;font-size:13px;height:28px;display:block;border-radius:15px;line-height:28px;text-align:center;}
.advan_search{display:block;line-height:31px;background:url(../images/arrow.png) no-repeat right center;padding-right:15px;}
.advan_search.on{background-image:url(../images/arrow2.png);}
.advan_search_div{width:400px;height:200px;position:absolute;left:-308px;top:38px;background:#fff;box-sizing:border-box;padding:20px;display:none;}
.advan_search_div .riqi_txt{width:110px;height:28px;line-height:28px;padding:0 0 0 5px;border:1px solid #e3e3e3;}
.create_temp_a {background:url(../images/create_temp.png) no-repeat left center;padding-left:25px;}	  
.txta{width:880px;height:116px;display:block;}	  
	  
.btn3{padding:0 15px;height:30px;background:#f3f3f3;color:#333;border:1px solid #e7e7e7;border-radius:2px;cursor:pointer;}	  
.doc_sample_s{width:240px;height:30px;background:#f3f3f3;line-height:30px;outline:none;}	  
.rule_div{width:885px;display:inline-block;}  
.catalog_txt{width:550px;height:30px;box-sizing:border-box;}	  
	
.selec_art_l{background:#fff;width:820px;height:500px;box-sizing:border-box;} 	  
.selec_art_l .txta{width:100%;height:100%;outline:none;}
.selec_art_r{width:350px;box-sizing:border-box;}  

/*从文件导入知识 弹框*/
.import_knowledge_popup{
	width:658px;
	height:570px;
	margin:-285px 0 0 -329px;
}
.add_single_popup{
	width:658px;
	height:490px;
	margin:-245px 0 0 -329px;
}
/*知识审核*/
.audit{
	display:inline-block;
	padding:8px;
	border:1px solid #ededed;
	border-radius:3px;
	margin-left:15px;
	cursor:pointer;
}
.audit_green{
	color:#4ad9a1;
}
.audit_green:hover{
	background:#4ad9a1;
	color:#fff;
}
.audit_green.sele{
	background:#4ad9a1;
	color:#fff;
}
.audit_red{
	color:#ea5a5a;
}
.audit_red:hover{
	background:#ea5a5a;
	color:#fff;
}
.audit_red.sele{
	background:#ea5a5a;
	color:#fff;
}
.audit_blue{
	color:#3e91e7;
}
.audit_blue:hover{
	background:#3e91e7;
	color:#fff;
}
.audit_blue.sele{
	background:#3e91e7;
	color:#fff;
}
.popup_audit{
	width:490px;
	height:238px;
	margin:-119px 0 0 -245px;
}
.audit_advise{
	width:300px;
	height:70px;
	border-radius:3px;
	border:1px solid #e1e1e1;
	resize:none;
	margin-left:26px;
	padding:5px;
}
/*审批明细*/
.sp_detail{
	padding-top:30px;
}
.sp_title{
	padding-left:48px;
	margin-bottom:26px;
}
.sp_content{
	padding:0 40px 0 84px;
}
.his_version{
	width:922px;
	height:244px;
	background:#f4f4f4;
	margin-left:30px;
	margin-top:34px;
}
.his_version div{
	width:50%;
	height:244px;
	padding:30px 32px 30px 30px;
	box-sizing:border-box;
}
/*知识库内容管理*/
.edit_sp{
	display:inline-block;
	width:50px;
	height:28px;
	line-height:28px;
	text-align:center;
	border:1px solid #ededed;
	color:#3e91e7;
	cursor:pointer;
}
.edit_sp:hover{
	background:#3e91e7;
	color:#fff;
}
/*审核流程管理*/
.audit_person{

	margin:36px 0 0;

}

.assessor_l{margin-right: 110px;}
.assessor_con{
	width:320px;
	height:416px;
	padding:22px;
	border:1px solid #949494;
	overflow-y:auto;
	margin-top:16px;
	box-sizing:border-box;
}
.level_tit{
	position: absolute;
	top:-23%;left:5px;
}
.assessor_r .assessor_con1,.childrendiv{width:500px;height: 100px;padding:22px;
	border:1px solid #949494;
	margin-top:16px;
	box-sizing:border-box;position: relative;margin-bottom: 30px;}

.checkmember{
	border:1px solid #eee;
	padding: 5px; margin: 5px;
	float: left;
	cursor: pointer;}

.assessor_con p{
	margin-bottom:20px;
}
.assessor_transform{
	width:65px;
	height:416px;
	padding-top:210px;
	box-sizing:border-box;
}	
.assessor_transform p{
	text-align:center;
	margin-bottom:30px;
	cursor:pointer;
}  
.per_sq{
	cursor:pointer;
}
.app_search ul{
	width:112px;
	position:absolute;
	border:1px solid #e1e1e1;
	background:#fff;
	padding-top:16px;
	padding-bottom:20px;
	top:26px;
	right:4px;
}
.app_search ul li{
	width:112px;
	text-align:center;
	cursor:pointer;
	padding:5px 0;

}
.app_search ul li:hover{
	background:#3e91e7;
	color:#fff;
}
.app_search ul span:hover{
	background:#3e91e7;
	color:#fff;
}
.app_search ul li.mb20{
	margin-bottom:16px;
}
.role_new{
	width:66px;
	height:26px;
	cursor:pointer;
	border-radius:3px;
	background:#8cb4dd;
	color:#fff;
	font-size:12px;
}
/*用户管理*/
.user_operation{
	width:100%;
	height:58px;
	line-height:58px;
	padding-left:26px;
	background:#f6f6f6;
	box-sizing:border-box;

}
.user_operation span{
	font-size:15px;
	color:#478af0;
	margin-right:20px;
	cursor:pointer;
	display:inline-block;
}
.user_table{
	padding:15px 24px 0 24px;
}

/*角色管理*/
.td_operate span{
	cursor:pointer;
}
.td_operate .td_blue{
	color:#03a3ff;
}
.td_operate .td_green{
	color:#19A235;
}
.td_operate .td_red{
	color:#de6262;
	margin-left:10px;
}
/*系统设置*/
.system_set{
	width:600px;
	margin:24px auto 0;
} 
.set_con{
	margin:24px 0;
	padding-left:65px;
}
.satis_item{
	color:#666;
	margin:33px 0 26px 0;
	padding-left:42px;
}
/*添加用户*/
.add_user{
	width:840px;
	margin:0 auto;
}
.user_info{
	margin-top:25px;
	width:750px;
	margin-left:70px;
}
.u_info_detail{
	margin-top:32px;
}
/*新增系统角色 弹框*/
.f_authority{
	width:430px;
	border:1px solid #e7e7e7;
	padding-left:20px;
	margin-left:10px;
}
.f_authority li{
	width:80px;
	float:left;
	margin-right:20px;
}
.f_authority li input{
	position:relative;
	top:2px;
}
/*重置密码弹框*/
.popup_reset_pass_con{
	width:400px;
	margin-left:-200px;
}
/*知识题库*/
.exam_box{
	width:270px;
	padding:27px 12px 26px 20px;
	border:1px solid #f6f6f6;
	background:#fff;
	margin-bottom:24px;
}
.mr24{
	margin-right:24px;
}
.exam_img img{
	cursor:pointer;
	margin-top: 3px
}
.exam_btn{
	width:96px;
	height:28px;
	background:none;
	border:1px solid #eee;
	color:#3e91e7;
	cursor:pointer;
	border-radius:3px;
}
.exam_btn_1{
	color:#816ee1;
	margin-left:12px;
}
/*添加试题 弹框*/
.exam_style label{
	margin-right:25px;
}
.exam_style input{
	position:relative;
	top:2px;

}
/*查看试题*/
.app_search .txt_operate{
	color:#816ee1;
	font-size:15px;
	cursor:pointer;
	margin-left:27px;
}
/*查看试题*/
.knowledge_lib{
	width:1000px;
	margin:0 auto;
	padding-top:36px;
	padding-bottom:45px;
}
.exam_style_title{
	color:#3e91e7;
	margin:24px 0 14px 0;
	padding-left:12px;
	font-weight:bold;
}
.exam_style_con{
	width:100%;
	padding:27px 0 27px 38px;
	border:1px solid #efefef;
}
.c_detail{
	margin-top:23px;
	padding-left:16px;
}
.c_detail_btn{
	width:130px;
	height:28px;
	background:none;
	border:1px solid #eee;
	cursor:pointer;
	color:#3e91e7;
	font-size:13px;
	margin-right:50px;
}
/*题库知识点*/
.d_table tr{
	height:28px;
}
/*查看试卷 弹框*/
.pop_exit_test{
	float:right;
	color:#478af0;
	font-size:14px;
	font-weight:normal;
	cursor:pointer;
	margin-right:46px;
	margin-top:8px;
}
.test_con{
	margin-top:22px
}
.test_con input[type="radio"]{
	position:relative;
	top:2px;
	right:3px;
}
.s_detail{
	width:620px;
	line-height:25px;
}
/*添加试卷 弹框*/
.test_paper_con{
	padding-left:47px;
	margin-top:20px;
}
.p_con_set{
	margin-top:20px;
}	
.p_con_set input[type="text"]{
	width:48px;
	height:24px;
	border:1px solid #d9d9d9;
	padding-left:5px;
}   
.p_con_set .set_style{
	display:inline-block;
	width:50px;
}
/*考试信息 */
.person_name{
	width:100%;
	height:250px;
	border:1px solid #e9e9e9;
	margin-top:20px;
	padding:20px 0 0 46px;
}
.person_name ul{
	width:100%;
	overflow:hidden;
}
.person_name li{
	float:left;
	width:62px;
	height:26px;
	line-height:26px;
	text-align:center;
	margin-right:86px;
	cursor:pointer;
	margin-bottom:26px;
}
.person_name li.sele{
	border:1px solid #3e91e7;

}
/*添加人员 弹框*/
.person_table{
	width:100%;
	margin-top:16px;
	border-collapse:collapse;
}
.person_table tr{
	height:38px;
}
.person_table th{
	border:1px solid #e8e8e8;
}
.person_table td{
	text-align:center;
	border:1px solid #e8e8e8;
}
/*开始阅卷*/
.option_style{
	margin-top:45px;
}
.option_style .w_100{
	display:inline-block;
	width:100px;
}
.ck_person_tab{
	width:100%;
	border-collapse:collapse;
	margin-top:26px;
}
.ck_person_tab tr{
	height:40px;
}
.ck_person_tab th{
	border:1px solid #e8e8e8;
}
.ck_person_tab td{
	border:1px solid #e8e8e8;
	text-align:center;
}
/*考试统计*/
.test_count{
	padding:22px 0 40px 42px;
	border:1px solid #f2f2f2;
}
.test_count .mr52{
	margin-right:52px;
}
.xy_info{
	float:left;
	width:272px;
	height:176px;
	border:1px solid #f6f6f6;
	margin-right:56px;
	padding:26px 30px 0 34px;
}
.test_count_table{
	margin-top:22px;
}
.test_count_table div{
	width:390px;
	height:320px;
	border:1px solid #f2f2f2;
	background:#fff;
	padding:30px 30px 0 30px;

}
.test_count_table .ml15{
	margin-left:15px;
}
.test_count_table div.e_img{
	width:100%;
	text-align:center;
	height: auto;
	border:none;
	padding:30px 0 0 0;
}
/*创建模板*/
.rule_table{
	width:100%;
	border-collapse:collapse;
}
.rule_table tr.tr_t{
	height:76px;
	border-bottom:1px solid #ebebeb;
}
.rule_table tr{
	height:58px;
}
.rule_table td{
	text-align:center;
}
/*从文章中选择*/
.t_level_title input[type="checkbox"]{
	position:relative;
	top:2px;
	right:4px;
}
.author_table{
	width:100%;
	border-collapse:collapse;
}
.author_table tr{
	height:40px;
}
.author_table td{
	border:1px solid #eaeaea;
}
.author_table td.pl16{
	padding-left:16px;
}
.author_table input[type="checkbox"]{
	position:relative;
	top:2px;
	right:5px;
}


.sq_down{
	position:absolute;
	left:-16px;
	width:94px;
	background:#fff;
	border:1px solid #e5e5e5;
	padding-bottom:30px;
}
.sq_down li{
	height:34px;
	max-width:94px;
	color:#333;
	line-height:34px;
	text-align:center;
	word-break: keep-all;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.sq_down li:hover{
	color:#478af0;
}
.cancel_role{
	text-align:center;height:30px;color:#333;border-top:1px solid #e5e5e5
}
.cancel_role:hover{
	color:#478af0;
}

/*知识编辑*/
.knowledge_edit{
	width:1200px;
	margin:0 auto;
	padding-top:36px;
	margin-bottom:60px;
}
.base_info{
	height:128px;
	padding:28px 28px 0 28px;
	background:#fff;
	border:1px solid #f0f0f0;
}
.tit_textarea{
	height:42px;
	border:1px solid #ededed;
	resize:none;
	width:97%;
	padding:14px 18px 0 18px;
}
.lc_content{
	margin-top:24px;
	padding-bottom:33px;
}
.lc_detail{
	padding-left:54px;
}
.lc_btn{
	text-align:center;
	margin-top:30px;
}
.lc_btn input{
	width:72px;
	height:28px;
	color:#fff;
	background:#3e91e7;
	border-radius:3px;
	cursor:pointer;
}


.req_attri{
	margin-top:20px;
}
.req_attri td{
	border:1px solid #dedede;
	text-align:center;
}

.template_inpt{
	width:157px;
	height:22px;
	padding-left:5px;
	margin-top: -10px;
}
.template_con{
	position:absolute;
	width:378px;
	height:250px;
	border:1px solid #dedede;
	left:106px;
	z-index:3;
	background:#fff;
	padding:10px;
	top:184px;
}
.template_con table{
	width:100%;
	border-collapse:collapse;
}
.template_con th{
	text-align:center;
}
.template_con td{
	text-align:center;
}
.template_con tr{
	height:30px;
	border-bottom:1px dashed #dedede;

}
.template_con tbody tr{
	cursor:pointer;
}
.template_con tbody tr:hover{
	background:#e2e1e1;
}
.template_search{
	width:100px;
	height:26px;
	margin-right:22px;
	border:1px solid #dedede;
	padding-left:5px;
}

/*自定义开关*/
.on_off{
	width:70px;
	height:26px;
	border:1px solid #dedede;
	overflow:hidden;
	cursor:pointer;
	margin: 0 auto;
}
.on_off_active ul{
	position:relative;
	left:-34px;
}
.on_off ul{
	width:105px;
}
.on_off li{
	float:left;
	width:34px;
	height:26px;
}
.on_off li.on{
	background:#3e91e7;
	color:#fff;
}
.on_off li.off{
	background:#f6f6f6;
	color:#a09e9e;
}


/*浮层按钮*/

.fucMenuBox {
	position: fixed;
	top: 25%;
	right: 0;
	background: #fff;
	z-index: 99999;
}

.fucMenuBox li {
	position: relative;
	margin-bottom: 1px;
	background: #a6d8ff;
	width:46px;
}
/*.fucMenuBox li:hover{
	background: #03a3ff;
}
.fucMenuBox li.side_tool{
	background: #fff;border:1px solid #000;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}*/

.fucMenuBox .hty_lastLi {
	margin: 0;
	display: none;
}

.fucMenuBox li>a {
	display: block;
	width: 46px;
	height: 46px;
	z-index: 9999;
	position: relative;
}
.fucMenuBox li>a.news{
	width: 22px;
	height:22px;
	text-align: center;
	line-height: 22px;
	cursor: pointer;
	color:#Fff;
}
.fucMenuBox li>a.news:hover{
	background-color: #03a3ff;
}
.fucMenuBox li>a.news1{
	border-right: 2px solid #fff;
	border-bottom: 2px solid #fff;
	background-color: #80b3ff;
}
.fucMenuBox li>a.news2{
	border-bottom: 2px solid #fff;
	background-color: #a6d8ff;
}
.fucMenuBox li>a.news3{
	border-right: 2px solid #fff;
	background-color: #a6d8ff;
}
.fucMenuBox li>a.news4{
	background-color: #80b3ff;
}

.fucMenuBox li .ChaxBut {
	background: url(../images/exit.png) center no-repeat;
	background-size: 19px 24px;
}

.fucMenuBox li .fenxBut {
	background: url(../images/help.png) center no-repeat;
	background-size: 24px 26px;
}

.fucMenuBox li .TopBut {
	background: url(../images/return.png) center no-repeat;
	background-size: 19px 26px;
	animation: fxpanimet 1.1s infinite alternate;
}
.fucMenuBox li .Top_Icon_But {
	background: url(../images/top.png) center no-repeat;
	background-size: 26px 28px;
}
.fucMenuBox li .fcShow {
	position: absolute;
	height: 100%;
	top: 0;
	right: -300px;
	background: #a6d8ff;
}
.fucMenuBox li.side_tool .side_tool_btn{
	text-align: center;line-height: 53px;color:#fff;
}
.fucMenuBox li.side_tool .fcShow{
	background: #fff;
	width:200px;height: 200px;
	padding: 10px;
}
.fucMenuBox li.side_tool .fcShow table{

	width: 180px;height: auto;
}
.fucMenuBox li.side_tool .fcShow table td{
	text-align: center;
	border:1px solid #e4e4e4;
}
.fucMenuBox li .fcShow a {
	display: block;
	width: 125px;
	color: #FFF;
	font-size: 14px;
	text-indent: 20px;
	line-height: 52px;
}

      /*应用管理*/
.popup_app{
	width: 480px;
	height:340px;
	margin:-170px 0 0 -240px;
}
.app_txt{
	width: 300px;
	height:156px;
	resize: none;
}








	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  