/*首页*/
.i-section{background-color: #fff; overflow: hidden; position: relative; min-height: 665px;}
.bgWhite{background-color: #fff;}
/*--------banner轮播样式--------*/
.banner{width:100%; position:relative; z-index:2;height:180px; overflow:hidden;}
.banner .bd{margin:0 auto; position:relative; z-index:0; overflow:hidden; width: 100%;}
.banner .bd ul{width:100%;}
.banner .bd li{width:100%;height:180px;overflow:hidden; text-align:center; background-size: cover;}
.banner .bd li a{display:block;height:180px;}
.banner .hd{width:100%; position:absolute; z-index:1; bottom:10px; left:0; height:30px;
line-height:30px;}
.banner .hd ul{text-align:right; width: 1200px; margin: 0 auto;}
.banner .hd ul li{cursor:pointer; display:inline-block; *display:inline; width:12px;height:4px; zoom:1; margin:0 2px;overflow:hidden;line-height:999px; background-color: #fff;}
.banner .hd ul .on{ background-color: #03a3ff;}
.banner .prev,.banner .next{display:block; position:absolute; z-index:1; top:50%;
margin-top:-30px; left:15%; z-index:1; width:40px; height:60px;  cursor:pointer; filter:alpha(opacity=50); opacity:0.5; display:none;}
.banner .next{left:auto; right:15%; background-position:-6px -137px;}

.i-actList{width: 820px; border-right: 1px solid #e6e6e6; margin-right: -1px;}
.i-actList-cont{padding: 0 30px; overflow: hidden;}
.i-actList-cont .act-box{ padding: 25px 0; border-top: 1px solid #e6e6e6; margin-top: -1px; position: relative;}
.i-actList-cont .act-title a{font-size: 16px; color: #333333; font-weight: bold;}
.i-actList-cont .act-title a:hover{text-decoration: underline;}
.i-actList-cont .act-aside{color: #a9a9a9; padding: 10px 0 0; overflow: hidden;}
.i-actList-cont .act-aside span{ padding-right: 24px; float: left; width: 128px;}
.i-actList-cont .act_aside_1 span{ padding-right: 24px; float: left; width: 112px;}
.i-actList-cont .act-txt{color: #666; margin: 8px 0; height: 36px; overflow: hidden;}
.i-actList-cont .act-btn-box{overflow: hidden; margin-top: 15px;}
.i-actList-cont .act-btn{display: block; cursor: pointer; float: left; border: 1px solid #e5e5e5; font-size: 14px; color: #666; margin-right: 10px; border-radius: 3px; background-color: #fcfcfc;}
.i-actList-cont .act-btn{-moz-user-select:none;-webkit-user-select:none;-ms-user-select:none;-khtml-user-select:none;user-select:none;}
.i-actList-cont .act-btn em{display: block;padding: 0.4em 1em 0.3em;}
.i-actList-cont .icon{position: relative;top: -0.15em; background-position: left top; background-repeat: no-repeat;vertical-align: middle; margin-right: 4px; width: 20px; height: 20px; display: inline-block; *display: inline; *zoom: 1;}
.i-actList-cont .icon.icon-zan{background-image: url(../images/icon-zan.png); }
.i-actList-cont .icon.icon-dh{background-image: url(../images/icon-dh.png); }
.i-actList-cont .icon.icon-x{background-image: url(../images/icon-x.png); }
.i-actList-cont .act-btn:hover{background-color: #03a3ff; color: #fff; border: 1px solid transparent;}
.i-actList-cont .act-btn:hover ins{color: #fff;}
.i-actList-cont .act-btn:hover .icon{background-position: right top; }
.i-actList-cont .act-btn.gay{background-color: #DEDEDE;}
.i-actList-cont .act-btn.gay:hover{background-color: #DEDEDE; color: #666;}
.i-actList-cont .act-btn.gay:hover ins{color: #666;}
.i-actList-cont .act-btn.gay:hover .icon{background-position: left top; }
.i-actList-cont .recommend{background-color: #f6fcff; padding:0 20px; border-bottom: 4px solid #fff;}
.i-actList-cont .recommend .act-box{border: none !important;}
.i-actList-cont .recommend .act-box .pic-tj{position: absolute; right: 8px; top: 145px;}
.i-actList-cont.border-b .act-box{border-top: none;  border-bottom: 1px solid #e6e6e6;}

.act-comment{display: none;}
.comment-cont{overflow:hidden; margin-top: 15px;}
.comment-cont .comment-title{color: #808080; line-height: 20px;}
.comment-cont .comment-text-box{ margin-left: 40px;padding: 4px;height: 90px;  border: 1px solid #e6e6e6;}
.comment-cont .comment-text{ width: 100%; height: 100%;overflow-y: auto; border: none;}
.comment-btn{ padding-top: 10px; margin-left: 40px;}
.comment-btn span{margin-left: 4px; cursor: pointer; height: 26px; line-height: 26px; padding:  0 15px; border-radius: 4px; display: inline-block; *display: inline; *zoom: 1;}
.comment-btn span.qr-btn{background-color: #03a3ff; color: #fff; border: 1px solid transparent;}
.comment-btn span.qx-btn{background-color: #fcfcfc; color: #666; border: 1px solid #e5e5e5;}
.cmore-btn{height: 40px; line-height: 40px; background-color: #f3f3f3; display: block; text-align: center; color: #999; }


.i-aside{width: 379px; border-left: 1px solid #e6e6e6; margin-left: -1px;}
.i-aside .i-aside-cont{padding: 0 25px; overflow: hidden;}
.i-ranking{margin-top: 25px;}
.ranking-ad{ display: block;}
.ranking-ad img{display: block; width: 330px; height: 110px;}
.i-ranking .hd {overflow: hidden; height: 40px;}
.i-ranking .hd .title{font-size: 16px; color: #333333; font-weight: bold; white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}
.i-ranking .hd .title b{font-size: 20px; color: #44b1ff;}
.i-ranking .hd .title .icon-t{margin-right: 10px; position: relative; top: -2px;}
.i-ranking .hd .tabs-btn{line-height: 1.1; color: #999999; line-height: 40px; font-size: 14px;}
.i-ranking .hd .tabs-btn ins{color: #e9e9e9; }
.i-ranking .hd .tabs-btn em{cursor: pointer;}
.i-ranking .hd .tabs-btn em.active,.i-ranking .hd .tabs-btn em:hover{color: #03a3ff;}
.ranking-list{overflow: hidden;}
.ranking-list li{height: 35px; line-height: 35px;}
.ranking-list li:nth-child(2n+1){background-color: #f8f8f8;}
.ranking-list li i{ margin: 0 4px; color: #fff; font-size: 14px; width: 28px; height: 35px;line-height: 35px; text-align: center;font-style: normal; background: url(../images/icon-4bg.png) no-repeat right center; vertical-align: middle;  display: inline-block; *display: inline; *zoom: 1;}
.ranking-list li i.icon1{background-image:url(../images/icon-1bg.png); }
.ranking-list li i.icon2{background-image:url(../images/icon-2bg.png);}
.ranking-list li i.icon3{background-image:url(../images/icon-3bg.png);}
.ranking-list li em{color: #666; padding: 0 6px;}
.ranking-list li a:hover{text-decoration: underline;}

.hotSearch-list{overflow: hidden; margin-top: -10px;}
.hotSearch-list li{background-color: #f6fbff; overflow: hidden; margin-top: 10px;}
.hotSearch-list .hotSearch-title{height: 36px; line-height: 36px; background-color: #e0f1ff; padding: 0 20px;}
.hotSearch-list .hotSearch-title a{color: #666;font-weight: bold;}
.hotSearch-list .hotSearch-title a:hover{text-decoration: underline;}
.hotSearch-list .hotSearch-title em{font-size: 12px; color: #7a7e80;}
.hotSearch-list .hotSearch-txt{ margin: 10px 20px;  color: #a7a8a9; height: 54px; overflow: hidden;}

.myColumn{overflow: hidden;}
.myColumn .hd{ height: 60px; border-bottom: 1px solid #e6e6e6; padding: 0 20px;}
.myColumn .hd .title{font-size: 20px; font-weight: bold; line-height: 65px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}
.myColumn .hd .title img{position: relative; top: -0.15em; *top:0;}
.myColumn .mc-nav{font-size: 16px; color: #333; overflow: hidden;}
.myColumn .mc-nav em{ display: block; float: left; margin-left: 25px; margin-top: 16px; height: 40px; line-height: 40px; cursor: pointer;}
.myColumn .mc-nav em:hover,.myColumn .mc-nav em.active{ color: #03a3ff; border-bottom: 4px solid #03a3ff;}
.myColumn .bd{margin: 25px 28px; overflow: hidden;}
.myColumn .myColumn-list{overflow: hidden; width: 110%; margin-bottom: 10px;}
.myColumn .myColumn-list li{background-color: #f8f8f8; float: left; width: 370px; height: 400px; margin-right: 17px;}
.myColumn .myColumn-list li a{ display: block; width: 100%; height: 100%;}
.myColumn .cont{ padding: 15px 20px;}
.myColumn .title{font-size: 16px; color: #000; font-weight: bold;}
.myColumn .time{font-size: 14px; color: #999999; line-height: 30px;}
.myColumn .txt{font-size: 14px; color: #666; height: 84px; overflow: hidden;}
.myColumn .myColumn-img{ display: block; width: 371px; height: 191px;}

/*知识搜索*/
.knowledge-search{height: 131px; background: url(../images/search-bg.jpg) no-repeat center top; overflow: hidden; text-align: center;}
.knowledge-search-cont{ margin: 44px 0; overflow: hidden; display: inline-block;  *display: inline; *zoom: 1;}
.ks-search{ width: 680px; height: 36px; overflow: hidden; border: 3px solid #03a3ff; position: relative;background-color: #fff;  padding-right: 66px; padding-left: 4px;}
.ks-search .search-txt{background: none; font-size: 14px; width: 100%; padding: 11px 0px; line-height: 1.2; border: none;}
.ks-search .search-btn{position: absolute; right: 0; top: 0; width: 62px; height: 100%; font-size: 16px; background: #03a3ff; border: none; color: #fff; cursor: pointer;}
.knowledge-search .btn-box{margin-left: 22px;}
.knowledge-search .btn{margin-left: 8px; font-size: 16px; background-color: #fff; border: 1px solid #b6deff; border-radius:4px; height: 40px; line-height: 40px; padding: 0 15px; border-radius: 2px;}
.knowledge-search .btn span{ width: auto;}
.knowledge-main{overflow: hidden; padding:0 30px; background-color: #fff;}
.knowledge-history{ width: 664px; border-right: 1px solid #e6e6e6; padding-right: 30px; margin-right: -1px;}
.knowledge-main .hd-title{font-size: 20px; padding-bottom: 10px;}
.ks-new{position: relative; overflow: hidden; background-color: #f8f8f8; padding: 20px;}
.ks-new .pic-new{width: 43px; height: 47px; display: block; background: url(../images/pic-new.png) no-repeat center; position: absolute; right: 10px; top: 0px;}
.ks-new .new-img{width: 200px; height: 140px; float: left; margin-right: 20px;}
.ks-new .new-img img{ display: block; width: 100%; height: 100%;}
.ks-new .new-tiite{padding-bottom: 10px; margin-right: 40px;}
.ks-new .new-tiite a{font-size: 16px; color: #333; font-weight: bold;}
.ks-new .new-tiite a:hover{text-decoration: underline;}
.ks-new .new-nbTime{color: #999; padding-bottom: 5px;}
.ks-new .new-nbTime span{padding-right: 10px;}
.ks-new .new-txt{color: #666666; line-height: 20px; height: 80px; overflow: hidden;}
.ks-new .new-txt .xq-more{color: #03a3ff;}
.ks-new .new-txt .xq-more:hover{text-decoration: underline;}

.knowledge-list {padding: 15px 0;}
.knowledge-list li{ line-height: 30px; padding-left: 15px; background: url(../images/pic-dian.png) no-repeat 5px center;}
.knowledge-list li .cxl{ padding-left: 10px; color: #999;}
.knowledge-list li .hot{position: relative;top: 0.63em; margin-left: 0.2em;}
.knowledge-list li .left{max-width: 100%;}
.knowledge-list li a{font-size: 14px;}
.knowledge-list li a:hover{text-decoration: underline;}
.knowledge-list li:hover{ background-color: #f8f8f8;}
.knowledge-list li:hover a,.knowledge-list li:hover .cxl{color: #03a3ff;}
.knowledge-hot{width: 420px; border-left: 1px solid #e6e6e6; padding-left: 25px;  margin-left: -1px;}
.knowledge-hot .knowledge-list{border-top: 1px solid #eee;}

/*知识搜索-高级搜索*/
.knowledge-advancedSearch{background-color: #d9ecfb; padding: 35px 30px 25px;}
.knowledge-advancedSearch table{ margin: 0 auto; color: #333333;}
.knowledge-advancedSearch table td{ padding: 0 20px;}
.ka-item{padding: 8px 0; position: relative;}
.ka-item .ipt-txt{width: 340px;}
.ka-item .label{width: 160px; line-height: 30px; font-size: 14px;}

.labelcont{margin-left: 160px; height: 32px; overflow: hidden;}
.scroll-box .labelcont{ background-color: #e8f4fd; border-radius: 2px; height: 78px; overflow-y: auto; margin-top: -10px;}
.scroll-box .labelList{ margin:10px;}
.labelList{ overflow: hidden;  }
.labelList li{float: left; margin-right: 5px; }
.labelList li a{display: block; height: 24px; line-height: 24px; border-radius: 3px; border: 1px solid transparent; margin: 2px 0; white-space:nowrap;text-overflow:ellipsis;overflow:hidden;  padding: 0 18px 0 6px; color: #000; position: relative;}
.labelList li a i{font-style:normal; width: 18px; height: 100%; line-height: 22px; display: block; position: absolute; right: 0; top: 0; text-align: center; font-weight: bold; color: #d9ecfb; font-size: 18px;}
/*.labelList li a:hover{ border: 1px solid #ff9c00; background-color: #ff9c00; color: #fff;}
.labelList li a:hover i{background-color: #ff9c00; color: #fff; }*/
.labelList li a.active{ border: 1px solid #ff9c00;background-color: #ff9c00; color: #fff;}
.labelList li a.active i{background-color: #ff9c00; color: #fff; }
.scroll-box li a i{color: #e8f4fd;}
.ka-item .more-btn{position: absolute; right: -30px; top: 8px; width: 12px; height: 9px; display: block; cursor: pointer; background: url(../images/pic-jtb.png) no-repeat center; top: 18px;}
.scroll-box .more-btn{background: url(../images/pic-jtt.png) no-repeat center;}
.knowledge-advancedSearch-list{background-color: #fff;}
.ka-btn-box .btn{font-size: 14px; border-radius:4px; padding: 6px 28px; margin: 0 6px;width:auto;height:auto}
.ka-btn-box .btn.qd{background-color: #03a3ff; color: #fff;}
.ka-btn-box .btn.qx{background-color: #fff; color: #333;}

/*分页*/
.paging{overflow: hidden; line-height: 26px; text-align: right; padding: 20px;}
.paging li{float: left; }
.paging a{ font-size: 14px;  height: 26px; line-height: 26px; text-align: center; display: block; *display: inline-block; *zoom: 1; }
.paging a:hover,.paging a.active{ background-color: #d8f1ff;  color: #03a3ff;}
.paging .prev{background: url(../images/paging-Prev.png) no-repeat center;}
.paging .next{background: url(../images/paging-next.png) no-repeat center;}
.paging .prev:hover,.paging .next:hover{background-color:#FFF;}
.paging .paging-tj{color: #666;}
.paging .paging-page{margin: 0 6px; width: 32px; height: 28px; line-height: 28px; text-align: center; background-color: #f8f8f8; border: none;}


/*知识搜索-帮助*/
.search-help{background-color: #fff; padding: 30px 35px 0; }
.search-help ul{border-left: 1px solid #f0f0f0; padding-left: 35px; margin-top: 35px; padding-bottom: 25px;}
.search-help li{ padding-bottom: 20px;}
.search-help-title span{font-size: 24px; color: #03a2ff;}
.search-help-title a{ line-height: 50px;}
.search-help-list{ width: 680px; margin: 0 auto;}
.search-help-list h4{font-size: 16px; color: #333; position: relative;}
.search-help-list h4 span{ min-width: 50px; display: inline-block; *display: inline; *zoom: 1; color: #ff9c00; padding-right: 15px;}
.search-help-list h4 em{ position: absolute; left: -50px; top: 0; display: block; width: 28px; height: 28px; line-height: 28px; border-radius: 50%; background-color: #e4e4e4; text-align: center; color: #fff;}
.search-help-list p{ color: #999; padding: 6px 0;}

/*知识门户*/
.kp-aside{width: 210px;}
.kp-aside-bg{position: absolute; left: 0; top: 0; width: 210px; height: 100%; background-color: #ececef;}
.kp-cont{width: 990px; border-left: 1px solid #e6e6e6; margin-left: -1px;}
.kp-cont .i-actList-cont .act-box{border-top: none; border-bottom: 1px solid #e6e6e6;}
.screen{ margin-left:30px; margin-right: 30px; background-color: #e9e9e9; padding: 7px;  overflow: hidden;}
.screen li{-moz-user-select:none;-webkit-user-select:none;-ms-user-select:none;-khtml-user-select:none;user-select:none; margin-left: -1px; height: 32px; line-height: 32px; border: 1px solid #dfdfdf; text-align: center; float: left; background-color: #f8f8f8; cursor: pointer; font-size: 14px; color: #666; padding:  0 20px;}
.screen li span{ vertical-align: middle; display: inline-block; *display: inline; *zoom: 1;}
.screen li .screen-ico{ margin-right: -4px; width: 9px; height: 100%; vertical-align: middle; display: inline-block; *display: inline; *zoom: 1;}
.screen li .screen-ico.top{background: url(../images/screen-jtt.png) no-repeat center;}
.screen li .screen-ico.bottom{background: url(../images/screen-jtb.png) no-repeat center;}
.screen-tj{color: #666; line-height: 32px; margin-right: 20px;}
.screen-onlyShow{margin: 0 30px; background-color: #f8f8f8; padding:0 15px;}

.searchSettings{background-color: #fff; padding: 30px; min-height: 300px;}
.searchSettings table{margin: 30px auto; font-size: 14px; color: #666666; position: relative; left: -60px;}
.searchSettings td{ padding: 5px;}
.searchSettings td .btn{border-radius: 4px; margin-right: 15px; padding-left:25px; padding-right: 25px; margin-top: 20px;}
.searchSettings td .btn.qd{background-color: #03a3ff; color: #fff;}
.searchSettings td .btn.qx{background-color: #fcfcfc; color: #333; border: 1px solid #e3e3e3;}
.searchSettings td .my-select{width: 350px;}

.kp-select{height: 38px; position: relative; background: url(../images/kp-select-bg.png) no-repeat center top;padding: 4px;}
.kp-select .my-select{width: 100%; }
.kp-select .my-select .my-value label{background-color: transparent; color: #fff;}
.kp-select .my-select .my-value em{background: url(../images/my-select-arr2.png) no-repeat center;}

.kp-aside-nav{overflow: hidden; position: relative; z-index: 3;}
.kp-aside-nav .nav2 a:hover{color: #75bbeb; text-decoration: underline;}
.kp-aside-nav .nav-tiem{ height: 64px; line-height: 64px; padding: 0 20px; position: relative; background-color: #ececef; display: block;}
.kp-aside-nav .nav-tiem .nav-ico{width: 38px; height: 38px; margin-right: 5px;}
.kp-aside-nav .nav-tiem .i1{display: inline;}
.kp-aside-nav .nav-tiem .i2{display: none;}
.kp-aside-nav .nav-tiem .nav-name{font-size: 16px; color: #666; }
.kp-aside-nav .nav-tiem .nav-jt{ width: 7px; height: 100%; background: url(../images/kp-anjt1.png) no-repeat center; position: absolute; right: 15px; top: 0;}
.kp-aside-nav .nav-tiem.on{background-color: #fff; border-bottom: 1px solid #e6e6e6;}
.kp-aside-nav .nav-tiem.on .i1{ display: none;}
.kp-aside-nav .nav-tiem.on .i2{ display: inline;}
.kp-aside-nav .nav-tiem.on .nav-name{color: #75bbeb;}
.kp-aside-nav .nav-tiem .nav-jt.on{background: url(../images/kp-anjt1-on.png) no-repeat center; width: 12px; right: 12px;}
.kp-aside-nav .nav2{padding: 5px 0; background-color: #f8f8f8;}
.kp-aside-nav .nav2 li{padding: 0 10px;}
.kp-aside-nav .nav-tiem2{padding-left: 20px; height: 26px; line-height: 26px; display: block; position: relative; font-size: 14px; color: #666666;}
.kp-aside-nav .nav-tiem2 .nav-jt{ width: 13px; height: 100%; display: block; background: url(../images/kp-anjt2.png) no-repeat center; position: absolute; left: 0; top: 0;}
.kp-aside-nav .nav-tiem2 .nav-jt.on{background: url(../images/kp-anjt2-on.png) no-repeat center;}
.kp-aside-nav .nav-tiem3{padding-left: 20px; height: 30px; line-height: 30px; display: block; position: relative; font-size: 14px; color: #666666;}
.kp-aside-nav .nav-tiem3 .nav-jt{ width: 13px; height: 100%; display: block; background: url(../images/kp-anjt3.png) no-repeat center; position: absolute; left: 0; top: 0;}
.kp-aside-nav .nav2,.kp-aside-nav .nav3{ display: none;}

/*知识搜索-搜索结果*/
.gjss-cont{width: 790px; border-right:1px solid #e6e6e6;}
.sr-cont{width: 820px;}
.sr-cont .hd-title,.gjss-cont .hd-title{font-size: 20px;}
.sr-cont .i-actList-cont .act-box{border-bottom: 1px solid #e6e6e6; border-top: none;}
.plr30{padding-left:30px; padding-right: 30px;}
.yxtj-box{margin-bottom: -10px;}
.yxtj-box .yxz-lable{line-height: 26px;}
.yxz-lList{ overflow: hidden;}
.yxz-lList li{float: left; margin-right: 8px;}
.yxz-lList li a{display: block; height: 24px; line-height: 24px;  border: 1px solid #ff9c00; margin: 2px 0; white-space:nowrap;text-overflow:ellipsis;overflow:hidden;  padding: 0 26px 0 6px; color: #ff9c00; position: relative;}
.yxz-lList li a i{font-style:normal; width: 22px; height: 100%; line-height: 22px; display: block; position: absolute; right: 0; top: 0; text-align: center; font-weight: bold; color: #ff9c00; font-size: 18px;}
.sr-item{padding: 8px 15px; margin: 10px 30px 0; background-color: #f8f8f8;}
.sr-item .label{width: auto; font-size: 12px;}
.sr-item .labelcont{margin-left: 58px; margin-right: 23px;}
.sr-item .more-btn{right: 15px;}
.sr-item.scroll-box .labelcont{background-color: #fff; border: 1px solid #e4e4e4; height: 110px; margin-top: 0;}
.sr-item.scroll-box .labelList{margin: 0;}
.sr-item .labelList li a{padding: 0 6px 0 6px;}
.sr-item .labelList li a.active,.sr-item .labelList li a:hover{color: #ff9c00; background-color: transparent; border-color: transparent;}
.zsk-select{height: 38px; line-height: 38px; color: #666;}
.zsk-search{ height: 24px; border: 1px solid #e3e3e3; position: relative; padding-right: 26px; background-color: #fff; padding-left: 4px; margin: 6px;}
.zsk-search .zsk-search-txt{ color: #cccccc; font-size: 12px; border: none; background: none; float: left; margin-top: 3px;}
.zsk-search .zsk-search-btn{width: 24px; height: 100%; background: url(../images/ico-search2.png) no-repeat center transparent; border: none; position: absolute; right: 0; top: 0; cursor: pointer;}

.search-history-aside{width: 350px; padding-right: 30px; padding-left: 28px; border-left:1px solid #e6e6e6; position: relative; left: -1px;}
.search-history-aside .ks-new{padding: 0; background-color: transparent;}
.search-history-aside .hd-title{font-size: 20px; padding-bottom: 10px;}
.search-history-aside .new-img{ float: none; width: 100%;}
.search-history-aside .ks-new .new-tiite{margin: 0; padding: 5px 0;}
.search-history-aside .knowledge-list{border-top: 1px solid #eeeeee; padding-top: 8px; }

/*高级搜索弹窗*/
.ka-pop{background-color: #d9ecfb; position: fixed;left: 0; top: -100%; width: 100%;}

/*次页左边菜单公共部分*/
.kp-plateName{ height: 193px; overflow: hidden; position: relative; z-index: 3;}
.kp-plateName img{ display: block; margin: 25px auto 0;border-radius: 50%;}
.kp-plateName span{font-size: 18px; color: #fff; line-height: 30px;}
.kp-plateName.zsmh-bg{  background: url(../images/zsmh-potobg.png) no-repeat center top;}
.kp-plateName.zssq-bg{  background: url(../images/zssq-rmtj-bg.png) no-repeat center top;}
.kp-plateName.zstj-bg{  background: url(../images/zstj-bg.jpg) no-repeat center top;}

/*知识社区菜单*/
.kp-aside-nav .zssq-nav a.on .nav-name { color: #70beb3;}
.kp-aside-nav .zssq-nav a.on .nav-jt{background: url(../images/kp-anjtgreen.png) no-repeat center;}

.kp-aside-nav .zstj-nav a.on .nav-name { color: #fabb35;}
.kp-aside-nav .zstj-nav a.on .nav-jt{background: url(../images/kp-anjtyewlow.png) no-repeat center;}



/*知识社区热门推荐*/
.zssq-pr-cont{padding: 30px;}
.zssq-pr-search{ overflow: hidden; }
.zssq-pr-search-cont{ overflow: hidden; display: inline-block;  *display: inline; *zoom: 1;}
.pr-search{ width: 496px; height: 35px; overflow: hidden; border: 1px solid #dfdfdf; position: relative;background-color: #fff;  padding-right: 80px; padding-left: 4px;}
.pr-search .search-txt{background: none; font-size: 14px; width: 100%; padding: 9px 0px; line-height: 1.2; border: none;}
.pr-search .search-btn{position: absolute; right: 0; top: 0; width: 78px; height: 100%; font-size: 14px; background: #fff; border: none; border-left: 1px solid #dfdfdf; color: #03a3ff; cursor: pointer;}
.pr-search .search-fdj{position: absolute; left: 6px; top: 8px;}
.pr-search:focus .search-fdj{display: none;}
.zssq-pr-search .btn{margin-left: 8px; font-size: 14px; background-color: #fcfcfc; border: 1px solid #e3e3e3; border-radius:4px; height: 35px; line-height: 35px; padding: 0 15px; border-radius: 2px;}
.zssq-pr-search .btn span{ width: auto;}


.zssq-pr-list {padding: 15px 0;}
.zssq-pr-list li{ line-height: 50px; padding-left: 15px;  border-bottom: 1px solid #f0f0f0;}
.zssq-pr-list li.bg{background-color: #f7fcff;}
.zssq-pr-list li .cxl{ padding-left: 10px; color: #999;font-size: 14px;}
.zssq-pr-list li .cxl ins{color: #dfdfdf; padding: 0 10px;}
.zssq-pr-list li .cxl a{color: #999;}
.zssq-pr-list li .hot{position: relative;top: 0.63em; margin-left: 0.2em;}
.zssq-pr-list li .left{max-width: 100%; min-width: 180px;}
.zssq-pr-list li .left .zssq-pr-scz{color: #ccc; padding-left: 15px;}
.zssq-pr-list li a{font-size: 14px;}
.zssq-pr-list li a:hover{text-decoration: underline;}
.zssq-pr-list li a.person_center_msg:hover{color: #03a3ff;}
.zssq-pr-list li:hover a.ellipsis,.knowledge-list li:hover .cxl{color: #03a3ff;}
.zssq-pr-list-answer .comment-cont{margin-top: 0;}

/*知识社区-提问*/
.zssq-pqt{padding:30px 50px;}
.zssq-pqt .hd{font-size: 16px; color: #333; padding-bottom: 8px;}
.zssq-pqt .textarea{height: 268px; border: 3px solid #35b5ff; position: relative; padding: 4px;}
.zssq-pqt .textarea textarea{width: 100%; height: 100%; overflow-y: auto; border: none; font-size: 14px; color: #333; }
.zssq-pqt .nb-w{ height: 30px; line-height: 30px; text-align: right; color: #ccc; font-size: 14px;}
.zssq-pqt .btn-box .btn{margin-left: 4px; font-size: 14px; cursor: pointer; height: 32px; line-height: 32px; padding:  0 25px; border-radius: 4px; display: inline-block; *display: inline; *zoom: 1;}
.zssq-pqt .btn-box .btn.qr{background-color: #03a3ff; color: #fff; border: 1px solid transparent;}
.zssq-pqt .btn-box .btn.qx{background-color: #fcfcfc; color: #666; border: 1px solid #e5e5e5;}


/*知识统计-分类统计*/
.zstj-ks-cont{padding: 30px;}
.ks-section{overflow: hidden; padding-bottom: 35px;}
.ks-section .hd{padding-bottom: 10px; overflow: hidden;}
.ks-section .ks-hd-title{font-size: 20px; color: #333;}
.ks-section .ks-hd-tabs{font-size: 14px; color: #999; overflow: hidden;}
.ks-section .ks-hd-tabs a{ color: #999;line-height: 1.1; margin-left: -1px; border-left: 1px solid #e9e9e9; padding: 0 10px; display: inline-block; *display: inline; *zoom: 1;}
.ks-section .ks-hd-tabs a:hover,.ks-section .ks-hd-tabs a.on{color: #44b1ff;}

/*登录*/
.login-main{position: relative; z-index: 2; padding-bottom: 50px;}
.login-bg{width: 100%; height: 100%; position: fixed; left: 0; top: 0; background-color: #393e49;}
.login-banner{height: 282px; background: url(../images/login-banner.jpg) no-repeat center;}
.login-banner{position: relative; overflow: hidden;}
.login-banner .banner-center{position: relative; left: 50%; width: 100%; width: 2000px;}
.login-banner img{width:10px; position: relative; left: -50%; display: block; max-width: initial; }
.login-from{margin-top: 40px; display: inline-block; *display: inline; *zoom: 1; *width: 380px;}
.login-fItem{position: relative;width: 260px; height: 42px; padding: 0 40px 0 80px; background-color: #888b92; margin-bottom: 20px;}
.login-fItem .lable{font-size: 16px; position: absolute; left: 0; top: 0; width: 80px; line-height: 42px; text-align: center; color: #e2e2e2;}
.login-fItem .ipt-txt{background-color: transparent;font-size: 16px; padding: 11px 0px; width: 100%;}
.login-fItem .ico{ width: 40px; height: 100%; position: absolute; right: 0; top: 0; background-repeat: no-repeat; background-position: center;}
.login-fItem .ico.user{background-image: url(../images/icon-user.png);}
.login-fItem .ico.psa{background-image: url(../images/icon-psa.png);}
.yzm-box .login-fItem{padding-right: 4px; width: 186px; margin-bottom: 10px;}
.yzm-box .yzm-img{width: 100px; height: 42px;}
.login-zt .my-checkbox label{color: #afb0b3;}
.login-zt a{line-height: 38px; color: #afb0b3;}
.login-btn {margin-top: 20px;}
.login-btn .btn{height: 50px; line-height: 50px; text-align: center; background-color: #03a3ff;width: 380px; padding: 0; font-size: 18px; color: #fff; border-radius: 4px;}

.login-fItem.focus{background-color: #fff;}
.login-fItem.focus .lable{color: #aea4a4;}
.login-bq{color: #a9abae; position: fixed; left: 0; bottom: 20px; width: 100%; text-align: center; font-size: 14px;}


/*个人中心*/
.per-hd{height: 348px; background: url(../images/perCenter-hdbg.jpg) no-repeat center top;}
.per-hd-left{width: 772px; height: 100%; border-right:1px solid #30497a;}
.per-hd .user-cont{overflow: hidden; color: #fff; padding: 46px 0; padding-right: 30px;}
.per-hd .user-info{position: relative; padding-left: 192px; min-height: 162px; width: 308px;}
.per-hd .user-poto{position: absolute; left: 0; top: 0; width: 150px; height: 150px; display: block; border-radius: 50%; border: 6px solid #858299;}
.per-hd .pic-male{margin-left: 12px; width: 19px; height: 20px; background: url(../images/pic-male.png) no-repeat center; display: inline-block; *display: inline; *zoom: 1;}
.per-hd .user-name{font-size: 30px; font-weight: normal;}
.per-hd .user-jbxx{font-size: 14px;}
.per-hd .user-btn .btn{border: 1px solid #fff; width:auto;height:auto;color: #fff; background-color: #656c8d; border-radius: 2px; font-size: 14px; margin-right: 5px;}
.per-hd .user-integral{margin: 75px 0; font-size: 16px; font-family: "\9ED1\4F53"; vertical-align: bottom; position: relative; padding-left: 36px; background: url(../images/pic-jf.png) no-repeat left center; height: 30px; line-height: 20px;}
.per-hd .user-integral img{vertical-align: bottom; display: inline;}
.per-hd .user-integral .fraction{font-size: 42px; position: relative; top: 2px; color: #ffc103; font-weight: bold;}

.per-hd-right{width: 426px;height: 100%; border-left:1px solid #566e9d;}
.per-hd .notice-cont{padding: 40px 30px;}
.per-hd .nc-hd{font-size: 16px; color: #fff; overflow: hidden; line-height: 16px; padding: 8px 0; position: relative; left: -15px;}
.per-hd .nc-hd em{float: left; border-left: 1px solid #a1a0b2; padding: 0 20px; margin-left: -1px; cursor: pointer; position: relative;}
.per-hd .nc-hd em:hover,.per-hd .nc-hd em.active{color: #ffc103;}
.per-hd .nc-hd em:hover{border-bottom:1px solid #d4d6de ;}
.per-hd .nc-hd .pic-reddian{position: absolute; right: 12px; top: -7px; width: 12px; height: 12px; display: block; background: url(../images/pic-reddian.png) no-repeat center;}
.nc-list {padding: 10px 0;}
.nc-list li{ line-height: 26px; padding: 5px 0; padding-left: 15px; background: url(../images/pic-dian.png) no-repeat 5px center;}
.nc-list li a{font-size: 14px; color: #d4d6de; position: relative; overflow: hidden;border-bottom:1px solid transparent; line-height: 1.1;}
/*.nc-list li a:hover{border-bottom:1px solid #d4d6de ;text-decoration: none}*/
.nc-list li a em{position: absolute; right: 0; top: 0;}
.nc-list li a span{ padding-right: 100px;}

.per-data-main{position: relative; z-index: 5; margin-top: -81px;}
.per-data-list{overflow: hidden; }
.per-data-list .hd{height: 80px;}
.per-data-list .hd ul{overflow: hidden; width: 1250px; margin-left: -2px;}
.per-data-list .hd li{ background-color: #fff; opacity: 0.8; filter:Alpha(opacity=80); position: relative; float: left; height: 80px;width: 241px; border: 1px solid #cccccc; border-top: none;border-right: none;  margin-left: -1px;}
.per-data-list .hd li a{border-top: 5px solid transparent; display: block; width: 100%; height: 100%; text-align: center; line-height: 70px;  font-size: 20px; color: #333;}
.per-data-list .hd li.active{border-bottom-color: transparent; z-index: 2; border-left:none; opacity: 1; filter:Alpha(opacity=100);}
.per-data-list .hd li.active a{background-color: #fff; border-top-color: #03a3ff; color: #03a3ff;}

.per-actList-cont{padding: 0 30px; overflow: hidden;background-color: #fff;}
.per-actList-cont .act-box{ padding: 25px 80px 25px 0; border-bottom: 1px solid #e6e6e6;  position: relative;}
.per-actList-cont .act-title a{font-size: 16px; color: #333333; font-weight: bold;}
.per-actList-cont .act-title a:hover{text-decoration: underline;}
.per-actList-cont .act-aside{color: #a9a9a9; padding: 10px 0 0; overflow: hidden;}
.per-actList-cont .act-aside span{ padding-right: 24px; float: left; width: 128px;}
.per-actList-cont .act-txt{color: #666; margin: 8px 0; height: 38px; overflow: hidden; font-size: 14px; color: #999;}
.per-actList-cont .act-btn{position: absolute; right: 0; top: 42px; display: block;text-align: center; width: 35px; padding-top: 24px;background: url(../images/pic-look.png) no-repeat center top; font-size: 14px;}
.per-actList-cont .see{background: url(../images/pic-look.png) no-repeat center top;}
.per-actList-cont .del{background: url(../images/pic-yc.png) no-repeat 3px top;}
.per-cm-cont{background-color: #fff; overflow: hidden; padding: 30px; min-height: 400px;}
.per-cm-cont .hd{overflow: hidden;}
.per-cm-cont .hd-title{font-size: 20px; color: #333;}
.per-cm-cont .hd-lmul{font-size: 14px; color: #999; line-height: 30px;}
.per-cm-cont .hd-lmul ul{color: #ffc103; display: inline-block; *display: inline; *zoom: 1;}
.per-cm-cont .hd-lmul ul li{float: left; margin-right: 10px;}
.per-cm-cont .addll-btn{background-color: #03a3ff; color: #fff; font-size: 14px; border-radius: 4px; line-height: 25px; margin-top: 12px;}

.per-cm-list{overflow: hidden;}
.per-cm-list li{background-color: #f8f8f8; float: left; width: 260px; margin: 0 8px;}
.per-cm-list li .box{ padding: 20px; border: 1px solid #e3e3e3; position: relative;}
.per-cm-list li .title{font-size: 16px; font-weight: bold;}
.per-cm-list li .box dl{padding: 5px 0;}
.per-cm-list li .box dd{color: #999; font-size: 14px; line-height: 20px;display: block; white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}
.per-cm-list li .box .pic-ytz{position: absolute; right: 10px; top: 10px;}
.per-cm-list li .operation{border: 1px solid #e3e3e3; margin-top: -1px; line-height: 40px; overflow: hidden;}
.per-cm-list li .operation a{display: block; float: left; border-left: 1px solid #e3e3e3; margin-left:-1px ; font-size: 14px; padding: 0;}
.per-cm-list li .operation .add-i{width: 110px;}
.per-cm-list li .operation .add-i.disabled{color: #ccc; cursor: default;}
.per-cm-list li .operation .update,.per-cm-list li .operation .delete{width: 72px;}

.picScroll-left{margin: 10px 0; position: relative;}
.picScroll-left .hd{position: absolute; left: 0; top: 97px; width: 100%;}
.picScroll-left .hd .prev,.picScroll-left .hd .next{ display:block;  width:12px; height:20px;  overflow:hidden; cursor:pointer;}
.picScroll-left .hd .prev{background: url(../images/pic-prev.png) no-repeat left top;}
.picScroll-left .hd .prev:hover{background: url(../images/pic-prev-on.png) no-repeat left top;}
.picScroll-left .hd .next{background: url(../images/pic-next.png) no-repeat left top;}
.picScroll-left .hd .next:hover{background: url(../images/pic-next-on.png) no-repeat left top;}
.picScroll-left .bd{width: 1104px; margin: 0 auto;}

/*新建栏目*/
.new-column-t{position: relative; left: -30px; border-left: 8px solid #03a3ff; height:27px; margin-bottom: 45px;}
.new-column-t span{display: block; font-size: 24px; line-height: 1em; padding: 0 10px;}


/*个人中心弹窗*/
.pop-hd{padding: 20px 0; border-bottom: 1px solid #e3e3e3;}
.pop-hd h3{font-size: 24px; line-height: 1.1; border-left: 8px solid #03a3ff; padding: 0 8px;}
.pop-bd{padding: 20px;}
.pop-hd2{height: 45px; line-height: 45px; background-color: #f8f8f8;padding:0 20px; border-bottom: 1px solid #e3e3e3;}
.pop-hd2 h3{font-size: 14px;}
.pop-hd2 span{font-size: 20px; color: #ff9c00;}
.grxx{font-size: 14px; color: #666;}
.grxx table{ margin: 0 20px; width: 430px; }
.grxx td{padding: 5px 0;}
.grxx .ipt-txt{border: 1px solid #e3e3e3; width: 320px;}
.grxx .poto-cont{width: 360px; overflow: hidden;}
.grxx .poto-cont .hd{padding-bottom: 15px; clear: both;}
.grxx .poto-max-img{ width: 185px; height: 218px; background: url(../images/poto-bg.png) no-repeat center #bfbfbf;}
.grxx .poto-cont .poto-min-img{margin-left: 56px;text-align: center;}
.grxx .poto-cont .poto-min-img h4{font-size: 12px; color: #999999; padding-bottom: 20px;}
.file-poto{position: relative;font-size: 12px; color: #999; line-height: 25px;}
.file-poto .fp-img{width: 78px; height: 26px; overflow: hidden; background: url(../images/pic-fpPotoBg.png) no-repeat center; position: relative; float: left; margin-right: 10px;}
.file-poto .fp-btn{ position: absolute; right: -5px; top: -5px; opacity: 0; filter:alpha(opacity=0); font-size: 100px;}
.pop-tz{height: 100%;  background-image: url(../images/pop-tz-bg.png), url(../images/pop-tz-bg.png); background-repeat: repeat-x; background-position: -25px top,-5px bottom;}
.pop-tz-cont{padding:80px 30px;}
.pop-tz-cont h3{font-size: 26px; text-align: center; padding-bottom: 20px;}
.pop-tz-txt{font-size: 16px; color: #666; height: 120px; overflow: hidden;}
.pop-tz-txt .know_tip:hover{color: #03a3ff;}
.pic-pop-close{width: 26px; height: 26px;cursor: pointer; display: block; position: absolute; right: 10px; top: 20px; background: url(../images/pic-pop-close.png) no-repeat center;}
.poph3-txt{font-size: 24px; color: #666; margin-top: 20px; height: 120px;}
.en-cont{padding: 30px 90px;}
.exa-cont .h3{font-size: 24px; text-align: center; color: #333;}
.exa-cont .h4{font-size: 18px; color: #03a3ff; text-align: center; padding: 30px 0;}
.exa-cont .en-list li{color: #666;font-size: 14px; padding: 5px 0;}
.enc-cont{padding:20px 30px;}
.ecn-srcll{max-height: 488px; overflow-y: auto;}
.enc-list dt{font-size: 20px; padding-bottom: 10px;}
.enc-list dd{font-size: 14px; color: #333; padding: 5px 0; overflow: hidden;}
.enc-list .my-radio{overflow: hidden; float:left; margin-top: 5px;}
.enc-list .my-radio label{display: block;height: auto; padding-bottom: 2px;  line-height: 1.45em; background-position:left top; margin-bottom: 5px;}
.enc-list .my-checkbox label{ display: block;height: auto; padding-bottom: 2px;  line-height: 1.45em; background-position:left 2px; margin-bottom: 5px;}
/*回答明细*/

.answer-cont .act-box{ padding: 25px 30px; border-top: 1px solid #e6e6e6; margin-top: -1px; position: relative;}
.answer-cont .act-title .title{font-size: 30px; color: #333333; font-weight: bold;}
.answer-cont .act-title .btn{font-size: 14px; padding: 0px 10px; height: 30px; line-height: 30px; margin-top: 10px;}
.answer-cont .act-aside{color: #a9a9a9; padding: 10px 0 0; overflow: hidden; font-size: 14px;}
.answer-cont .act-aside span{ padding-right: 24px; float: left; }
.answer-cont .recommend{background-color: #f6fcff; padding:0 20px; border-bottom: 4px solid #fff;}
.answer-cont .recommend .act-box{border: none !important;}
.answer-cont .recommend .act-box .pic-tj{position: absolute; right: 8px; top: 145px;}
.suer-answer{padding: 30px;}
.iconhd20{font-size: 20px;}
.iconhd20 h3{display: inline;}
.iconhd20 .icoimg{top: -0.08em;}
.sa-list li{padding: 20px 0; border-bottom: 1px solid #f0f0f0; overflow: hidden;}
.sa-list .sa-text{font-size: 14px; color: #666;}
.sa-list .sa-box{overflow: hidden;}
.sa-list .sa-box .poto{width: 40px; height: 40px; border-radius: 50%; overflow: hidden; display: inline-block; *display: inline; *zoom: 1;}
.sa-list .sa-box .ut span{color: #999; font-size: 14px; padding: 0 5px;}
.sa-list .sa-box .ut em{color: #999; font-size: 12px; padding: 0 5px;}
.sa-list .sa-box .icon-z{vertical-align: middle; position: relative; top: -0.2em; width: 20px; height: 19px; background: url(../images/ico-z.png) no-repeat left top; display: inline-block; *display: inline; *zoom: 1;}
.sa-list .sa-box .icon-n{vertical-align: middle; width: 20px; height: 19px; background: url(../images/ico-n.png) no-repeat left top; display: inline-block; *display: inline; *zoom: 1;}
.sa-list .sa-box .zn{padding: 9px 0;}
.sa-list .sa-box .zn span{color: #666;font-size: 14px; cursor: pointer;-moz-user-select:none;-webkit-user-select:none;-ms-user-select:none;-khtml-user-select:none;user-select:none;}
.sa-list .sa-box .zn em{color: #dfdfdf; position: relative; top: -0.2em; padding: 0 5px;}
.sa-list .sa-box .zn .gay{opacity: 0.5;}
.kbr-box{overflow: hidden;}
.kbr-box .hd{font-size: 20px;}
.kbr-box .bd{padding: 20px 35px; background-color: #f8f8f8;}
.kbr-box .bd .txt{font-size: 14px; color: #666;}
.kbr-box .bd .time{font-size: 12px; color: #999;}
.kbr-box .bd .time span{font-size: 14px;}



/*版本对比*/
.hv-cont{min-height: 690px;}
.hv-cont .hd{padding: 20px 0; }
.hv-cont .hd h3{font-size: 24px; line-height: 1.1; border-left: 8px solid #03a3ff; padding: 0 8px;}
.bddb-table{width: 1144px; margin:10px auto; font-size: 14px;}
.bddb-table thead{background-color: #ededed; height: 46px; line-height: 46px; text-align: center; color: #585858;}
.bddb-table td{border: 1px solid #dfdfdf;}
.bddb-table tbody td{padding: 0 20px; height: 46px; line-height: 46px;color: #666666; }
.bddb-table tbody td .my-checkbox label{height: 46px; line-height: 46px;float:left; margin: 0 16px; background-position: center; }
.td-title{width: 396px;}
.bddb-table tbody tr.on td{background-color: #f9f9f9; color: #03a3ff;}

/*知识明细*/
.ks-aside-cont{overflow: hidden;}
.ks-aside-cont li{height: 56px; line-height: 56px; padding: 0 20px; overflow: hidden;}
.ks-aside-cont li span{font-size: 14px; color: #333;}
.ks-aside-cont li em{font-size: 20px; color: #ff9c00;}
.ks-aside-cont li.bg1{background-color: #fbfbfb;}
.ks-aside-cont li.bg2{background-color: #f8fdff;}
.knowledge-detail{padding: 30px;}
.kd-cz{overflow: hidden;}
.kd-cz a{font-size: 14px;}
.kd-cz a span{vertical-align: middle;}
.kd-cz em{padding: 0 5px; color: #dfdfdf;}
.kd-cz .icon{width: 23px; height: 23px; vertical-align: middle; background-repeat: no-repeat; background-position: center bottom; display: inline-block;  *display: inline; *zoom: 1;}
.kd-cz .icon.bj{background-image: url(../images/pic-edit.png);}
.kd-cz .icon.dz{background-image: url(../images/pic-zsmx-z.png);}
.kd-cz .icon.dz_s{background-image: url(../images/pic-zsmx-z-on.png);}
.kd-cz .icon.pl{background-image: url(../images/pic-zsmx-l.png);}
.kd-cz .icon.sc{background-image: url(../images/pic-zsmx-x.png);}
.kd-cz .icon.sc_s{background-image: url(../images/pic-zsmx-x-on.png);}
.kd-cz a:hover{color: #03a3ff; text-decoration: underline;}
.kd-cz a:hover .icon.bj{background-image: url(../images/pic-edit-on.png); }
.kd-cz a:hover .icon.dz{background-image: url(../images/pic-zsmx-z-on.png);}
.kd-cz a:hover .icon.pl{background-image: url(../images/pic-zsmx-l-on.png);}
.kd-cz a:hover .icon.sc{background-image: url(../images/pic-zsmx-x-on.png);}

.kd-text-cont .title{font-size: 30px;}
.kd-text-cont .txt{font-size: 14px; color: #666; padding: 10px 0;width:auto;height:auto}
.kd-text-cont .txt p{padding: 4px 0; text-indent: 2em;}
.kd-table{overflow: hidden;}
.kd-table table{width: 100%; border-top:1px solid #ececec;}
.kd-table table td{line-height: 30px;border-bottom:1px solid #ececec; color: #666; }
.kd-table table .label{background-color: #f8f8f8;padding: 0 10px; width: 82px;}
.kd-table table .label.ellipsis{background-color: #fff; width: 248px;}
.kd-table table a{color: #03a3ff; margin: 0 5px;}
.kd-c-box {border-bottom: 1px solid #ececec;}
.kd-c-box .kd-hd-box{overflow: hidden;}
.kd-c-box .hd-title{font-size: 20px;}
.kd-c-box .btn{height: 30px; line-height: 30px; padding: 0 10px;}

.kdc-list li{padding: 15px 0; border-bottom: 1px solid #f0f0f0; overflow: hidden; position: relative; padding-left: 70px;}
.kdc-list .sa-text{font-size: 14px; color: #666; height: 40px; overflow: hidden;}
.kdc-list .sa-box{overflow: hidden;}
.kdc-list .sa-box .poto{width: 40px; height: 40px; border-radius: 50%; overflow: hidden; display: inline-block; *display: inline; *zoom: 1;}
.kdc-list .sa-box .ut span{color: #999; font-size: 14px; padding: 0 5px;}
.kdc-list .sa-box .ut em{color: #999; font-size: 12px; }
.kdc-list .sa-box .zn span{color: #999;font-size: 14px; cursor: pointer;-moz-user-select:none;-webkit-user-select:none;-ms-user-select:none;-khtml-user-select:none;user-select:none;}
.kdc-list .sa-box .zn em{color: #dfdfdf; position: relative; top: -0.2em; padding: 0 5px;}
.kdc-list .kdc-name{font-size: 14px; color: #03a3ff;}
.kdc-list .kdc-poto{width: 60px; height: 60px; display: block; position: absolute; left: 0; top: 18px;}
.kdc-list .comment-cont .comment-text-box{margin-left: 0;}
.kdc-list dl{overflow: hidden; margin-top: 6px;}
.kdc-list dd{border-top: 1px dashed #e6e6e6; margin-top: -1px; padding: 10px;}
.kdc-list .hf-text{color: #999;}
.kdc-list .hf-text span{color: #03a3ff;}
.kdc-list .hf-titme{color: #ccc; padding-top: 6px;}

/*百科知识视图*/
.bk-data-list{overflow: hidden; min-height: 693px;}
.bk-data-list .hd{height: 60px; background-color: #ededed; border-bottom: 1px solid #cccccc;}
.bk-data-list .hd ul{overflow: hidden; margin-left: -2px;}
.bk-data-list .hd li{ position: relative; float: left; height: 60px;width: 168px; border: 1px solid #cccccc; border-top: none; margin-left: -1px; }
.bk-data-list .hd li a{border-top: 1px solid transparent; display: block; width: 100%; height: 100%; text-align: center; line-height: 60px;  font-size: 18px; color: #333;}
.bk-data-list .hd li.active{border-bottom-color: transparent; z-index: 2; }
.bk-data-list .hd li.active a{background-color: #fff; border-top-color: transparent; color: #03a3ff;}
.bk-data-list .hd .fh-btn{margin: 22px;}
.bk-data-list .hd .fh-btn span{ padding: 0 5px;}
.bk-data-list .bd{padding: 45px 35px;}
.bk-data-list .bd .hd-title{font-size: 30px;}
.bk-data-list .bd .hd-title .btn{ margin-left: 30px;}
.bk-info-list li{padding-left: 40px; margin-bottom: 40px;}
.bk-info-list .dt-nb{margin-left: -40px; margin-right: 6px;font-style:  italic; font-family: "\9ED1\4F53"; font-size: 22px; width: 30px; height: 30px; text-indent: 8px; line-height: 30px; color: #fff; background: url(../images/dt-nb-bg.png) no-repeat center; display: inline-block; *display: inline; *zoom: 1;}
.bk-info-list .dt-nb2{position: relative;top: 8px; margin-left: -25px; margin-right: 6px;font-style:  italic; font-family: "\9ED1\4F53"; font-size: 22px; width: 14px; height: 14px; text-indent: 8px; line-height: 30px; color: #fff; background: url(../images/dt-nb-bg2.png) no-repeat center; display: inline-block; *display: inline; *zoom: 1;}
.bk-info-list .dt-title{font-size: 18px;}
.bk-info-list .dt{position: relative; clear: both; width: 100%; float: left;}
.bk-info-list .hr{height: 0;width: 100%; border-bottom: 1px solid #dedede; position: absolute; left: 0; top: 17px; }
.bk-info-list .kd-cz{margin-top: 4px;}
.bk-info-list .dt .sp{background-color: #fff; display: block; position: relative; z-index: 2;}
.bk-info-list .dd{font-size: 14px; color: #666; padding-top: 10px; clear: both;max-height: 130px;overflow: hidden;}
.bk-info-list .comment-cont .comment-text-box,.bk-info-list .comment-btn,.bk-info-list .comment-btn span{margin-left: 0;}
.bk-info-list li.bg .dd{height: 0; overflow: hidden;}
.bk-info-list li .comment-text-box,.bk-info-list li textarea{background-color: #fdfdfd;}
.bk-info-list .dn{color: #a9a9a9; padding: 8px 0 0; overflow: hidden;}
.bk-info-list .dn span{ padding-right: 24px; float: left; max-width: 150px;}
.bk-info-list .edit{color: #a9a9a9; padding: 8px 0 0; overflow: hidden;}
.bk-info-list .edit span{ padding-right: 24px; float: left; max-width: 150px;}
.pop-cftm{ background-color: #000; opacity:0.6; filter:alpha(opacity=60)\9;}
.pop-cftm-text{color: #fff; text-align: center; line-height: 85px; font-size: 16px;}

/*碎片视图 索引*/
.repertory{}
.repertory .repertory_tit{width:100px;font-weight: normal;text-align: right;margin-right: 10px;}
.repertory .repertory_list{
   width:1000px; font-size: 18px; border-left:1px solid #000;padding-left: 10px;
}
.repertory .repertory_list li{
    margin-bottom: 10px;
}
/*知识明细-查看原文*/
.original-cont{min-height: 693px; padding: 30px;}
.original-cont .o-title{font-size: 30px;}
.original-cont .o-download{overflow: hidden;}
.original-cont .o-download span{line-height: 30px; color: #999; font-size: 14px;}
.original-cont .o-main{padding: 10px 30px; border-top: 1px solid #ededed; border-bottom: 1px solid #ededed; background-color: #ededed; overflow: hidden; max-height: 520px; overflow-y: auto; box-shadow: inset  0px 0px 15px 5px #dddddd; }
.original-cont .o-page{padding: 80px; margin: 20px 0;  box-shadow: 0px 0px 15px 5px #dddddd; background: url(../images/o-page-top.jpg) no-repeat center top,url(../images/o-page-bottom.jpg) no-repeat center bottom;background-color: #fff; min-height: 200px;}
.original-cont .o-page .o-page-title{font-size: 28px; text-align: center;}
.original-cont .o-page .o-page-text{font-size: 14px; color: #666;}
.original-cont .o-page .o-page-text p{padding: 4px 0;}

/*知识明细-版本对比*/
.vc-main{overflow: hidden;}
.vc-main .vc-cont{width: 580px;}
.zsxq-table{width: 100%; margin:0 auto; font-size: 12px;}
.zsxq-table thead{background-color: #f8f8f8; height: 40px; line-height: 40px; text-align: center; color: #585858;}
.zsxq-table td{border: 1px solid #dfdfdf;}
.zsxq-table tbody td{padding: 0 10px; height: 40px; line-height: 40px;color: #666666; text-align: center;}
.zsxq-table tbody td .my-checkbox label{height: 40px; line-height: 40px;float:left; margin: 0 16px; background-position: center; }
.zsxq-table tbody td .ellipsis{width: 200px;}
.vc-main .vc-cont .vc-box{padding: 20px;border: 1px solid #dfdfdf; margin-top: -1px;}
.vc-box .vcb-hd{font-size: 16px; color: #333; }
.vc-box .vcb-title{position: relative; height: 40px; line-height: 40px; background-color: #f8f8f8; padding-right: 35px; font-size: 14px; color: #666;}
.vc-box .vcb-title .close-btn{position: absolute; right: 0; top: 0; width: 35px; height: 100%; background: url(../images/vc-close.png) no-repeat center;}
.vc-box .vcb-title .close-btn2{position: absolute; right: 0; top: 0; width: 35px; height: 100%; background: url(../images/vc-close2.png) no-repeat center;}
.vc-box .vcb-scroll{background-color: #f8f8f8; padding: 20px; max-height: 380px; overflow-y: auto; font-size: 14px; color: #666;}
.vc-cont.bgBlue{background-color: #f6fcff;}
.vc-cont.bgBlue .zsxq-table thead{background-color: #e0f1ff;}
.vc-cont.bgBlue .vc-box .vcb-title,.vc-cont.bgBlue .vc-box .vcb-scroll{background-color: #ebf6ff;}

/*后台审核流程管理*/
.assessor_con p.sele{color:#f2b808;}

