<div class="pd-10 selectImage">
    <h3 class="media_header">选择图片</h3>
        <!-- 图片 -->
    <div class="media_content">
        <ul class="media_list">
            <li ng-repeat="item in newKnow.imageList"  ng-class="newKnow.imgSelected.id==item.id ? 'active' : ''"
                ng-click="vm.addMultimedia(1018,item,closeThisDialog)">
                <div style="width:88px;height:81px;overflow:hidden;margin-bottom: 5px;">
                    <img title="{{item.name}}" style="width: 100%;height: 100%;cursor:pointer;" ng-src="/api/material/picture/get/img/id?pictureId={{item.id}}">
                </div>
                <p class="f14">{{item.name}}</p>
            </li>
        </ul>
    </div>
        <ul class="classic_head_ul" ng-if="newKnow.type==1018">
            <li ng-repeat="item in newKnow.imageList"  ng-class="newKnow.imgSelected.id==item.id ? 'active' : ''"
                ng-click="vm.addMultimedia(1018,item,closeThisDialog)">
                <div style="width:88px;height:81px;overflow:hidden;margin-bottom: 5px;">
                    <img title="{{item.name}}" style="width: 100%;height: 100%;cursor:pointer;" ng-src="/api/material/picture/get/img/id?pictureId={{item.id}}">
                </div>
                <p class="f14">{{item.name}}</p>
            </li>
        </ul>
        <!-- 图文 -->
        <ul class="classic_head_ul" ng-if="newKnow.type==1019">
            <!--{{vm.imgTextList}}-->
            <li ng-repeat="item in newKnow.imgTextList"  ng-class="newKnow.imgTextSelected.id == item.coverPicId ? 'active' : ''"
                ng-click="vm.addMultimedia(1019,item,closeThisDialog)">
                <p class="f14">{{item.title}}<span>{{item.modifyTime| date : 'yyyy-MM-dd ' }}</span></p>
                <div style="width:88px;height:81px;overflow:hidden;margin-bottom: 5px;">
                    <img style="width: 100%;height: 100%;cursor:pointer;" title="{{item.title}}" ng-src="/api/material/picture/get/img/id?pictureId={{item.coverPicId}}" />
                </div>
            </li>
        </ul>
        <pagination ng-if="(newKnow.imgPaginationConf.totalItems) && (newKnow.imgPaginationConf.totalItems>0) && (newKnow.type==1018)" conf="newKnow.imgPaginationConf"></pagination>
        <pagination ng-if="(newKnow.imgTextPaginationConf.totalItems) && (newKnow.imgTextPaginationConf.totalItems>0) && (newKnow.type==1019)" conf="newKnow.imgTextPaginationConf"></pagination>

    <!--</div>-->
</div>
<style>
    .selectImage .media_header{
        width:100%;
        line-height:20px;
        text-align: left;
        padding-left:6%;
        border-bottom: 1px solid #8f949a;
    }
    .selectImage .media_header{
        width:100%;
        line-height:20px;
        text-align: left;
        padding-left:6%;
        border-bottom: 1px solid #8f949a;
    }

</style>
