<div class="pd-10 selectImage">
    <h3 class="media_header">选择图文</h3>
    <div class="media_content">
        <ul class="media_list" ng-if="newKnow.type==1019">
            <li ng-repeat="item in newKnow.imgTextList" class="image_text_container" ng-class="newKnow.imgTextSelected.id == item.coverPicId ? 'active' : ''"
                ng-click="vm.addMultimedia(1019,item,closeThisDialog)">
                <p class="title">{{item.title}}</p>
                <p class="time"><small>{{item.modifyTime | date : "yyyy-MM-dd-HH-mm-ss"}}</small></p>
                <img title="{{item.title}}" ng-src="{{vm.imageApi+item.coverPicId}}" />
            </li>
        </ul>
    </div>
    <div class="media_empty" ng-if="!newKnow.imgTextList.length">
        <p class="empty_tip ">当前记录为空</p>
        <p class="empty_add"><a class="c_blue" target="_blank" ui-sref="MM.addTw" ng-click="closeThisDialog()">点击跳转到添加图文消息页面</a></p>
    </div>
    <pagination ng-if="(newKnow.imgTextPaginationConf.totalItems) && (newKnow.imgTextPaginationConf.totalItems>0) && (newKnow.type==1019)" conf="newKnow.imgTextPaginationConf"></pagination>
</div>
<style>
    .selectImage .media_header{
        width:100%;
        padding-bottom:10px;
        padding-left:6%;
        line-height:20px;
        text-align: left;
        border-bottom: 1px solid #8f949a;
    }
    .selectImage .media_list{
        overflow: hidden;
    }
    .selectImage .media_list .image_text_container{
        border:1px solid #8f949a;
        margin: 10px;;
        float: left;
        padding:4px;
    }
    .selectImage .image_text_container img{
        width:180px;
        height:150px;
        cursor:pointer;
    }
    .selectImage .image_text_container .describe{
        overflow: hidden;
    }
    .selectImage .image_text_container  .title{
        font-size:130%;
        line-height :30px;
        text-align: left;
    }
    .selectImage .image_text_container  .time{
        text-align: left;
    }
    .selectImage .media_empty{
        width:100%;
        margin:10px 0;
        padding:20px 0 50px 0;
        line-height:20px;
        text-align: center;
        border-bottom: 1px solid #8f949a;
        /*border-top: 1px solid #8f949a;*/
    }
    .selectImage .media_empty .empty_tip{
        margin:0 auto;
        display: inline-block;
        padding-left:20px;
        backgroud:url("assets/images/warning.png") no-repeat left;
        font-size:80%;
        color: #6f7377;
    }
    .selectImage .media_empty .empty_add{
        color: #3679b6;
    }
</style>

