<div class=" pt-20">
    <div class=" mb25 ">
        <div class="p10">
            <input type="text" class="input-text f22 pl-10 mb15" id="faqFrameTitle" style="width: 300px;height: 34px;" value="{{vm.frameTitle}}"/>
            <p id="faqFrameAddErrorObj" class="c-error pd-5"></p>
        </div>
        <div class=" p10 ">
            <div class="row cl mb-10">
                <label class="form-label col-xs-4 col-sm-2 text-r">启用：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <div ng-class="{1: 'open1 b_box', 0: 'close1 b_box'}[vm.frameEnableStatusId]" ng-click="vm.turnOn(vm.frameEnableStatusId,'frameEnableStatusId')" style="float:left;margin-right:10px;" class="b_box open1">
                        <div ng-class="{1: 'open2 s_box', 0: 'close2 s_box'}[vm.frameEnableStatusId]" class="s_box open2"></div>
                    </div>
                </div>
            </div>
            <div class="exten_problem" id="faq_extension">
                <div class="row cl mb-10">
                    <label class="form-label col-xs-4 col-sm-2 text-r">扩展问题：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <input type="text" class="L input-text mr-10 extended_query_txt" style="width:300px;"/>
                        <a href="javascript:;" class="create_a" onclick="add_ques();">
                            <img src="../../images/images/add_img.png" >
                        </a>
                            <p id="faqExtendQuestionErrorObj" style="display: inline-block;" class="c-error pd-5"></p>
                    </div>
                </div>
            </div>

            <div class="row cl mb-10 pt-10">
                <label class="form-label col-xs-4 col-sm-2 text-r"></label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="button" class="btn1 btn1_blue mr-20" ng-click="closeThisDialog(1)" value="保存"/>
                    <input type="button" class="btn1 btn_green" ng-click="closeThisDialog(0)" value="返回"/>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .ngdialog.ngdialog-theme-default .ngdialog-content {
        width:625px;
    }

</style>
<script>
    //添加扩展问
    function add_ques(){
        var oVal=$('.extended_query_txt').val();
        if(lengthCheck(oVal,0,255)==false){
            $("#faqExtendQuestionErrorObj").html("扩展问题不能为空或长度超过255");
            return;
        }
        var flag = true;
        $.each($(".exten_problem").find("input").filter(":gt(0)"),function(index,value){
            console.log($(value).val()==oVal);
            if($(value).val()==oVal){
                flag = false;
                return true;
            }
        });
        if(flag==false){
            $("#faqExtendQuestionErrorObj").html("不能与已有扩展问题重复");
            return;
        }
        $("#faqExtendQuestionErrorObj").html('');
        var str='<div class="row cl mb-10"><label class="form-label col-xs-4 col-sm-2 text-r">扩展问题：</label><div class="formControls col-xs-8 col-sm-9"><input type="text" class="L input-text mr-10" value="'+oVal+'" style="width:300px;" disabled><a href="javascript:;"  onclick="rem_ques(this);"><img src="../../images/images/delete_img.png"></a></div></div>';
        $('.exten_problem').append(str);
        $('.extended_query_txt').val('');
    }
    //删除扩展问
    function rem_ques(obj){
        $(obj).parent().parent().remove();
    }
</script>






