<div ui-view="header"></div>

<div class="main warp">


    <div class="libraryCnt">
        <div class="libraryFt">
            <div class="tac libSearch">
                <div class="search-box">
                    <input id="category-autocomplete" class="bd ipt-txt" type="text" style="width: 280px;">
                </div>
            </div>
            <div class="libraryPtoDiv">
                <!--<img src="../../images/images/bank_16.png"/>-->
                <!--<h3>银行领域</h3>-->
            </div>
            <div class="item-line mt-20" style="padding-left:60px;">
                <div class="value menu_1Div" id="menu_1Div">
                    <div class="ipt-txt-box">
                        <div class="aside-navs aside-navs-v show"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="libraryRth  aaa">


              <!--  <div class="tac mt10" style="margin: 0; text-align: left">
                    <a class="btn btn-blue" href="javascript:;" ng-click="vm.addFrame()">新增框架</a>
                    <a class="btn btn-green ml15" href="javascript:;">批量导入框架</a>
                    <a class="btn btn-green2 ml15" href="javascript:;">导出框架</a>
                </div>
                <div id="frame-library"></div>-->
            </div>

            <pagination ng-if="vm.paginationConf.totalItems && vm.paginationConf.totalItems>0" conf="vm.paginationConf"></pagination>
        </div>
    </div>
</div>
<style>

    .ngdialog{
        z-index: 5!important;
    }
    .libraryRth{min-width:720px;}
    .libraryRthCnt{position:relative; cursor: pointer;}
    .delete_a{width:15px;height:17px;display:block;right:5px;top:5px;z-index:100;background: url(../images/icon-ljt.png) no-repeat;}
    .delete_a:hover{background-image:url(../images/icon-ljt_on.png);}
</style>





