<div class="wrap pt-20">
    <div class="content_box mb25 ">
        <h3 class="f22 pl-10 mb15">{{vm.frameTitle}}</h3>
        <div class=" p10 ">
            <div class="enable-bar mb-10">
                <label class="form-label col-xs-4 col-sm-2 text-r">启用：</label>
                <div class="mb-10">
                    <div ng-class="{1: 'open1 b_box', 0: 'close1 b_box'}[vm.frameEnableStatusId]" ng-click="vm.turnOn(vm.frameEnableStatusId,'frameEnableStatusId')" style="float:left;margin-right:10px;" class="b_box open1">
                        <div ng-class="{1: 'open2 s_box', 0: 'close2 s_box'}[vm.frameEnableStatusId]" class="s_box open2"></div>
                    </div>
                </div>
            </div>
            <div class="framework mb-10">
                <div class="essential_factor_div bd">
                    <div class="mb-10">
                        <a href="javascript:;" class="add_line mr-10" ng-click="vm.addEle()"><img src="../images/ys_img1.png"></a>
                        <a href="javascript:;" class="delete_line mr-10" ng-click="vm.delEle()"><img src="../images/ys_img2.png"></a>
                    </div>
                    <div>
                        <table class="essential_factor_tab">
                            <tr>
                                <td>要素名称</td>
                                <td>要素类型</td>
                                <td>挖掘技术</td>
                                <td>反问</td>
                                <td>相关概念</td>
                            </tr>
                            <tr id="add-bar">
                                <td><input type="text" class="ele-name"/></td>
                                <td>
                                    <select class="ele-type bd">
                                        <option value=10014>字符串</option>
                                        <option value=10015>数字</option>
                                        <option value=10016>范围</option>
                                    </select>
                                </td>
                                <td>
                                    <select class="mining-type bd">
                                        <option value=10017>OEC</option>
                                        <option value=10018>GATE</option>
                                    </select>
                                </td>
                                <td><input type="text" class="ele-asked"/></td>
                                <td><input type="text" id="ele-concept-autocomplete" class="ele-concept" placeholder="从概念库中选择"/></td>
                            </tr>
                            <tbody id="add-item"></tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="framework mb-10 pt-10">
                <input type="button" class="btn1 btn1_blue mr-20" ng-click="closeThisDialog(1)" value="保存"/>
                <input type="button" class="btn1 btn_green mr-20" ng-click="closeThisDialog(0)" value="返回"/>
            </div>
        </div>
    </div>
</div>

<style>
    .ngdialog.ngdialog-theme-default .ngdialog-content {
        min-width: 1000px;
    }
    .content_box{
        width: 970px;
    }
    .enable-bar{
        position: relative;
        padding-left: 19px;
        min-height: 25px;
    }
</style>
<script></script>






