<div class="wrap pt-20">
    <div class="content_box mb25 ">
        <h3 class="f22 pl-10 mb15">{{vm.frameTitle}}</h3>
        <div class=" p10 ">
            <div class="row cl mb-10">
                <label class="form-label col-xs-4 col-sm-2 text-r">启用：</label>
                <div class="dib pt-5 mr-15">
                    <div ng-class="{1: 'open1 b_box', 0: 'close1 b_box'}[vm.frameEnableStatusId]" ng-click="vm.turnOn(vm.frameEnableStatusId,'frameEnableStatusId')" style="float:left;margin-right:10px;" class="b_box open1">
                        <div ng-class="{1: 'open2 s_box', 0: 'close2 s_box'}[vm.frameEnableStatusId]" class="s_box open2"></div>
                    </div>
                </div>
            </div>
            <div class="row cl mb-10">
                <label class="form-label col-xs-4 col-sm-2 text-r">标准问题：</label>
                <div class="formControls col-xs-8 col-sm-9" style="padding-right:0;">
                    <input id="standard_question" type="text" class="input-text mr-10" style="width:300px;"/>
                </div>
            </div>
            <div class="exten_problem" id="faq_extension">
                <div class="row cl mb-10">
                    <label class="form-label col-xs-4 col-sm-2 text-r">扩展问题：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <input type="text" class="L input-text mr-10 extended_query_txt" style="width:300px;"/>
                        <a href="javascript:;" class="create_a" onclick="add_ques();">
                            <img src="../../images/images/add_img.png" >
                        </a>
                    </div>
                </div>
            </div>

            <div class="row cl mb-10 pt-10">
                <label class="form-label col-xs-4 col-sm-2 text-r"></label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="button" class="btn1 btn1_blue mr-20" ng-click="closeThisDialog(1)" value="保存"/>
                    <input type="button" class="btn1 btn_green" ng-click="closeThisDialog(0)" value="返回"/>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .ngdialog.ngdialog-theme-default .ngdialog-content {
        min-width: 1000px;
    }
    .content_box{
        width: 970px;
        height: 400px;
        overflow: auto;
    }
</style>
<script>
    //添加扩展问
    function add_ques(){
        var oVal=$('.extended_query_txt').val();
        if(oVal!=null && oVal !=''){
            var str='<div class="row cl mb-10"><label class="form-label col-xs-4 col-sm-2 text-r">扩展问题：</label><div class="formControls col-xs-8 col-sm-9"><input type="text" class="L input-text mr-10" value="'+oVal+'" style="width:300px;"><a href="javascript:;" onclick="rem_ques(this);"><img src="../../images/images/delete_img.png"></a></div></div>';
            $('.exten_problem').append(str);
            $('.extended_query_txt').val('');
        }
    }
    //删除扩展问
    function rem_ques(obj){
        $(obj).parent().parent().remove();
    }
</script>






