<div class=" pt-20">
    <div class=" mb25 ">
        <div class="p10">
            <input type="text" class="input-text f22 pl-10 mb15" id="elementFrameTitle" style="width: 300px;height: 34px;" value="{{vm.frameTitle}}"/>
            <p id="elementFrameAddErrorObj" class="c-error pd-5"></p>
        </div>
        <div class=" p10 ">
            <div class="enable-bar mb-10 clearfix">
                <label class="L">启用：</label>
                <div class="mb-10 L">
                    <div ng-class="{1: 'open1 b_box', 0: 'close1 b_box'}[vm.frameEnableStatusId]" ng-click="vm.turnOn(vm.frameEnableStatusId,'frameEnableStatusId')" style="float:left;margin-right:10px;" class="b_box open1">
                        <div ng-class="{1: 'open2 s_box', 0: 'close2 s_box'}[vm.frameEnableStatusId]" class="s_box open2"></div>
                    </div>
                </div>
            </div>
            <div class=" mb-10">
                <div class="essential_factor_div bd">
                    <div class="mb-10">
                        <a href="javascript:;" class="add_line mr-10" ng-click="vm.addEle()"><img src="../images/ys_img1.png"></a>
                        <a href="javascript:;" class="delete_line mr-10" ng-click="vm.delEle()"><img src="../images/ys_img2.png"></a>
                        <p id="elementNumberErr" style="display: inline-block;" class="c-error pd-5"></p>
                    </div>
                    <div>
                        <table class="essential_factor_tab">
                            <tr>
                                <td><input type="checkbox" id="selectAll"></td>
                                <td>要素名称</td>
                                <td>要素类型</td>
                                <td>挖掘技术</td>
                                <td>反问</td>
                                <td>相关概念</td>
                            </tr>
                            <tr id="add-bar">
                                <td></td>
                                <td id="ele-name-tr"><input type="text" style="width: 200px;" class="input_text ele-name"/><label id="ele-name-error" style="left: 148px;" class="l-error"></label></td>
                                <td>
                                    <select class="ele-type bd">
                                        <option value=10014>字符串</option>
                                        <option value=10015>数字</option>
                                        <option value=10016>范围</option>
                                    </select>
                                </td>
                                <td>
                                    <select class="mining-type bd">
                                        <option value=10017>OEC</option>
                                        <option value=10018>GATE</option>
                                    </select>
                                </td>
                                <td id="ele-asked-tr"><input style="width: 200px;" type="text" class="input_text ele-asked"/><label id="ele-asked-error" style="left: 496px;" class="l-error"></label></td>
                                <td id="ele-concept-tr"><input style="width: 180px;" type="text" id="ele-concept-autocomplete" class="input_text ele-concept" placeholder="从概念库中选择"/><label style="left: 710px;" id="ele-concept-error" class="l-error"></label></td>
                            </tr>
                            <tbody id="add-item"></tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="tc mb-10 pt-10">
                <input type="button" class="btn1 btn1_blue mr-20" ng-click="closeThisDialog(1)" value="保存"/>
                <input type="button" class="btn1 btn_green mr-20" ng-click="closeThisDialog(0)" value="返回"/>
            </div>
        </div>
    </div>
</div>

<style>
    .ngdialog.ngdialog-theme-default .ngdialog-content {
        width: 840px;
    }
    .enable-bar{
        position: relative;
        padding-left: 19px;
        min-height: 25px;
    }
</style>
<script></script>






