<div ui-view="header"></div>
<div class="main warp">

    <div class="addContent pd30">
        <div class="r-cont-hd">
            <span>知识预览</span>
        </div>
        <ul class="Preview">
            <li>
                <p class="mb-10" ng-if="vm.listData.knowledgeBase.knowledgeTitle">
                    <span>知识标题：</span>
                    {{vm.listData.knowledgeBase.knowledgeTitle}}
                </p>
                <p class="mb-10" ng-if="vm.listData.knowledgeBase.knowledgeExpDateStart">
                    <span>知识有效期：</span>
                    {{vm.listData.knowledgeBase.knowledgeExpDateStart  |  date : 'yyyy-MM-dd hh:mm:ss'}} 至 {{vm.listData.knowledgeBase.knowledgeExpDateEnd |  date : 'yyyy-MM-dd hh:mm:ss'}}
                </p>
                <p class="mb-10" ng-if="vm.listData.knowledgeBase.classificationAndKnowledgeList" ng-repeat="item in vm.listData.knowledgeBase.classificationAndKnowledgeList"><span ng-class="$index==0?'':'mileVs'">BOT路径：</span> <b  style="font-weight:normal;">{{item.className.join("/")}}</b></p>
            </li>

            <!-- 要素列表 faq -->
            <li  ng-if="vm.knowledgeType!=101" class="borderN">
                <p ng-if="vm.knowledgeType!=100" ng-repeat="item in vm.listData.extensionQuestions track by $index">
                    <span ng-class="$index!=0?'milesVh':''">概念扩展：</span>
                    <span style="width: auto;background: #f1f1f1;" ng-repeat="val in item.extensionQuestionTagList track by $index">
                        {{val.tagName}}
                    </span>
                    <span></span>
                </p>
                <p ng-if="vm.knowledgeType==100" ng-repeat="item in vm.listData.extensionQuestions track by $index">
                    <span ng-class="$index!=0?'milesVh':''">扩展问题：</span>{{item.extensionQuestionTitle}}
                </p>
            </li>
            <li ng-class="vm.knowledgeType==101?'':'borderN'" style="border-bottom: 0">
                <div class="knowContent mb-10" ng-repeat="item in vm.listData.knowledgeContents track by $index">
                    <span ng-class="$index!=0?'mileVs':''">知识内容：</span>
                    <div class="PreviewRight">
                        <!-- faq 概念 列表-->
                        <p  ng-if="vm.knowledgeType!=103">内容 {{$index+1 | numberToWord}}</p>
                        <!-- fqq 概念-->
                        <div  ng-if="(vm.knowledgeType!=103) && (vm.knowledgeType!=102)">

                                <p ng-repeat="text in item.knowledgeContent.split('\n')">{{text}}</p>
                                <!--</textarea>-->

                            <span>&nbsp;</span>
                        </div>
                        <!-- 列表-->
                        <div ng-if="vm.knowledgeType==102">
                            <p>肯定回答:</p>
                            <p>{{item.knowledgeContent}}</p>
                            <p>否定回答:</p>
                            <p>{{item.knowledgeContentNegative}}</p>
                            <span>&nbsp;</span>
                        </div>
                        <!-- 要素 表格形式-->
                        <div ng-if="vm.knowledgeType==103" style="width:920px;max-height:500px;overflow:auto;">
                                <table class="essential_factor_tab" style="width:auto;">
                                    <tr ng-repeat="(indexRow,row) in item.knowledgeContent.listTable track by $index">
                                        <td ng-repeat="(indexColumn,item) in row track by $index" >
                                            <div style="min-width:80px;max-width:300px;height:40px;overflow: auto;text-align: center;">{{item}}</div>
                                        </td>
                                    </tr>
                                </table>
                            <span>&nbsp;</span>
                        </div>
                    </div>
                    <p class="mb-10">
                        <span>知识配置：</span>
                        <b style="font-weight:normal;margin-right:10px;" ng-show="item.knowledgeRelatedQuestionOn">显示相关问题</b>
                        <b style="font-weight:normal;margin-right:10px;" ng-show="item.knowledgeBeRelatedOn">在相关问题内提示</b>
                        <b style="font-weight:normal;margin-right:10px;" ng-show="item.knowledgeCommonOn">弹出评价小尾巴</b>
                    </p>
                    <!--<p ng-repeat=" (indexVal,val) in item.knowledgeRelevantContentList">-->
                        <!--<span ng-class="indexVal?'':'mileVs'">已添加知识：</span>-->
                        <!--<span style="width:100%;">{{indexVal}}{{val}}</span>-->
                    <!--</p>-->
                    <div class="pr" style="padding-left:150px;">
                        <span  class="pa dib" style="width:150px;left:0;top:0;color:#666;">已添加知识：</span>
                        <div>
                            <p class="mb-10" ng-repeat=" (indexVal,val) in item.knowledgeRelevantContentList">
                                <span style="width:100%;text-align:left;color:#333;">{{indexVal+1}}. {{val}}</span>
                            </p>
                        </div>
                    </div>
                </div>
            </li>
            <!-- 概念知识 位置-->
            <li class="borderN"  ng-if="vm.knowledgeType==101"  >
                <p ng-repeat="item in vm.listData.extensionQuestions track by $index">
                    <span ng-class="$index!=0?'milesVh':''">概念扩展：</span>
                    <span style="width: auto;background: #f1f1f1;" ng-repeat="val in item.extensionQuestionTagList track by $index">
                        {{val.tagName}}
                    </span>
                    <span></span>
                </p>
            </li>
            <div class="jqrsz-btn-box" style="padding-left: 150px;margin-top: 4px;">
                <a class="btn btn-blue mr10" ui-sref="custServScenaOverview.manage">返回</a>
                <a class="btn btn-gray" href="javascript:;" ng-click="vm.edit()" style="background: #2bcacc; color: #fff;">修改</a>
            </div>
        </ul>
    </div>
</div>
