<div ui-view="header"></div>

<div class="main warp">
    <div class="crumbs-nav bgwhite mt20">
        <span class="cn-lable">你曾经路过此地：</span>
        <span class="cn-value"><a class="cn-a" href="javascript:;">首页</a><i class="close">x</i></span>
        <span class="cn-value"><a class="cn-a" href="javascript:;">我的应用</a><i class="close">x</i></span>
        <!--<span class="cn-value"><a class="cn-a" href="javascript:;">评论列表</a><i class="close">x</i></span>
        <span class="cn-value active"><a class="cn-a" href="javascript:;">机器人设置</a><i class="close">x</i></span>-->
    </div>
    <div class="addContent pd30">
        <div class="r-cont-hd">
            <span>知识预览</span>
        </div>
        {{vm.listData}}
        <ul class="Preview">
            <li>
                <p ng-if="vm.listData.knowledgeBase.knowledgeTitle"><span>知识标题： </span>{{vm.listData.knowledgeBase.knowledgeTitle}}</p>
                <p ng-if="vm.listData.knowledgeBase.knowledgeExpDateStart"><span>知识有效期：</span>{{vm.listData.knowledgeBase.knowledgeExpDateStart  |  date : 'yyyy-MM-dd hh:mm:ss'}} 至 {{vm.listData.knowledgeBase.knowledgeExpDateEnd |  date : 'yyyy-MM-dd hh:mm:ss'}}</p>
                <p  ng-if="vm.listData.knowledgeBase.classificationAndKnowledgeList" ng-repeat="item in vm.listData.knowledgeBase.classificationAndKnowledgeList"><span ng-class="$index==0?'':'mileVs'">BOT路径：</span><span >{{item.classificationName}}</span></p>
            </li>

            <!-- -->
            <li  ng-if="vm.knowledgeType!=101" ng-class="vm.knowledgeType!=101?'':'borderN'"  ng-repeat="item in vm.listData.extensionQuestions">
                <p><span ng-class="$index!=0?'milesVh':''">概念扩展：</span>{{item.extensionQuestionTitle}}</p>
            </li>


            <li ng-class="vm.knowledgeType==101?'':'borderN'" style="border-bottom: 0">
                <div class="knowContent" ng-repeat="item in vm.listData.knowledgeContents track by $index">
                    <span ng-class="$index!=0?'mileVs':''">知识内容：</span>
                    <div class="PreviewRight">
                        <p  ng-if="vm.knowledgeType!=103">内容 {{$index+1 | numberToWord}}</p>
                        <div  ng-if="vm.knowledgeType!=103">
                            <p>{{item.knowledgeContent}}</p>
                            <!--<p><i>渠道：</i>  <span ng-repeat="val in item.channelId">{{val | channel:vm.channels}}</span></p>-->
                            <!--<p><i>维度：</i><span class="mr-10"  ng-repeat="val in item.dimensionId">{{val | dimension:vm.dimensions}}</span></p>-->
                            <!--<p><i>概念扩展：</i>信用，卡，规则，办理 &nbsp; 信用，挂失，处理，办法</p>-->
                            <span>&nbsp;</span>
                        </div>
                        <div ng-if="vm.knowledgeType==103">
                                <table class="essential_factor_tab">
                                    <tr ng-repeat="(indexRow,row) in item.knowledgeContent.listTable track by $index">
                                        <td ng-repeat="(indexColumn,item) in row track by $index">
                                            {{item}}
                                        </td>
                                    </tr>
                                </table>
                            <span>&nbsp;</span>
                        </div>
                    </div>
                </div>
                <p><span>知识配置：</span>
                    <span><span ng-if="item.knowledgeRelatedQuestionOn==0">不</span>显示相关问题</span>
                    <span><span ng-if="item.knowledgeBeRelatedOn==0">不</span>在相关问题内提示</span>
                    <span><span ng-if="item.knowledgeCommonOn==0">不</span>弹出评价小尾巴</span>
                </p>
                <p ng-repeat=" (indexVal,val) in item.knowledgeRelevantContentList"><span ng-class="indexVal?'':'mileVs'">已添加知识：</span>
                    <span>{{indexVal}}{{val}}</span>
                </p>
            </li>
        <!-- 概念知识 位置-->
            <li class="borderN"  ng-if="vm.knowledgeType==101" ng-repeat="item in vm.listData.extensionQuestions" >
                <p><span ng-class="$index!=0?'milesVh':''">概念扩展：</span>{{item.extensionQuestionTitle}}</p>
            </li>

            <div class="jqrsz-btn-box" style="padding-left: 150px;margin-top: 4px;">
                <a class="btn btn-blue mr10" ui-sref="custServScenaOverview.manage">返回</a>
                <a class="btn btn-gray" href="javascript:;" ng-click="vm.edit()" style="background: #2bcacc; color: #fff;">修改</a>
            </div>
        </ul>
    </div>
</div>
<style>


</style>