<div class="namePopupBG" id="delPopupBG">
    <div class="namePopup">
        <p>确认删除分类<span><i class="namePopupClose"></i></span></p>
        <div class="namePopupCnt">
            <p class="namePopupCntTxt">删除分类后，其分类及子分类下的问题也将一并删除</p>
            <div class="jqrsz-btn-box" style="padding-left: 178px;">
                <a class="btn btn-danger mr-40 namePopupClose" id="removeSure" href="javascript:;" ng-click="closeThisDialog(1)">删除</a>
                <a class="btn btn-gray namePopupClose" href="javascript:;" ng-click="closeThisDialog(0)">取消</a>
            </div>
        </div>
    </div>
</div>