<div class="pd-20">
    <div>
        <p class="tc bold mb-10">编辑类目</p>
        <div>
            <div class="mb-10">
                <span class="mr-10">类目类型: </span>
                <select id="categoryTypeId" ng-model="vm.categoryTypeId" class="sel bd">
                    <option value=163>默认</option>
                    <option value=161>流程</option>
                    <option value=160>划分</option>
                    <option value=162>属性</option>
                </select>
            </div>
            <div class="mb-20">
                <span class="mr-10">类目名称: </span>
                <input type="text" class="input_text" id="categoryName" ng-model="vm.categoryName"/>
                <p id="editErrorView" class="c-error pd-5 edit" style="margin-left: 76px;"></p>
            </div>
            <div class="tac mt10">
                <a class="btn btn-blue mr-10" href="javascript:;" ng-click="closeThisDialog(1)">确认修改</a>
                <a class="btn btn-gray" href="javascript:;" ng-click="closeThisDialog(0)">取消</a>
            </div>
        </div>
    </div>
</div>
<style>
    .ngdialog.ngdialog-theme-default .ngdialog-content{
        width:500px;
    }
    /* Scrollbar Styles */
    ::-webkit-scrollbar {
        background-color: transparent;
        width: 15px;
    }
    ::-webkit-scrollbar-thumb {
        background: #aaa;
        min-height: 20px;
    }
    ::-webkit-scrollbar-track {
        background: #ddd;
    }
</style>

<script></script>