<div class="pd-20">
    <div>
        <p>编辑类目</p>
        <div>
            <div>
                <span>类目类型: </span>
                <select id="categoryTypeId" ng-model="vm.categoryTypeId">
                    <option value=10009>默认</option>
                    <option value=10008>流程</option>
                    <option value=10007>划分</option>
                    <option value=10006>属性</option>
                </select>
            </div>
            <div>
                <span>类目属性: </span>
                <input type="text" id="categoryAttributeName" ng-model="vm.categoryAttributeName"/>
            </div>
            <div>
                <span>类目名称: </span>
                <input type="text" id="categoryName" ng-model="vm.categoryName"/>
            </div>
            <div class="tac mt10" style="text-align: left;padding-left: 105px;">
                <a class="btn btn-blue" href="javascript:;" ng-click="closeThisDialog(1)">确认修改</a>
                <a class="btn btn-gray ml15" href="javascript:;" ng-click="closeThisDialog(0)">取消</a>
            </div>
        </div>
    </div>
</div>
<style>
    .ngdialog.ngdialog-theme-default .ngdialog-content{
        width:500px;
    }
    /* Scrollbar Styles */
    ::-webkit-scrollbar {
        background-color: transparent;
        width: 15px;
    }
    ::-webkit-scrollbar-thumb {
        background: #aaa;
        min-height: 20px;
    }
    ::-webkit-scrollbar-track {
        background: #ddd;
    }
</style>

<script></script>