
<div class="namePopupBG" id="namePopupBG" style="display: block;height: 600px;" >
    <div class="namePopup" style="height: 240px;">
        <p>编辑业务类目<span><i class="namePopupClose"></i></span></p>
        <div class="addPopupCnt">
            <div class="checkboxAddress">
                划分规则：
                <div class="my-select" style="min-width: 90px">
                    <div class="my-value">
                        <label>划分</label><em></em>
                    </div>
                    <div class="my-option" style="display: none;">
                        <select id="category-edit-type" value="{{vm.botInfo.categoryTypeId}}">
                            <option value=10009>默认</option>
                            <option value=10008>流程</option>
                            <option value=10007>划分</option>
                            <option value=10006>属性</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="Concept-Ipt" style="margin-top: 20px">分支属性：<input  style="width: 350px" type="text" value="{{vm.botInfo.categoryAttributeName}}"/></div>
            <div class="Concept-Ipt" style="margin-top: 20px">分支名称：<input  style="width: 350px" type="text" value="{{vm.botInfo.categoryName}}"/></div>
            <div class="jqrsz-btn-box" style="padding-left: 118px;">
                <a class="btn btn-blue mr10 namePopupClose" href="javascript:;" ng-click="closeThisDialog(1)">确认修改</a>
                <a class="btn btn-gray namePopupClose" href="javascript:;" style="padding: 4px 30px" ng-click="closeThisDialog(0)">取消</a>
            </div>
        </div>
    </div>
</div>
<style>
    .ngdialog.ngdialog-theme-default .ngdialog-content{
        width:300px;
    }
</style>