<div ui-view="header"></div>
<div class="main warp">
    <div class="crumbs-nav bgwhite mt20">
        <span class="cn-lable">你曾经路过此地：</span>
        <span class="cn-value"><a class="cn-a" href="javascript:;">首页</a><i class="close">x</i></span>
        <span class="cn-value"><a class="cn-a" href="javascript:;">我的应用</a><i class="close">x</i></span>
        <!--<span class="cn-value"><a class="cn-a" href="javascript:;">评论列表</a><i class="close">x</i></span>
        <span class="cn-value active"><a class="cn-a" href="javascript:;">机器人设置</a><i class="close">x</i></span>-->
    </div>
    <div class="page-lrcont210 clearfix bgwhite mt10" style="min-height: 800px;">
        <div class="l-aside fl">
            <div class="aside-hd tac">
                <img class="hd-img" src="../../../images/images/poto.png"/>
                <span class="hd-name ellipsis">长沙银行机器人</span>
            </div>
            <div class="aside-nav aside-navn">
                <ul>
                    <li class="type1">
                        <a class="slide-a ellipsis" href="javascript:;">
                            <i class="icon-jj  ngBotAdd"></i>
                            <!--<i class="icon-ngJj"></i>-->
                            <span>分属性展开</span>
                        </a>
                        <ul class="menu_1">
                            <li class="leafHover" ng-repeat="item in vm.botRoot" data-option-id="{{item.categoryId}}">
                                <a class="slide-a ellipsis" href="javascript:;">
                                    <!--<i class="icon-jj" data-option="{{item.categoryId}}"></i>-->
                                    <span data-option-id="{{item.categoryId}}">{{item.categoryName}}</span>
                                    <i class="icon-r icon-jt"></i>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="type2">
                        <a class="slide-a ellipsis" href="javascript:;">
                            <i class="icon-jj  ngBotAdd"></i>
                            <span>分业务展开</span>
                        </a>
                        <ul class="menu_1">
                            <li class="leafHover" ng-repeat="item in vm.botRoot" data-option-id="{{item.categoryId}}">
                                <a class="slide-a ellipsis" href="javascript:;">
                                    <!--<i class="icon-jj" data-option="{{item.categoryId}}"></i>-->
                                    <span data-option-id="{{item.categoryId}}">{{item.categoryName}}</span>
                                    <i class="icon-r icon-jt"></i>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <!--<li ng-repeat="item in vm.botRoot">-->
                    <!--<a class="slide-a ellipsis" href="javascript:;">-->
                    <!--<i class="icon-jj" data-option="{{item.categoryId}}"></i>-->
                    <!--<span data-option-id="{{item.categoryId}}">{{item.categoryName}}</span>-->
                    <!--</a>-->
                    <!--</li>-->
                </ul>
            </div>
        </div>
        <div class="r-cont pd30">
            <div class="r-cont-hd">
                <span>营销型场景知识总览</span>
            </div>
            <div class="r-cont-bd">

                <div class="csso-cz-box clearfix mt30 ">
                    <div class="L pr mr-20">
                        <div>
                            <div class="search-box">
                                <input class="input-text" type="text" ng-model="vm.knowledgeTitle" placeholder="请输入知识标题" ng-keypress="vm.keySearch($event)" style="width: 280px;" />
                            </div>
                            <button class="btn1 btn1_blue advanced_sear_btn" ng-click="vm.heighSarch=!vm.heighSarch">高级查找</button>
                        </div>
                        <div class="advanced_search bd" >
                            <div class="framework mb-10" style="padding-left: 85px;">
                                <span class="framework_s">知识内容:</span>
                                <input type="text" class="input_text" ng-model="vm.knowledgeContent"/>
                            </div>
                            <div class="framework mb-10" style="padding-left: 85px;">
                                <span class="framework_s">知识有效期：</span>
                                <span>
                                    <input type="text" id="startTime" onchange=""  ng-model="vm.knowledgeExpDateStart"  onclick="WdatePicker({startDate:'%y',dateFmt:'yyyy-MM-dd',maxDate:'#F{$dp.$D(\'endTime\')}'})" class="input-text Wdate "  style="width:185px;border:1px solid #e1e1e1;height: 35px;font-size: 15px;color: #333!important;" placeholder="yyyy-mm-dd" readonly>
                                    -
                                    <input type="text" id="endTime"   onchange="" ng-model="vm.knowledgeExpDateEnd" onclick="WdatePicker({startDate:'%y',dateFmt:'yyyy-MM-dd',minDate:'#F{$dp.$D(\'startTime\')}'})" class="input-text Wdate "  style="width:185px;border:1px solid #e1e1e1;height: 35px;font-size: 15px;color: #333!important;" placeholder="yyyy-mm-dd" readonly>
                                </span>
                            </div>
                            <div class="framework mb-10" style="padding-left: 85px;">
                                <span class="framework_s">作者:</span>
                                <input type="text" class="input_text" ng-model="vm.knowledgeCreator"/>
                            </div>
                            <div class="framework mb-10" style="padding-left: 85px;">
                                <span class="framework_s">知识来源:</span>
                                <div>
                                    <label class="mr-10"><input type="radio" name="knoe_sources" ng-checked="vm.sourceType==0" ng-click="vm.getSourceType(0)"/>全部</label>
                                    <label class="mr-10"><input type="radio" name="knoe_sources" ng-click="vm.getSourceType(1)"/>单条新增</label>
                                    <label class="mr-10"><input type="radio" name="knoe_sources" ng-click="vm.getSourceType(2)"/>文档加工</label>
                                </div>
                            </div>
                            <div class="framework mb-10" style="padding-left: 85px;">
                                <span class="framework_s">更新时间:</span>
                                <div>
                                    <label class="mr-10"><input type="radio" name="time" ng-checked="vm.updateTimeType==0" ng-click="vm.getUpdateTimeType(0)"/>不限</label>
                                    <label class="mr-10"><input type="radio" name="time" ng-click="vm.getUpdateTimeType(1)"/>近三天</label>
                                    <label class="mr-10"><input type="radio" name="time" ng-click="vm.getUpdateTimeType(2)"/>近七天</label>
                                    <label class="mr-10"><input type="radio" name="time" ng-click="vm.getUpdateTimeType(3)"/>近一月</label>
                                </div>
                            </div>
                            <div class="tc">
                                <input type="button" class="btn1 btn1_blue" value="搜索" ng-click="vm.napSearch()" style="width:100px;"/>
                            </div>
                        </div>
                    </div>
                    <!--<select class="sel bd L" ng-model="vm.newKnowledge" ng-change="vm.jumpToNewKonwledge(vm.newKnowledge)" style="width: 126px;">-->
                        <!--<option value="100">FAQ型知识新增</option>-->
                        <!--<option value="101">概念知识型新增</option>-->
                        <!--<option value="102">列表型知识新增</option>-->
                        <!--<option value="103">要素型知识新增</option>-->
                    <!--</select>-->
                    <div class="fr">
                        <a class="btn btn-blue" href="javascript:;">批量导入</a>
                        <a class="btn btn-green" href="javascript:;">知识加工</a>
                        <a class="btn btn-green2" href="javascript:;">导出知识</a>
                    </div>
                </div>
                <div class="csso-cont mt30">
                    <div class="clearfix csso-hd">
                        <div class="fl">
                            <span>总计<em>{{vm.knowledgeTotal}}</em>条数据，今日新增<em>{{vm.newNumber}}</em>条</span>
                        </div>
                        <div class="fr" style="margin-right: 80px;" ng-click="vm.delData()">
                            <a class="ljtClose-btn" href="javascript:;" style="width: 50px;">
                                <i class="icon-ljtClose"></i>
                                <span class="txt" >删除</span>
                            </a>
                        </div>
                    </div>

                    <div class="clearfix csso-bd" style="min-height:300px;">
                        <ul class="csso-lsit">
                            <li ng-repeat="item in vm.listData">
                                <div class="title">
                                    <checkbox ng-click="vm.addDelIds(item.knowledgeId,vm.knowledgeIds)"></checkbox>
                                    <a href="javascript:;" ng-click="vm.scan(item)">知识标题: {{item.knowledgeTitle}}</a>
                                </div>
                                <div class="txt-cont mt10">
                                    <div class="txt-item oh">
                                        <div class="lable fl">概念扩展个数：</div>
                                        <div class="value oh">
                                            {{item.extensionCount}} 个
                                        </div>
                                    </div>
                                    <div class="txt-item oh">
                                        <div class="lable fl">知识内容：</div>
                                        <!--{{item.knowledgeContent}}-->
                                        <div class="value oh">
                                            <ul class="">
                                                <li ng-if="item.knowledgeType!=103" title="{{item.knowledgeContent}}">
                                                    <p>{{item.knowledgeContent}}</p>
                                                </li>
                                                <li ng-if="item.knowledgeType==103">
                                                    <p><strong>该要素知识包含条数：</strong> {{item.tableCount}}条</p>
                                                    <p><strong>新添加要素数：</strong> {{item.elementsCount}}条</p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="csso-info oh">
                                    <div class="fl">
                                        <span>知识类型：{{item.knowledgeTypeDetail}}</span>
                                        <!--<span>知识类目：{{item.sceneName}}</span>-->
                                    </div>
                                    <div class="fr">
                                        <span>作者：{{item.knowledgeCreator}}</span>
                                        <span>更新时间：{{item.knowledgeModifyTime |  date : 'yyyy-MM-dd hh:mm:ss'}}</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <pagination ng-if="vm.paginationConf.totalItems && vm.paginationConf.totalItems>0" conf="vm.paginationConf"></pagination>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
<style>
    .advanced_search{background:#fff;width:540px;}
</style>
<script>

</script>