<div ui-view="header"></div>

<div class="main warp">
    <div class="crumbs-nav bgwhite mt20">
        <span class="cn-lable">你曾经路过此地：</span>
        <span class="cn-value"><a class="cn-a" href="javascript:;">首页</a><i class="close">x</i></span>
        <span class="cn-value"><a class="cn-a" href="javascript:;">我的应用</a><i class="close">x</i></span>
        <span class="cn-value"><a class="cn-a" href="javascript:;">评论列表</a><i class="close">x</i></span>
        <span class="cn-value active"><a class="cn-a" href="javascript:;">机器人设置</a><i class="close">x</i></span>
    </div>

    <div class="libraryCnt">
        <div class="libraryFt pd-20">
            <!--<input class="libSearch" type="text">-->
            <div class="mb-30">
                <input type="text" class="input_text"/>
                <input type="button" value="查找" class="btn1 btn1_blue"/>
            </div>
            <!--<div class="libraryPtoDiv">-->
                <!--<img src="images/bank_16.png"/>-->
                <!--<h3>银行领域</h3>-->
            <!--</div>-->
            <!--<div class="aside-navs bank-navs">-->
                <!--<div class="aside-navs-cont">-->
                    <!--<ul class="menus show">-->
                        <!--<li>-->
                            <!--<div class="slide-a">-->
                                <!--<a class="ellipsis" href="javascript:;">-->
                                    <!--<i class="icon-jj"></i>-->
                                    <!--<span>分属性展开</span>-->
                                <!--</a>-->
                            <!--</div>-->
                            <!--<ul class="menus">-->
                                <!--<li>-->
                                    <!--<div class="slide-a">-->
                                        <!--<a class="ellipsis" href="javascript:;">-->
                                            <!--<span>分属性展开1</span>-->
                                        <!--</a>-->
                                    <!--</div>-->
                                <!--</li>-->
                                <!--<li>-->
                                    <!--<div class="slide-a">-->
                                        <!--<a class="ellipsis" href="javascript:;">-->
                                            <!--<span>分属性展开2</span>-->
                                        <!--</a>-->
                                    <!--</div>-->
                                <!--</li>-->
                                <!--<li>-->
                                    <!--<div class="slide-a">-->
                                        <!--<a class="ellipsis" href="javascript:;">-->
                                            <!--<span>分属性展开3</span>-->
                                        <!--</a>-->
                                    <!--</div>-->
                                <!--</li>-->
                            <!--</ul>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<div class="slide-a">-->
                                <!--<a class="ellipsis" href="javascript:;">-->
                                    <!--<i class="icon-jj"></i>-->
                                    <!--<span>分业务展开</span>-->
                                <!--</a>-->
                            <!--</div>-->
                            <!--<ul class="menus">-->
                                <!--<li>-->
                                    <!--<div class="slide-a">-->
                                        <!--<a class="ellipsis" href="javascript:;">-->
                                            <!--<i class="icon-jj"></i>-->
                                            <!--<span>个人业务</span>-->
                                        <!--</a>-->
                                    <!--</div>-->
                                    <!--<ul class="menus">-->
                                        <!--<li>-->
                                            <!--<div class="slide-a">-->
                                                <!--<a class="ellipsis" href="javascript:;">-->
                                                    <!--<i class="icon-jj"></i>-->
                                                    <!--<span>存款业务</span>-->
                                                <!--</a>-->
                                            <!--</div>-->
                                        <!--</li>-->
                                        <!--<li>-->
                                            <!--<div class="slide-a">-->
                                                <!--<a class="ellipsis" href="javascript:;">-->
                                                    <!--<i class="icon-jj"></i>-->
                                                    <!--<span>理财业务</span>-->
                                                <!--</a>-->
                                            <!--</div>-->
                                        <!--</li>-->
                                        <!--<li>-->
                                            <!--<div class="slide-a">-->
                                                <!--<a class="ellipsis" href="javascript:;">-->
                                                    <!--<i class="icon-jj"></i>-->
                                                    <!--<span>信用卡业务</span>-->
                                                <!--</a>-->
                                            <!--</div>-->
                                            <!--<ul class="menus">-->
                                                <!--<li>-->
                                                    <!--<div class="slide-a">-->
                                                        <!--<a class="ellipsis" href="javascript:;">-->
                                                            <!--<i class="icon-jj"></i>-->
                                                            <!--<img src="images/pic-navs-dy.png"/>-->
                                                            <!--<span>按地域展开</span>-->
                                                        <!--</a>-->
                                                    <!--</div>-->
                                                <!--</li>-->
                                                <!--<li>-->
                                                    <!--<div class="slide-a">-->
                                                        <!--<a class="ellipsis" href="javascript:;">-->
                                                            <!--<i class="icon-jj"></i>-->
                                                            <!--<img src="images/pic-navs-lc.png"/>-->
                                                            <!--<span>按办理流程展开</span>-->
                                                        <!--</a>-->
                                                    <!--</div>-->
                                                <!--</li>-->
                                                <!--<li>-->
                                                    <!--<div class="slide-a">-->
                                                        <!--<a class="ellipsis" href="javascript:;">-->
                                                            <!--<i class="icon-jj"></i>-->
                                                            <!--<img src="images/pic-navs-sx.png"/>-->
                                                            <!--<span>按属性展开</span>-->
                                                        <!--</a>-->
                                                    <!--</div>-->
                                                <!--</li>-->
                                                <!--<li>-->
                                                    <!--<div class="slide-a">-->
                                                        <!--<a class="ellipsis" href="javascript:;">-->
                                                            <!--<i class="icon-jj"></i>-->
                                                            <!--<img src="images/pic-navs-rq.png"/>-->
                                                            <!--<span>按人群卡类展开</span>-->
                                                        <!--</a>-->
                                                    <!--</div>-->
                                                    <!--<ul class="menus">-->
                                                        <!--<li>-->
                                                            <!--<div class="slide-a">-->
                                                                <!--<a class="ellipsis" href="javascript:;">-->
                                                                    <!--<span>白领卡</span>-->
                                                                <!--</a>-->
                                                            <!--</div>-->
                                                        <!--</li>-->
                                                        <!--<li>-->
                                                            <!--<div class="slide-a">-->
                                                                <!--<a class="ellipsis" href="javascript:;">-->
                                                                    <!--<span>农民卡</span>-->
                                                                <!--</a>-->
                                                            <!--</div>-->
                                                        <!--</li>-->
                                                        <!--<li>-->
                                                            <!--<div class="slide-a">-->
                                                                <!--<a class="ellipsis" href="javascript:;">-->
                                                                    <!--<span>学生卡</span>-->
                                                                <!--</a>-->
                                                            <!--</div>-->
                                                        <!--</li>-->
                                                    <!--</ul>-->
                                                <!--</li>-->
                                            <!--</ul>-->
                                        <!--</li>-->
                                    <!--</ul>-->
                                <!--</li>-->
                                <!--<li>-->
                                    <!--<div class="slide-a">-->
                                        <!--<a class="ellipsis" href="javascript:;">-->
                                            <!--<i class="icon-jj"></i>-->
                                            <!--<span>个公业务</span>-->
                                        <!--</a>-->
                                    <!--</div>-->
                                <!--</li>-->
                                <!--<li>-->
                                    <!--<div class="slide-a">-->
                                        <!--<a class="ellipsis" href="javascript:;">-->
                                            <!--<i class="icon-jj"></i>-->
                                            <!--<span>其他业务</span>-->
                                        <!--</a>-->
                                    <!--</div>-->
                                <!--</li>-->
                            <!--</ul>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</div>-->
            <!--</div>-->
            <div class="item-line">
                <div class="value menu_1Div" id="menu_1Div">
                    <div class="ipt-txt-box">
                        <!--<input class="ipt-txt" ng-model="vm.knowledgeBotVal" id="ipt-txt" type="text" ng-disabled/>-->
                        <!--<i class="btn-menu_1" ng-click="vm.knowledgeBot($event,0)"></i>-->
                        <div class="aside-navs aside-navs2 show" >
                            <ul class="menus show">
                                <!--//test-->
                                <li ng-repeat="item in vm.botRoot"  >
                                    <div class="slide-a">
                                        <a class="ellipsis" href="javascript:;">
                                            <i class="icon-jj" data-option="{{item.categoryId}}"></i>
                                            <span ng-click="vm.botValChange(item.categoryName)">{{item.categoryName}}</span>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="libraryRth" style="width:730px;">
            <div class="tac mt10" style="margin: 0; text-align: left">
                <a class="btn btn-blue" href="javascript:;">新增框架</a>
                <a class="btn btn-green ml15" href="javascript:;">批量导入框架</a>
                <a class="btn btn-green2 ml15" href="javascript:;">导出框架</a>
            </div>
            <div class="HierarchyCnt">
                <p>新建子类</p>
                <div>
                    <span>分支类型: </span>
                    <select>
                        <option>属性</option>
                        <option>属性</option>
                        <option>属性</option>
                    </select>
                </div>
                <div>
                    <span>分支名称: </span>
                    <input type="text"/>
                </div>
                <div>
                    <span>子名称: </span>
                    <input type="text"/>
                </div>
                <div class="tac mt10" style="text-align: left;padding-left: 105px;">
                    <a class="btn btn-blue" href="javascript:;">保存</a>
                    <a class="btn btn-gray ml15" href="javascript:;">取消</a>
                </div>
            </div>
        </div>
    </div>

</div>
<style>

</style>
