<!--<div ui-view="header"></div>-->
<div class="main warp">
    <div class="page-lrcont210 clearfix bgwhite mt10">
        <div class="l-aside fl">
            <div  id="test-nav">
                <ul>
                    <li >
                        <a class="slide-a ellipsis" ui-sref=".correction">
                            <i class="icon-l icon-navquestion"></i>
                            <span>纠正学习</span>
                        </a>
                    </li>
                    <li >
                        <a class="slide-a ellipsis" ui-sref=".reinforcement">
                            <i class="icon-l icon-navchat"></i>
                            <span >智能学习</span>
                        </a>
                    </li>
                    <li >
                        <a class="slide-a ellipsis"  ui-sref=".newKnow">
                            <i class="icon-l icon-navbatch"></i>
                            <span >新知识发现 </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div ui-view="content" id="content"></div>
    </div>

</div>
<style>
    .menu_1{
        display: block;
    }

</style>
<script>
    $('#test-nav li').click(function(){
        $(this).addClass('cur_test_li').siblings().removeClass('cur_test_li');
    });
    var rightCon = $("#content .r-cont-hd span")[0];




</script>





