
<div class="wrap clearfix mt20">
    <p class="f18" style="padding:0 0 13px 33px">模板样例</p>
    <div class="selec_art_l L bd p10" ng-bind-html="vm.queryTemContent" style="height:auto;margin-bottom:58px; width:750px; ">
        <!--<textarea class="txta" ></textarea>-->
    </div>
    <div class="selec_art_r R pt20 pb20">
        <p class="mb20">填写文中的标题示例，点击测试。</p>
        <div class="clearfix app_search mr20" style="margin-bottom:40px">
            <input type="text" class="input-text txt L" placeholder="在此填写文中的标题" ng-model="vm.titleText"/>
            <input type="button" class="btn L test_level" value="测试" ng-click="vm.generateRule()"/>
        </div>
        <p class="bold" ng-if="vm.rules.length>0">为您找到的同级标题如下：</p>
        <div class="mt10 mb10 bd" style="min-height:230px;padding:14px 0 14px 17px" ng-if="vm.rules.length>0">
            <div class="t_level_title">
                <p style="color:#999">请勾选正确的标题</p>
                <div style="padding-left:12px">
                    <p style="margin-top:14px" ng-repeat="rule in vm.rules">
                        <input type="radio" name="checkedRule" ng-value="$index"  ng-model="vm.checkedRuleIndex" />{{rule.lineWord}}
                    </p>
                </div>
            </div>
            <div class="t_level_title tc" style="">
                <!--<img src="images/l_img.png">-->
                <div class="tc" style="margin-top:26px">
                    <input ng-click="vm.getSimilarText()" type="button" value="相关标题" class="btn btn1" style="background:#eaeaea;color:#333"/>
                </div>
            </div>

            <p ng-if="vm.checkedRule != null" ng-repeat="str in vm.strs track by $index" style="margin-bottom:14px"><span>{{$index+1}}.</span>{{str}}</p>
        </div>
        <!--<div ng-if="showExtract && strs.length>0">-->
        <div>
            <!-- 删除部分-->
            <!--<p class="mb20">请输入正则</p>-->
            <!--<div class="clearfix app_search mr20" style="margin-bottom:40px">-->
                <!--<input ng-model="vm.extractRegTxt" type="text" class="input-text txt L" placeholder="正则描述" />-->
                <!--<input type="button" class="btn L" value="确定" ng-click="optimizeText()"/>-->
            <!--</div>-->
            <!--<p class="bold">结果 : </p>-->
            <!--<div class="mt10 mb10 bd" style="height:230px;">-->
                <!--<p ng-repeat="extractStr in extractStrs track by $index"><span>{{$index+1}}.</span>{{extractStr}}</p>-->
            <!--</div>-->
            <p style="margin-bottom:27px">
                <span style="margin-right:20px"><input type="radio" name="zhengze" style="position:relative;top:2px" ng-value="1" ng-model="vm.checkModel" />文档</span>
                <!--<span style="margin-right:20px"><input type="radio" name="zhengze" style="position:relative;top:2px" ng-value="2" ng-model="checkModel" />正则</span>-->
                <!--<span><input type="radio" name="zhengze" style="position:relative;top:2px" ng-value="3" ng-model="checkModel" />文档+正则</span>-->
            </p>
        </div>
        <div class="tc mb50">
            <input type="button" ng-show="checkedRule != {}" value="保存规则" class="btn1 btn1_blue" ng-click="vm.saveWordRule()"/>
        </div>
    </div>
</div>
