<!-- con-->
<div class="know_manage wrap mb50" style=" padding-bottom:80px">
    <div class="know_man_tit clearfix mb20">
        <p class="current">文档加工</p>
    </div>
    <div class="bd doc_import" style="min-height:100%">
        <div class="doc_import_tit clearfix">
            <a ui-sref="back.gateway">任务分析</a>
            <a ui-sref="back.template" class="cur_p">模板配置</a>
        </div>
        <div class="proce_result p20">
            <div class="mb10 clearfix">
                <span class="L know_span" >模板名称:</span>
                <input type="text" class="txt bd L" ng-model="vm.temName"/>
            </div>
            <div class="mb10 clearfix">
                <span class="L know_span">模板类型:</span>
                <select class="txt L bd" ng-model="vm.temType">
                    <option value="WORD">WORD</option>
                </select>
            </div>
            <div class="mb10 clearfix">
                <span class="L know_span">文档样例:</span>
                <input id="tempickfile" type="button" class="btn btn3 L" value="浏览" temp-plupload ng-if="!vm.tempId"/>
                <span id="temcontainer" style="color:#999;margin-left:10px;line-height: 33px;" class="L">{{vm.fileName}}  &nbsp;<span ng-if="vm.fileName!='未选择文件' && !vm.tempId "> {{vm.progress}}%</span></span>
                    <span ng-show='vm.isTempUpToolsShow' class="R" style="margin-right:210px">
                        <input id="temupload" type="button" value="保存" class="btn1 btn_gray clearfix" style="color:#333;margin-right:12px"/>
                        <input id="temreset" type="button" value="取消" class="btn1 btn_gray clearfix" style="color:#333;"/>
                    </span>
            </div>
            <div class="clearfix" style="margin-top:30px">
                <span class="L know_span">模板规则:</span>
                <div class="rule_div L">
                    <div class="bd" style="margin-bottom:25px">
                        <table class="rule_table">
                            <tr class="tr_t" ng-repeat="role in vm.rules">
                                <td width="30%">{{role.level+1}}级目录</td>
                                <td width="30%" style="color:#999"><span ng-if="role.ruleId">规则完成</span></td>
                                <td width="20%"><a type="button" class="btn3"  ui-sref="back.docselect({temId:vm.templateId,level:$index,roleId:role.ruleId})" >从文章中提取</a></td>
                                <td width="20%" ng-if="role.ruleId"><a href="javascript:;" class="btn3" ng-confirm="确认删除?" value="删除" ng-click="vm.deleteRule(role.ruleId)">删除</a></td>
                                <td width="20%" ng-if="!role.ruleId"><a class="btn3" ng-click="vm.resetRule($index)">取消</a></td>
                            </tr>
                            <tr>
                                <td><a href="javascript:void(0)" class="c_blue" ng-click="vm.addRule()">+添加目录</a></td>
                            </tr>
                        </table>
                    </div>
                    <div class="tc">
                        <!--<input type="button" value="确定" class="btn btn1 mr20"/>-->
                        <!--<input  type="button" value="保存并返回" class="btn btn3" ng-click="backT()"/>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>