<!-- con-->
<div class="know_manage wrap mb50" >
    <div class="know_man_tit clearfix mb20">
        <p class="current">文档加工</p>
        <!--<p ui-sref="back.adapter" >适配器接入</p>-->
    </div>
    <div class="bd doc_import">
        <div class="doc_import_tit clearfix">
            <a ui-sref="back.gateway">任务分析</a>
            <a href="javascript:;" class="cur_p">模板配置</a>
        </div>
        <div class="proce_result p20">
            <div class="proce_result_top clearfix mb15">
                <a ui-sref="back.createTemplate({isGo:true})" class="L add_person_a f16 c_blue" >创建模板</a>
                <div class="R app_search mr20">
                    <input type="text" class="input-text txt L" placeholder="文档名称" ng-model="SearchPOJO.name"/>
                    <input type="button" class="btn L" value="检索" />
                </div>
            </div>
            <div class="proce_result_bot">
                <table class="app_manage_tab">
                    <tbody>
                    <tr class="bold tr1">
                        <td width="8%">序号</td>
                        <td width="12%">模板名称</td>
                        <td width="10%">模板创建人</td>
                        <td width="10%">创建时间</td>
                        <td width="10%">操作</td>
                    </tr>
                    <tr ng-repeat="template in templates">
                        <td>{{$index+1}}</td>
                        <td class="c_blue cp" ui-sref="back.createTemplate({temId:template.templateId,isGo:true})" ng-bind="template.templateName"></td>
                        <td ng-bind="template.templateCreater"></td>
                        <td>{{template.templateCreateTime | date:"yyyy-MM-dd"}}</td>
                        <td>
                            <a href="javascript:;" ng-click="deleteTemplate(template.templateId)" class="c_red" alertBar ng-confirm="确认删除?">删除</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <pagination ng-if="paginationConf.totalItems && paginationConf.totalItems>0" conf="paginationConf"></pagination>
            </div>
        </div>
    </div>
</div>