<!--主体-->
<div class="main bgGray">
    <div class="warp">

        <div class="bk-data-list bgWhite mt20 mb30 js-tabs-main" tables>
            <div class="hd">
                <!--<a class="fh-btn fr" href="#"><span>返回</span><img class="icoimg" src="images/pic-afh2.png" /></a>-->
                <ul class="js-tabs-btn">
                    <!--<li class="active"><a href="javascript:;">百科知识视图</a></li>-->
                    <li class="active"><a href="javascript:;">碎片化知识视图</a></li>
                </ul>
            </div>
            <div class="bd">
                <div class="hd-title ellipsis">
                    <a class="btn qr-btn min-btn mt10 fr" href="/back/knowaccess/docimport/docmanager/downloadKnowDoc/{{knowDocId}}"><img class="icoimg" src="../../../images/pic-download.png" />下载文档</a>
                    <a ng-if="knowDoc.status == 1" class="btn qr-btn min-btn mt10 fr" ui-sref="index.know_doc({knowDocId:knowDocId})">查看原文</a>
                    <div ng-bind="knowDoc.name"></div>
                </div>
                <div class="repertory clearfix mt30">
                    <h2 class="repertory_tit L f32">目&nbsp;&nbsp;录</h2>
                    <div class="repertory_list L">
                        <ul ng-repeat="know in docItems">
                            <li ng-click="jumper($index)">
                                <span class="index">{{$index}}</span>
                                <span class="txt">{{know.title}}</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="mt30">
                    <ul class="bk-info-list js-tabs-list" >
                        <li class="act-box" ng-repeat="docItem in docItems" id="{{$index}}">
                            <div class="dt">
										<span class="sp fl pr10">
											<ins class="dt-nb2">1</ins>
											<em class="dt-title" title="{{docItem.title}}" ng-bind-html="docItem.titleHtml" ui-sref="index.know_details({knowItemId:docItem.id})" style="cursor:pointer"></em>
										</span>
                            </div>
                            <div class="dd mheight" ng-bind-html="docItem.contentHtml">
                            </div>
                            <div class="edit R">
                                <span class="ellipsis" ng-show="checkShow() && docItem.queryStatus == 0" ui-sref="back.taskDetail({taskId:taskKnowItem.taskId,knowItemId:docItem.id,processInstanceId:taskKnowItem.processInstanceId})" style="color: red">待审核</span>
                                <span class="ellipsis" ng-show="checkShow() && docItem.queryStatus == 1" style="color: green">已审核</span>
                                <span class="ellipsis c_blue cp" ng-show="checkShow()" ui-sref="back.know_edit({knowItemId:docItem.id})">编辑</span>
                                <span class="ellipsis c_blue cp edit_more" content-more>更多</span>
                                <span class="ellipsis c_blue cp less" style="display: none;"content-less>收起</span>
                            </div>
                            <div class="dn">
                                <!--<span class="ellipsis">知识库：{{docItem.libraryName}}</span>-->
                                <span class="ellipsis">分类：{{docItem.ontology}}</span>
                                <span class="ellipsis">上传人：{{docItem.userName}} </span>
                                <span class="ellipsis">来源：{{docItem.knowDocName}}</span>
                                <span class="ellipsis">最近更新：{{docItem.utime|date:'yyyy-MM-dd'}}</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

</div>
<!--end 主体-->