<!-- con-->
<div class="know_manage wrap mb50" >
    <div class="bd know_man_div2" >
        <h3 class="my_column_h3" >代办事项</h3>
        <div class="app_manage_conbot p20" style="margin-top:0;">
            <table class="app_manage_tab">
                <tr class="tr1 bold">
                    <td width="8%">序号</td>
                    <td width="20%">标题</td>
                    <td width="40%">内容</td>
                    <td width="20%">时间</td>
                </tr>
                <tr ng-repeat="taskKnowItem in taskKnowItems">
                    <td ng-bind="$index+1"></td>
                    <td class="c_blue_1" style="cursor:pointer" ng-bind-html="taskKnowItem.knowItemDto.titleHtml | limitTo :8" ui-sref="back.taskDetail({taskId:taskKnowItem.taskId,knowItemId:taskKnowItem.knowItemDto.id,processInstanceId:taskKnowItem.processInstanceId})"></td>
                    <td ng-bind="taskKnowItem.knowItemDto.content | limitTo:20" title="{{taskKnowItem.knowItemDto.content}}"></td>
                    <td ng-bind="taskKnowItem.taskDate | date:'yyyy-MM-dd'"></td>
                </tr>
            </table>

            <pagination ng-if="paginationConf.totalItems && paginationConf.totalItems>0" conf="paginationConf"></pagination>

        </div>
    </div>
</div>