<div class="warp" style="margin-top:20px;">
    <!--<div class="tc mb-10">-->
        <!--<input type="text" class="input-text" placeholder="请输入语音名称" style="width:300px;"/>-->
        <!--<input type="button" value="查找" class="btn1 btn1_blue"/>-->
    <!--</div>-->
    <div class="p20" style="background:#fff;">
        <div class="clearfix mb-20">
            <button class="L btn1 btn1_blue" ng-click="vm.uploadSpeech()">上传语音</button>
            <span class="R">共有数据<b>{{vm.voiceList.total}}</b>条</span>
        </div>
        <div class="voice_box_div  clearfix" >
            <div class="voice_div bd L" ng-repeat="item in vm.voiceList.objs">
                <dl class="voice_dl clearfix">
                    <dt class="L"><img src="../../../images/audio_pic1.png"/></dt>
                    <dd class="R">
                        <p>{{item.voiceName}}</p>
                        <a href="/api/ms/voiceManage/download?fileName={{item.voiceUrl}}" target="_blank"><p>下载</p></a>
                    </dd>
                </dl>
                <div class="pt-5 pb-5 pl-20" style="border-top:1px solid #eee;">
                    <a href="javascript:;" ng-click="vm.removeVoice(item,$index)">删除</a>
                </div>
            </div>
            <!--<div class="voice_div bd L">-->
                <!--<dl class="voice_dl clearfix">-->
                    <!--<dt class="L"><img src="../../../images/audio_pic1.png" /></dt>-->
                    <!--<dd class="R">-->
                        <!--<p>好听</p>-->
                        <!--<p>3.45</p>-->
                        <!--<p>2016.1.2 12:00:00</p>-->
                    <!--</dd>-->
                <!--</dl>-->
                <!--<div class="pt-5 pb-5 pl-20" style="border-top:1px solid #eee;">-->
                    <!--<a href="javascript:;">删除</a>-->
                <!--</div>-->
            <!--</div>-->

        </div>
        <pagination ng-if="vm.paginationConf.totalItems && vm.paginationConf.totalItems>0" conf="vm.paginationConf"></pagination>
    </div>
</div>
<style>

</style>
<script>



</script>