<div class="r-cont pd30 parameterSetting">
    <div class="r-cont-hd">
        <span>参数设置</span>
    </div>
    <div class="r-cont-bd oh pt30 ">
        <div class="jqrsz-item jqrsz-item2">
            <div class="item-line">
                <div class="lable">
                    评论小尾巴：
                </div>
                <div class="value">
                    <div class="dib pt-5 mr-15">
                        <div switch value="vm.settingCommentOn"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="jqrsz-item jqrsz-item2">
            <div class="item-line">
                <div class="lable">
                    寒暄开关：
                </div>
                <div class="value">
                    <div class="dib pt-5 mr-15">
                        <div switch value="vm.settingGreetingOn"></div>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="jqrsz-item jqrsz-item2">-->
            <!--<div class="item-line">-->
                <!--<div class="lable">-->
                    <!--话轮识别：-->
                <!--</div>-->
                <!--<div class="value">-->
                    <!--<div class="dib pt-5 mr-15">-->
                        <!--<div ng-class="{1: 'open1 b_box', 0: 'close1 b_box'}[vm.settingTurnRoundOn]"-->
                             <!--ng-click="vm.turnOn(vm.settingTurnRoundOn,'settingTurnRoundOn')"-->
                             <!--style="float:left;margin-right:10px;">-->
                            <!--<div ng-class="{1: 'open2 s_box', 0: 'close2 s_box'}[vm.settingTurnRoundOn]"></div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <div class="jqrsz-item jqrsz-item2">
            <div class="item-line">
                <div class="lable">
                    关联个数：
                </div>
                <div class="value">
                    <input class="input-text" type="number" ng-model="vm.settingRelateNumber"
                           ng-change="vm.parameterLimit(1,'settingRelateNumber')" step="1"
                           placeholder="配置关联问题的个数，标准格式为数字型" style="width: 350px;" required>
                </div>
            </div>
        </div>
        <div class="jqrsz-item jqrsz-item2">
            <div class="item-line">
                <div class="lable">
                    推荐个数：
                </div>
                <div class="value">
                    <input class="input-text" type="number" ng-model="vm.settingRecommendNumber"
                           ng-change="vm.parameterLimit(1,'settingRecommendNumber')" step="1"
                           placeholder="配置推荐问题个数，标准格式为数字型" style="width: 350px;" required>
                </div>
            </div>
        </div>
        <!--<div class="jqrsz-item jqrsz-item2">-->
            <!--<div class="item-line">-->
                <!--<div class="lable">-->
                    <!--获取数据时间：-->
                <!--</div>-->
                <!--<div class="value">-->
                    <!--<input class="input-text" type="number" ng-model="vm.settingDataTimeoutLimit"-->
                           <!--ng-change="vm.parameterLimit(1,'settingDataTimeoutLimit')" step="1"-->
                           <!--placeholder="获取数据时间限制，标准格式为数字型" style="width: 350px;" required>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <div class="jqrsz-item jqrsz-item2">
            <div class="item-line">
                <div class="lable">
                    上限阈值：
                </div>
                <div class="value">
                    <input class="input-text" type="number" ng-model="vm.settingUpperLimit"
                           ng-change="vm.parameterLimit(0,'settingUpperLimit')" step="0.1"
                           placeholder="配置上限阈值，标准格式为float型" style="width: 350px;" required>
                </div>
            </div>
        </div>
        <div class="jqrsz-item jqrsz-item2">
            <div class="item-line">
                <div class="lable">
                    下限阈值：
                </div>
                <div class="value">

                    <input class="input-text" type="number" ng-model="vm.settingLowerLimit"
                           ng-change="vm.parameterLimit(0,'settingLowerLimit')" step="0.1"
                           placeholder="配置下线阈值，标准格式为float型" style="width: 350px;" required>
                </div>
            </div>
        </div>
        <div class="jqrsz-item jqrsz-item2">
            <div class="item-line">
                <div class="lable">
                    寒暄阈值：
                </div>
                <div class="value">
                    <input class="input-text" type="number" ng-model="vm.settingGreetingThreshold"
                           ng-change="vm.parameterLimit(0,'settingGreetingThreshold')" step="0.1"
                           placeholder="配置寒暄阈值，标准格式为float型" style="width: 350px;" required>
                </div>
            </div>
        </div>
        <div class="jqrsz-btn-box">
            <a class="btn btn-blue mr10" ng-click="vm.updateParameter()">保存</a>
            <a class="btn btn-gray" ng-click="vm.queryParameter()">取消</a>
        </div>

    </div>
</div>

