<div class="main warp">
    <div class="page-lrcont210 clearfix bgwhite mt10">
        <div class="l-aside fl">
            <div class="aside-nav aside-nav2">
                <ul class="leftMenuUl">
                    <li>
                        <a class="slide-a ellipsis" ui-sref="conceptManage.synony" >
                            <i class="icon-l icon-navA icon-navB"></i>
                            <span>同义概念管理</span>
                            <!--<i class="icon-r icon-jt"></i>-->
                        </a>
                    </li>
                    <li>
                        <a class="slide-a ellipsis" ui-sref=".aggregate">
                            <i class="icon-l icon-navA icon-navC"></i>
                            <span>集合概念管理</span>
                            <!--<i class="icon-r icon-jt"></i>-->
                        </a>
                    </li>
                    <li>
                        <a class="slide-a ellipsis" ui-sref=".business">
                            <i class="icon-l icon-navA icon-navD"></i>
                            <span>业务概念管理</span>
                            <!--<i class="icon-r icon-jt"></i>-->
                        </a>
                    </li>
                    <li>
                        <a class="slide-a ellipsis" ui-sref=".sensitive">
                            <i class="icon-l icon-navA icon-navE"></i>
                            <span>敏感概念管理</span>
                            <!--<i class="icon-r icon-jt"></i>-->
                        </a>

                    </li>
                    <li>
                        <a class="slide-a ellipsis" ui-sref=".disable">
                            <i class="icon-l icon-navA icon-navG"></i>
                            <span>停用概念管理</span>
                            <!--<i class="icon-r icon-jt"></i>-->
                        </a>

                    </li>
                    <li>
                        <a class="slide-a ellipsis" ui-sref=".enforcement">
                            <i class="icon-l icon-navA icon-navI"></i>
                            <span>强制分词概念管理</span>
                            <!--<i class="icon-r icon-jt"></i>-->
                        </a>

                    </li>
                    <li>
                        <a class="slide-a ellipsis" ui-sref=".bot">
                            <i class="icon-l icon-navA icon-navJ"></i>
                            <span>bot概念管理</span>
                            <!--<i class="icon-r icon-jt"></i>-->
                        </a>

                    </li>
                </ul>
            </div>
        </div>
        <div ui-view="content"></div>
    </div>

</div>
<style>
    .menu_1{
        display: block;
    }
    .aside-nav2 .slide-a:hover .icon-navB{background-position: 0 -4px;}
    .aside-nav2 .slide-a:hover .icon-navC{background-position: 0 -52px;}
    .aside-nav2 .slide-a:hover .icon-navD{background-position: 0 -102px;}
    .aside-nav2 .slide-a:hover .icon-navE{background-position: 0 -154px;}
    .aside-nav2 .slide-a:hover .icon-navF{background-position: 0 -203px;}
    .aside-nav2 .slide-a:hover .icon-navG{background-position: 0 -253px;}
    .aside-nav2 .slide-a:hover .icon-navH{background-position: -1px -301px;}
    .aside-nav2 .slide-a:hover .icon-navI{background-position: -1px -351px;}
    .aside-nav2 .slide-a:hover .icon-navJ{background-position: -1px -402px;}
    .aside-nav2 .slide-a:hover .icon-navK{background-position: -1px -450px;}

</style>






