@charset "utf-8";
/* CSS Document */

/*清除默认样式，设置自定义属性*/

*{
	margin:0;
	padding:0;
	box-sizing:inherit;
	-moz-box-sizing:inherit; /* Firefox */
	-webkit-box-sizing:inherit; /* Safari */
}

body{
	font-size:14px;
	font-family:"微软雅黑","Times New Roman",Arial, Helvetica, sans-serif;
	color:#333;
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
	-webkit-box-sizing:border-box; /* Safari */
}
table{border-collapse:collapse;border-spacing:0;}
ul,ol{list-style:none;}
img{border:0;}
input,text,button,radio,checkbox,select,password{border:0;outline:none;}

.clearfix:after{clear:both;content:'';display:block;width: 0;height: 0;visibility:hidden;}
.clearfix{zoom:1;}

h1,h2,h3,h4{font-weight:normal;}
a{text-decoration:none;outline:none;blr:expression(this.onFocus=this.blur());}
a:focus{outline:none;}	
a:hidefocus{outline:none;}

a:link,a:visited,a:hover,a:active{text-decoration:none;}
a,
a:link,
a:visited,
a:hover,
a:active {color:inherit;zoom:1}
a {color:inherit}

.wrap{margin:0 auto;}
.L{float:left;}
.R{float:right;}

.dn{display:none;}
.db{display:block;}

.pr{position:relative;}
.pa{position:absolute;}
.hide{display: none;}
.show{display: block;}

.h31{font-size:15px;color:#333;font-weight:bold;}
.bd{border:1px solid #eaeaea;}
.orange_p{color:#ec982b;font-size:14px;line-height:25px;}
.b1{color:#999999;font-weight:normal;}

.textp1{line-height:25px;}
.textp2{line-height:25px;text-indent:2em;}





/*公共部分 头部 左侧*/
html,body{height:100%;}
.container{width:100%;height:100%;position:relative;padding-top: 50px;min-width:1280px;box-sizing:border-box;background:#3b3b3b;}

.header_container{height:50px;width:100%;position:absolute;top:0;left:0;padding-left:25px;}
.header_l {width:230px;}
.logo_img{display:inline-block;margin-top:10px;margin-right:10px;}
.logo_h3{display:inline-block;line-height:50px;font-size:15px;color:#fff;}

.header_mul li{float:left;padding:0 20px;height:50px;line-height:50px;}
.header_mul li a{color:#fff;font-size:14px;}
.header_mul .cur_li1{background:#32ccbf;}


.header_rul {margin-top:15px;}
.header_rul li{float:left;height:20px;line-height:20px;padding:0 15px;cursor:pointer;}
.header_rul li a{color:#fff;}
.header_rul .header_rli1{background:url(../images/header_rimg1.png) no-repeat center center;padding-left:30px; border-right:1px solid #515151;}
.header_rli3{border-right:1px solid #2e2e2e;}

.main_container{width:100%;height:100%;background:#f3f3f3;position:relative;padding-left: 130px;box-sizing:border-box;}
.main_containerL{width:130px;height:100%;background:url(../images/main_conLtopbg.png) #353435 no-repeat right top;position:absolute;left:0;top:0;background-size:100%;}


.main_conLtop{width:100%;padding:40px 0 40px;}
.main_conLmiddle{
	width: 100%;
	padding-left: 10px
}
.main_conLmiddle p{
	color:#c4c4c5;
	margin-bottom: 10px;
    padding-left: 25px;
}
.main_conLmiddle p img{
	position: relative;
	top: 1px;
	right: -2px;
	cursor: pointer;
}
.main_conLmiddle p img.img_1{
	left:5px;
}
.main_conLtop dt{width:60px;height:60px;border-radius:50%;margin:0 auto 12px;}
.main_conLtop dd{color:#c4c4c5;width:100%;text-align:center;font-size:12px;}


.main_conLbot{width:100%;position:absolute;left:0;bottom:0px;background:url(../images/main_conLtopbg2.jpg) no-repeat right top;padding:20px 0 20px;box-sizing:border-box;background-size:100%;}
.main_conLbot p{text-align:center;color:#b5b4b4;line-height:20px;font-size:12px;}
.main_conLbot .p2{margin-bottom:10px;}
/*右侧内容*/

.main_containerR{box-sizing:border-box;height:100%;}

/*左侧menu*/
.knowledge_ul{width:100%;box-sizing:border-box;}
.knowledge_ul li{height:38px;background:#353435;line-height:38px;text-align:center;margin-bottom:5px;}
.knowledge_ul li:hover{background:#404144;}
.knowledge_ul li a{color:#fff;font-size:14px;}
.knowledge_ul .know_cur_li{background:#404144;}
/*左侧menu end*/

/*page*/
.page{text-align:center;overflow:hidden;padding:25px 0;background:#fff;}
.page a,.page .page_span{padding:5px 10px;border:1px solid #eaeaea;margin-right:10px;background:#fff;border-radius:2px;cursor:pointer;font-size:12px;}
.page a.cura{background:#32ccbf;color:#fff;}
.page .page_b{color:#ec982b;font-size:12px;}
.page .page_txt{width:29px;height:26px;border:1px solid #eaeaea;padding-left:5px;}
.page .go_span{width:34px;height:23px;line-height:23px;background:#32ccbf;display:inline-block;color:#fff;cursor:pointer;font-size:12px;}

.alert {
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
}

.alert-success {
	color: #3c763d;
	background-color: #dff0d8;
	border-color: #d6e9c6;
}

.alert-info {
	color: #31708f;
	background-color: #d9edf7;
	border-color: #bce8f1;
}

.alert-warning {
	color: #8a6d3b;
	background-color: #fcf8e3;
	border-color: #faebcc;
}

.alert-danger {
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
}

.ngTruncateToggleText {
	color: red;
	font-size: 90%;
	font-style: italic;
	cursor:pointer;
}

.form-group {
	margin-bottom: 15px;
}

.form-control {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

textarea.form-control {
	height: auto;
}

textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

textarea {
	overflow: auto;
}

textarea {
	margin: 0;
	font: inherit;
	color: inherit;
}

input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

.pull-right {
	float: right !important;
}

.btn-primary {
	color: #fff;
	background-color: #337ab7;
	border-color: #2e6da4;
}

.btn {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
}

fieldset {
	min-width: 0;
	padding: 0;
	margin: 0;
	border: 0;
}

.hide {
	display: none !important;
}
.show {
	display: block !important;
};
@charset "utf-8";
/* CSS Document */

/*自定义*/
.txt_div{margin:20px 0;text-align:center;}
.txt_div .txt1{width:152px;height:30px;border:1px solid #dedede;padding-left:5px;line-height:30px;}


.btn_div{width:100%;text-align:center;margin-top:10px;}
.btn_div .btn{height:30px;padding:0 15px;background:#b8bcbc;margin-right:20px;border-radius:2px;color:#fff;cursor:pointer;font-size:12px;}
.btn_div .btn2{margin-right:0;}
.btn_div .btn:hover{background:#32ccbf;}	
.btn_div .cur_btn{background:#32ccbf;}
.main_conR_sh3 .cur_btn{background:#32ccbf;}

/*首页内容部分*/


.main_containerR_con{width:100%;height:100%;position:relative;padding: 20px;box-sizing:border-box;overflow:auto;}
.main_conR_top{width:100%;box-sizing:border-box;margin-bottom:15px;}

.notice_ul{width:100%;box-sizing:border-box;}
.notice_ul li{float:left;border-right:1px solid #eaeaea;box-sizing:border-box;width:23%;margin-right:2%;padding:20px;border-radius:10px;}

.notice_ul li span{display:block;color:#fff;}
.notice_ul .s1{font-size:42px;}
.notice_ul .s2{font-size:16px;}
.bg_orange{background:url(../images/notice_liimg1.jpg) #e66363 no-repeat right bottom;}
.bg_green {background:url(../images/notice_liimg2.jpg) #f2a866 no-repeat right bottom;}
.bg_blue  {background:url(../images/notice_liimg3.jpg) #60e297 no-repeat right bottom;}
.bg_blue2 {background:url(../images/notice_liimg4.jpg) #84b6ef no-repeat right bottom;}

.main_conR_bot {}
.main_conR_sh{background:#fff;padding:20px 20px;}
.main_conR_shl{width:100%;}
.main_conR_sh span{width:70px;text-align:right;height:30px;line-height:30px;display:block;padding-right:10px;}
.main_conR_sh .txt{width:152px;height:30px;border:1px solid #dedede;padding-left:5px;line-height:30px;}
.main_conR_sh .mb{margin-bottom:15px;}
.main_conR_sh .state .state_1{
	display: inline-block;
	width: 87px;
}
.state{
	padding-left: 10px
}
.state span{
	display: inline-block;
}
.state_1 span{
	width:54px;
}
.state_1 input{
	position:relative;
	top:2px;
}
.mb .senior_search{
	display: inline-block;
	width:70px;
	height:30px;
	line-height: 30px;
	text-align: center;
	background: #32ccbf;
	color:#fff;
	padding-right: 0;
	cursor:pointer;
}
.txt2{margin-right:40px;}
.main_conR_sh .sel{width:152px;height:30px;border:1px solid #dedede;padding-bottom:2px;}

/*日期控件样式*/
	.datepicker {width:200px;position:absolute;top:250px;left:50px;background:#fff;border:1px solid #eaeaea;}
.main_conR_sh .sel{padding-bottom:2px;}
.mb .riqi{background:url(../images/riqi_img.jpg) no-repeat 125px center;}



.search_p{line-height:30px;padding-left:45px;box-sizing:border-box;position:relative;}
.search_p a{padding:0 5px;}
.search_p .cur_a{color:#32ccbf;}
.search_pl{width:35px;position:absolute;left:10px;top:0;}

.more_search{width:10%;}
.more_searchp{font-size:14px;background:url(../images/more_searchpbg.jpg) no-repeat right center;padding-right:16px;cursor:pointer;}
.more_searchp2{font-size:14px;background:url(../images/more_searchpbg2.jpg) no-repeat right center;padding-right:16px;cursor:pointer;}

.label_div{height:30px;}
.label_div a{padding:0 10px;margin:0 10px;line-height:30px;font-size:14px;}
.label_div .cur_a{border-bottom:2px solid #32ccbf;color:#32ccbf;}
.label_div .weihu_a{margin-right:50px;width:70px;height:30px;background:#32ccbf;line-height:30px;text-align:center;display:block;font-size:12px;color:#fff;}
.label_div .edit_btn{
	height:30px;
	text-align: right;
	padding-right: 35px;
	line-height: 30px;
}
.label_div .edit_btn span{
	display: inline-block;
	height:30px;
	padding:0px 10px;
	text-align: center;
	line-height:30px;
	background:#32ccbf;
	color:#fff;
	margin-right: 20px;
	cursor:pointer;
}
.main_conR_condiv{border-bottom:1px solid #eaeaea;padding:25px;box-sizing:border-box;background:#fff;}
.p2{color:#ec982b;font-size:14px;}
.main_conR_condiv2 span{margin-right:30px;line-height:30px;font-size:14px;}
.main_conR_condiv2 b{margin-right:15px;}
.em1{font-style:normal;}
.color_gray{color:#999999;}

.share_div a{width:40px;height:21px;line-height:21px;display:block;float:left;background:url(../images/share_divimg1.png) no-repeat left center;margin-right:15px;padding-left:22px;}
.share_div .a2{background-image:url(../images/share_divimg2.png) ;}
.share_div .a3{background-image:url(../images/share_divimg3.png) ;}


/*业务关联列表*/

.main_con{padding:20px 10% 0;width:100%;height:100%;overflow:auto;box-sizing:border-box;}
.result_div{padding-left:15px;font-size:14px;}
.result_divr2 a{background:#b8bcbc;color:#fff;}
.result_divr2 a:hover{background:#32ccbf;}
.result_divr2 .weihu_a2{background:#32ccbf;}
.shaixuan_p{padding-left:10px;}
.shaixuan_p .cur_a{color:#ec982b;}
.search_p2{padding-left:10px; line-height: 30px;}

/*知识搜索*/


.know_sea{height:100%;}
.know_seal{padding:10px;width:15%;box-sizing:border-box;background:#fff;height:100%;overflow:auto;}
.tree,.tree ul{
	width: 100%;
	margin: 0px;
	padding: 0px;
	background-color: #fff;
}
.tree li{
	width: 100%;
	list-style: none;
	    border-left: 1px solid #eaeaea;
	 margin-top: 8px;
}
.tree li span{
	height:18px;
	display: inline-block;
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
	-webkit-box-sizing:border-box; /* Safari */
	padding-left: 40px;
	padding-right: 10px;
	cursor: pointer;
}
.tree li ul{
	width: 100%;
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
	-webkit-box-sizing:border-box; /* Safari */	
	padding-left: 20px;
	cursor: pointer;	
}
.know_sear{border-left:1px solid #eaeaea;padding:30px 20px;height:100%;box-sizing:border-box;width:85%;overflow:auto;}
.main_conR_sh2{padding:20px 0;background:#fff;}
.main_conR_sh3{padding:0 20px;margin-bottom:15px;}
.zs_btn{width:72px;height:30px;background:#b8bcbc;margin-left:30px;border-radius:2px;color:#fff;cursor:pointer;}
.zs_btn:hover{background:#32ccbf;}

.label_div2{background:#e7e7e7;}
.main_conR_sh3 .riqi{background:url(../images/riqi_img.jpg) no-repeat 125px center;}

/*文档管理*/

.doc_mancontainer{width:100%;height:100%;padding:20px 30px;box-sizing:border-box;}
.doc_mancon{width:100%;height:100%;padding:30px;background:#fff;overflow:auto;}
.main_conR_sh3 .sel2{width:265px;}

.doc_mancon .h31{margin-bottom:15px;}

.know_list_div{width:100%;box-sizing:border-box;}
.know_list_ul li{width:29%;margin:10px 2%;float:left;border:1px solid #eaeaea;padding:15px;box-sizing:border-box;border-radius:2px;}
.b1{color:#999999;font-weight:normal;}
.know_listp1{font-size:16px;}
.know_list_ul li p{line-height:30px;text-align: center;}
	

/*知识库详情信息*/

.know_base{width:100%;height:100%;background:#fff;border:1px solid #eaeaea;padding-top:116px;position:relative;}
.know_base_top{width:100%;padding:20px;border-bottom:1px solid #eaeaea;box-sizing:border-box;height:116px;position:absolute;top:0;left:0;}
.know_base_ul{width:100%;}
.know_base_ul li{width:33%;float:left;line-height:25px;}

.know_base_bot{height:100%;overflow:auto;} 
.know_base_botl,.know_base_botr{padding:20px;width:50%;box-sizing:border-box;height:100%;overflow:auto;}
.know_base_botl{border-right:1px solid #eaeaea;}
.know_base_botl .load_a{color:#32ccbf;font-size:12px;}
.know_base_botlp{text-indent:2em;line-height:25px;}

.textp1_div{padding:10px 0;}
.know_tmpdiv{width:100%;}
.know_tmpdiv2{width:100%;padding-left:80px;position:relative;}
.know_tmp{width:50%;line-height:30px;}
.know_tmpdiv2 .b1{width:80px;position:absolute;left:0;top:0;}
.know_tmpdiv2 .know_tmp2{width:100%;}
.know_tmp2 b{margin-right:20px;}

/*信息管理*/

.know_man{border:1px solid #eaeaea;height:100%;position:relative;padding-top:189px;}
.know_man_top{background:#fff;padding:20px;position:absolute;left:0;top:0;height:159px;width:100%;box-sizing:border-box;}
.know_man_topul{}
.know_man_topul li{float:left;width:33%;margin-bottom:10px;}
.know_man_topul 
.know_man_span{width:90px;height:32px;line-height:32px;text-align:right;padding-right:5px;}
.know_man_txt{width:152px;height:30px;border:1px solid #dedede;padding-left:5px;line-height:30px;}
.know_man_sel{width:152px;height:30px;border:1px solid #dedede;}

.select_all_div{height:30px;line-height:30px;padding-left:20px;position:absolute;top:159px;left:0;}
.know_man_bot{background:#fff;height:100%;overflow:auto;}
.know_man_botdiv{padding:20px;border-bottom:1px solid #eaeaea;width:100%;}
.know_man_botdivr{padding:0 20px;border-bottom:0;}

.check{margin-right:5px;vertical-align:middle;margin-bottom:2px;}
.check_span{color:#ec982b;}

.mess_mandl{padding:10px 0;}
.mess_mandl dt{width:52px;height:52px;border-radius:50%;overflow:hidden;margin-right:20px;}
.mess_mandl dt img{width:100%;height:100%;}
.mess_mandl dd .s1{color:#32ccbf;margin-right:10px;}

.delete_adiv{padding-top:10px;}
.delete_adiv .delete_a{width:60px;height:26px;background:#b8bcbc;line-height:26px;text-align:center;display:block;color:#fff;border-radius:2px;}
.delete_adiv .delete_a:hover{background:#32ccbf;}

/*知识库管理*/

.know_base_man{height:100%;overflow:auto;}
.know_base_man_top{background:#fff;padding:35px 0;}
.know_base_manp{font-size:16px;text-align:center;}
.txt_div .mr{margin-right:50px;}

.know_base_man_bot{padding:35px 0;}
.know_li_div{width:100%;box-sizing:border-box;}
.know_li_ul{width:80%;margin:0 auto;}
.know_li_ul li{float:left;border:1px solid #eaeaea;background:#fff;width:29%;margin:20px 2%;border-radius:2px;padding:20px 20px 54px;position:relative;box-sizing:border-box;}
.know_li_ul li p{line-height:30px;text-align: center}
.know_li_uldiv{width:100%;position:absolute;left:0;bottom:0;height:34px;border-top:1px solid #eaeaea;}
.know_li_uldiv a{width:33%;border-right:1px solid #eaeaea;height:34px;float:left;text-align:center;line-height:34px;}
.know_li_uldiv .upload_a{color:#32ccbf;}
.know_li_uldiv .add_a{color:#50b0ed;}
.know_li_uldiv .look_a{color:#ec982b;border-right:0;}

/*新建栏目*/

.new_column{width:100%;height:100%;padding:20px 30px;box-sizing:border-box;}
.new_column_con{width:100%;height:100%;overflow:auto;background:#fff;}
.new_col_contop{padding:20px;border-bottom:1px solid #eaeaea;}

.zhuanti_h3{margin-right:20px;}
.zhuanti_txt{width:275px;height:30px;border:1px solid #eaeaea;padding-left:5px;line-height:30px;}










;
@charset "utf-8";
/* CSS Document */
/*
.datepicker {width:200px;position:absolute;top:250px;left:50px;background:#fff;border:1px solid #eaeaea;}

/*首页内容部分*/

/*
.main_conR_sh{background:#fff;padding:20px 20px;}

.main_conR_sh span{height:30px;line-height:30px;display:block;padding:0 10px;}
.main_conR_sh .txt{width:152px;height:30px;border:1px solid #dedede;padding-left:5px;line-height:30px;}
.main_conR_sh .mb{margin-bottom:15px;}
.txt2{margin-right:40px;}
*/
/*
.main_conR_sh .sel{padding-bottom:2px;}
.main_conR_sh .btn{width:72px;height:32px;background:#b8bcbc;margin-right:10px;border-radius:2px;color:#fff;cursor:pointer;}
.main_conR_sh .btn:hover{background:#32ccbf;}	
.main_conR_sh .cur_btn{background:#32ccbf;}
/*
.hide_shou_div{display:none;}
.search_p{line-height:30px;padding-left:10px;}
.search_p a{padding:0 5px;}
.search_p .cur_a{color:#32ccbf;}

/*.more_searchp{font-size:14px;background:url(../images/more_searchpbg.jpg) no-repeat right center;padding-right:16px;cursor:pointer;}
.more_searchp2{font-size:14px;background:url(../images/more_searchpbg2.jpg) no-repeat right center;padding-right:16px;cursor:pointer;}
*/
/*
.label_div{height:30px;}
.label_div a{padding:0 10px;margin:0 10px;line-height:30px;font-size:14px;}
.label_div .cur_a{border-bottom:2px solid #32ccbf;color:#32ccbf;}
.label_div .weihu_a{margin-right:50px;width:62px;height:30px;background:#32ccbf;line-height:30px;text-align:center;display:block;font-size:12px;color:#fff;}

.main_conR_condiv{border-bottom:1px solid #eaeaea;padding:25px;box-sizing:border-box;background:#fff;}
.p2{color:#ec982b;font-size:14px;}
.main_conR_condiv2 span{margin-right:30px;line-height:30px;font-size:14px;}
.main_conR_condiv2 b{margin-right:15px;}
.em1{font-style:normal;}
.color_gray{color:#999999;}

*/



/*登录页*/
.bg {
	position:absolute;
	width:100%;
	height:100%;
	z-index:-5;
}
/*login start*/
.login_container{
	width:420px;
	background: #fff;
	color:#999;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -210px;
	margin-top:-150px;
	border-radius: 5px;
}
.login_container .title{
	font-size: 28px;
	color:#fff;
	text-align: center;
	position:absolute;
    top: -90px;
    width: 100%;
}
.login_container .login_logo{
	text-align:center;
	padding-top: 10px;
	    height: 40px;
}
.login_container .login_logo p{
	margin-top: 5px;
	font-size: 18px;
	color:#fff;
}
.login_logo img{
	position: relative;
	top: -51px;
}
.login_container .login_wapper{
	padding: 10px 0;
}
.login_container .login_wapper .user_info{
	height: 30px;
	padding:0 0 37px 53px;
	margin-bottom: 10px;
}
.login_container .login_wapper .user_info span{
	font-size:14px;
	color: #999;
}
.login_container .login_wapper .user_info .rem_pass{
	color: #6c7481;
	height:30px;
	font-size: 12px;
	display: inline-block;
	line-height: 30px;
	text-align: center;
	margin-left: 3px;
	cursor: pointer;
	    padding: 0 6px;
}
.login_container .login_wapper .user_info .chk_pass{
	height:30px;
	line-height: 30px;
	display: inline-block;
	background: #f1f1f1;
	color:#929292;
	font-size: 16px;
	text-align: center;
	padding: 0 11px;
    margin-left: 6px;
	cursor: pointer;
    vertical-align: middle;
}
.login_container .login_wapper .user_info input{
	width: 230px;
	height:38px;
	padding:5px;
	margin-left: 14px;
	color:#333;
	border:1px solid #e2e2e2;

}
.user_info .info_content{
	border:1px solid #e2e2e2;
	height: 38px;
	display: inline-block;
	margin-left: 14px;
}
.user_info .info_content input{
	
}
.login_container .login_wapper .model{
	padding:10px 0 0 51px;
}
.login_container .login_wapper .model .model_select{
	font-size: 14px;
	color: #929292
}
.login_container .login_wapper .model select{
	height: 24px;
	margin-left: -8px;
	border:1px solid #e2e2e2;
}
.login_container .login_wapper .model .remember_user{
	height:30px;
	display: inline-block;
	margin-left: 25px;
}
.login_container .login_wapper .model .remember_user span{
	color: #5d5d5d;
	font-size: 13px;
	cursor: pointer;
}
.login_container .login_wapper .model .remember_user input{
	position: relative;
	top: 2px;
	right: 5px;
}
.login_container .login_wapper .login_btn{
	text-align: center;
	margin-top: 30px;
}
.login_btn .btn_sele{
	width:80px;
	height:35px;
	background:#32ccbf;
	color:#fff;
	margin-right:10px;
	font-size:14px;
	cursor:pointer;
}
.login_container .login_wapper .login_btn span{
	display:inline-block;
	width: 80px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	background: #efefef;
	color: #878787;
	font-size: 14px;
    margin-right: 15px;
	cursor: pointer;
}
.login_container .login_wapper .login_btn span.btn_sele{
	background: #32ccbf;
	width:128px;
	color: #fff;
}
.login_container .login_wapper .set_default{
	margin-top: 20px;
	text-align: center;

}
.login_container .login_wapper .set_default span{
	font-size:12px;
	color: #aaaaaa;
	padding: 0 5px;
	cursor: pointer;
}
/*login end*/

/*知识详情*/

.main_containerR .main_wapper{
	width: 100%;
	height:100%;
	padding: 30px 0 0 30px;
	position: relative;
}
.main_containerR .main_wapper .know_detail{
	overflow: hidden;
}
.main_containerR .main_wapper .know_detail div.know_item{
	float: left;
}
.main_containerR .main_wapper .know_detail div.business_context{
	float: left;
}
/*know_item start*/
.main_containerR .main_wapper .know_detail .know_item{
	width: 65%;
	padding: 20px 0 25px 25px;
	border:1px solid #dbdbdb;
}
.main_containerR .main_wapper .know_detail .know_item .item_title{
	overflow:hidden;
}
.main_containerR .main_wapper .know_detail .know_item .sp_1{
	font-size: 16px;
	font-weight: bold;

}
.main_containerR .main_wapper .know_detail .know_item .sp_2{
	font-size: 12px;
	color: #32ccbf;
	float: right;
	text-align: center;
	margin-right: 10px;

}
.main_containerR .main_wapper .know_detail .know_item .sp_2 span{
	display: inline-block;
	margin-right: 10px;
	cursor: pointer;
}
.main_containerR .main_wapper .know_detail .know_item .item_content{
	margin-top:15px;
}
.main_containerR .main_wapper .know_detail .know_item .item_content .con_title{
	color: #ec982b;
	font-size:14px;
	margin:10px 0;
}
.main_containerR .main_wapper .know_detail .know_item .item_content .con_detail{
	padding-right: 10px;
	padding-top: 10px;
	font-size:14px;
	line-height: 25px
}
.main_containerR .main_wapper .know_detail .know_item .item_tabs{
	margin-top: 20px;
	width: 100%;
}
.main_containerR .main_wapper .know_detail .know_item .item_tabs ul{
	overflow: hidden;
}
.main_containerR .main_wapper .know_detail .know_item .item_tabs ul li{
	float: left;
	width:25%;
	font-size: 14px;
}
.main_containerR .main_wapper .know_detail .know_item .item_tabs ul li .gray{
	color:#999999
}
.main_containerR .main_wapper .know_detail .know_item .item_tabs .business{
	margin-top: 10px;
		font-size: 14px;
	overflow: hidden;
}
.main_containerR .main_wapper .know_detail .know_item .item_tabs .business span.classify{
	float: left;

	color: #999;
}
.main_containerR .main_wapper .know_detail .know_item .item_tabs .business .busi_content{
	float: left;
	margin-left: 10px;
	width: 80%;
}
.main_containerR .main_wapper .know_detail .know_item .item_tabs .business .busi_content p{
	margin-bottom: 6px;
}
.main_containerR .main_wapper .know_detail .know_item .item_tabs .business .busi_content ul{
	overflow: hidden;
} 
.main_containerR .main_wapper .know_detail .know_item .item_tabs .business .busi_content ul li{
	float: left;
	width: 10%;
}
.main_containerR .main_wapper .know_detail .know_item .item_tabs .business .busi_content ul li span{
	font-weight: bold;
}
.main_containerR .main_wapper .know_detail .know_item .item_tabs .btn_grounp{
	height:30px;
	text-align: left;
	padding-left: 83px;
	margin-top: 20px;
}
.main_containerR .main_wapper .know_detail .know_item .item_tabs .btn_grounp span{
	display: inline-block;
	height: 30px;
	width: 70px;
	line-height: 30px;
	text-align: center;
	background: #b8bcbc;
	color: #fff;
	margin-right: 20px;
	font-size: 14px;
	cursor: pointer;
}
.main_containerR .main_wapper .know_detail .know_item .item_tabs .btn_grounp span.btn_sele{
	background: #32ccbf;
}
/*end know_item*/

/*know_detail start*/
.main_containerR .main_wapper .know_detail .business_context{
	width: 33%;
	padding: 30px 0 0 20px;
}

.main_containerR .main_wapper .know_detail .business_context .context_relative{
	height: 30px;
	border-bottom:1px solid #dbdbdb;
	line-height: 30px;
}
.main_containerR .main_wapper .know_detail .business_context .context_relative .relative_tit{
	font-weight: bold;
	font-size: 14px;
}
.main_containerR .main_wapper .know_detail .business_context .context_content{
	margin-top: 10px;
}
.main_containerR .main_wapper .know_detail .business_context .context_content p{
	margin-bottom: 10px;
}
.main_containerR .main_wapper .know_detail .business_context .context_content p.content_title span{
	display: inline-block;
	margin-right: 10px;
}
/*end know_detail*/

/*remark start*/
.main_containerR .main_wapper .remark{
	
	margin-top: 20px;
	font-size:16px;
	font-weight: bold;
}
.main_containerR .main_wapper .remark span{
	padding: 10px 0 0 30px;
}
.main_containerR .main_wapper .remark textarea{
	resize:none;
	width:98%;
	height:116px;
	margin-top: 10px;
	padding: 5px;
	border:1px solid #dbdbdb;
	background: none;
}
.main_containerR .main_wapper  .comments{
	height: 30px;
	text-align: center;
	margin-top: 10px;
}
.main_containerR .main_wapper  .comments span{
	display: inline-block;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background: #32ccbf;
	color: #fff;
	padding: 0 10px;
	font-size:14px;
	cursor:pointer;
}

.main_containerR .main_wapper .comments_con{
	margin-top: 20px;
	height:300px;

}
.main_containerR .main_wapper .comments_con .con_detail{
	overflow: hidden;
	margin-bottom: 20px;
}
.main_containerR .main_wapper .comments_con .con_detail .detail_1{
	float: left;
}
.main_containerR .main_wapper .comments_con .con_detail .detail_2{
	margin-left: 20px;
	margin-top: 5px;
	padding-right: 50px;
	width: 75%;
}
.main_containerR .main_wapper .comments_con .con_detail .detail_3{
	float: right;
	    margin-right: 27px;
	    margin-top: 15px;

}
.main_containerR .main_wapper .comments_con .con_detail .detail_3 p span{
	display:inline-block;
	height:30px;
	width: 60px;
	padding: 0 10px;
	line-height: 30px;
	text-align: center;
	background: #b8bcbc;
	color:#fff;
	margin-right: 10px;
	cursor:pointer;
}
.main_containerR .main_wapper .comments_con .con_detail .detail_3 p span.detail_sele{
	background: #32ccbf;
}


.main_containerR .main_wapper .sidebar{
	width: 30px;
	padding: 5px;
    position: fixed;
    top: 108px;
    right: 19px;
	background: #c1f2ee
}
.main_containerR .main_wapper .sidebar div.comment{
	text-align: center;
	cursor: pointer;
}
.main_containerR .main_wapper .sidebar_1{
	position: absolute;
	bottom: 280px;
	right:0;
	width: 30px;
	background: #c1f2ee;
	
}
.main_containerR .main_wapper .hide{
	display: none;
}
.main_containerR .main_wapper .show{
	display: block;
}
.main_containerR .main_wapper .sidebar_1 .comment{
	text-align: center;
	cursor: pointer;
	padding: 5px;
}



/*知识上传-文档导入-单条添加*/

.main_containerR .main_wapper .know_upload{

}
.main_containerR .main_wapper .know_upload ul{
	height:45px;
	overflow: hidden;
}
.main_containerR .main_wapper .know_upload ul li{
	float:left;
	width:110px;
	padding:10px 20px;
	text-align:center;
	font-size:16px;
	cursor: pointer;
}
.main_containerR .main_wapper .know_upload ul li.sele{
	background:#fff;
	border-top:2px solid #32ccbf;
	border-bottom: 2px solid #fff;
}
.main_containerR .main_wapper .know_upload .upload_content .hide{
	display: none;
}
.main_containerR .main_wapper .know_upload .upload_content .show{
	display: block;
}
.main_containerR .main_wapper .know_upload .upload_content{
    width: 98%;
    height: 91%;
	background: #fff;
}
.main_containerR .main_wapper .know_upload .upload_content .doc_import{
	padding: 20px 0 20px 20px;
}
.main_containerR .main_wapper .know_upload .upload_content .doc_import .know_lib span{
	font-size: 14px;
}
.main_containerR .main_wapper .know_upload .upload_content .doc_import .know_lib select{
	border: 1px solid #ccc;
	width: 156px;
	height: 32px;
	    margin-left: 38px;
}
.main_containerR .main_wapper .know_upload .upload_content .doc_import .process_style{
	margin-top:20px;
	font-size:14px;
}
.main_containerR .main_wapper .know_upload .upload_content .doc_import .process_style .style_items .items_1{
	display: inline-block;
	margin-right: 20px;
}
.main_containerR .main_wapper .know_upload .upload_content .doc_import .process_style .style_items .items_1 input{
	position: relative;
	top: 2px;
	right: 5px;
}
.main_containerR .main_wapper .know_upload .upload_content .doc_import .sele_classify{
	font-size: 14px;
	margin-top: 20px;
}
.main_containerR .main_wapper .know_upload .upload_content .doc_import .sele_classify input{
	width: 200px;
	height: 32px;
	border:1px solid #ccc;
	padding: 5px;
	margin-left: -3px;
}
.main_containerR .main_wapper .know_upload .upload_content .doc_import .file_upload{
	margin-top: 20px;
	font-size:14px;
	overflow: hidden;
	height: 210px;
}
.main_containerR .main_wapper .know_upload .upload_content .doc_import .file_upload div{
	float: left;
	height: 210px;

}
.main_containerR .main_wapper .know_upload .upload_content .doc_import .file_upload div#cke_MyTextarea{
	float: left;
	height: 305px;

}
.main_containerR .main_wapper .know_upload .upload_content .doc_import .file_upload div#cke_1_contents{
	height:150px;
}
.main_containerR .main_wapper .know_upload .upload_content .doc_import .file_upload div#cke_inner{
	height: 150px;
}
.main_containerR .main_wapper .know_upload .upload_content .doc_import .file_upload .txt{
	text-align: center;
	line-height: 210px;
}
.main_containerR .main_wapper .know_upload .upload_content .doc_import .file_upload .txt_content{
	border:1px solid #ccc;
	width: 400px;
	    margin-left: 29px;
}

.main_containerR .main_wapper .know_upload .upload_content .doc_import .file_upload textarea{
	resize:none;
	width:580px;
	height:210px;
	border:1px solid #ccc;
	overflow-y:auto;
}

.main_containerR .main_wapper .know_upload .upload_content .doc_import .attachment{
	padding:20px 0 0 107px;
}
.main_containerR .main_wapper .know_upload .upload_content .doc_import .attachment span{
	display: inline-block;
	width: 80px;
	height:32px;
	line-height: 32px;
	text-align: center;
	background: #b5b9c2;
	color: #fff;
	font-size: 14px;
	cursor: pointer;
}
.main_containerR .main_wapper .know_upload .upload_content .doc_import .btn_group{
	margin-top: 20px;
	padding-left: 77px;
}
.main_containerR .main_wapper .know_upload .upload_content .doc_import .btn_group span{
	width: 90px;
	height: 32px;
	display: inline-block;
	line-height: 32px;
	text-align: center;
	background: #b8bcbc;
	color: #fff;
	margin-right: 10px;
	cursor:pointer;
	font-size: 14px;
}
.main_containerR .main_wapper .know_upload .upload_content .doc_import .btn_group span.btn_sele{
	background: #32ccbf;
}


/*知识库条目*/
.main_containerR .main_wapper .knowLib_list{
	width: 98%;
	background: #fff;
    padding: 20px 0 20px 15px;
}
.main_containerR .main_wapper .knowLib_list .list_title{
	font-size: 16px;
	font-weight: bold;
}
.main_containerR .main_wapper .knowLib_list .list_btn{
	float: right;
	margin-right: 40px;
}
.main_containerR .main_wapper .knowLib_list .list_btn span{
	display: inline-block;
	width: 76px;
	height: 28px;
	line-height:28px;
	text-align: center;
	background: #b8bcbc;
	color:#fff;
	cursor: pointer;
	margin-right: 10px;
}
.main_containerR .main_wapper .knowLib_list .list_btn span.btn_sele{
	background: #32ccbf;
}
.main_containerR .main_wapper .know_table{
	width: 98%;
	height: 90%;
	background:#fff;
	padding-bottom: 10px;
}
.main_containerR .main_wapper .know_table table{
	width: 100%;
	font-size: 14px;

}
.main_containerR .main_wapper .know_table table thead tr{
	background: #f6f6f6;
	height: 32px;
}
.main_containerR .main_wapper .know_table table tbody tr{
	border-bottom: 1px solid #e9e9e9;
}
.main_containerR .main_wapper .know_table table tr{
	height: 74px;

}
.main_containerR .main_wapper .know_table table tr input{
	position: relative;
	left: 7px;
}
.main_containerR .main_wapper .know_table table tr td{
	text-align: center;
}
.main_containerR .main_wapper .know_table table tr td.btn span{
	display:inline-block;
	margin-right: 5px;
	color:#b8bcbc;

}
.main_containerR .main_wapper .know_table table tr td.btn span.sele{
	color:#32ccbf;
}
.main_containerR .main_wapper .know_table .page_container{
	height: 40px;
	margin-top: 40px;
	text-align: center;
}
.main_containerR .main_wapper .know_table .page_container ul{
	height: 30px;
	overflow:hidden;
	margin: 5px 0 0 300px;
	float: left;
}
.main_containerR .main_wapper .know_table .page_container ul li{
	float: left;
	padding: 4px 10px;
	border: 1px solid #ccc;
	margin-right: 5px;
	cursor: pointer;
}
.main_containerR .main_wapper .know_table .page_container ul li.sele{
	background:#32ccbf;
	color: #fff;
}
.main_containerR .main_wapper .know_table .page_container .forward{
	float: left;
	height:30px;
	text-align: center;
	line-height: 30px;
	margin-top: 5px;
}
.main_containerR .main_wapper .know_table .page_container .forward span input{
	width: 33px;
	height: 25px;
	border:1px solid #ccc;
	padding: 5px;
}
.main_containerR .main_wapper .know_table .page_container .forward span.go{
	width: 33px;
	height: 26px;
	display: inline-block;
	color:#fff;
	background:#32ccbf;
	line-height: 26px;
	text-align: center;
	cursor: pointer;
}
.edit_doc{
	text-align: center;
	height:30px;
}
.edit_doc span{
	display: inline-block;
	width: 70px;
	height:30px;
	text-align: center;
	line-height: 30px;
	background:#b8bcbc;
	cursor:pointer;
	color:#fff;
	margin-right: 50px
}
.edit_doc span.btn_sele{
	background:#32ccbf;;
}
/*流程审核*/
.main_containerR .main_wapper .main_conR_sh p{
	height: 30px;
	margin-top: 30px;
	text-align: center;
}
.main_containerR .main_wapper .main_conR_sh p input{
	width: 72px;
	height:32px;
	margin-right: 15px;
	background: #b8bcbc;
	color: #fff;
	cursor: pointer;

}
.main_containerR .main_wapper .main_conR_sh p input.sele{
	background: #32ccbf;
}
.main_containerR .main_wapper .main_conR_con .app_opinion{
	line-height:30px;
	border:1px solid #eaeaea;
	height: 30px;
	margin-left: 165px;
	width:1030px;
	padding: 5px;
}
.main_containerR .main_wapper .main_conR_con .btn_group{
	height:40px;
	text-align: center;
	margin-top:20px;
}
.main_containerR .main_wapper .main_conR_con .btn_group span{
	display: inline-block;
	width: 72px;
	height:30px;
	line-height: 30px;
	text-align: center;
	background:#b8bcbc;
	color:#fff;
	cursor: pointer;
	margin-right: 8px;
}
.main_containerR .main_wapper .main_conR_con .btn_group span.sele_1{
	background: #ec982b;
}
.main_containerR .main_wapper .main_conR_con .btn_group span.sele{
	background: #32ccbf;
}

/*个人设置*/
.main_containerR .main_wapper .person_set{
	height: 700px;
	width:98%;
	background: #fff;
	padding: 50px 0 40px 50px;
}
.main_containerR .main_wapper .person_set .set_title{
	font-weight: bold;
}
.main_containerR .main_wapper .person_set .set_content{

	margin-top: 10px;
	padding:10px 0 0 20px;
}
.main_containerR .main_wapper .person_set .set_content .set_img{
	overflow: hidden;
}
.main_containerR .main_wapper .person_set .set_content .set_img .img_area{
	display: inline-block;
	width: 78px;
	height:78px;
	background: #dbdbdb;
	margin-left: 60px;
	float:left;
}
.main_containerR .main_wapper .person_set .set_content .set_img .img_info{
	float: left;
	margin: 20px 0 0 20px;
	font-size: 12px;
}
.main_containerR .main_wapper .person_set .set_content p span{
	color:#999;
}
.main_containerR .main_wapper .person_set .set_content .set_user{
	margin-top:20px;
}
.main_containerR .main_wapper .person_set .set_content .set_user .user{
	display:inline-block;
	margin-left: 60px;
	margin-right: 5px;
}
.main_containerR .main_wapper .person_set .set_content .set_user .user input{
	width:155px;
	height: 30px;
	padding: 5px;
	border:1px solid #eaeaea;
}
.main_containerR .main_wapper .person_set .set_content .set_user .user input.ipt{
	width:200px;
}
.main_containerR .main_wapper .person_set .set_content .set_user .user select{
	border:1px solid #eaeaea;
	height: 30px;
	width:40px;
}
.main_containerR .main_wapper .person_set .set_content .set_btn{
	height: 30px;
	margin-top:50px;
	padding-left: 50px;
}
.main_containerR .main_wapper .person_set .set_content .set_btn span{
	display: inline-block;
	width:70px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	cursor: pointer;
	background: #b8bcbc;
	margin-right: 10px;
	color:#fff;
}
.main_containerR .main_wapper .person_set .set_content .set_btn span.btn_sele{
	background: #32ccbf;
}

/*栏目管理*/
.main_containerR .main_wapper_1{
	width: 100%;
}
.main_containerR .main_wapper_1 .column_que{
	padding-bottom: 35px;
	padding-top: 40px;
	background:#fff;
}
.main_containerR .main_wapper_1 .column_que .que_title{
	font-size:16px;
	color:#666;
	text-align: center;
}
.main_containerR .main_wapper_1 .column_que .que_content{
	text-align: center;
	height:30px;
	margin-top: 20px;
}
.main_containerR .main_wapper_1 .column_que .que_content .search_list{
	display: inline-block;
	margin-right: 40px;
}
.main_containerR .main_wapper_1 .column_que .que_content .search_list input{
	width: 160px;
	height: 30px;
	margin-left: 10px;
	padding: 5px;
	border:1px solid #eaeaea;
}
.main_containerR .main_wapper_1 .column_que .que_btn{
	text-align: center;
	margin-top: 20px;
}
.main_containerR .main_wapper_1 .column_que .que_btn span{
	display: inline-block;
	width: 80px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background: #b8bcbc;
	color: #fff;
	margin-right: 10px;
	cursor:pointer;
}
.main_containerR .main_wapper_1 .column_que .que_btn span.sele{
	background: #32ccbf;
}

.main_containerR .main_wapper_1 .column_set{
	height:40px;

	margin: 13px 0 10px 0;
	text-align: center;
}
.main_containerR .main_wapper_1 .column_set span{
	display: inline-block;
	width: 130px;
	height: 32px;
	line-height: 32px;
	text-align: center;
	border: 1px solid #dcdcdc;
	border-radius: 12px;
	margin-right: 10px;
	color:#ec982b;
	cursor:pointer;
}
.main_containerR .main_wapper_1 .column_set span.sele{
	color: #32ccbf;
}
.main_containerR .main_wapper_1 .column_content{
	padding-left:  100px;
	height: 500px;
	overflow-y:auto;
}
.main_containerR .main_wapper_1 .column_content ul{
	overflow: hidden;
	padding-left: 30px;
}
.main_containerR .main_wapper_1 .column_content ul li{
	float:left;
	height:220px;
	width:25%;
	margin:0 0 30px 50px;
	padding-top: 15px;
	background: #fff;
	border: 1px solid #eaeaea;
}
.main_containerR .main_wapper_1 .column_content ul li .con_list_title{
	text-align: center;
	font-weight: bold;
}
.main_containerR .main_wapper_1 .column_content ul li .con_list_detail{
	margin-top: 13px;
	text-align: center;
}
.main_containerR .main_wapper_1 .column_content ul li .con_list_detail .gray{
	color:#999;
}
.main_containerR .main_wapper_1 .column_content ul li .con_list_edit{
	height: 35px;
	width: 100%;
	margin-top: 23px;
	border-top:1px solid #eaeaea;
	border-bottom:1px solid #eaeaea;
	background: #f9f9f9;
}
.main_containerR .main_wapper_1 .column_content ul li .con_list_edit span{
	display: inline-block;
	width:49.36%;
	height:35px;
	line-height: 35px;
	text-align: center;
	
	color: #e55d5d;
	cursor:pointer;
}
.main_containerR .main_wapper_1 .column_content ul li .con_list_edit span.sele{
	border-right: 1px solid #eaeaea;
	color:#32ccbf;
}


/*用户管理*/
.main_containerR .main_wapper .user_que{
	width:98%;
	background:#fff;
	border-bottom: 1px solid #e9e9e9;
	padding: 15px 20px;
}
.main_containerR .main_wapper .user_que .que_title{
	font-weight: bold;
	text-align: center;
}
.main_containerR .main_wapper .user_que .que_con{
	margin-top: 20px;
 	text-align: center;
}
.main_containerR .main_wapper .user_que .que_con .con_detail{
	display: inline-block;
	margin-right: 150px;
}
.main_containerR .main_wapper .user_que .que_con .con_detail input{
	width:155px;
	height: 30px;
	padding: 5px;
	margin-left: 5px;
	border:1px solid #eaeaea;
}
.main_containerR .main_wapper .user_que .que_con .con_detail select{
	width:40px;
	height:30px;
	margin-left: 5px;
	border:1px solid #eaeaea;
}
.main_containerR .main_wapper .user_que .que_btn{
	text-align:center;
	margin-top: 20px;
}
.main_containerR .main_wapper .user_que .que_btn span{
	display: inline-block;
	width:70px;
	height:30px;
	text-align: center;
	line-height: 30px;
	background: #b8bcbc;
	color:#fff;
	cursor: pointer;
	margin-right: 10px
}
.main_containerR .main_wapper .user_que .que_btn span.sele{
	background: #32ccbf;
}

.main_containerR .main_wapper .user_list{
	width:98%;
	background:#fff;
	padding: 10px 180px;
	border-bottom: 1px solid #eaeaea;
}
.main_containerR .main_wapper .user_list .list_title{
	text-align: center;
	overflow: hidden;
}
.main_containerR .main_wapper .user_list .list_title .add_new{
	display: inline-block;
	height: 27px;
	text-align: center;
	line-height: 27px;
	color:#32ccbf;
	border:1px solid #eaeaea;
	border-radius:10px;
	float: right;
	position: relative;
	right: 115px;
	padding: 0 10px;
	cursor:pointer;
}
.main_containerR .main_wapper .user_list .list_table{
	margin-top: 10px;
}
.main_containerR .main_wapper .user_list .list_table table{
	width:98%;
}
.main_containerR .main_wapper .user_list .list_table table tr{
	height:30px;
}
.main_containerR .main_wapper .user_list .list_table table td,th{
	text-align: center;
	border:1px solid #eaeaea;
}

.main_containerR .main_wapper .user_defend{
	width:98%;
	margin-bottom: 20px;
	background: #fff;
	padding: 20px 180px;
}
.main_containerR .main_wapper .user_defend .defend_title{
	text-align: center;
	font-weight: bold;
}
.main_containerR .main_wapper .user_defend .defend_con {
	margin-top:20px;
}
.main_containerR .main_wapper .user_defend .defend_con span.gray{
	color:#999;
}
.main_containerR .main_wapper .user_defend .defend_con .con_detail{
	margin-right: 80px;
	display: inline-block;
}
.main_containerR .main_wapper .user_defend .defend_con .con_detail input{
	border:1px solid #eaeaea;
	width: 155px;
	height:30px;
	margin-left: 5px;
	padding: 5px;

}
.main_containerR .main_wapper .user_defend .defend_con .con_detail select{
	width: 40px;
	height: 30px;
	border: 1px solid #eaeaea;
}
.main_containerR .main_wapper .user_defend .defend_con .role{
	display: inline-block;
	margin-right: 20px;
}
.main_containerR .main_wapper .user_defend .defend_con .role input{
	position: relative;
	top: 2px;
}
.main_containerR .main_wapper .user_defend .defend_con .add_minus span{
	display: inline-block;
	width: 18px;
	height: 18px;
	text-align: center;
	line-height: 18px;
	background: #32ccbf;
	cursor: pointer;
	color: #fff;
	margin-right: 5px;
}
.main_containerR .main_wapper .user_defend .defend_con .author{
	float:left;
}
.main_containerR .main_wapper .user_defend .defend_con ul{
	float:left;
	width: 94%;
	overflow: hidden;
	padding-left: 5px;
	
}
.main_containerR .main_wapper .user_defend .defend_con ul li{
	width: 17%;
	float: left;
	margin-bottom: 10px;
}
.main_containerR .main_wapper .user_defend .defend_con ul li input{
	position: relative;
	top: 2px;
}
.main_containerR .main_wapper .user_defend .defend_btn{
	text-align: center;
	margin-top: 20px;
}
.main_containerR .main_wapper .user_defend .defend_btn span{
	display: inline-block;
	width: 70px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	background: #b8bcbc;
	color: #fff;
	cursor: pointer;
	margin-right: 10px;
}
.main_containerR .main_wapper .user_defend .defend_btn span.btn_1{
	background: #32ccbf;
}
.main_containerR .main_wapper .user_defend .defend_btn span.btn_2{
	background: #ec982b;
}

/*角色管理*/
.main_containerR .main_wapper .user_list .list_table table td span{
	color:#ec982b;
	cursor: pointer;
}

/*知识统计*/
.count_img{
	background:#fff;
	margin-right: 50px;
	padding:30px 0 30px 30px;
	overflow: hidden;
}
.count_img .img_1{
	width:45%;
	float:left;
	margin-right: 20px;
}
.count_img .img_1 p{
	font-size: 15px;
	font-weight: bold;
	padding-left: 32px;
}
.count_img .img_1 p input{
	height:30px;
	border:1px solid #eaeaea;
	padding: 5px;
	margin-left: 30px
}
.count_img .img_1 div{
	margin-top: 10px;
}
.count_content{
	background:#fff;
	margin-right: 50px;


}
.content_detail{
	padding:20px 0 20px 20px;
		border-bottom:1px solid #e9e9e9;
}
.count_content .content_detail p{
	color: #ec982b;

}
.content_detail .detail_con{
	margin-top: 5px;
	width:98%;
}
/*审批详情*/
.audit_process{
	text-align: center;
	margin-top: 10px
}
.audit_process span{
	display:inline-block;
	height:30px;
	padding:0 10px;
	line-height: 30px;
	text-align:center;
	background:#32ccbf;
	color:#fff;
margin-left: -8px;
cursor: pointer;
}
.audit_process span.gray{
	background: #cfcfcf;
}
.audit_process img{
	 position: relative;
    top: 10px;
    left: -4px;
}
.audit_adv{
	overflow: hidden;
	width:98%;
} 
.audit_adv span{
	float:left;
}
.audit_btn{
	text-align: center;
	margin-top: 10px
}
.audit_btn span{
	display: inline-block;
	width:70px;
	height:30px;
	line-height: 30px;
	text-align: center;
	background:#b8bcbc;
	color:#fff;
	cursor:pointer;
	margin-right: 10px;
}
.audit_btn span.btn_1{
	background: #32ccbf
}
.audit_btn span.btn_2{
	background: #ec982b
}
/*知识库列表*/
.know_list_btn{
	text-align: center;
}
.know_list_btn span{
	height:30px;
	line-height: 30px;
	background:#b8bcbc;
	color:#fff;
	cursor: pointer;
	margin-right: 10px;
	padding: 5px 10px;
}
.know_list_btn span.btn_1{
	background: #32ccbf
}
.know_list_btn span.btn_2{
	background:#ec982b
}
/*审批流管理*/
.con_detail .know_func{
	display: inline-block;
	margin-right: 50px;
}
.know_func_btn{
	text-align: center;
	margin-top: 50px;
}
.know_func_btn span{
	display: inline-block;
	width:70px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background: #b8bcbc;
	color:#fff;
	cursor:pointer;
	margin-right: 10px;
}
.know_func_btn span.btn_sele{
	background: #32ccbf;
}

/* 文档详情信息*/
.know_base_botl .vague{
       width: 41%;
    height: 85px;
    background: rgba(255,255,255,0.85);
    -webkit-opacity: 0.85;
    -moz-opacity: 0.85;
    filter: Alpha(opacity=85);
    position: fixed;
    /* top: -30px; */
    bottom: 20px;
}

/*组织管理*/
.main_wapper .node{
	text-align: center;
	margin-top: 10px;

}
.main_wapper .node span{
	display: inline-block;
	height:30px;
	padding:5px 10px;
	border:1px solid #dcdcdc;
	color:#32ccbf;
	margin-right: 10px;
	cursor: pointer;
	border-radius: 13px;
}

/*分类管理*/
.user_list .list_node{
	margin-top: 10px
}
.user_list .list_node span{
	cursor:pointer;
}
/*遮罩层*/
.mask{
	position: absolute;
	top: 0px;
	left:0px;
	width:100%;
	height:100%;
	background:rgba(0,0,0,.5);
}
.pop_addKnowLib,.pop_copyKnowLib{
	width:400px;
	height: 250px;
	position:absolute;
	background: #fff;
	top:50%;
	left:50%;
	margin-left: -200px;
	margin-top: -125px;
	z-index:3;
}
 .Lib_title{
	height:40px;
	padding-top:10px;
	line-height: 40px;
	text-align: center;
	font-size:18px;
	 color:#666;
	margin-bottom: 10px;
}
.Lib_con{
	padding: 10px 20px;
}
.know_name input{
	width:230px;
	height:30px;
	border:1px solid #eaeaea;
	padding: 5px;
}
.know_desc{
	margin-top:10px;
	overflow: hidden;
}
.know_desc textarea{
	resize:none;
	width:230px;
	height:100px;
	border:1px solid #eaeaea;
	margin-left: 5px;
	padding: 5px;
}
.know_btn{
	margin-top:10px;
	text-align: center;
}
.know_btn span{
	display: inline-block;
	height:30px;
	padding: 5px 10px;
	background:#b8bcbc;
	cursor:pointer;
	margin-right: 10px;
	color:#fff;
}
.know_btn span.btn_sele{
	background:#32ccbf;
}
/*添加人员弹框*/
.pop_addUser{
	width:650px;
	padding-bottom: 20px;
	background:#FFF;
	position:absolute;
	top: 50%;
	left:50%;
	margin-top: -150px;
	margin-left: -302px;
	z-index:5;
}
.addUser_title{
	height:30px;
	text-align: center;
	line-height: 30px;
}
.addUser_role{
	overflow: hidden;
	margin-top:10px;
	padding-left: 10px;
	padding-bottom: 10px;
	border-bottom:1px dashed #eaeaea;
}
.addUser_role ul{
	margin-left: 10px;
	overflow:hidden;
	width:88%;
}
.addUser_role ul li{
	margin-right: 10px;
	float:left;
	margin-bottom:5px;
}

.know_opt{
	margin-top: 10px;
}
.know_opt input{
	position:relative;
	top:2px;
	right:5px;
}

.pop_addUser_per{
	background:#fff;
	position: absolute;
	top:50%;
	left:50%;
	margin-top:-350px;
	margin-left:-385px;

}
.addUser_searList{
	margin-top:20px;
}
.addUser_searList input{
	height:30px;
	width:155px;
	padding:5px 10px;
	border:1px solid #eaeaea;
}
.addUser_searList select{
	border:1px solid #eaeaea;
	height:30px;
	width:40px;
}
.addUser_table table td{
	height:30px;
	text-align:center;
	border:1px solid #eaeaea;
}


.know_btn span.btn_sele1{
	background:#32ccbf;
}
