<!DOCTYPE html>
<html lang="zh-cn">
	<head>
		<meta charset="utf-8">
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>机器人设置</title>
		<link href="css/base.css" type="text/css" rel="stylesheet" />
		<link href="css/common.css" type="text/css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="css/robotSetup.css"/>
		<link rel="stylesheet" type="text/css" href="css/addContent.css"/>
		
		<!--[if lt IE 9]>
		<link type="text/css" rel="stylesheet" href="css/H-ui.ie.css">
		<script type="text/javascript" src="lib/html5.js"></script>
		<script type="text/javascript" src="lib/respond.min.js"></script>
		<script type="text/javascript" src="js/PIE_IE678.js"></script>
		<![endif]-->
		<link rel="stylesheet" href="css/H-ui.min.css">
		<link rel="stylesheet" href="css/H-ui.admin.css">
		<link rel="stylesheet" href="css/common2.css">
	</head>
	<body>
<div class="header clearfix">
    <div class="logo">
        <a href="首页.html"><strong>小富机器人控制平台</strong><em class="edition">V4.0</em></a>
    </div>
    <ul class="nav">
        <li>
            <a href="javascript:;">首页</a>
        </li>
        <li>
            <a href="javascript:;">我的应用</a>
        </li>
        <li>
            <a href="javascript:;">业务建模<i class="nav-more nav-more__nav-more"></i></a>
            <ul class="menu_1">
                <li>
                    <a href="javascript:;">
                        <i class="icon-nav icon-nav__icon-nav_jmzy"></i>
                        <span>建模资源</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <i class="icon-nav icon-nav__icon-nav_lmgl"></i>
                        <span>类目管理</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <i class="icon-nav icon-nav__icon-nav_gngl"></i>
                        <span>概念管理</span>
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="javascript:;">知识管理<i class="nav-more nav-more__nav-more"></i></a>
            <ul class="menu_1">
                <li>
                    <a href="javascript:;">
                        <i class="icon-nav icon-nav__icon-nav_zszl"></i>
                        <span>知识总览</span>
                    </a>
                </li>
                <li>
                    <ul class="menu_1 menu_2 ">
                    	 <li>
		                    <a href="javascript:;">
		                        <span>FAQ知识新增</span>
		                    </a>
		                </li>
		                <li>
		                    <a href="javascript:;">
		                        <span>概念知识新增</span>
		                    </a>
		                </li>
		                <li>
		                    <a href="javascript:;">
		                        <span>列表知识新增</span>
		                    </a>
		                </li>
		                <li>
		                    <a href="javascript:;">
		                        <span>要素知识新增</span>
		                    </a>
		                </li>
                    </ul>
                    <a href="javascript:;">
                        <i class="icon-nav icon-nav__icon-nav_zsjg"></i>
                        <span>知识单条新增</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <i class="icon-nav icon-nav__icon-zsplxz"></i>
                        <span>知识批量新增</span>
                    </a>
                </li>
                 <li>
                    <a href="javascript:;">
                        <i class="icon-nav icon-nav__icon-wdjgxz"></i>
                        <span>文档加工新增</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <i class="icon-nav icon-nav__icon-nav_zsfb"></i>
                        <span>知识发布</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <i class="icon-nav icon-nav__icon-nav_zssh"></i>
                        <span>知识审核</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <i class="icon-nav icon-nav__icon-nav_lsck"></i>
                        <span>历史查看</span>
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="javascript:;">测试功能<i class="nav-more nav-more__nav-more"></i></a>
            <ul class="menu_1">
                <li>
                    <a href="javascript:;">
                        <i class="icon-nav icon-nav__icon-nav_wfcs"></i>
                        <span>问法测试</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <i class="icon-nav icon-nav__icon-nav_ltcs"></i>
                        <span>聊天测试</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <i class="icon-nav icon-nav__icon-nav_plcs"></i>
                        <span>批量测试</span>
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="javascript:;">应用分析<i class="nav-more nav-more__nav-more"></i></a>
            <ul class="menu_1">
                <li>
                    <a href="javascript:;">
                        <i class="icon-nav icon-nav__icon-nav_fwtj"></i>
                        <span>访问统计</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <i class="icon-nav icon-nav__icon-nav_zsdpm"></i>
                        <span>知识点排名统计</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <i class="icon-nav icon-nav__icon-nav_wpp"></i>
                        <span>未匹配问题统计</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <i class="icon-nav icon-nav__icon-nav_fltj"></i>
                        <span>分类统计</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <i class="icon-nav icon-nav__icon-nav_hhmx"></i>
                        <span>会话明细统计</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <i class="icon-nav icon-nav__icon-nav_jjltj"></i>
                        <span>解决率统计</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <i class="icon-nav icon-nav__icon-nav_myltj"></i>
                        <span>满意率统计</span>
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="javascript:;">素材管理<i class="nav-more nav-more__nav-more"></i></a>
            <ul class="menu_1">
                <li>
                    <a href="javascript:;">
                        <i class="icon-nav icon-nav__icon-nav_ltzsk"></i>
                        <span>聊天知识库</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <i class="icon-nav icon-nav__icon-nav_hxck"></i>
                        <span>寒暄词库</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <i class="icon-nav icon-nav__icon-nav_tpk"></i>
                        <span>图片库</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <i class="icon-nav icon-nav__icon-nav_twfxk"></i>
                        <span>图文消息库</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <i class="icon-nav icon-nav__icon-nav_wdk"></i>
                        <span>文档库</span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
    <div class="header-r">
        <div class="user-admin">
            <a class="user-name" href="javascript:;"><i></i><span>鼎富科技</span></a>
            <div class="ua-menu_1-box">
                <ul class="ua-menu_1">
                    <li>
                        <a href="javascript:;">
                            <i class="icon-header-r icon-header-r__h-r1"></i>
                            <span>全线管理</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i class="icon-header-r icon-header-r__h-r2"></i>
                            <span>切换应用</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i class="icon-header-r icon-header-r__h-r3"></i>
                            <span>退出登录</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="mail-conver">
            <a href="javascript:;" class="mail">
                <em>2</em>
            </a>
            <a href="javascript:;" class="conver"></a>
        </div>
    </div>
</div>	
		<div class="main warp">
			<div class="crumbs-nav bgwhite mt20">
				<span class="cn-lable">你曾经路过此地：</span>
				<span class="cn-value"><a class="cn-a" href="javascript:;">首页</a><i class="close">x</i></span>
				<span class="cn-value"><a class="cn-a" href="javascript:;">我的应用</a><i class="close">x</i></span>
				<span class="cn-value"><a class="cn-a" href="javascript:;">评论列表</a><i class="close">x</i></span>
				<span class="cn-value active"><a class="cn-a" href="javascript:;">机器人设置</a><i class="close">x</i></span>
			</div>
			
			<div class="page-lrcont210 clearfix bgwhite mt10">
				<div class="l-aside fl">
					<div class="aside-hd tac">
						<img class="hd-img" src="images/poto.png"/>
						<span class="hd-name ellipsis">长沙银行机器人</span>
					</div>
					<div class="aside-nav aside-nav2">
						<ul>
							<li>
								<a class="slide-a ellipsis" href="javascript:;">
									<i class="icon-l icon-nav1"></i>
									<span>应用信息</span>
									<i class="icon-r icon-jt"></i>
								</a>
								<ul class="menu_1">
									<li>
										<a class="ellipsis" href="javascript:;"><span>机器人设置123</span></a>
									</li>
									<li>
										<a class="ellipsis" href="javascript:;"><span>机器人设置</span></a>
									</li>
									<li>
										<a class="ellipsis" href="javascript:;"><span>机器人设置</span></a>
									</li>
								</ul>
							</li>
							<li>
								<a class="slide-a ellipsis" href="javascript:;">
									<i class="icon-l icon-nav2"></i>
									<span>应用开发</span>
									<i class="icon-r icon-jt"></i>
								</a>
								<ul class="menu_1">
									<li>
										<a class="ellipsis" href="javascript:;"><span>机器人设置</span></a>
									</li>
									<li>
										<a class="ellipsis" href="javascript:;"><span>机器人设置</span></a>
									</li>
									<li>
										<a class="ellipsis" href="javascript:;"><span>机器人设置</span></a>
									</li>
								</ul>
							</li>
							<li>
								<a class="slide-a ellipsis" href="javascript:;">
									<i class="icon-l icon-nav3"></i>
									<span>应用配置</span>
									<i class="icon-r icon-jt"></i>
								</a>
								<ul class="menu_1">
									<li>
										<a class="ellipsis" href="javascript:;"><span>机器人设置</span></a>
									</li>
									<li>
										<a class="ellipsis" href="javascript:;"><span>机器人设置</span></a>
									</li>
									<li>
										<a class="ellipsis" href="javascript:;"><span>机器人设置</span></a>
									</li>
								</ul>
							</li>
							<li>
								<a class="slide-a ellipsis" href="javascript:;">
									<i class="icon-l icon-nav4"></i>
									<span>应用发布 </span>
									<i class="icon-r icon-jt"></i>
								</a>
								<ul class="menu_1">
									<li>
										<a class="ellipsis" href="javascript:;"><span>机器人设置</span></a>
									</li>
									<li>
										<a class="ellipsis" href="javascript:;"><span>机器人设置</span></a>
									</li>
									<li>
										<a class="ellipsis" href="javascript:;"><span>机器人设置</span></a>
									</li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
				<div class="r-cont pd30">
					<div class="r-cont-hd">
						<span>机器人设置</span>
					</div>
					<div class="r-cont-bd oh">
						
						<div class="jqrsz-item">
							<div class="item-line">
								 <div class="lable">
								 	机器人昵称：
								 </div>
								 <div class="value">
								 	<div class="ipt-txt-box">
								 		<input class="ipt-txt" type="text" />
								 		<i class="btn-empty"></i>
								 	</div>
								 	<div class="error-tip">
								 		错误提示
								 	</div>
								 </div>
							</div>
							<div class="item-line mt15 mb10">
								 <div class="lable">
								 	机器人头像：
								 </div>
								 <div class="value">
								 	<div class="poto-box">
								 		<img src=""/>
								 	</div>
								 	<div class="up-tip">
								 		网页聊天中左上角展示的圆形头像，<br />设置像素为70*70
								 	</div>
								 	<div class="up-btn">
								 		<a class="js-jdbtn" href="javascript:;">经典</a>
								 		<a class="js-zdybtn" href="javascript:;">自定义</a>
								 	</div>
								 </div>
							</div>
							<div class="item-line">
								 <div class="lable">
								 	欢迎语：
								 </div>
								 <div class="value">
								 	<textarea class="textarea">小富机器人欢迎您！</textarea>
								 	<div class="error-tip">
								 		错误提示
								 	</div>
								 </div>
							</div>
						</div>
						
						<div class="jqrsz-item">
							<div class="item-line">
								 <div class="lable">
								 	热点知识跟新频率：
								 </div>
								 <div class="value">
								 	<div class="ipt-txt-box">
								 		<input class="ipt-txt" type="text" style="width: 190px;" />
								 		<i class="btn-empty"></i>
								 	</div>
								 	 &nbsp;<span>分钟</span>
								 	<div class="error-tip">
								 		错误提示
								 	</div>
								 </div>
							</div>
							<div class="item-line">
								 <div class="lable">
								 	未知回答：
								 </div>
								 <div class="value">
								 	<div class="ipt-txt-box">
								 		<input class="ipt-txt" type="text" />
								 		<i class="btn-empty"></i>
								 	</div>
								 	<div class="error-tip">
								 		错误提示
								 	</div>
								 </div>
							</div>
							<div class="item-line">
								 <div class="lable">
								 	敏感词回答：
								 </div>
								 <div class="value">
								 	<div class="ipt-txt-box">
								 		<input class="ipt-txt" type="text" />
								 		<i class="btn-empty"></i>
								 	</div>
								 	<div class="error-tip">
								 		错误提示
								 	</div>
								 </div>
							</div>
							<div class="item-line">
								 <div class="lable">
								 	过期知识回答：
								 </div>
								 <div class="value">
								 	<div class="ipt-txt-box">
								 		<input class="ipt-txt" type="text" />
								 		<i class="btn-empty"></i>
								 	</div>
								 	<div class="error-tip">
								 		错误提示
								 	</div>
								 </div>
							</div>
						</div>
						
						<div class="jqrsz-item">
							<div class="item-line">
								 <div class="lable">
								 	重复回答次数：
								 </div>
								 <div class="value">
								 	<div class="ipt-txt-box">
								 		<input class="ipt-txt" type="text" style="width: 190px;" />
								 		<i class="btn-empty"></i>
								 	</div>
								 	 &nbsp;<span>次</span>
								 	<div class="error-tip hide">
								 		错误提示
								 	</div>
								 </div>
							</div>
							<div class="item-line">
								 <div class="lable">
								 	重复回答提示：
								 </div>
								 <div class="value">
								 	<div class="ipt-txt-box">
								 		<input class="ipt-txt" type="text" />
								 		<i class="btn-empty"></i>
								 	</div>
								 	<div class="error-tip hide">
								 		错误提示
								 	</div>
								 </div>
							</div>
							<div class="item-line">
								 <div class="lable">
								 	会话超时时间：
								 </div>
								 <div class="value">
								 	<div class="ipt-txt-box">
								 		<input class="ipt-txt" type="text" style="width: 190px;" />
								 		<i class="btn-empty"></i>
								 	</div>
								 	&nbsp;<span>分钟</span>
								 	<div class="error-tip hide">
								 		错误提示
								 	</div>
								 </div>
							</div>
							<div class="item-line">
								 <div class="lable">
								 	会话超时提示：
								 </div>
								 <div class="value">
								 	<div class="ipt-txt-box">
								 		<input class="ipt-txt" type="text" />
								 		<i class="btn-empty"></i>
								 	</div>
								 	<div class="error-tip hide">
								 		错误提示
								 	</div>
								 </div>
							</div>
						</div>
						
						<div class="jqrsz-btn-box">
							<a class="btn btn-blue mr10" href="javascript:;">保存</a>
							<a class="btn btn-gray" href="javascript:;">取消</a>
						</div>
						
					</div>
				</div>
			</div>
			
		</div>
		
		<!--弹窗-->
		<div class="modal-backdrop" style="display: none;"></div>
		<div class="pop_layer js-jdPop" style="width: 510px; height: 366px; display: none;">
			<div class="pop_center">
				<div class="pop-hd1">
					<div class="fr">
						<span class="pop-min"></span>
						<span class="pop-max"></span>
						<span class="pop-close"></span>
					</div>
					<h3 class="ellipsis">经典头像设置</h3>
				</div>
				<div class="pop-bd">
					<div class="pop-list-cont">
						<ul>
							<li><img src="images/jdpoto-img1.jpg"/></li>
							<li><img src="images/jdpoto-img2.jpg"/></li>
							<li><img src="images/jdpoto-img3.jpg"/></li>
							<li><img src="images/jdpoto-img4.jpg"/></li>
							<li><img src="images/jdpoto-img5.jpg"/></li>
							<li><img src="images/jdpoto-img6.jpg"/></li>
							<li><img src="images/jdpoto-img7.jpg"/></li>
							<li><img src="images/jdpoto-img8.jpg"/></li>
						</ul>
						<div class="tac mt10">
							<a class="btn btn-blue mr15" href="javascript:;">保存</a>
							<a class="btn btn-gray ml15" href="javascript:;">取消</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="pop_layer js-zdyPop" style="width: 660px; height: 464px;display: none;">
			<div class="pop_center">
				<div class="pop-hd1">
					<div class="fr">
						<span class="pop-min"></span>
						<span class="pop-max"></span>
						<span class="pop-close"></span>
					</div>
					<h3 class="ellipsis">经典头像设置</h3>
				</div>
				<div class="pop-bd">
					<div class="pop-cut-box">
						<img src="images/cut-img.jpg"/>
					</div>
					<div class="cut-btn oh">
						<a class="color-black fl" href="javascript:;">本地上传</a>
						<a class="color-blue fr" href="javascript:;">保存</a>
					</div>
				</div>
			</div>
		</div>

		<!--聊天弹窗-->
		<div class="chaPopBG">
			<div class="chatPop">
				<p class="chatPopTitle">
					<span class="chatPopTitleFl">
						<img src="images/poto.png"/> &nbsp;小富机器人
					</span>
					<span class="chatPopTitleRt">
						<a href="javascript:;"><img src="images/callClose_52.png"/></a>
						<a href="javascript:;">&nbsp;意见反馈 &nbsp; </a>
						<a class="chaPopBGClose" href="javascript:;"><img src="images/callClose_25.png"/></a>
					</span>
				</p>
				<div class="chatPopLeft">
					<div class="chatPopLeftCnt">
						<div class="chatPopLeftHe">
							<div>
								<i></i>
								<p>
									<sub></sub>
									<span>小富机器人：</span><br/>信用卡提额流程： 直接登录广发网银登录信用卡网银，进入以后有个调整额度选项 输入金额调整就可以。也可以打客服电话直接提额转人工。
								</p>
							</div>
						</div>
						<div class="chatPopLeftTime">2017.03.21 &nbsp; 18:30:26</div>
						<div class="chatPopLeftMe">
							<div>
								<p>
									<b>张正</b><br/>
									<span class="chatPopLeftMeMSg">
										<sub></sub>
										信用整就可以。也可以打客服电话直接提额转人工。</span>
								</p>
								<i></i>
							</div>
						</div>
						<div class="chatPopLeftHe">
							<div>
								<i></i>
								<p>
									<sub></sub>
									<span>小富机器人：</span><br/>信用卡提额流程： 直接登录广发网银登录信用卡网银，进入以后有个调整额度选项 输入金额调整就可以。也可以打客服电话直接提额转人工。
								</p>
							</div>
						</div>
					</div>
					<div class="chatPopLeftSend">
						<textarea></textarea>
						<div class="chatPopLeftSendBth">
							<span>发送</span>
						</div>
					</div>
				</div>
				<div class="chatPopRight chatPopRight3">
					<ul class="chatPopRightNav">
						<li class="chatPopRightNavOn">首页</li>
						<div></div>
						<li>热点问题</li>
						<div></div>
						<li>促销活动</li>
					</ul>
					<div class="hotIndex">
						<div class="chatPopSearch">
							<input type="text"/>
							<i></i>
						</div>
						<ul class="chatPopSe">
							<p class=""><i></i>&nbsp;热门搜索</p>
							<li><a href="javascript:;">我信用卡丢了怎么挂失</a></li>
							<li><a href="javascript:;">信用卡怎么提额啊</a></li>
							<li><a href="javascript:;">储蓄卡办理流程</a></li>
							<li><a href="javascript:;">信用卡实名制么</a></li>
						</ul>
						<div class="chatPopSeQR">
							<img src="images/QR_14.png"/>
							<p>新媒体时代已经到来！只要你来，我们就在！鼎富科技</p>
						</div>
					</div>
					<div class="hotPBM">
						<div class="chatPopSearch">
							<input type="text"/>
							<i></i>
						</div>
						<ul class="chatPopSe">
							<p class=""><i></i>&nbsp;热门问题</p>
							<li><a href="javascript:;">我信用卡丢了怎么挂失</a></li>
							<li><a href="javascript:;">信用卡怎么提额啊</a></li>
							<li><a href="javascript:;">储蓄卡办理流程</a></li>
							<li><a href="javascript:;">信用卡实名制么</a></li>
						</ul>
						<div class="chatPopSeQR">
							<img src="images/QR_14.png"/>
							<p>新媒体时代已经到来！只要你来，我们就在！鼎富科技</p>
						</div>
					</div>
					<div class="hotPromotion">
						<div class="chatPopSearch">
							<input type="text"/>
							<i></i>
						</div>
						<div class="chatPopSearchPic">
							<img src="images/cuxiao_17.jpg"/>
							<img src="images/chuxiao_41.jpg"/>
							<img src="images/chuxiao_43.jpg"/>
							<img src="images/chuxiao_63.jpg"/>
							<img src="images/chuxiao_65.jpg"/>
						</div>
					</div>
					<div class="chatPopRightBot"><a href="javascript:;">联系我们</a> &nbsp; | &nbsp; <a href="javascript:;">招贤纳士</a> &nbsp; | &nbsp; <a href="javascript:;">关于鼎富</a></div>
				</div>
			</div>
		</div>

		<script src="js/jquery-1.11.3.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/jquery.plugIn.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/base.js" type="text/javascript" charset="utf-8"></script>
	</body>	
</html>















