<!DOCTYPE html>
<html lang="zh-cn">
	<head>
		<meta charset="utf-8">
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>首页</title>
		<link href="css/base.css" type="text/css" rel="stylesheet" />
		<link href="css/common.css" type="text/css" rel="stylesheet" />
		<link href="css/index.css" type="text/css" rel="stylesheet" />

		<!--[if lt IE 9]>
		<link type="text/css" rel="stylesheet" href="css/H-ui.ie.css">
		<script type="text/javascript" src="lib/html5.js"></script>
		<script type="text/javascript" src="lib/respond.min.js"></script>
		<script type="text/javascript" src="js/PIE_IE678.js"></script>
		<![endif]-->
		<link rel="stylesheet" href="css/H-ui.min.css">
		<link rel="stylesheet" href="css/H-ui.admin.css">
		<link rel="stylesheet" href="css/common2.css">
	</head>
	<body class="indexBG">
		<div class="header clearfix">
    <div class="logo">
        <a href="首页.html"><strong>小富机器人控制平台</strong><em class="edition">V4.0</em></a>
    </div>
    <ul class="nav">
        <li>
            <a href="javascript:;">首页</a>
        </li>
        <li>
            <a href="javascript:;">我的应用</a>
        </li>
        <li>
            <a href="javascript:;">业务建模<i class="nav-more nav-more__nav-more"></i></a>
            <ul class="menu_1">
                <li>
                    <a href="javascript:;">
                        <i class="icon-nav icon-nav__icon-nav_jmzy"></i>
                        <span>建模资源</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <i class="icon-nav icon-nav__icon-nav_lmgl"></i>
                        <span>类目管理</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <i class="icon-nav icon-nav__icon-nav_gngl"></i>
                        <span>概念管理</span>
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="javascript:;">知识管理<i class="nav-more nav-more__nav-more"></i></a>
            <ul class="menu_1">
                <li>
                    <a href="javascript:;">
                        <i class="icon-nav icon-nav__icon-nav_zszl"></i>
                        <span>知识总览</span>
                    </a>
                </li>
                <li>
                    <ul class="menu_1 menu_2 ">
                    	 <li>
		                    <a href="javascript:;">
		                        <span>FAQ知识新增</span>
		                    </a>
		                </li>
		                <li>
		                    <a href="javascript:;">
		                        <span>概念知识新增</span>
		                    </a>
		                </li>
		                <li>
		                    <a href="javascript:;">
		                        <span>列表知识新增</span>
		                    </a>
		                </li>
		                <li>
		                    <a href="javascript:;">
		                        <span>要素知识新增</span>
		                    </a>
		                </li>
                    </ul>
                    <a href="javascript:;">
                        <i class="icon-nav icon-nav__icon-nav_zsjg"></i>
                        <span>知识单条新增</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <i class="icon-nav icon-nav__icon-zsplxz"></i>
                        <span>知识批量新增</span>
                    </a>
                </li>
                 <li>
                    <a href="javascript:;">
                        <i class="icon-nav icon-nav__icon-wdjgxz"></i>
                        <span>文档加工新增</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <i class="icon-nav icon-nav__icon-nav_zsfb"></i>
                        <span>知识发布</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <i class="icon-nav icon-nav__icon-nav_zssh"></i>
                        <span>知识审核</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <i class="icon-nav icon-nav__icon-nav_lsck"></i>
                        <span>历史查看</span>
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="javascript:;">测试功能<i class="nav-more nav-more__nav-more"></i></a>
            <ul class="menu_1">
                <li>
                    <a href="javascript:;">
                        <i class="icon-nav icon-nav__icon-nav_wfcs"></i>
                        <span>问法测试</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <i class="icon-nav icon-nav__icon-nav_ltcs"></i>
                        <span>聊天测试</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <i class="icon-nav icon-nav__icon-nav_plcs"></i>
                        <span>批量测试</span>
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="javascript:;">应用分析<i class="nav-more nav-more__nav-more"></i></a>
            <ul class="menu_1">
                <li>
                    <a href="javascript:;">
                        <i class="icon-nav icon-nav__icon-nav_fwtj"></i>
                        <span>访问统计</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <i class="icon-nav icon-nav__icon-nav_zsdpm"></i>
                        <span>知识点排名统计</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <i class="icon-nav icon-nav__icon-nav_wpp"></i>
                        <span>未匹配问题统计</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <i class="icon-nav icon-nav__icon-nav_fltj"></i>
                        <span>分类统计</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <i class="icon-nav icon-nav__icon-nav_hhmx"></i>
                        <span>会话明细统计</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <i class="icon-nav icon-nav__icon-nav_jjltj"></i>
                        <span>解决率统计</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <i class="icon-nav icon-nav__icon-nav_myltj"></i>
                        <span>满意率统计</span>
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="javascript:;">素材管理<i class="nav-more nav-more__nav-more"></i></a>
            <ul class="menu_1">
                <li>
                    <a href="javascript:;">
                        <i class="icon-nav icon-nav__icon-nav_ltzsk"></i>
                        <span>聊天知识库</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <i class="icon-nav icon-nav__icon-nav_hxck"></i>
                        <span>寒暄词库</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <i class="icon-nav icon-nav__icon-nav_tpk"></i>
                        <span>图片库</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <i class="icon-nav icon-nav__icon-nav_twfxk"></i>
                        <span>图文消息库</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <i class="icon-nav icon-nav__icon-nav_wdk"></i>
                        <span>文档库</span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
    <div class="header-r">
        <div class="user-admin">
            <a class="user-name" href="javascript:;"><i></i><span>鼎富科技</span></a>
            <div class="ua-menu_1-box">
                <ul class="ua-menu_1">
                    <li>
                        <a href="javascript:;">
                            <i class="icon-header-r icon-header-r__h-r1"></i>
                            <span>全线管理</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i class="icon-header-r icon-header-r__h-r2"></i>
                            <span>切换应用</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i class="icon-header-r icon-header-r__h-r3"></i>
                            <span>退出登录</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="mail-conver">
            <a href="javascript:;" class="mail">
                <em>2</em>
            </a>
            <a href="javascript:;" class="conver"></a>
        </div>
    </div>
</div>
		<div class="i-nav">
			<div class="i-img-box i-img1">
				<a href="#">
					<div class="psa">
						<strong>营销场景知识管理</strong>
						<p>可以针对营销场景内容的知识进行管理</p>
					</div>
				</a>
			</div>
			<div class="i-img-box i-img2">
				<a href="#">
					<div class="psa">
						<strong>业务建模</strong>
						<p>针对概念，业务分类进行继承复用以及上传</p>
					</div>
				</a>
				</a>
			</div>
			<div class="i-img-box i-img3">
				<a href="#">
					<strong class="psa1">测试功能</strong>
					<p class="psa2">可以上传不同的富文本内容</p>
				</a>
			</div>
			<div class="i-img-box i-img4">
				<a href="#">
					<strong class="psa1">素材管理</strong>
					<p class="psa2">可以上传不同的富文本内容</p>
				</a>
			</div>
			<div class="i-img-box i-img5">
				<a href="#">
					<div class="psa">
						<strong>知识自动加工</strong>
						<p>针对不同格式的知识，生成结构化知识的体系</p>
					</div>
				</a>
			</div>
		</div>
		<script src="js/jquery-1.11.3.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/jquery.plugIn.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/base.js" type="text/javascript" charset="utf-8"></script>
	</body>	
</html>















