<div ui-view="header"></div>

<div class="wrap session_log">
    <div class="content_wrap page-container" style="padding:0;">
        <div class="wrap mb30">

            <div class="con_box mb25 p30 mt10" style="min-height:500px;">
                <div class="data_time_statis_top pt-10" style="width:auto ;margin: 5px auto;padding-left: 200px;">
                    <span>
                        操作人：
                        <input type="text" class="input-text"  style="width:180px;">
                    </span>
                    <span>
                        日期范围:
                            <input type="text" id="startTime" onchange=""  ng-model="vm.timeStart"  onclick="WdatePicker({startDate:'%y',dateFmt:'yyyy-MM-dd',maxDate:'#F{$dp.$D(\'endTime\')}'})" class="input-text Wdate "  style="width:185px;border:1px solid #e1e1e1;height: 31px;font-size: 14px;color: #333!important;" placeholder="请选择开始日期" readonly>
                            -
                            <input type="text" id="endTime"   onchange="" ng-model="vm.timeEnd" onclick="WdatePicker({startDate:'%y',dateFmt:'yyyy-MM-dd',minDate:'#F{$dp.$D(\'startTime\')}'})" class="input-text Wdate "  style="width:185px;border:1px solid #e1e1e1;height: 31px;font-size: 14px;color: #333!important;" placeholder="请选择结束日期" readonly>
                    </span>
                    <input type="button" class="btn1 btn1_blue" ng-click="vm.getList(1)" value="查找" />
                </div>
                <div class="cl mb-10">
                   <!--  <b class="l f-14">用户会话日志</b> -->
                    <p class="r f-12 c-999" style="display: none;">共有数据<span id="total">{{vm.listData.total}}</span>条</p>
                </div>
                <div>
                    <table class="access_amount_table" id="user_session_statistic">
                        <thead>
                        <tr>
                            <th width="15%">上传文件</th>
                            <th width="10%">类型</th>
                            <th width="10%">状态</th>
                            <th width="10%">操作人</th>
                            <th width="10%">上传条数总计</th>
                            <th width="10%">上传条数成功</th>
                            <th width="10%">上传条数失败</th>
                            <th width="10%">上传时间</th>
                            <th width="10%">操作</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr role="row" class="odd" ng-repeat="item in vm.listData.objs">
                            <td>{{item.userId}}</td>
                            <td>{{item.sessionNumber}}</td>
                            <td>{{item.sessionTime | limitTo:19}}</td>
                            <td>{{item.userId}}</td>
                            <td>{{item.sessionNumber}}</td>
                            <td>{{item.sessionTime | limitTo:19}}</td>
                            <td>{{item.userId}}</td>
                            <td>{{item.sessionNumber}}</td>
                            <td><a href="javascript:;" class="c-green" ng-click="vm.scan(item.userId)">下载</a></td>
                        </tr>

                        </tbody>
                    </table>
                   
                    <pagination ng-if="vm.paginationConf.totalItems && vm.paginationConf.totalItems>0" conf="vm.paginationConf"></pagination>
                </div>
            </div>
        </div>
    </div>
</div>
<style>

</style>






