<div class="pd30">
    <h3 class="mb-20 f16 tc">修改应用名称</h3>
    <div class="mb-20 ">
        <form name="myForm" class="css-form" novalidate>
        <input type="text" class="input-text mb-10" ng-model="vm.applicationNewName"
                name="applicationName" check-name="applicationName" required>
        <p class="c-error" ng-show="myForm.applicationName.$dirty && myForm.applicationName.$invalid">
            <p class="c-error" ng-show="myForm.applicationName.$error.required">应用名称不能为空！</p>
            <p class="c-error" ng-show="myForm.applicationName.$error.unique">*已有相同应用名称，请重新输入！</p>
        </p>
        </form>
    </div>
    <div class="tc">
        <button class="btn1 btn1_blue mr10" ng-click="closeThisDialog(1)">保存</button>
        <button class="btn1 btn_gray" ng-click="closeThisDialog(0)">取消</button>
    </div>
</div>
<style>

</style>