<div class="msgR-cont pd30 L">
    <div class="r-cont-hd">
        <span>应用信息</span>
    </div>
    <p class="msgR-name">{{vm.applicationInfo.applicationName}}
                <span ng-click="vm.editName()">
                    <i></i>修改名称
                </span>
    </p>
    <ul class="msgR-state">
        <li ng-if="vm.applicationInfo.statusId==40001">应用状态：未使用</li>
        <li ng-if="vm.applicationInfo.statusId==40002">应用状态：使用中</li>
        <li ng-if="vm.applicationInfo.statusId==40003">应用状态：已停用</li>
        <li ng-if="vm.sceneId==1">场景类型：<span ng-bind="vm.sceneId==1?'客服型':'营销型'"></span></li>
        <li>创建时间：{{vm.applicationInfo.applicationCreateTime | date : 'yyyy-MM-dd'}}</li>
    </ul>
    <div class="jqrsz-btn-box" style="padding: 30px 0;margin-bottom:0; ">
        <a class="btn btn-blue mr10" ng-click="vm.stopAllServices()" >下线所有服务</a>
        <a class="btn btn-gray" id="deletePop" ng-click="vm.deleteApplication()" style="background: #e2e2e2; color: #666;">删除应用</a>
    </div>
    <p class="msgR-title mb-10">应用高级信息</p>
    <div class="clearfix" >
        <ul class="msgR-table-1 L">
            <li class="msgR-table-head">场景信息</li>
            <li>业务框架 <span>{{vm.sceneInfo.businessFrameNum}}种</span></li>
            <li>知识类型 <span>{{vm.sceneInfo.knowledgeTypeNum}}种</span></li>
            <li>交互方式 <span>{{vm.sceneInfo.exchangeModeNum}}种</span></li>
        </ul>
        <ul class="msgR-table-1 msgR-table-2 L">
            <li class="msgR-table-head">发布信息</li>
            <li ng-repeat="item in vm.serviceData">
                <span class="Nrelease" ng-if="item.serviceStatus==30001">未发布</span>
                <span class="Nrelease" ng-if="item.serviceStatus==30002">已发布</span>
                <span class="release" ng-if="item.serviceStatus==30003">已下线</span>
                &nbsp; {{item.serviceName}}
                <p ng-if="item.serviceStatus==30001"><a class="release" ng-click="vm.publishService(item.serviceId)">发布</a>
                </p>
                <p ng-if="item.serviceStatus==30002"><a class="Offline" ng-click="vm.stopService(item.serviceId)">下线</a>&nbsp; | &nbsp;<a class="restart" ng-click="vm.restartService(item.serviceId)">重启</a>
                </p>
                <p ng-if="item.serviceStatus==30003"><a class="release" ng-click="vm.startService(item.serviceId)">上线</a>
                </p>
            </li>
        </ul>
    </div>
    <pagination ng-if="vm.paginationConf.totalItems && vm.paginationConf.totalItems>0" conf="vm.paginationConf"></pagination>

</div>
