<div class="" style="padding:15px 0;">
    <h3 class="f16 tc mb-20">添加热点问题</h3>
    <div style="height:360px;overflow:auto;">
        <div class="framework cl">
            <span class="framework_s bold">已选知识：</span>
            <div >
                <ul id="already_select" ng-repeat="item in knowledge.selectedList track by $index">
                    <!--{{item}}-->
                    <li><span class="mr-10">{{item.title}}</span>
                        <a href="javascript:;" ng-click="knowledge.removeSelected($index)" class="c-red">X</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="mb-10 framework" style="padding-left: 70px;">
            <span class="framework_s bold"></span>
            <div >
                <div class="mb-10">
                    <input id="inputValue" type="text" placeholder="请输入要查找的知识" ng-model="knowledge.knowledgeTitle" style="width:220px" class="input-text">
                    <button class="btn1 btn1_blue" type="button"  ng-click="knowledge.queryKnowledgeList(1,knowledge.paginationConf.pageSize)">查找</button>
                </div>
                <table class="table table-border  table-bordered" id="knowledge-tab" style="width: 88%;">
                    <thead class="text-c bg-1">
                    <tr>
                        <th><input  class="selectAllBtnDialog" type="checkbox" ng-click="knowledge.selectAllKnow()" ng-checked="knowledge.isAllKnowSelected"/></th>
                        <th>知识标题</th>
                    </tr>
                    </thead>
                    <tbody class="text-c">
                    <tr ng-repeat="item in knowledge.knowledgeList track by $index">
                        <td ><input class="selectSingle"  type="checkbox" ng-checked="knowledge.isAllKnowSelected" ng-click="knowledge.selectSingle(item,item.id)"/></td>
                        <td>{{item.title}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <pagination ng-if="knowledge.paginationConf.totalItems && knowledge.paginationConf.totalItems>0" conf="knowledge.paginationConf" style="width: 96%;"></pagination>

    </div>
    <div class="row tc">
        <button  class="btn btn-primary radius mr-10" type="button" ng-disabled="knowledge.selectedList.length==0"  ng-click="closeThisDialog(1)">保存</button>
        <button  class="btn btn-default radius" type="button"  ng-click="closeThisDialog(0)">取消</button>
    </div>
</div>
