<div class="" style="padding:15px 0;">
    <h3 class="f16 tc mb-20">添加热点问题</h3>
    <div style="overflow:auto;">
        <div class="framework cl" style="padding-left:80px;padding-bottom: 20px;">
            <span class="framework_s bold">热点知识：</span>
            <div style="min-height: 30px;line-height: 31px;">
                <ul id="already_select">
                    <li ng-repeat="item in knowledge.selectedList track by $index">
                        <a href="javascript:;" ng-click="knowledge.removeSelected($index)" class="c-red">X</a>
                        <span class="mr-10">{{item.title}}</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="framework" style="padding-left: 70px;">
            <span class="framework_s bold"></span>
            <div>
                <div class="mb-10">
                    <input id="inputValue" type="text" placeholder="请输入要查找的知识" ng-model="knowledge.knowledgeTitle" style="width:220px" class="input-text">
                    <button class="btn1 btn1_blue" type="button"  ng-click="knowledge.queryKnowledgeList(1,knowledge.paginationConf.pageSize)">查找</button>
                </div>
                <table class="table table-border  table-bordered" id="knowledge-tab" style="width: 88%;">
                    <thead class="text-c bg-1">
                    <tr>
                        <th><input  class="selectAllBtnDialog" type="checkbox" ng-click="knowledge.selectAllKnow()" ng-checked="knowledge.isAllKnowSelected"/></th>
                        <th>知识标题</th>
                    </tr>
                    </thead>
                    <tbody class="text-c">
                    <tr ng-repeat="item in knowledge.knowledgeList track by $index">
                        <td ><input class="selectSingle"  type="checkbox" ng-checked="knowledge.selectedIdList.inArray(item.id)" ng-click="knowledge.selectSingle(item,item.id)"/></td>
                        <td>{{item.title}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div ng-if="knowledge.knowledgeList.length==0" class="bd" style="width:88%;height: 80px; line-height: 80px; text-align: center; font-weight: bold; font-size: 16px;margin-top: -1px;">暂无数据</div>
         
        </div>
        <pagination  conf="knowledge.paginationConf" style="width: 96%;"></pagination>

    </div>
    <div class="row tc">
        <button  class="btn btn-primary radius mr-10" type="button"   ng-click="knowledge.saveSelectedList()">保存</button>
        <button  class="btn btn-default radius" type="button"  ng-click="closeThisDialog(0)">取消</button>
    </div>
</div>
<style>
    #already_select li{
        width:100% ;
        float: left;
        overflow: hidden;
    }
    #already_select span{
        display: inline-block;
        width:90%;
        float: left;
    }
    #already_select a{
        display: inline-block;
        width:6%;
        float: left;
    }
</style>
