<div class="r-cont pd30">
    <div class="r-cont-hd">
        <span>热点知识设置</span>
    </div>
    <div class="r-cont-bd oh ">
        <div class="con_box  mb25">
            <div class="mb10 bd p20 cl" style="background:#fcfdfd;border-color:#f2f4f7;">
                <div style="border">
                    <div class="cl mb-20">
                        热点知识更新频率：
                        <input type="text" class="txt bd" placeholder="" ng-model="hotKnowledge.hotQuestionTimeout" ng-blur="hotKnowledge.updateHotKnowledgeConfig()" style="width:100px;">
                        分钟
                    </div>
                    <div class="cl mb-20">
                        热点知识上限个数：
                        <input type="text" class="txt bd" placeholder="" ng-blur="hotKnowledge.updateHotKnowledgeConfig()" ng-model="hotKnowledge.hotQuestionLimit" style="width:100px;">
                        个
                    </div>
                </div>
                <div class="cl mb-20">
                    <button class="btn1 btn_delete mr-10" ng-click="hotKnowledge.removeHotKnowledge()">批量删除</button>
                    <button class="btn1 btn1_blue mr-10" ng-click="hotKnowledge.addHotHotKnow()">添加</button>
                    <div class="pr con_box_serl bd mr10 R" style="margin:0 auto 20px;">
                        <input type="text" class="txt L" placeholder="" ng-model="hotKnowledge.keyWord" style="width:257px;">
                        <button class="btn1" type="button"  ng-click="hotKnowledge.queryHotKnowledgeList()">查找</button>
                    </div>
                </div>

                <div>
                    <table class="stop_word_tab" >
                        <thead>
                        <tr>
                            <th class="bold" width="5%"><input class="selectAllBtn" type="checkbox"
                                                           ng-click="hotKnowledge.deleteIds.length==hotKnowledge.hotKnowListIds.length?hotKnowledge.deleteIds=[]:hotKnowledge.deleteIds=$parent.$parent.MASTER.selectAll(hotKnowledge.hotKnowListIds,0)"
                                                           ng-checked="(hotKnowledge.deleteIds.length==hotKnowledge.hotKnowListIds.length) && hotKnowledge.hotKnowListIds.length!=0"/>
                            </th>
                            <th class="bold" width="15%">热点知识</th>
                            <th class="bold" width="15%">被问次数</th>
                            <th class="bold" width="12%">排序</th>
                            <th class="bold" width="18%">最终问及时间</th>
                            <th class="bold" width="17%">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in hotKnowledge.hotKnowList">
                            <!--{{hotKnowledge.hotKnowList}}-->
                            <td><input type="checkbox" ng-checked="hotKnowledge.deleteIds.inArray(item.id)" ng-click="hotKnowledge.deleteIds.inArray(item.id)?hotKnowledge.deleteIds.remove(item.id):hotKnowledge.deleteIds.push(item.id)"/></td>
                            <td>{{item.hotQuestionTitle}}</td>
                            <td>{{item.hotQuestionOrder}}</td>
                            <td>{{item.hotQuestionUpdateTime | date : 'yyyy-MM-dd HH:mm:ss'}}</td>
                            <td>
                                <input type="button" style="display: inline-block;background:#fff" class="c-primary mr-10" ng-class="cur-point"  ng-click="hotKnowledge.top(item)"  ng-if="item.hotQuestionOrder!=1" value="置顶">
                                <input type="button" style="display: inline-block;background:#fff" class="c-primary mr-10" ng-class="cur-point"  ng-click="hotKnowledge.up(item)"   ng-if="item.hotQuestionOrder!=1" value="上移">
                                <input type="button" style="display: inline-block;background:#fff" class="c-primary mr-10" ng-class="cur-point"  ng-click="hotKnowledge.remove(item)"   ng-if="item.hotQuestionOrder!=1" value="上移">
                                <input type="button" style="display: inline-block;background:#fff" class="c-primary"       ng-class="cur-point"  ng-click="hotKnowledge.down(item)"   ng-if="item.hotQuestionOrder!=vm.vm.hotPaginationConf.totalItems || item.hotQuestionOrder == 1" value="下移">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <pagination ng-if="hotKnowledge.hotPaginationConf.totalItems && hotKnowledge.hotPaginationConf.totalItems>0" conf="hotKnowledge.hotPaginationConf"></pagination>
            </div>
        </div>
    </div>
</div>
<style>

</style>