<div class="main warp ">

    <div class="addContent pd-30" >
        <div class="r-cont-hd">
            <span>知识预览</span>
        </div>
        <div class="pd-20 f-14">
            <div class="row cl mb-20">
                <label class="form-label col-xs-4 col-sm-2 text-r">知识标题：</label>
                <div class="formControls col-xs-8 col-sm-9" style="padding-left:0;">
                    <p class="title_p" ng-if="vm.scanData.standardQuestion" >{{vm.scanData.standardQuestion}}</p>
                </div>
            </div>
            <div class="row cl mb-20">
                <label class="form-label col-xs-4 col-sm-2 text-r">概念扩展：</label>
                <div class="formControls col-xs-8 col-sm-9" style="padding-left:0;">
                    <span  ng-if="vm.scanData.extendedQuestionArr.length!=0" ng-repeat="item in vm.scanData.extendedQuestionArr" style="padding: 4px;
                           border: 1px solid #e1e1e1;margin-right: 10px; background: #f1f1f1;">{{item.chatQuestionContent}}<i ng-if="$index!=0&&$index!=vm.scanData.extendedQuestionArr.length">,</i></span>
                </div>
            </div>
            <div class="row cl mb-15" ng-repeat="item in vm.scanData.contentArr" >
                <label class="form-label col-xs-4 col-sm-2 text-r"><span ng-if="$index==0">知识内容：</span></label>
                <div ng-if="vm.scanData.contentArr.length!=0" class="formControls " style="float: left;height: auto;min-height: 30px;
                           min-width: 350px" >
                    <p class="title_p">{{item.chatKnowledgeContent}}</p>
                </div>
            </div>
            <!--<div class="row cl mb-30">-->
                <!--<label class="form-label col-xs-4 col-sm-2 text-r">知识内容：</label>-->
                <!--<div ng-if="vm.scanData.contentArr.length!=0" class="formControls " style="float: left;height: auto;min-height: 30px;padding: 4px;-->
                           <!--border: 1px solid #e1e1e1;margin:0  10px 0 10px; background: #f1f1f1;min-width: 350px" >-->
                    <!--<p  ng-repeat="item in vm.scanData.contentArr" >{{item.chatKnowledgeContent}}</p>-->
                <!--</div>-->
            <!--</div>-->
            <div class="row cl mb-10 ">
                <label class="form-label col-xs-4 col-sm-2 text-r"></label>
                <div class="formControls col-xs-8 col-sm-9 clearfix" style="padding-left:0;">
                    <input type="button" value="修改" ng-click="vm.edit()" class="btn1 btn_green L mr-10"/>
                    <input type="button" value="保存" ng-if="vm.scanData.type" ng-click="vm.save()" class="btn1 btn1_blue mr-10 L"/>
                    <a class="L" ng-if="!vm.scanData.type" ui-sref="materialManagement.chatKnowledgeBase"><input type="button" value="返回"   class="btn1 btn1_blue mr-10"/></a>
                </div>
            </div>
        </div>
    </div>

</div>

<style>
    .title_p{min-height: 30px;
        padding: 4px;
        border: 1px solid #e1e1e1;
        background: #f1f1f1;
        width: 350px;}
</style>