<div class="main warp">
    <div class="crumbs-nav bgwhite mt20">
        <span class="cn-lable">你曾经路过此地：</span>
        <span class="cn-value"><a class="cn-a" href="javascript:;">首页</a><i class="close">x</i></span>
        <span class="cn-value"><a class="cn-a" href="javascript:;">我的应用</a><i class="close">x</i></span>
        <span class="cn-value"><a class="cn-a" href="javascript:;">评论列表</a><i class="close">x</i></span>
        <span class="cn-value active"><a class="cn-a" href="javascript:;">机器人设置</a><i class="close">x</i></span>
    </div>
    <div class="clearfix bgwhite mt10 cl">
        <div class="r-cont pd30 ">
            <div class="r-cont-hd mb-10">
                <span>聊天知识库</span>
            </div>
            <div class="r-cont-bd">
                <div class="csso-cz-box clearfix  mb-10">
                    <div class="L pr chat_add_div">
                        <p class="bd mr-10 chat_add_p" >FAQ型聊天新增</p>
                        <ul class="bd pa chat_add_ul" >
                            <li><a ui-sref="materialManagement.faqChat">FAQ型聊天新增</a></li>
                            <li><a ui-sref="materialManagement.conceptChat">概念型聊天新增</a></li>
                        </ul>
                    </div>
                    <div class="L mr-10">
                        <input class="input_text" ng-model="vm.title" type="text" placeholder="请输入知识标题" >
                        <button class="btn1 btn1_blue" ng-click="vm.search()">查找</button>
                    </div>
                    <button class="L btn se-search-btn " style="border: 1px solid #3ea9fb;">高级查找</button>
                </div>

                <div class="clearfix csso-bd bd pl-20 pr-20 mt-30">
                    <ul class="csso-lsit">
                        <li ng-if="vm.listData" ng-repeat="item in vm.listData">
                            <div class="mb-10"><a  class="c-primary f-16" ui-sref="materialManagement.chatKnowledgeBasePreview">聊天主题：{{item.chatKnowledgeTopic}}</a></div>
                            <div class="f-14 mb-10">聊天问法个数：{{item.chatQuestionList.length}}</div>
                            <div class="cl">
                                <div class="L">
                                    <span   >知识类型：

                                        {{item.chatKnowledgeSource |typeFilter }}
                                    </span>
                                    <span>作者：{{item.chatKnowledgeModifier}}</span>
                                </div>
                                <div class="R">
                                    <span>更新时间：{{item.chatKnowledgeModifyTime | date : 'yyyy-MM-dd hh:mm:ss' }}</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <pagination ng-if="vm.paginationConf.totalItems && vm.paginationConf.totalItems>0" conf="vm.paginationConf"></pagination>
                </div>
            </div>
        </div>
    </div>

</div>
<style>

</style>
<script>
    $('.chat_add_p').click(function(){
        if($(this).next().is(':hidden')){
            $(this).next().show();
        }else{
            $(this).next().hide();
        }
    });
    $('.chat_add_ul li a').click(function(){
        var str=$(this).html();
        $('.chat_add_p').html(str);
        $(this).parent().parent().hide();
    });
</script>