<div class="wrap" >
    <h4 class="pt-10 pb-10"><img src="../../images/images/u13.png" width="30" height="30" />我的应用</h4>
    <div class="p20 my_appbox cl mb-20">
        <div class="L">
            <div class="mb-10">用户名称： {{vm.userName}}</div>
            <div>
                <!--<span>所属部门：云创中心</span>-->
                <span>用户权限：
                    <span ng-repeat="permission in vm.userPermission" >{{permission}} </span>
                </span>
            </div>
        </div>
        <div class="R">
            <div ng-click="vm.addApplicationWindow()" style="cursor: pointer">
                <img src="../../images/images/u24.png" width="50" height="50" />
                <p class="mt-10">新建应用</p>
            </div>
        </div>
    </div>
    <div class="application_box cl">
        <div class="L text-c application_box_list" ng-repeat="application in vm.myApplication">
            <a ui-sref="setting.robot" >
                <img ng-if="application.statusId==40001" src="../../images/images/u33.png" width="150" height="150"/>
                <img ng-if="application.statusId==40002" src="../../images/images/u46.png" width="150" height="150"/>
                <img ng-if="application.statusId==40003" src="../../images/images/u33.png" width="150" height="150"/>
            </a>
            <div class="p10 mb-10 bd_bot" >
                <p class="name">{{application.applicationName}}</p>
                <p class="scene" ng-repeat="licence in vm.selectLicence"
                   ng-if="application.sceneId==licence.sceneId">场景类型：<span>{{licence.sceneName}}</span></p>
                    <p class="status">应用状态：
                        <span ng-if="application.statusId==40001" class="c-blue">未使用</span>
                        <span ng-if="application.statusId==40002" class="c-primary">使用中</span>
                        <span ng-if="application.statusId==40003" class="c-error">已停用</span>
                    </p>
            </div>
            <p class="describe">{{application.applicationDescription}}</p>
        </div>
    </div>
</div>
<style>
    .application_box_list{
        margin-left: 100px;
    }
    .application_box_list .describe{
        width: 200px;
        text-align: left;
        text-indent:6em
    }
    .application_box_list .status .c-blue{
        color:lightblue;
    }
    
</style>