<div class="wrap" >
    <div class="crumbs-nav bgwhite mt20 mb-10">
        <span class="cn-lable">你曾经路过此地：</span>
        <span class="cn-value"><a class="cn-a" href="javascript:;">首页</a><i class="close">x</i></span>
        <span class="cn-value"><a class="cn-a" href="javascript:;">我的应用</a><i class="close">x</i></span>
        <span class="cn-value"><a class="cn-a" href="javascript:;">评论列表</a><i class="close">x</i></span>
        <span class="cn-value active"><a class="cn-a" href="javascript:;">机器人设置</a><i class="close">x</i></span>
    </div>
    <div class="p20" style="background:#fff;">
        <div class="text-c mb-20">
            <input type="text" placeholder="用户名称" ng-model="vm.searchName" style="width:250px" class="input-text">
            <button class="btn1 btn1_blue" type="button"  ng-click="vm.search()">搜用户</button>
        </div>
        <div class="bd p20" style="background:#fcfdfd;">
            <div class="mb-10 cl">
            	<span class="L">
                	<button  class="btn1 btn1_blue" ng-click="vm.addUser()"> 添加用户</button>
                </span>
                <span class="R">
                	<button  class="btn1 btn_delete"> 批量删除</button>
                </span>
            </div>
            <div class="cl">
                <div class="r">
                    <!--<span class="c-999 pl-10">共有数据：<strong id="user_total">3</strong> 条 </span>-->
                    <span class="c-999 pl-10">共有数据：<b >{{vm.userDataTotal}}</b> 条</span>

                </div>
            </div>
            <div class="mt-20">
                <table class="stop_word_tab" id="user_table">
                    <thead>
                    <tr>
                        <th class="bold" width="5%"><input type="checkbox"   /></th>
                        <th class="bold" width="10%">用户名</th>
                        <th class="bold" width="11%">手机</th>
                        <th class="bold" width="15%">邮箱</th>
                        <th class="bold" width="10%">角色</th>
                        <th class="bold" width="15%">更新时间</th>
                        <th class="bold" width="10%">应用范围</th>
                        <th class="bold" width="9%">状态</th>
                        <th class="bold" width="15%">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in vm.listData">
                        <!--<td>    {{item}}</td>-->
                        <td><input type="checkbox"   /></td>
                        <td>{{item.userName}}</td>
                        <td>{{item.userPhoneNumber}}</td>
                        <td>{{item.userEmail}}</td>
                        <td>{{item.roleName}}</td>
                        <td>{{item.createTime | date : 'yyyy-MM-dd hh:mm:ss'}}</td>
                        <td><span ng-repeat="val in item.applicationName[0].data">{{val}}<i ng-if="$index!=item.applicationName[0].data.length-1">,</i></span></td>
                        <td>
                            <span class="btn1 btn_green2" ng-if="item.statusId==10001">已启用</span>
                            <span class="btn1 btn_red" ng-if="item.statusId==10002">未启用</span>
                        </td>
                        <td>
                            <span ng-if="item.statusId==10001"><a href="javascript:;" title="停用" class="mr-10 c-primary" ng-click="vm.stop(item.userId,item.statusId)">停用</a></span>
                            <span ng-if="item.statusId==10002"><a href="javascript:;" title="启用" class="mr-10 c-primary" ng-click="vm.stop(item.userId,item.statusId)">启用</a></span>

                            <a href="javascript:;" title="编辑" class="mr-10 c-orange" ng-click="vm.editUser(item)">编辑</a>
                            <a href="javascript:;" title="删除" class="mr-10 c-red" ng-click="vm.deleteUser(item.userId)">删除</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <pagination ng-if="vmo.paginationConf.totalItems && vmo.paginationConf.totalItems>0" conf="vmo.paginationConf"></pagination>
        </div>
    </div>
</div>

<style>


</style>



