<div class="pd-20">
    <form action="" method="post" class="form form-horizontal" >
        <div class="mb-10 cl">
            <label class="form-label col-xs-3 col-sm-2">用户名：</label>

            <div class="formControls col-xs-9 col-sm-9">
                <input type="text" placeholder=" zhangsan" ng-model="vm.userName" class="input-text" id="username">
            </div>
        </div>
        <div class="mb-10 cl">
            <label class="form-label col-xs-3 col-sm-2">登录名：</label>

            <div class="formControls col-xs-9 col-sm-9">
                <input type="text" placeholder=" zhangsan" ng-model="vm.userLoginName" class="input-text" id="name">
            </div>
        </div>
        <div class="mb-10 cl">
            <label class="form-label col-xs-3 col-sm-2">密码：</label>
            <div class="formControls col-xs-9 col-sm-9">
                <input type="password" ng-model="vm.userPassword" class="input-text" />
            </div>
        </div>
        <div class="mb-10 cl">
            <label class="form-label col-xs-3 col-sm-2">确认密码：</label>
            <div class="formControls col-xs-9 col-sm-9">
                <input type="password"  value="" class="input-text">
            </div>
        </div>
        <div class="mb-10 cl">
            <label class="form-label col-xs-3 col-sm-2">手机：</label>

            <div class="formControls col-xs-9 col-sm-9">
                <input type="text" placeholder="123456356578" ng-model="vm.userPhoneNumber" class="input-text" id="phone_number">
            </div>
        </div>
        <div class="mb-10 cl">
            <label class="form-label col-xs-3 col-sm-2">邮箱：</label>

            <div class="formControls col-xs-9 col-sm-9">
                <input type="text" placeholder="123456@163.com" ng-model="vm.userEmail" class="input-text" id="email">
            </div>
        </div>
        <div class="mb-10 cl">
            <label class="form-label col-xs-3 col-sm-2">角色：</label>
            <div class="formControls col-xs-9 col-sm-9">
                <select class="input-text"  id="role_id" ng-model="vm.roleId">
                    <option  ng-repeat="item in vm.listRole" ng-value="item.roleId">{{item.roleName}}</option>
                </select>
            </div>
        </div>
        <div class="mb-10 cl">
            <label class="form-label col-xs-3 col-sm-2">所属应用：</label>
            {{vm.prop}}
            <div class="formControls col-xs-9 col-sm-9">
                <label  ng-repeat="item in vm.listApplication" ng-class="$index==0?mr-10:''" style="margin-left: 5px;"><input type="checkbox" ng-click="vm.savaProp($event,item.applicationId)"/>{{item.applicationName}}</label>
            </div>
        </div>
        <div class="mb-10 cl">
            <label class="form-label col-xs-3 col-sm-2">备注：</label>
            <div class="formControls col-xs-9 col-sm-9">
                <textarea class="textarea bd" ng-model="vm.remark"></textarea>
            </div>
        </div>
        <div class="tc">
            <button  class="btn btn-primary radius mr-10" type="button"  ng-click="closeThisDialog(1)">保存</button>
            <button  class="btn btn-default radius" type="button"  ng-click="closeThisDialog(0)">取消</button>
        </div>
    </form>
</div>

<style>
    .ngdialog.ngdialog-theme-default .ngdialog-content{
        width:674px;
    }

</style>



