<div ui-view="header"></div>

<div class="msgR-cont pd-20 ">
    <div class="content_wrap page-container" style="padding:0;">
        <div class="r-cont-hd">
            <span>智能学习</span>
        </div>
        <div class="mb30 " style="margin-top:20px;">
            <div class="tab_tit">
                <span ng-class="vm.contentType==0?'cur':''" ng-click="vm.contentType=0" style="width:80px;">未学习  </span>
                <span ng-class="vm.contentType==1?'cur':''" ng-click="vm.contentType=1" style="width:80px;">已学习 </span>
            </div>
            <div class="tab_con pt10 ">
                <div ng-show="vm.contentType==0" >
                    <div class="con_box mb25  mt10" style="min-height:500px;padding:0;">
                        <div class="data_time_statis_top pt-10" style="width:auto ;margin: 5px auto 20px;">
                            <select class="sel bd L mr-5" id="request_time_type" ng-model="vm.timeType">
                                <option value="0">全部时间</option>
                                <option value="1">今日</option>
                                <option value="2">昨日</option>
                                <option value="3">过去7天</option>
                                <option value="4">过去30天</option>
                            </select>
                            <select class="sel bd L mr-5" ng-model="vm.channelId" >
                                <option value="130" >全渠道</option>
                                <option value="131">微信</option>
                                <option value="132">web</option>
                                <option value="133">app</option>
                            </select>
                            <!--<select class="sel bd L mr-5" ng-model="vm.channelId" ng-options="site.channelCode as site.channelName for site in MASTER.channelList">-->
                                <!--<option value="">全部渠道</option>-->
                            <!--</select>-->

                            <span>
                                日期范围:
                                    <input type="text" id="startTime" onchange=""  ng-model="vm.timeStart"  onclick="WdatePicker({startDate:'%y',dateFmt:'yyyy-MM-dd',maxDate:'#F{$dp.$D(\'endTime\')}'})" class="input-text Wdate "  style="width:165px;border:1px solid #e1e1e1;height: 31px;font-size: 14px;color: #333!important;" placeholder="请选择开始日期" readonly>
                                    -
                                    <input type="text" id="endTime"   onchange="" ng-model="vm.timeEnd" onclick="WdatePicker({startDate:'%y',dateFmt:'yyyy-MM-dd',minDate:'#F{$dp.$D(\'startTime\')}'})" class="input-text Wdate "  style="width:160px;border:1px solid #e1e1e1;height: 31px;font-size: 14px;color: #333!important;" placeholder="请选择结束日期" readonly>
                            </span>
                            <span>
                                用户提问:
                                    <input type="text" id="question" ng-model="vm.question" class="input-text" style="width: 176px"/>
                                    <input type="button" class="btn1 btn1_blue" ng-click="vm.searchReinforcement(vm.paginationConf.currentPage,vm.paginationConf.pageSize,1)" value="查找" />
                                    <input type="button" class="btn1 btn_green2" ng-click="vm.ignore(vm.unstudyArr)" value="忽略" />
                            </span>


                        </div>
                        <div class="cl mb-10">
                            <b class="l f-14">智能学习</b>
                            <!--<p class="r f-12 c-999" style="display: none;">共有数据<span id="total"></span>条</p>-->
                        </div>
                        <div>
                            <table class="access_amount_table" id="user_session_statistic">
                                <thead>
                                <tr>
                                    <th width="10%">
                                        <input type="checkbox" ng-click="vm.selectAll()"  ng-checked="vm.selectAllCheck">
                                    </th>
                                    <th width="25%">用户提问</th>
                                    <th width="15%">来源渠道</th>
                                    <th width="25%">创建时间</th>
                                    <th width="25%">操作</th>
                                </tr>
                                </thead>
                                <tbody>

                                <tr role="row" class="odd" ng-repeat="item in vm.listData">
                                    <td>
                                        <input type="checkbox" name="sid" value="" ng-checked="vm.unstudyArr.inArray(item.id) " ng-click="vm.selectSingle(item.id)">
                                    </td>
                                    <td>{{item.question}}</td>
                                    <td>{{item.channelId | channelFilter}}</td>
                                    <td>{{item.modifyTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                                    <td><a href="javascript:;" class="c-green" ng-click="vm.learn(item.id,item.question)">学习</a></td>
                                </tr>

                                </tbody>
                            </table>
                            <pagination ng-if="vm.paginationConf.totalItems && vm.paginationConf.totalItems>0" conf="vm.paginationConf"></pagination>
                        </div>
                    </div>
                </div>
                <div ng-show="vm.contentType==1">
                    <div class="con_box mb25  mt10" style="min-height:500px;padding:0;">
                        <div class="data_time_statis_top pt-10" style="width:auto ;margin: 5px auto 20px;">
                            <!--<select class="sel bd L mr-5" id="request_time_type1" ng-model="vm.timeType1">-->
                                <!--<option value="0">全部时间</option>-->
                                <!--<option value="1">今日</option>-->
                                <!--<option value="2">昨日</option>-->
                                <!--<option value="3">过去7天</option>-->
                                <!--<option value="4">过去30天</option>-->
                            <!--</select>-->
                            <select class="sel bd L mr-5" ng-model="vm.channelId1" >
                                <option value="130">全渠道</option>
                                <option value="131">微信</option>
                                <option value="132">web</option>
                                <option value="133">app</option>
                            </select>
                            <!--<select class="sel bd L mr-5" ng-model="vm.channelId" ng-options="site.channelCode as site.channelName for site in MASTER.channelList">-->
                                <!--<option value="">全部渠道</option>-->
                            <!--</select>-->


                            <span class="mr-10">
                                日期范围:
                                    <input type="text" id="startTime1" onchange=""  ng-model="vm.timeStart1"  onclick="WdatePicker({startDate:'%y',dateFmt:'yyyy-MM-dd',maxDate:'#F{$dp.$D(\'endTime\')}'})" class="input-text Wdate "  style="width:165px;border:1px solid #e1e1e1;height: 31px;font-size: 14px;color: #333!important;" placeholder="请选择开始日期" readonly>
                                    -
                                    <input type="text" id="endTime1"   onchange="" ng-model="vm.timeEnd1" onclick="WdatePicker({startDate:'%y',dateFmt:'yyyy-MM-dd',minDate:'#F{$dp.$D(\'startTime\')}'})" class="input-text Wdate "  style="width:165px;border:1px solid #e1e1e1;height: 31px;font-size: 14px;color: #333!important;" placeholder="请选择结束日期" readonly>
                            </span>
                            <!--<span>-->
                                <!--审核状态:-->
                                    <!--<select class="sel bd" id="statusId" ng-model="vm.statusId">-->
                                        <!--<option value="0">所有状态</option>-->
                                        <!--<option value="2">未审核</option>-->
                                        <!--<option value="3">审核已通过</option>-->
                                    <!--</select>-->
                            <!--</span>-->
                            <span >
                                用户提问:
                                    <input type="text" id="question1" ng-model="vm.question1" class="input-text" style="width: 160px"/>
                                    <input type="button" class="btn1 btn1_blue" ng-click="vm.listNoReview(vm.paginationConf.currentPage,vm.paginationConf.pageSize,1)" value="查找" />
                            </span>
                        </div>
                        <div class="cl mb-10">
                            <b class="l f-14">智能学习</b>
                            <!--<p class="r f-12 c-999" style="display: none;">共有数据<span id="total1"></span>条</p>-->
                        </div>
                        <div class="mt-10 mb-10">
                            <input type="button" class="btn1 btn1_blue mr-10" ng-click="vm.review(3)" value="通过" />
                            <input type="button" class="btn1 btn_delete" ng-click="vm.review(1)" value="不通过" />
                        </div>
                        <div>
                            <table class="access_amount_table" id="user_session_statistic1">
                                <thead>
                                <tr>
                                    <th width="10%">
                                        <input type="checkbox" ng-click="vm.selectAll1()" ng-checked="vm.selectAllCheck1">
                                    </th>
                                    <th width="25%">用户提问</th>
                                    <th width="15%">来源渠道</th>
                                    <th width="20%">匹配知识</th>
                                    <th width="20%">创建时间</th>
                                    <!--<th width="10%">审核状态</th>-->
                                </tr>
                                </thead>
                                <tbody>

                                <tr role="row" class="odd" ng-repeat="item in vm.listData1">
                                    <td>
                                        <input type="checkbox" name="sid1" value="" ng-checked="vm.studyArr.inArray(item.id)" ng-click="vm.selectSingle1(item.id)">
                                    </td>
                                    <td>{{item.question}}</td>
                                    <!--<td>-->
                                        <!--<span ng-if="vm.channelId1==null">-->
                                            <!--{{item.channelId | channelFilterMulti}}-->
                                        <!--</span>-->
                                        <!--<span ng-if="vm.channelId1!=null">-->
                                            <!--{{vm.channelId1 | channelFilter}}-->
                                        <!--</span>-->
                                    <!--</td>-->
                                    <td>{{item.channelId |channelFilter}} </td>

                                    <td>{{item.knowledgeTitle}}</td>
                                    <td>{{item.modifyTime | date : 'yyyy-MM-dd HH:mm:ss'}}</td>

                                    <!--<td>-->
                                        <!--<span ng-if="item.status==2">未审核</span>-->
                                        <!--<span ng-if="item.status==3">审核已通过</span>-->
                                    <!--</td>-->
                                </tr>

                                </tbody>
                            </table>
                            <pagination ng-if="vm.paginationConf1.totalItems && vm.paginationConf1.totalItems>0" conf="vm.paginationConf1"></pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>

</style>






