<div class="pd-20" >
    <div class="framework mb-10">
        <span class="framework_s">语音标题：</span>
        <div>
            <input type="text" class="bd input-text" ng-model="vm.voiceTitle"  maxlength="50"/>
            <!--<input type="text" class="bd input-text" ng-model="vm.voiceName"  maxlength="50"/>-->
        </div>
    </div>

    <div class="framework mb-10">
        <span class="framework_s">语音上传：</span>
        <div class="bd voice_upload_div  mb-10">
            <div class="p10">

                        <span voice-upload></span>

            </div>
            <div class="clearfix pd-5" style="border-top:1px solid #eee;">
                <p class="L">格式支持mp3、amr
                    <!--，文件大小不超过2M，语音时长不超过30秒-->
                </p>

            </div>
        </div>
        <button class="btn1 btn1_blue" id="startUpload" ng-click="vm.isUploadStart=true">提交</button>
    </div>

</div>
<style>

</style>
<script>



</script>