<div class="warp" style="margin-top:20px;">
    <!--<div class="tc mb-10">-->
        <!--<input type="text" class="input-text" ng-model="vm.titAuthor" placeholder="请输入标题/作者" style="width:300px;"/>-->
        <!--<input type="button" value="查找" class="btn1 btn1_blue" ng-click="vm.showImg(1)"/>-->
    <!--</div>-->
    <div class="p20" style="background:#fff;">
        <div class="clearfix mb-20" style="padding-left: 12px;padding-right:12px;">
            <span class="L">
                <button  class="btn1 btn1_blue" ui-sref="materialManagement.addtemes">新建图文</button>
            </span>
            <div class="R dib">
                <span class="L">
                    <input type="text" class="L input-text" ng-model="vm.titAuthor" placeholder="请输入查询图文的名称" style="width:250px;"/>
                    <input type="button" value="" class="L tw_btn " ng-click="vm.showImg(1)"/>
                </span>
                <!--<button class="L btn1 btn_delete">批量删除</button>-->
            </div>

        </div>
        <div class="voice_box_div  clearfix">
            <div class="picture_div bd L" ng-repeat="item in vm.imageList.objs">
                <dl class="picture_dl teletext_dl " >
                    <!--{{item}}-->
                    <dt ><a ui-sref="materialManagement.graphicDetails({imgTextId:item.graphicMessageId})"><img ng-src="/img/{{item.pictureUrl}}"/></a></dt>
                    <dd class="cl">
                        <p class="L titp">{{item.graphicMessageTitle}}</p>
                        <span class="R time_span">{{item.graphicUpdateTime |date : 'yyyy-MM-dd '}}</span>
                    </dd>
                </dl>
                <div class="pt-5 pb-5 pl-10" style="border-top:1px solid #eee;">
                    <a href="javascript:;" class="mr-10 c_blue ml-50" ui-sref="materialManagement.addtemes({imgTextId:item.graphicMessageId})">编辑</a>
                    <a href="javascript:;" class="c_red ml-50" ng-click="vm.removeImg(item,$index)">删除</a>
                </div>
            </div>
            <!--<div class="picture_div bd L">-->
                <!--<dl class="picture_dl teletext_dl ">-->
                    <!--<dt ><img src="../../../images/u13699.png" /></dt>-->
                    <!--<dd class="cl">-->
                        <!--<p class="L titp">湖光景色湖光景色湖光景色湖光景色湖光景色</p>-->
                        <!--<span class="R time_span">2017-02-09</span>-->
                    <!--</dd>-->
                <!--</dl>-->
                <!--<div class="pt-5 pb-5 pl-10" style="border-top:1px solid #eee;">-->
                    <!--<a href="javascript:;" class="mr-10 c_blue ml-50">编辑</a>-->
                    <!--<a href="javascript:;" class="c_red ml-50">删除</a>-->
                <!--</div>-->
            <!--</div>-->

        </div>
        <div class="cl">
            <div class="L pd-20">
                <span >本页<b>{{vm.imageList.objs.length}}</b>条，共有<b>{{vm.imageList.total}}</b>条</span>
            </div>
            <div class="R">
                <pagination ng-if="vm.paginationConf.totalItems && vm.paginationConf.totalItems>0" conf="vm.paginationConf"></pagination>
            </div>
        </div>
    </div>
</div>
<style>

</style>
<script>



</script>