<div class="msgR-cont pd30 L backup_restore">
    <div class="r-cont-hd">
        <span>备份还原</span>
    </div>
    <div class="pl50 mb-20 pt30">
        <h4 class="mb-20 bold">系统备份</h4>
        <div class="pl-20 mb-30">
            <div class="mb-15 system_backup clearfix">
                <span class="mr-20 L">请选择您希望备份的模块</span>
                <!--<label class="on"> 知识管理</label>-->
                <!--<label class=""> 意图管理</label>-->
                <!--<label class=""> 系统管理</label>-->
                <ul class="L">
                    <li class="L"><div class="L" checkbox-backup></div>知识管理</li>
                    <li class="L"><div class="L" checkbox-backup></div>意图管理</li>
                    <li class="L"><div class="L" checkbox-backup></div>系统管理</li>
                </ul>
            </div>
            <a href="javascript:;" class="btn btn-primary">开始备份</a> <span class="c-red">*点击备份过后直接下载</span>
        </div>
        <h4 class="mb-20 bold">系统还原</h4>
        <div class="pl-20">
            <a href="javascript:;" class="btn btn-primary">开始还原</a> <span class="c-red">*还原完成之后，是否退出系统</span>
        </div>
    </div>
</div>
