.aside-hd{padding: 30px 0;}
.aside-hd .hd-img{ display: block; margin: 0 auto; width: 110px; height: 110px; border-radius: 50%; border: 3px solid #fff;}
.aside-hd .hd-name{font-size: 16px; color: #333; line-height: 35px; padding: 10px 15px 0;}

.aside-nav{ border-top: 1px solid #dadada; border-bottom: 1px solid #dadada;}
.aside-nav li{position: relative;}
.aside-nav a{border-top: 1px solid #dadada; margin-top: -1px; line-height: 48px; display: block; position: relative; font-size: 14px; color: #666; padding-left: 20px;  padding-right: 28px;}

.aside-nav .icon-l{margin-right: 5px; width: 20px; height: 20px; display: inline-block; vertical-align: middle; background-position: left top; background-repeat: no-repeat;}
.aside-nav .icon-r{position: absolute; right: 10px; top: 50%; margin-top: -7px;  width: 14px; height: 14px; display: inline-block; vertical-align: middle; background-position: left top; background-repeat: no-repeat;}
.aside-nav .icon-nav1{background-image:url(../../images/images/aside-nav1.png);}
.aside-nav .icon-nav2{background-image:url(../../images/images/aside-nav2.png);}
.aside-nav .icon-nav3{background-image:url(../../images/images/aside-nav3.png);}
.aside-nav .icon-nav4{background-image:url(../../images/images/aside-nav4.png);}
.aside-nav .icon-jt{background-image:url(../../images/images/icon-jt.png);}
.aside-nav .menu_1{background-color: #e3e3e3; display: none;}
.aside-nav .icon-jj{position: relative;top: -1px; margin-right: 5px; width: 15px; height: 15px; display: inline-block; vertical-align: middle; background-position: left top; background-repeat: no-repeat;background-image:url(../../images/images/aside-nav-icon.png);}

.aside-nav a:hover .icon-jt{background-position:left -14px;}
.aside-nav a.slideActive .icon-jt{background-position:left bottom;}


/*aside 二级菜单*/
.aside-nav2 .slide-a:focus{color: #666;}
.aside-nav2 .slide-a:hover,.aside-nav2 .slide-a.slideActive{background-color: #505767; color: #fff;}
.aside-nav2 .slide-a:hover .icon-l,.aside-nav2 .slide-a.slideActive .icon-l{background-position: left bottom;}

.aside-nav2 .menu_1 a{padding-left: 62px; background: url(../../images/images/icon-menu-jt.png) no-repeat 50px center;}
.aside-nav2 .menu_1 a:hover{ color: #333; background: url(../../images/images/icon-menu-jt-active.png) no-repeat 50px center;background-color: #e6e6e6;}


/*aside n级菜�?*/
.aside-navn .slide-a:focus{color: #666;}
.aside-navn .slide-a{background-color: #f0f0f0;}
.aside-navn .slide-a:hover{color: #666;}
.aside-navn .slide-a.slideActive .icon-jj{background-position: left bottom;}
.aside-navn .pas-menu_1{position: absolute; left: 100%; top: 0; z-index: 9; width: 100%; border: 1px solid #dadada;  display: none;}
.aside-navn .menu_1>li>a:hover{background-color: #505767; color: #fff;}
/*.aside-navn .menu_1>li:hover>.pas-menu_1{display: block;}*/

/*aside s树形菜单*/
.aside-navs{line-height: 30px; overflow: auto; margin: 20px;}
.aside-navs-cont{margin-left: -20px;}
.aside-navs .menus{display: none; position: relative;left: 0; margin-top: -5px; overflow: auto; padding-top: 5px; padding-left: 13px; margin-left: 7px; }
.aside-navs .slide-a{position: relative;}
.aside-navs .slide-a:after{content: "";width: 0; height: 10000px; border-left: 1px dashed #aaa; position: absolute; left: -13px; bottom: 15px;}
.aside-navs .slide-a:before{content: ""; width: 9px; height: 13px; border-top: 1px dashed #aaa;  position: absolute; left: -12px; top: 15px;}
.aside-navs .icon-jj{position: relative;top: -1px; margin-right: 2px; width: 15px; height: 15px; display: inline-block; vertical-align: middle; background-position: left top; background-repeat: no-repeat;background-image:url(../../images/images/aside-nav-icon.png);}
.aside-navs .slide-a.slideActive .icon-jj{background-position: left bottom;}


/*机器人设�?*/
.pd30{padding: 30px; box-sizing: border-box;}
.pd30 span{color: #333}
.r-cont-hd{font-size: 22px;}
.jqrsz-item{padding: 30px 0; border-top: 1px dashed #dadada; margin-top: -1px;}

.jqrsz-item .item-line{ position: relative; padding-bottom: 6px; font-size: 14px; color: #666;}
.jqrsz-item .item-line .lable{width: 230px; text-align: right; float: left;  line-height: 32px;}
.jqrsz-item .item-line .value{position: relative; margin-left: 230px; }
.jqrsz-item .item-line .value .ipt-txt{ width: 394px;}
.jqrsz-item .item-line .value .error-tip{font-size: 12px; color: #e44242; line-height: 1em;position: absolute; left: 0; bottom: 0;}
.jqrsz-item .item-line .value .poto-box{width: 104px; height: 104px; float: left; background: url(../../images/images/no-poto.jpg) no-repeat center; background-size: 100% 100%; border: none; margin-right: 20px;}
.jqrsz-item .item-line .value .poto-box img{display: block; width: 100%; height: 100%; border: none; outline: none;}
.jqrsz-item .item-line .value .up-tip{font-size: 12px; color: #999; margin: 10px 0 15px; height: 56px; overflow: hidden; }
.jqrsz-item .item-line .value .up-btn a{color: #3ea9fb; margin-right: 12px;}
.jqrsz-item .item-line .value .textarea{width: 420px; height: 80px;max-width: 420px;}
.jqrsz-btn-box{padding-left: 230px; margin-bottom:50px;}
/*经典头像弹窗*/
.pop-list-cont{overflow: hidden; padding:16px 21px;}
.pop-list-cont ul{overflow: hidden;}
.pop-list-cont li{float: left; border: 2px solid transparent; width:91px; height: 96px; margin: 11px; cursor: pointer;}
.pop-list-cont li:hover,.pop-list-cont li.active{background-color: #ff0000;}
/*裁剪弹窗*/
.pop-cut-box{height: 386px; position: relative;}
.cut-btn{padding: 0 20px; font-size: 14px; line-height: 35px;}


/*客服场景知识总览*/
.search-box{display: inline-block; position: relative; vertical-align: middle; text-align: left;}
.search-box:after{content: ""; width: 19px; height: 19px; display: block; position: absolute; right: 10px; top: 50%; margin-top: -10px; background: url(../../images/images/icon-search_03.png) no-repeat right center;}
.se-search-btn{ background-color: #fff; border: 1px solid #3ea9fb; color: #3ea9fb; line-height: 32px; padding: 0 20px; border-radius: 2px; vertical-align: middle;}


.csso-cz-box{height: 34px;}
.csso-cont .csso-hd{height: 40px; line-height: 40px; border-top: 1px solid #dadada; background-color: #f0f0f0; padding: 0 15px; font-size: 14px; color: #666;}
.csso-cont .csso-hd em{color: #e84f4f; font-style: normal;}
.ljtClose-btn{font-size: 14px; color: #666;}
.ljtClose-btn .icon-ljtClose{ width: 15px; height: 17px; display: inline-block; vertical-align: middle; background: url(../../images/images/icon-ljt.png) no-repeat center; position: relative; top: -1px; margin-right: 3px;}
.ljtClose-btn .txt{display: inline-block; vertical-align: middle;}

.csso-lsit>li{border-bottom: 1px solid #dadada; padding: 25px 0;}
.csso-lsit .title {position: relative; padding-left: 24px;}
.csso-lsit .title a{display: inline-block; vertical-align: middle; font-size: 16px; color: #3087e9;}
.csso-lsit .my-checkbox{ display: inline-block; vertical-align: middle; position: absolute; left: 0; top: 0;}
.csso-lsit .my-checkbox label{margin-right: 0; height: 24px; line-height: 24px;}
.csso-lsit .txt-cont{padding-left: 24px;}
.csso-lsit .txt-item{font-size: 14px; padding:3px 0 ;}
.csso-lsit .txt-item .lable{color: #666;}
.csso-lsit .txt-item .value>ul{margin-top: -15px;}
.csso-lsit .txt-item .value>ul>li{border-top: 1px dashed #dadada; padding:15px 0; }
.csso-lsit .csso-info{font-size: 12px; color: #999;}

/*提示弹窗*/
.xyk-tip-pop{border-radius: initial; background-color: #2b2b2d; padding: 28px; box-sizing: border-box; font-size: 14px;}
.xyk-tip-pop h3{color: #999;}
.xyk-tip-pop p{color: #666;}
