@charset "utf-8";
/* CSS Document */
.w22{width:22%;}
.w78{width:78%;}
.bd_l{border-left:1px solid #eee;}
.bd_r{border-right:1px solid #eee;}

.btn1{padding:5px 15px;height:30px;border-radius:2px;cursor:pointer;color:#fff;border:0;}
.btn1_blue{background:#529ff6;}
.btn1_blue:hover{background:#488cd8;}
.btn_green{background:#2bcacc;}
.btn_green:hover{background:#2dbcbe;}
.btn_green2{background:#63d197;}
.btn_green2:hover{background:#60c690;}
.btn_gray{background:#d5d4d4;}
.btn_gray:hover{background:#c7c7c7;}
.btn_delete{background:#d95353;}
.btn_delete:hover{background:#be5353;}


/*我的应用*/
.my_appbox{box-sizing:border-box;background:#fff;}
.application_box_list{width:23%;margin:1%;}

/*参数设置*/

/*开关*/
.b_box{ width: 34px;
    height: 20px;
    border-radius: 4px;
    position: relative;
}
.s_box{ width: 16px;
    height: 16px;
    border-radius: 2px;
    position: absolute;
    background: white;
    box-shadow: 0 2px 4px #999;
    cursor:pointer;
}
.open1{background: #3ea9fb;}
.open2{top: 2px; right: 1px; }
.close1{background: #ccc;  border-left: transparent;}
.close2{left: 1px;  top: 2px; }
/*纬度*/
.con_box{padding:20px 0;box-sizing:border-box;background:#fff;}
.con_box_serl{width:324px;height:32px;}
.con_box_serl .txt{width:160px;height:28px;line-height:28px;padding-left:5px;}
.con_box_serl .btn1{position:absolute;right:-1px;top:-1px;width:65px;height:32px;background:#3ea9fb;cursor:pointer;}
.stop_word_tab{border-collapse:collapse;}
.stop_word_tab th,.stop_word_tab td{border:1px solid #e3e3e3;height:40px;line-height:40px;text-align:center;font-size:14px;}
.add_ele_span{width:85px;display:inline-block;line-height:30px;}

/*场景管理*/
.scene_box_top{border-bottom:1px solid #e3e3e3;width:100%;height:31px;}
.scene_box_top span{background:#fff;
    cursor: pointer;
    display: inline-block;
    float: left;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    padding: 0 20px;
}
.scene_box_top span.cur{background-color: #3ea9fb; color: #fff;}
.know_style{width:23%;margin:0 1% 15px 1%;padding:10px;box-sizing:border-box;float: left;position:relative;}

/*知识管理-知识总览*/
.classification{width:100%;padding-left:75px;position:relative;}
.classification b{position:absolute;left:0;top:0;display:inline-block;line-height:30px;font-size:15px;}
.classifica_ul{}
.classifica_ul li{float:left;border:1px solid #eee;margin:0 10px 10px 0;height:30px;line-height:30px;padding:0 10px;cursor:pointer;}
.classifica_ul li:hover{background:#3ea9fb;color:#fff;}
.classifica_ul li.cur{background:#3ea9fb;color:#fff;}
.sel{width:84px;height:31px;outline:none;}
.input_text{width:260px;height:31px;border:1px solid #e3e3e3;padding-left:5px;line-height:30px;}
.lock_span{right:5px;top:5px;color:red;}
.check_div,.chk{display:none;}
.search_btn{width:30px;height:29px;cursor:pointer;background:url(../../images/icon-search.png) no-repeat center;}

/*测试*/
.session .chat_test_wrap{background:#fff;box-sizing:border-box;height:100%;width:100%;margin:10px auto 0;padding:20px;}
.session .chat_test_l{width:58%;min-height:400px;box-sizing:border-box;}
.session .chat_test_ltop{width:100%;height:250px;margin-bottom:15px;overflow-y:auto;box-sizing: border-box;}
.session .chat_test_lbot{width:100%;height: 227px;overflow-y:auto;box-sizing: border-box;}
.session .flow_name{width:100px;height:50px;border:1px solid #eee;margin-top:25px;padding:10px;box-sizing:border-box;}
.session .flow_span{margin-top:40px;width:20px;display:block;}
.session .flow_con{width:290px;height:100px;border:1px solid #eee;overflow:auto;padding:10px;box-sizing:border-box;}
.session .chat_test_r{width:40%;min-height:490px;overflow-y:auto;box-sizing:border-box;}
.session .flow_chart_wrap{}
.session .chat_text_txta{width:100%;height:50px;resize:none;outline:none;padding:5px;box-sizing:border-box; }
.session .chat_test_ltopl{width:105px;}


.session #ask p,.session #answer p{margin-bottom:5px;}

.flow_chart_l{width:60px;height:60px;text-align:center;box-sizing:border-box;padding-top:10px;border:1px solid #a4eff3;background:#dffdfb;}
.flow_chart_m{width:40px;height:12px;overflow:hidden;margin-top:20px;}
.flow_chart_r{width:292px;height:60px;overflow:auto;border:1px solid #a4eff3;}
.flow_chart_arrow{width:12px;height:39px;margin-left:25px;}

/*统计分析*/
.con_box{padding:20px 30px;box-sizing:border-box;background:#fff;}
.tab_tit{height:32px;border-bottom:1px solid #e3e3e3;box-sizing:border-box;}
.tab_tit span{padding:0 10px;height:32px;display:inline-block;font-size:16px;line-height:32px;text-align:center;margin-right:10px;cursor:pointer;}
.tab_tit span.cur{background:#3ea9fb;color:#fff;}
.data_time_statis_top{width:800px;margin:0 auto 20px;}
.data_time_statis_bot{background:#fcfdfd;border:1px solid #f2f4f7;padding:25px;}

.tabBar2 {width:262px;height:32px;margin:0 auto;border:1px solid #529ff6;border-bottom:0;box-sizing:border-box;}
.tabBar2 span{width:130px;height:30px;box-sizing:border-box;}
.tabBar2 span.current{background:#529ff6;}
.echart_div{width:100%;height:562px;overflow:auto;margin:20px auto;text-align:center;}

.access_amount_table{border-collapse:collapse;}
.access_amount_table th{font-weight:bold;}
.access_amount_table td,.access_amount_table th{text-align:center;border:1px solid #e3e3e3;height:40px;}
.sorting_asc{width:20px;height:19px;display:inline-block;background:url(../../images/sort_asc.png) no-repeat;}
.sorting_asc2{width:20px;height:19px;display:inline-block;background:url(../../images/sort_desc.png) no-repeat;}

.user_session{padding-top:36px;padding-bottom:50px;height:100%;box-sizing:border-box;position:relative;}
.user_sessionp{width:100%;position:absolute;left:0;top:0;text-align:center;}
.user_session_pag{position:absolute;left:0;bottom:0;}
.talk_ul_usersession{box-sizing:border-box;height:100%;overflow:auto;}
.chat_theme_ul{height:100%;overflow:auto;}
.chat_theme_ul li{text-align:center;height:40px;line-height:40px;background:#f8f8f8;border-bottom:1px solid #e3e3e3;}

.talk_ul{width:100%;}
.talk_ul li{width:100%;overflow:hidden;margin-bottom:10px;}
.talk_ul2 li{margin-bottom:0;}
.talk_ul .head{width:12%;text-align:center;}
.head p span{font-size:12px;color:#75777b;margin-right:5px;}
.talk_msg{max-width:75%;position:relative;}
.talk_msg .talk_content{padding:10px 20px;background:#f5f5f7;border-radius:5px;}
.talk_arrow{width:10px;height:12px;background:url(../../images/images/talk_arrow.jpg) no-repeat;position:absolute;left:-9px;top:10px;}
.talk_ul .li_right .talk_content{background:#2eaeff;color:#fff;}
.talk_ul .li_right .talk_arrow2{width:10px;height:12px;background:url(../../images/images/talk_arrow2.jpg) no-repeat;position:absolute;right:-10px;top:10px;}

.talk_ul_usersession{box-sizing:border-box;height:100%;overflow:auto;}
.node_ul{width:530px;}
.node_ul li{cursor:pointer;}
.node_ul li:hover{background:#3ea9fb;color:#fff;}

/*FAQ知识*/
.content_box{box-sizing:border-box;padding:30px;background:#fff;}
.qiyong_span{background:url(../../images/my-checkbox.png) no-repeat left center;padding-left:25px;}
.qiyong_span_on{background:url(../../images/my-checkbox-on.png) no-repeat left center;padding-left:25px;}
.channel_div{position: relative;padding-left:50px;min-height:25px;}
.channel_s{position:absolute;left:0;top:0;}
.word_div{width:700px;height:200px;padding:10px;box-sizing:border-box;}
.delete_a{width: 14px; height: 14px; display:block;background: url(../../images/images/addIcon.png) no-repeat 0 center;}
.edit_a{width: 14px; height: 14px; display:block;background: url(../../images/images/addIcon.png) no-repeat 0 bottom; }

/*要素知识*/
.essential_factor_div{width:100%;min-height:200px;padding:10px;box-sizing:border-box;overflow:auto;}
.essential_factor_tab{border-collapse: collapse;}
.essential_factor_tab td{border:1px solid #eee;height:30px;padding:5px;}

/*词库*/
.concept_div{position: relative;padding-left:110px;min-height:25px;}
.concept_s{position:absolute;left:0;top:0;}

/*素材-FAQ聊天*/
.chat_add_div{}
.chat_add_div p{line-height:30px;padding:0 5px;width:150px;height:30px;cursor:pointer;background:url(../../images/my-select-arr.png) no-repeat right center;}
.chat_add_ul{display:none;left:0;top:29px;background:#fff;width:150px;padding:10px;box-sizing:border-box;}
.chat_add_ul li{cursor:pointer;line-height:30px;}

/**/
.framework{position: relative;padding-left:110px;min-height:25px;}
.framework_s{position:absolute;left:0;top:0;}
.framework_sel{height:30px;}

/**/
.modifi_title{}
.modifi_title button{width:180px;height:40px;background:#ccc;font-size:15px;cursor:pointer;color:#fff;}
.modifi_title button.current{background:#529ff6;}
.tag_div{width:120px;border:1px solid #bdbdbd;padding:10px;}

/*知识总览弹窗*/
.advanced_search{position:absolute;left:0;top:31px;display:none;width:512px;background:#fff;z-index:100;padding:20px;box-sizing:border-box;}

/*机器人设置样式修改*/
.setting_div{position: relative;padding-left:233px;min-height:25px;margin-bottom:10px;}
.setting_span{position:absolute;left:0;top:0;width:233px;display:block;text-align:right;}
.classic_head_ul li {
    width: 23%;
    height: 85px;
    margin-right: 2%;
    margin-bottom: 10px;
    float: left;
    box-sizing: border-box;
    border: 2px solid #fff;
    overflow:hidden;
}
.classic_head_ul li.active {
    border-color: red;
}
/*6/20-add*/
.list_facContent{position: relative;padding-left:230px;min-height:30px;box-sizing:border-box;}
.list_facContent_L{position:absolute;left:0;top:0;width:230px;min-height:30px;text-align:right;line-height:30px;}
/*------------引导页样式-----------------*/
.shadow_div{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    background:#000;
    opacity:0.6;filter:alpha(opacity=60);
    z-index:999999;
}
.step_one_s{
    width: 23px;
    height: 23px;
    line-height: 20px;
    border: 3px solid white;
    background:#be2924;
    border-radius: 50%;
    position: absolute;
    top: -16px;
    left: -16px;
    z-index: 9999999999!important;
    font-size: 13px;
    font-weight: bold;
    color: white;
    text-align: center;
}
.step_one_arrow{
    border: 5px solid white;
    content: '';
    position: absolute;
    top: 38px;
    left:5px;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: white;
    border-left-color: transparent;
}
.step_one_con{
    min-width: 200px;
    max-width: 300px;
    left: 0px;
    top: 48px;
    position: absolute;
    padding: 10px;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 1px 10px rgba(0,0,0,.4);
}
.introjs-tooltipbuttons .introjs-button.c-999{color:#999;}
.introjs-tooltipbuttons .introjs-button{
    width:58px;
    height:26px;
    position: relative;
    overflow: visible;
    display: inline-block;
    padding: .3em .8em;
    border: 1px solid #d4d4d4;
    margin: 0;
    text-decoration: none;
    text-shadow: 1px 1px 0 #fff;
    color: green;
    white-space: nowrap;
    cursor: pointer;
    background-color: #ccc;
    border:1px solid #eee;
    -webkit-border-radius: .2em;
    -moz-border-radius: .2em;
    border-radius: .2em;
    margin-top: 10px;
}
.knowledgeFaq .step_one{width:600px;height:40px;position:absolute;top:29px;left: 150px;
    z-index:10000000;
    background:url(../../images/faq_yd1.png) no-repeat 0px center;
}
.knowledgeFaq #step_two{background-image:url(../../images/faq_yd2.png);top:102px;}
.knowledgeFaq #step_three{background-image:url(../../images/faq_yd3.png);top:150px;}
.knowledgeFaq #step_four{background-image:url(../../images/faq_yd4.png);top:258px;}
.knowledgeFaq #step_five{background-image:url(../../images/faq_yd5.png);top:373px;}
.knowledgeFaq #step_six{background-image:url(../../images/faq_yd6.png);top:438px;left:224px;}
/*--概念--*/
.knowledgeConcepe .step_one{width:600px;height:40px;position:absolute;top:29px;left: 150px;
    z-index:10000000;
    background:url(../../images/faq_yd1.png) no-repeat 0px center;
}
.knowledgeConcepe #step_two{background-image:url(/../../images/faq_yd2.png);top:102px;}
.knowledgeConcepe #step_three{background-image:url(../../images/faq_yd3.png);top:150px;}
.knowledgeConcepe #step_four{background-image:url(../../images/faq_yd5.png);top:267px;}
.knowledgeConcepe #step_five{background-image:url(../../images/faq_yd4.png);top:373px;}
.knowledgeConcepe #step_six{background-image:url(../../images/faq_yd6.png);top:438px;left:224px;}
/*--列表--*/
.knowledgeList .step_one{width:600px;height:40px;position:absolute;top:0px;left: 138px;
    z-index:10000000;
    background:url(../../images/faq_yd1.png) no-repeat 0px top;
}
.knowledgeList #step_two{background-image:url(../../images/faq_yd2.png);top:68px;}
.knowledgeList #step_three{background-image:url(../../images/faq_yd3.png);top:118px;}
.knowledgeList #step_four{background-image:url(../../images/faq_yd4.png);top:158px;}
.knowledgeList #step_five{height:328px;background-image:url(../../images/table_yd5.png);top:204px;}
.knowledgeList #step_six{height:104px;background-image:url(../../images/table_yd6.png);top:703px;left:228px;}
.knowledgeList #step_seven{background-image:url(../../images/faq_yd6.png);top:852px;left:228px;}

.knowledgeList #step_five .step_one_arrow{
    top: 329px;
}
.knowledgeList #step_five .step_one_con{
    top: 339px;
}
.knowledgeList #step_six .step_one_arrow{
    top: 103px;
}
.knowledgeList #step_six .step_one_con{
    top: 113px;
}
/*---要素---*/
.knowledgeFactor .step_one{width:600px;height:40px;position:absolute;top:0px;left: 153px;
    z-index:10000000;
    background:url(../../images/faq_yd1.png) no-repeat 0px top;
}
.knowledgeFactor #step_two{background-image:url(../../images/faq_yd2.png);top:70px;}
.knowledgeFactor #step_three{background-image:url(../../images/faq_yd3.png);top:112px;}
.knowledgeFactor #step_four{background-image:url(../../images/faq_yd4.png);top:154px;}
.knowledgeFactor #step_five{height:328px;background-image:url(../../images/fac_yd5.png);top:202px;}
.knowledgeFactor #step_six{height:104px;background-image:url(../../images/table_yd6.png);top:452px;left:228px;}
.knowledgeFactor #step_seven{background-image:url(../../images/faq_yd6.png);top:598px;left:228px;}

.knowledgeFactor #step_five .step_one_arrow{
    top: 242px;
}
.knowledgeFactor #step_five .step_one_con{
    top: 252px;
}
.knowledgeFactor #step_six .step_one_arrow{
    top: 103px;
}
.knowledgeFactor #step_six .step_one_con{
    top: 113px;
}
