<div class="pd-20" >
    <div class="mb-10">
        <p>{{vm.currQuestion}}</p>
    </div>
    <div>
        <table class="access_amount_table">
            <thead>
                <tr>
                    <th width="20%"></th>
                    <th width="80%" class="text-c">知识标题</th>
                </tr>
            </thead>
            <tbody>
                <tr role="row" class="odd">
                    <td><input type="radio" checked="checked"></td>
                    <td>{{vm.currKnowledgeTitle}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="tc mt-10">
        <input type="button" class="btn1 btn_green" ng-click="closeThisDialog(0)" value="返回"/>
    </div>
</div>
<style>

</style>






