
<div class="pd-20" >
    <div class="framework mb-10">
        <span class="framework_s">测试问法:</span>
        <div>
            <input type="text" placeholder="请输入测试问法" class="input-text"ng-model="vm.possibleKnowledge" style="width:300px;"/>
        </div>
    </div>
    <div class="framework mb-10">
        <span class="framework_s">知识标题:</span>
        <div>
            <input type="text" placeholder="请输入知识标题" class="input-text" ng-model="vm.knowledgeTitle" style="width:300px;"/>
        </div>
    </div>

    <div class="tc mt-20">
        <button  class="btn btn-primary radius mr-10" type="button" ng-click="vm.verifyRelease()?closeThisDialog(1):''">保存</button>
        <button  class="btn btn-default radius" type="button"  ng-click="closeThisDialog(0)">取消</button>
    </div>
</div>
<style>
    .ngdialog.ngdialog-theme-default .ngdialog-content{width:500px;}
</style>
<script>

</script>





