<!--<div ui-view="header"></div>-->

<div class="pd-20" >
    <div class="bk-gray clearfix h100" style="width:100%;">
        <div class="L w22 bd_r user_session">
            <p class="text-c l-30 f-16 user_sessionp">
                会话
            </p>
            <ul class="chat_theme_ul" id="sessionBar" ng-if="vm.timeList.length">
                <li  style="cursor:pointer;" ng-if="vm.timeList" ng-repeat="item in vm.timeList" ng-click="vm.getdetail(item.sessionId)">{{item.sessionTime}}</li>
            </ul>
            <div class="text-c mb-10 user_session_pag" id="barPage" ng-if="vm.timeList.length">
                <div name="laypage1.2" class="laypage_main laypageskin_molv" id="laypage_0">
                    <a href="javascript:;" class="laypage_next" data-page="2" ng-click="vm.currentPage=vm.currentPage+1">下一页</a>
                </div>
            </div>
            <span id="barPageDetail" style="right: 14px;bottom: 18px;position: absolute;">{{vm.currentPage}}/{{vm.total}}</span>
        </div>
        <div class="L w78">
            <ul class="talk_ul talk_ul_usersession clearfix pt-10" id="sessionDetail">
                <li class="li_right">
                    <div class="head R">
                        <img src="../../images/talk_headimg2.jpg">
                    </div>
                    <div class="talk_msg R">
                        <span class="talk_arrow2"></span>
                        <p class="talk_content">
                            卡拉ok
                        </p>
                    </div>
                </li>
                <li>
                    <div class="head L">
                        <img src="../../images/talk_headimg.jpg">
                    </div>
                    <div class="talk_msg L">
                        <span class="talk_arrow"></span>
                        <p class="talk_content">
                            对不起，小沙还在努力学习中！
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!--<input type="hidden" id="userId" value="339825586094477312">-->
    <!--<input type="hidden" id="userSessionTimebarTotal" value="140">-->
    <!--<input type="hidden" id="contentTotal">-->
</div>
<style>
    .ngdialog.ngdialog-theme-default .ngdialog-content{
        width:930px;
        min-height: 400px;
    }
</style>






