
<script type="text/ng-template" >
</script>
<div class="pd-10 knowPopup"  style="width: 100%;" >
    <p>添加链接<span><i class="namePopupClose"  ng-click="closeThisDialog(0)"></i></span></p>
    <div class="addPopupCnt" style="width:100%;margin-left:0;padding-top:10px;">
        <form action="" name="form" novalidate>
            <textarea name="title" ng-model="vm.newLink" required></textarea>
        </form>
        <div class="tc mb-10">
            <input  value="保存" type="button" class="btn1 btn1_blue mr-20" ng-click="vm.isNewLinkAble(vm.newLink)" >
            <button class="btn1 btn_gray" ng-click="closeThisDialog(0)">取消</button>
        </div>
    </div>
</div>
