<div class="r-cont pd30 L" style="width: 100%;box-sizing:border-box;">
    <div class="r-cont-hd">
        <span>BOT概念管理</span>
    </div>
    <div>
       <div class="conceptSearch clearfix">
            <div class=" L mr-5" >
            </div>
                <div class=" conceptSearchRt">
                <input type="text" class="input-text L" ng-model="vm.topic"  placeholder="请输入查询概念类或者概念的名称"  style="width:220px;">
                <input type="button"  ng-click="vm.loadSynonymConceptTable(1)" class=" mr5 btn1 tw_btn "/>
                <!--<a class="btn btn-green mr10" href="javascript:;">继续概念库</a>-->
                <a class="btn btn-green2 mr5" href="javascript:;" ng-click="vm.exportAll()">导出</a>
              
            </div>
        </div>
        <table class="stop_word_tab">
            <thead>
                <tr>
                    <!--<th class="bold" width="5%"><input type="checkbox"/></th>-->
                    <th class="bold" width="15%">概念类名</th>
                    <th class="bold" width="35%">BOT概念</th>
                    <th class="bold" width="20%">更新时间</th>
                    <th class="bold" width="15%">修改人</th>
                    <th class="bold" width="15%">操作</th>
                </tr>
            </thead>
            <tr ng-repeat="item in vm.listData">
                <!--<td><input type="checkbox"></td>-->
                <td>{{item.topic}}</td>
                <!-- <td>{{item.botConceptWeight | weightFilter}}</td> -->
                <td>
                    <span ng-class="($index%2==1)?'ng-blue':'ng-red'" ng-repeat = "i in item.term.split(';')"><i ng-if="$index!=0 && i " style="color: #333;">, </i>{{i}} </span>
                </td>
                <td>{{item.modifyTime | date : 'yyyy-MM-dd HH:mm:ss'}}</td>
                <td>{{item.modifierId}}</td>
                <td>
                    <a href="javascript:;" class="color-blue modifyConcept" ng-click="vm.editSingle(item)">修改</a>
                </td>
            </tr>
        </table>
        <pagination ng-if="vm.paginationConf.totalItems && vm.paginationConf.totalItems>0" conf="vm.paginationConf"></pagination>
    </div>
</div>
<style>
    .pagination {
        margin: 0 !important;
    }
    .ngdialog{
        z-index: 5!important;
    }
</style>
<script></script>