<div >
    <div class="addContent pd10">
        <div class="mb-20">
            <p>{{vm.dialogTitle}}</p>
        </div>
        <div>
            <form name="myService" class="css-form" novalidate>

                <div class="framework mb-10">
                    <span class="framework_s text-r">发布名称：</span>
                    <div >
                        <input  type="text" class="bk-gray input-text"
                                ng-model="vm.serviceName"
                                name="serviceName" check-service-name="serviceName"
                                placeholder="" style="width:100%;" required>
                        <p class="c-red" ng-show="myService.serviceName.$dirty && myForm.serviceName.$invalid">
                            <!--<div class="c-red" ng-show="myService.serviceName.$error.required">服务名称不能为空！</div>-->
                        <div class="c-red" ng-show="myService.serviceName.$error.unique">服务名称重复，请重新输入！</div>
                        </p>
                    </div>
                </div>


                <div class="framework mb-10">
                    <span class="framework_s text-r">发布渠道：</span>
                    <div >
                        <label class="mr-10" ng-repeat="channel in vm.channelData">
                            <input type="checkbox" ng-checked="vm.channels.inArray(channel.channelCode)"
                                   ng-click="vm.selectChannel(channel.channelCode)"/> {{channel.channelName}}
                        </label>
                    </div>
                </div>


                <div class="framework mb-10">
                    <span class="framework_s text-r">发布维度：</span>
                    <div >
                        <!--<div  id="search_bar" style="min-width:500px;min-height:30px;">-->
                        <!--{{vm.dimensions}}-->
                        <!--<auto-complete  source="vm.dimensionAll" result="vm.dimensions"></auto-complete>-->
                        <!--</div>-->
                        <div auto-complete  source="vm.dimensionAll" result="vm.dimensionSelected"></div>
                    </div>
                </div>

                <div class="framework mb-10">
                    <span class="framework_s text-r">发布内容：</span>
                    <div >
                        <input class="addBth" type="button" value="选择分类" ng-click="vm.listCategory()"/>
                    </div>
                </div>

                <div class="framework mb-10">
                    <span class="framework_s text-r">发布类型：</span>
                    <div >
                        <label ng-repeat="serviceType in vm.typeData" class="mr-10">
                            <input type="radio" name="style" ng-checked="vm.serviceType==serviceType.statusId"
                                   ng-click="vm.serviceType=serviceType.statusId"> {{serviceType.statusName}}
                        </label>
                    </div>
                </div>

                <div class="framework mb-10">
                    <span class="framework_s text-r">发布节点：</span>
                    <div >
                        <ul class="bd pd-10 node_ul L mr-10" style="width:100%;min-height:30px;">
                            <li ng-repeat="node in vm.nodeData"  ng-class="{'btn1_blue':vm.nodeCode==node.nodeCode}"
                                ng-click="vm.nodeCode=node.nodeCode">{{node.nodeAccessIp}}</li>
                        </ul>
                        <a ui-sref="setting.nodeMan" class="c-primary" ng-click="closeThisDialog(0)">不在列表内，去创建新节点</a>
                    </div>
                </div>

                <div class="framework mb-10">
                    <span class="framework_s text-r"></span>
                    <div>
                        <button class="btn1 btn1_blue mr-10"  ng-click="vm.verifyRelease()?closeThisDialog(1):''">发布</button>
                        <button class="btn1 btn_gray"  ng-click="closeThisDialog(0)">取消</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<style>
    .ngdialog.ngdialog-theme-default .ngdialog-content{
        width:700px;
    }
    .miles-autoBar{width:100%;}
</style>