<div class="r-cont pd30">
    <div class="r-cont-hd">
        <span>节点管理</span>
    </div>
    <div class="r-cont-bd oh ">
        <div class="con_box  mb25">
            <div class="mb10 bd p20 cl" style="background:#fcfdfd;border-color:#f2f4f7;">
                <div class="cl mb-20">
                    <button  class=" btn1 btn1_blue " ng-click="vm.addNode()" >添加节点</button>
                </div>
                <div>
                    <table class="stop_word_tab" >
                        <thead>
                        <tr>
                            <!--<th class="bold" width="5%"><input  type="checkbox" /></th>-->
                            <th class="bold" width="10%">节点编号</th>
                            <th class="bold" width="30%">访问地址</th>
                            <th class="bold" width="12%">节点类型</th>
                            <th class="bold" width="12%">使用状态</th>
                            <th class="bold" width="12%">运行状态</th>
                            <th class="bold" width="20%">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in vm.nodeData">
                            <!--<td><input  type="checkbox" /></td>-->
                            <td>{{item.nodeId}}</td>
                            <td>{{item.nodeAccessIp}}</td>
                            <td ng-if="item.nodeType==200">单个节点</td>
                            <td ng-if="item.nodeType==201">集群节点</td>
                            <td ng-if="item.statusId==60001">未使用</td>
                            <td ng-if="item.statusId==60002">已使用</td>
                            <td ng-if="item.statusId==60003">已禁用</td>
                            <td ng-if="item.nodeRunningId==70001">运行正常</td>
                            <td ng-if="item.nodeRunningId==70002">运行异常</td>
                            <td>
                                <a ng-if="item.statusId==60001"
                                   ng-click="vm.disabledAndEnabledNode(item.nodeCode)" class="mr-10 c-orange">禁用</a>
                                <a ng-if="item.statusId==60003"
                                   ng-click="vm.disabledAndEnabledNode(item.nodeCode)" class="mr-10 c-orange">启用</a>
                                <a ng-click="vm.editNode(item.nodeCode)" class="c-primary mr-10" >编辑</a>
                                <a ng-if="item.statusId!=60002" ng-click="vm.deleteNode(item.nodeCode)" class="c-error">删除</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <pagination ng-if="vm.paginationConf.totalItems && vm.paginationConf.totalItems>0" conf="vm.paginationConf"></pagination>
            </div>
        </div>
    </div>
</div>
