<div class="r-cont pd30">
    <div class="r-cont-hd">
        <span>发布管理</span>
    </div>
    <div class="r-cont-bd oh ">
        <div class="con_box  mb25">
            <div class="mb10 bd p20 cl" style="background:#fcfdfd;border-color:#f2f4f7;">
                <div class="cl mb-20">
                    	<span class="L">
                        	<!--<a ui-sref="setting.newService"  >-->
                            <!--<a ng-click="$state.go('setting.newService');">-->
                            <a href="javascript:;" ng-click="vm.addNewService()">
                                <button class="L btn1 btn1_blue ">发布新服务</button>
                            </a>
                        </span>
                        <span class="R">
                            <span>共有数据：<b >{{vm.dataTotal}}</b> 条</span>
                        </span>
                </div>
                <div>
                    <table class="stop_word_tab" >
                        <thead>
                        <tr>
                            <!--<th class="bold" width="5%"><input  type="checkbox" /></th>-->
                            <th class="bold" width="20%">名称</th>
                            <th class="bold" width="20%">服务类型</th>
                            <th class="bold" width="20%">发布时间</th>
                            <th class="bold" width="20%">状态</th>
                            <th class="bold" width="20%">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in vm.serviceData">
                            <!--<td><input  type="checkbox" /></td>-->
                            <td>{{item.serviceName}}</td>
                            <td ng-if="item.serviceType==10">生产服务</td>
                            <td ng-if="item.serviceType==11">测试服务</td>
                            <td>{{item.serviceCreateTime | date : 'yyyy-MM-dd hh:mm:ss'}}</td>
                            <td ng-if="item.serviceStatus==30001">未发布</td>
                            <td ng-if="item.serviceStatus==30002">已发布</td>
                            <td ng-if="item.serviceStatus==30003">已下线</td>
                            <td>
                                <a ng-if="item.serviceStatus==30001"
                                   ng-click="vm.publishService(item.serviceId)" class="mr-10 c-orange">发布</a>
                                <a ng-if="item.serviceStatus==30002"
                                   ng-click="vm.stopService(item.serviceId)" class="mr-10 c-orange">下线</a>
                                <a ng-if="item.serviceStatus==30003"
                                   ng-click="vm.startService(item.serviceId)" class="mr-10 c-orange">上线</a>
                                <a ng-if="item.serviceStatus==30002"
                                   ng-click="vm.restartService(item.serviceId)" class="mr-10 c-orange">重启</a>
                                <a ng-click="vm.editService(item.serviceId)" class="c-primary mr-10" >编辑</a>
                                <a ng-click="vm.deleteService(item.serviceId)" class="c-error">删除</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <pagination ng-if="vm.paginationConf.totalItems && vm.paginationConf.totalItems>0" conf="vm.paginationConf"></pagination>
            </div>
        </div>
    </div>
</div>
<style>

</style>