
<div class="pd-30">
    <form action="" method="" class="form form-horizontal">
        <input type="hidden" name="greeting_word_modifier"/>

        <div class="mb-10 cl">
            <label class="form-label col-xs-3 col-sm-2">要素名称：</label>
            <div class="formControls col-xs-9 col-sm-9">
                <input type="text"  name="greeting_word_key" class="input-text"/>
            </div>
        </div>
        <div class="mb-10 cl">
            <label class="form-label col-xs-3 col-sm-2">要素类型：</label>

            <div class="formControls col-xs-9 col-sm-9">
                <select class="input-text">
                    <option value="string">字符串</option>
                    <option value="int">数值</option>
                    <option value="date">日期</option>
                </select>
            </div>
        </div>
        <div class="mb-10 cl">
            <label class="form-label col-xs-3 col-sm-2">挖掘技术：</label>
            <div class="formControls col-xs-9 col-sm-9">
                <label class="mr-10"><input type="checkbox" ng-checked="vm.gorithm.inArray('130')" ng-click="vm.gorithm.inArray('130')?vm.gorithm.remove('130'):vm.gorithm.push('130')"/> OEC语义挖掘</label>
                <label class="mr-10"><input type="checkbox" ng-checked="vm.gorithm.inArray('131')" ng-click="vm.gorithm.inArray('131')?vm.gorithm.remove('131'):vm.gorithm.push('131')"/> gate算法</label>

            </div>
        </div>
        <div class="mb-10 cl">
            <label class="form-label col-xs-3 col-sm-2">反问：</label>
            <div class="formControls col-xs-9 col-sm-9">
                <input type="text" placeholder="请问您需要的收益率多少？" class="input-text"/>
            </div>
        </div>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                <input type="button" class="btn1 btn1_blue ml-10" value="保存" />

            </div>
        </div>
    </form>
</div>

<style>
    .ngdialog.ngdialog-theme-default .ngdialog-content{
        width:695px;
    }
</style>