
<div class="wrap">
    <div class="content_wrap page-container" style="padding:0;">
        <div class="wrap mb30">
            <div class="content_box mb25 mt10">
                <h3 class="f22 pl-10 mb15" ng-if="!vm.knowledgeId">要素型知识新增</h3>
                <h3 class="f22 pl-10 mb15" ng-if="vm.knowledgeId">要素型知识编辑</h3>
                <div class=" p10 ">
                    <div class="row cl mb-10">
                        <label class="form-label col-xs-4 col-sm-2 text-r">知识标题：</label>
                        <div class="formControls col-xs-8 col-sm-9" style="padding-right:0;">
                            <input  type="text" class="bk-gray input-text " placeholder="请输入标题" ng-model="vm.title" name="title" ng-focus="vm.titleTip=''" ng-minlength="1" ng-maxlength="1000" required  style="width:394px;"/>
                            <a href="javascript:;" title="自动匹配BOT" ng-click="vm.getBotByTitle()" class=" mr-15"><img src="../../../images/match_img.png" width="25" height="25"></a>
                            <p class="c-error pd-5"  ng-if="vm.titleTip">{{vm.titleTip}}</p>
                        </div>
                    </div>
                    <div class="row cl mb-10">
                        <label class="form-label col-xs-4 col-sm-2 text-r">知识有效期：</label>
                        <div class="formControls col-xs-8 col-sm-9" style="padding-right:0;">
                            <div class="dib">
                                <label>
                                    <input style=" margin-top:-2px;" type="checkbox" ng-model="vm.isTimeTable"> {{vm.timeFlag}}
                                </label>
                                <div style="margin-top: 10px;" ng-show="vm.isTimeTable">
                                    <input type="text" id="startTime" onchange=""  ng-model="vm.timeStart"  onclick="WdatePicker({startDate:'%y',dateFmt:'yyyy-MM-dd',maxDate:'#F{$dp.$D(\'endTime\')}'})" class="input-text Wdate "  style="width:190px;border:1px solid #e1e1e1;height: 35px;font-size: 15px;color: #333!important;" placeholder="yyyy-mm-dd" readonly>
                                    -
                                    <input type="text" id="endTime"   onchange="" ng-model="vm.timeEnd" onclick="WdatePicker({startDate:'%y',dateFmt:'yyyy-MM-dd',minDate:'#F{$dp.$D(\'startTime\')}'})" class="input-text Wdate "  style="width:190px;border:1px solid #e1e1e1;height: 35px;font-size: 15px;color: #333!important;" placeholder="yyyy-mm-dd" readonly>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bot_box">
                        <div class="row cl mb-10">
                            <label class="form-label col-xs-4 col-sm-2 text-r">BOT路径：</label>
                            <div class="formControls col-xs-8 col-sm-9">
                                <div class="value Div clearfix" id="Div">
                                    <div class="ipt-txt-box L mr-10">
                                        <input class="ipt-txt bd" style="padding-right:25px;width:362px;" ng-click="vm.knowledgeBot()" ng-model="vm.knowledgeBotVal" readonly id="ipt-txt" type="text" ng-disabled style="width: 381px;border: solid 1px #ddd;"/>
                                        <i class="btn-menu_1" ng-click="vm.knowledgeBot()"></i>
                                        <div class="rootClassfy aside-navs aside-navs2" >
                                            <ul class="menus show">
                                                <!--//test-->
                                                <li ng-repeat="item in vm.botRoot">
                                                    <div class="slide-a">
                                                        <a class="ellipsis" href="javascript:;">
                                                            <i class="icon-jj" data-option="{{item.categoryId}}"></i>
                                                            <span>{{item.categoryName}}</span>
                                                        </a>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <a href="javascript:;" ng-click="vm.botSelectAdd()" class="L mr-15 mt-5" ><img src="../../../images/images/add_img.png" alt=""></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--bot  标题 点击生成  -->
                    <!--{{vm.botClassfy}}-->
                    <div class="exten_problem"  ng-if="vm.botClassfy.length" ng-repeat="item in  vm.botClassfy track by $index">
                        <div class="row cl mb-10">
                            <label class="form-label col-xs-4 col-sm-2 text-r">BOT路径：</label>
                            <div class="value Div clearfix" id="Div">
                                <div class="ipt-txt-box L mr-10" style="width: 393px;border: 1px solid #e1e1e1;margin-left: 16px;">
                                    <div class="ipt-txt" style="overflow:hidden;line-height:22px;">
                                        <!--<span>{{item.className.join("/")}}</span>-->
                                        <a title="{{item.className.join('/')}}">{{item.className.join("/")}}</a>
                                    </div>
                                </div>
                                <a href="javascript:;" class="L mr-10 mt-5" ng-if="item.classificationType==0" ng-click="vm.botClassfy.splice($index,1)"><img src="../../../images/images/delete_img.png"  alt=""></a>
                            </div>
                        </div>
                    </div>
                    <!--手选生成-->
                    <div class="exten_problem"  ng-if="vm.creatSelectBot.length" ng-repeat="item in  vm.creatSelectBot">
                        <div class="row cl mb-10">
                            <label class="form-label col-xs-4 col-sm-2 text-r">BOT路径：</label>
                            <div class="value Div clearfix" id="Div">
                                <div class="ipt-txt-box L" style="width: 393px;border: 1px solid #e1e1e1;margin-left: 16px;margin-right:10px;">
                                    <div class="ipt-txt" style="overflow:hidden;line-height:22px;">
                                        <!--<span>{{item.className.join("/")}}</span>-->
                                        <a title="{{item.className.join('/')}}">{{item.className.join("/")}}</a>
                                    </div>
                                </div>
                                <a href="javascript:;" class="L mr-10 mt-5" ><img src="../../../images/images/delete_img.png" ng-click="vm.creatSelectBot.splice($index,1)" alt=""></a>
                            </div>
                        </div>
                    </div>

                    <div class="row cl mb-10">
                        <label class="form-label col-xs-4 col-sm-2 text-r">业务框架：</label>
                        <div class="formControls col-xs-8 col-sm-9" style="padding-right:0;">
                            <select class="input-text" style="width:395px;"  ng-model="vm.frameId" ng-options="frame.frameId as frame.frameTitle for frame in vm.frames">
                                <option value="" ng-if="vm.frames.length">--业务框架为空--</option>
                            </select>
                        </div>
                    </div>

                    <div class="exten_problem" >
                        <div class="row cl mb-10">
                            <label class="form-label col-xs-4 col-sm-2 text-r">概念扩展：</label>
                            <div class="formControls col-xs-8 col-sm-9">
                                <input type="text" class="L input-text extended_query_txt" ng-model="vm.extensionTitle" placeholder="请输入问题"
                                       style="width:312px;" >
                                <select class="sel bd L mr-10" style="margin-left:-1px;"  ng-model="vm.extensionWeight" >
                                    <option value="60">普通</option>
                                    <option value="61">否定</option>
                                </select>
                                <a href="javascript:;" class="L mr-15 mt-5" ng-click="vm.getExtension(vm.extensionTitle,vm.extensionWeight);vm.extensionWeight=60"><img src="../../../images/images/add_img.png" alt=""></a>
                            </div>
                        </div>
                    </div>
                    <!-- 概念 擴展 -->

                    <!--sshoudong  tinajia -->
                    <div class="exten_problem"  ng-repeat="item in vm.extensions">
                        <div class="row cl mb-10">
                            <label class="form-label col-xs-4 col-sm-2 text-r">概念扩展：</label>
                            <div class="formControls col-xs-8 col-sm-9">
                                <div class="L extended_query_txt" style="width:345px;border: 0;margin-right:0;" >
                                   <span ng-repeat="val in item.extensionQuestionTagList" style="margin:0 5px 5px 0;display:inline-block;background: #e1e1e1;padding: 4px;" ng-class="val.exist?'':'tagRepeat'">
                                      {{val.tagName}}
                                    </span>
                                </div>
                                <span class="tag_s  bd L mr-10" style="background: #e0eaf1;border: 1px solid #eee;height: 25px;line-height: 25px;padding: 0 10px;text-align: center">
                                    普通
                                </span>
                                <a href="javascript:;" ng-click="vm.extensions.splice($index,1)" class="L mr-10" ><img src="../../../images/images/delete_img.png" alt="" ></a>
                                <a href="javascript:;" class="L edit_a mr-10 mt-5" ng-click="vm.extensionEdit()"></a>
                                <span class="L"><b>来源于</b> <span>{{item.extensionQuestionTitle}}</span></span>
                            </div>
                        </div>
                    </div>
                    <!-- 業務框架 生成 -->
                    <div class="exten_problem"  ng-repeat="item in vm.extensionsByFrame">
                        <div class="row cl mb-10">
                            <label class="form-label col-xs-4 col-sm-2 text-r">概念扩展：</label>
                            <div class="formControls col-xs-8 col-sm-9">
                                <div class="L extended_query_txt" style="width:345px;border:0;" >
                                   <span ng-repeat="val in item.extensionQuestionTagList" style="margin:0 5px 5px 0;display:inline-block;background: #e1e1e1;padding: 4px;" ng-class="val.exist?'':'tagRepeat'">
                                       {{val.tagName}}
                                    </span>
                                </div>
                                <span class="tag_s mr-10 L bd" style="background: #e0eaf1;border: 1px solid #eee;height: 25px;line-height: 25px;padding: 0 10px;text-align: center">{{item.extensionQuestionType==60?'普通':'否定'}}</span>
                                <a href="javascript:;" ng-click="vm.extensionsByFrame.splice($index,1)" class="L mr-10" ><img src="../../../images/images/delete_img.png" alt="" ></a>
                                <a href="javascript:;" class="L edit_a mr-10 mt-5" ng-click="vm.extensionEdit()"></a>
                                <span class="L"><b>来源于</b> <span>{{item.extensionQuestionTitle}}</span></span>
                            </div>
                        </div>
                    </div>
                    <div class="row cl mb-50">
                        <label class="form-label col-xs-4 col-sm-2 text-r">知识内容: &nbsp;</label>
                        <div class="formControls col-xs-8 col-sm-9" style="padding-right: 22px;">
                            <div class="clearfix mb-10">
                                <span uploader-factor server="'api/elementKnowledgeAdd/upload'"  is-auto="'true'" table-list="vm.tableList"></span>
                                <!--<input  type="button" class="btn1 btn1_blue mb-10" uploader-handle server="'api/elementKnowledgeAdd/upload'" value="上传线下编辑场景知识">-->
                                <!--<span class="f-14 pl-10">请先<a href="javascript:;" class="c-primary">下载模板</a>进行填写</span>-->
                                <div class="essential_factor_div bd mt-10">
                                    <div class="mb-10">
                                        <a href="javascript:;" class="add_l ine mr-10" ng-click="vm.addRow()"><img src="../images/ys_img1.png"/></a>
                                        <a href="javascript:;" class="delete_line mr-10" ng-click="vm.tableRemove(1)"><img src="../images/ys_img2.png"/></a>
                                        <a href="javascript:;" class="add_column mr-10"  ng-click="vm.addList();"><img src="../images/ys_img3.png"/></a>
                                        <a href="javascript:;" class="delete_column"  ng-click="vm.tableRemove(2)"><img src="../images/ys_img4.png"/></a>
                                    </div>
                                    <div>

                                        <!--{{vm.tableList}}-->
                                        <!--{{vm.tableList.data.listTable}}-->
                                        <!--{{vm.tableRow}}{{vm.tableColumn}}-->
                                        <table class="essential_factor_tab">
                                            <tr ng-repeat="(indexRow,row) in vm.tableList.data.listTable track by $index">
                                                <td ng-repeat="(indexColumn,item) in row track by $index" ng-click="vm.tableRow=indexRow;vm.tableColumn=indexColumn">
                                                    <!--{{item}}-->
                                                    <input type="text" ng-if="indexRow==0" ng-model="item" value="{{item}}"  ng-disabled="indexColumn==0"  ng-click="indexColumn==0?'':vm.editList(indexRow,indexColumn);" style="background:inherit;cursor:pointer"/>
                                                    <!--<input type="text" ng-if="indexRow==0&&indexColumn!=0" ng-model="item"   style="background:inherit"/>-->
                                                    <input type="text" ng-if="indexRow!=0" ng-model="item" value="{{item}}" ng-change="vm.tableChange(indexRow,indexColumn,item)"/>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="channel_div  mb-10">
                                <span class="channel_s">渠道：</span>
                                <div>
                                    <label class="mr-10" ng-repeat="channel in vm.channels">
                                        <input style="vertical-align: middle; margin:0px 0 0px 0;" type="checkbox" ng-checked="vm.channel.inArray(channel.channelId)" ng-click="vm.selectChannel(channel.channelId)">
                                        {{channel.channelName}}
                                    </label>
                                </div>
                            </div>
                            <div class="channel_div mb-10">
                                <span class="channel_s">维度：</span>
                                <auto-complete  source="vm.dimensionsCopy" result="vm.dimensionArr"></auto-complete>
                            </div>
                            <div class="channel_div mb-10" style="padding-left:80px;">
                                <span class="channel_s" >高级选项：</span>
                                <a href="javascript:;" class="c-primary unfold_fit" ng-click="vm.slideDown()">
                                    <span ng-if="!vm.slideFlag">展开</span>
                                    <span ng-if="vm.slideFlag">隐藏</span>
                                </a>
                            </div>
                            <div class="senior_div"  style="display: none">
                                <div class=" mb-10">
                                    <span >知识配置：</span>
                                    <div class="dib pt-5 mr-15">
                                        <switch value="vm.question"></switch>
                                        <span>显示相关问题</span>
                                    </div>
                                    <div class="dib pt-5 mr-15"  style="margin-left: 81px;">
                                        <switch value="vm.tip"></switch>
                                        <span>在相关问题内提示</span>
                                    </div>
                                    <div class="dib pt-5 mr-15" style="margin-left: 81px;">
                                        <switch value="vm.tail"></switch>
                                        <span>弹出评价小尾巴</span>
                                    </div>
                                </div>
                                <div>
                                    <div class="mb-10" style="position: relative;">
                                        <span>指定相关知识:</span>
                                        <input type="text" class=" appoint input-text extended_query_txt" ng-model="vm.appointRelative"  placeholder="" style="width:279px;">
                                        <ul class="listItem" ng-if="vm.appointRelativeList.length" style="position: absolute;
                            left: 100px;z-index: 2;height: 200px;overflow: scroll ;">
                                            <li ng-repeat="item in vm.appointRelativeList track by $index" style="min-width: 280px;
                                             cursor:pointer;background: #e1e1e1;text-indent: 1em;line-height: 26px"
                                                ng-click="vm.addAppoint(item,vm.appointRelativeGroup)">{{item}}</li>
                                        </ul>
                                    </div>
                                    <!-- -->
                                    <div class="channel_div mb-20" ng-if="vm.appointRelativeGroup.length">
                                        <span class="channel_s c-primary">已添加</span>
                                        <ul>
                                            <li ng-repeat="item in vm.appointRelativeGroup track by $index">{{$index}}、{{item}}  <span class="delete_a R" ng-click="vm.appointRelativeGroup.splice($index,1)"></span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row cl mb-10 ">
                        <label class="form-label col-xs-4 col-sm-2 text-r"></label>
                        <div class="formControls col-xs-8 col-sm-9">
                            <input type="button" class="btn1 btn1_blue mr-20" value="预览" ng-click="vm.scan()"/>
                            <input type="button" class="btn1 btn_green"  ng-disabled="vm.limitSave"   ng-click="vm.save()" value="保存"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .Wdate{background-position:164px center;}
</style>


