<!--引导页头部遮罩-->
<div class="shadow_div dn" style="height:60px;" ></div>
<!--引导页头部遮罩end-->
<div class="wrap knowledgeFactor">
    <div class="content_wrap page-container" style="padding:0;">
        <div class="wrap mb30">
            <div class="content_box mb25 mt10">
                <div class="cl mb-20">
                    <div class="L">
                        <h3 class="f22 pl-10 mb15" ng-if="!vm.knowledgeId">要素型知识新增</h3>
                        <h3 class="f22 pl-10 mb15" ng-if="vm.knowledgeId">要素型知识编辑</h3>
                    </div>
                    <a href="javascript:;" class="c_green R" ng-click="vm.showTip();">使用帮助</a>
                </div>
                <div class="pr">
                    <div class="list_facContent mb-10">
                        <div class="list_facContent_L">知识标题：</div>
                        <div >
                            <input  type="text" class="bk-gray input-text " placeholder="请输入标题" ng-model="vm.title" name="title" ng-focus="vm.titleTip=''" ng-minlength="1" ng-maxlength="1000" required  style="width:394px;"/>
                            <a href="javascript:;" title="自动匹配BOT" ng-click="vm.getBotAndExtensionByTitle()" class=" mr-15"><img src="../../../images/match_img.png" width="25" height="25"></a>
                            <p class="c-error pd-5"  ng-if="vm.titleTip">{{vm.titleTip}}</p>
                        </div>
                    </div>
                    <div class="list_facContent mb-10">
                        <div class="list_facContent_L">知识有效期：</div>
                        <div >
                            <div class="dib">
                                <label>
                                    <input style=" margin-top:-2px;" type="checkbox" ng-model="vm.isTimeTable"> 启用
                                </label>
                                <div style="margin-top: 10px;" ng-show="vm.isTimeTable">
                                    <input type="text" id="startTime" onchange=""  ng-model="vm.timeStart"  onclick="WdatePicker({startDate:'%y',dateFmt:'yyyy-MM-dd',maxDate:'#F{$dp.$D(\'endTime\')}'})" class="input-text Wdate "  style="width:190px;border:1px solid #e1e1e1;height: 35px;font-size: 15px;color: #333!important;" placeholder="yyyy-mm-dd" readonly>
                                    -
                                    <input type="text" id="endTime"   onchange="" ng-model="vm.timeEnd" onclick="WdatePicker({startDate:'%y',dateFmt:'yyyy-MM-dd',minDate:'#F{$dp.$D(\'startTime\')}'})" class="input-text Wdate "  style="width:190px;border:1px solid #e1e1e1;height: 35px;font-size: 15px;color: #333!important;" placeholder="yyyy-mm-dd" readonly>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bot_box">
                        <div class="list_facContent mb-10">
                            <div class="list_facContent_L">BOT路径：</div>
                            <div >
                                <div class="value Div clearfix" id="Div">
                                    <div class="ipt-txt-box L mr-10">
                                        <input class="ipt-txt bd" ng-click="vm.knowledgeBot()" ng-model="vm.knowledgeBotVal" readonly id="ipt-txt" type="text" ng-disabled style="width: 394px;height:32px;padding-right:28px;box-sizing: border-box;"/>
                                        <i class="btn-menu_1" ng-click="vm.knowledgeBot()" style="right:1px;top:2px;width:23px;height:28px;"></i>

                                        <div class="rootClassfy aside-navs aside-navs2" >
                                            <ul class="menus show">
                                                <!--//test-->
                                                <li ng-repeat="item in vm.botRoot">
                                                    <div class="slide-a">
                                                        <a class="ellipsis" href="javascript:;">
                                                            <i class="icon-jj" data-option="{{item.categoryId}}"></i>
                                                            <span>{{item.categoryName}}</span>
                                                        </a>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <a href="javascript:;" ng-click="vm.botSelectAdd()" class="L mr-15 mt-5" ><img src="../../../images/images/add_img.png" alt=""></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--标题生成-->
                    <div class="exten_problem"  ng-if="vm.creatSelectBot.length" ng-repeat="item in  vm.creatSelectBot">
                        <div class="list_facContent mb-10">
                            <div class="list_facContent_L">BOT路径：</div>
                            <div class=" clearfix" id="Div">
                                <div class="ipt-txt-box L" style="width: 394px;border: 1px solid #e1e1e1;margin-right:10px;">
                                    <div class="ipt-txt" style="overflow:hidden;line-height:24px;">
                                        <!--<span>{{item.className.join("/")}}</span>-->
                                        <a title="{{item.className.join('/')}}">{{item.className.join("/")}}</a>
                                    </div>
                                </div>
                                <a href="javascript:;" class="L mr-10 mt-5" ><img src="../../../images/images/delete_img.png" ng-click="vm.creatSelectBot.splice($index,1)" alt=""></a>
                            </div>
                        </div>
                    </div>
                    <!--手选生成-->
                    <div class="exten_problem"  ng-if="vm.creatSelectBot.length" ng-repeat="item in  vm.creatSelectBot">
                        <div class="list_facContent mb-10">
                            <div class="list_facContent_L">BOT路径：</div>
                            <div class=" clearfix" id="Div">
                                <div class="ipt-txt-box L" style="width: 394px;border: 1px solid #e1e1e1;margin-right:10px;">
                                    <div class="ipt-txt" style="overflow:hidden;line-height:24px;">
                                        <!--<span>{{item.className.join("/")}}</span>-->
                                        <a title="{{item.className.join('/')}}">{{item.className.join("/")}}</a>
                                    </div>
                                </div>
                                <a href="javascript:;" class="L mr-10 mt-5" ><img src="../../../images/images/delete_img.png" ng-click="vm.creatSelectBot.splice($index,1)" alt=""></a>
                            </div>
                        </div>
                    </div>

                    <div class="list_facContent mb-10">
                        <div class="list_facContent_L">业务框架：</div>
                        <div >
                            <select class="input-text" style="width:395px;"  ng-model="vm.frameId" ng-options="frame.frameId as frame.frameTitle for frame in vm.frames">
                                <option value="" ng-if="vm.frames.length">--业务框架为空--</option>
                            </select>
                        </div>
                    </div>
                    <div class="exten_problem" >
                        <div class="list_facContent mb-10">
                            <div class="list_facContent_L">概念扩展：</div>
                            <div>
                                <input type="text" class="L input-text extended_query_txt" ng-model="vm.extensionTitle" placeholder="请输入问题"
                                       style="width:312px;line-height:30px;" >
                                <select class="sel bd L mr-10" style="margin-left:-1px;"  ng-model="vm.extensionWeight" >
                                    <option value="60">普通</option>
                                    <option value="61">否定</option>
                                </select>
                                <a href="javascript:;" class="L mr-15 mt-5" ng-click="vm.getExtension(vm.extensionTitle,vm.extensionWeight);vm.extensionWeight=60"><img src="../../../images/images/add_img.png" alt=""></a>
                            </div>
                        </div>
                    </div>
                    <!-- 概念 擴展 -->
                    <!-- 标题打标生成-->
                    <div class="exten_problem"  ng-repeat="(itemIndex,item) in vm.extensionByTitleTag track by $index">
                        <div class="list_facContent mb-10">
                            <div class="list_facContent_L">概念扩展：</div>
                            <div >
                                <div class="L extended_query_txt" style="width:345px;border:0;height: 34px" >
                                   <span ng-repeat="val in item.extensionQuestionTagList" style="margin:0 5px 5px 0;display:inline-block;background: #e1e1e1;padding: 4px;" ng-class="val.exist?'':'tagRepeat'">
                                       {{val.tagName}}
                                    </span>
                                </div>
                                <span class="tag_s mr-10 L bd" style="background: #e0eaf1;border: 1px solid #eee;height: 25px;line-height: 25px;padding: 0 10px;text-align: center">{{item.extensionQuestionType==60?'普通':'否定'}}</span>
                                <a href="javascript:;" ng-click="vm.extensionByTitleTag.splice($index,1)" class="L mr-10" ><img src="../../../images/images/delete_img.png" alt="" ></a>
                                <a href="javascript:;" class="L edit_a mr-10 mt-5" ng-click="vm.extensionEdit(2,item,itemIndex)"></a>
                                <span class="L"><b>来源于</b> <span>{{item.extensionQuestionTitle}}</span></span>
                            </div>
                        </div>
                    </div>
                    <!--sshoudong  tinajia -->
                    <div class="exten_problem"  ng-repeat="(itemIndex,item) in vm.extensions track by $index">
                        <div class="list_facContent mb-10">
                            <div class="list_facContent_L">概念扩展：</div>
                            <div>
                                <div class="L extended_query_txt" style="width:345px;border: 0;margin-right:0;height: 34px" >
                                   <span ng-repeat="val in item.extensionQuestionTagList" style="margin:0 5px 5px 0;display:inline-block;background: #e1e1e1;padding: 4px;" ng-class="val.exist?'':'tagRepeat'">
                                      {{val.tagName}}
                                    </span>
                                </div>
                                <span class="tag_s  bd L mr-10" style="background: #e0eaf1;border: 1px solid #eee;height: 25px;line-height: 25px;padding: 0 10px;text-align: center">
                                    普通
                                </span>
                                <a href="javascript:;" ng-click="vm.extensions.splice($index,1)" class="L mr-10" ><img src="../../../images/images/delete_img.png" alt="" ></a>
                                <a href="javascript:;" class="L edit_a mr-10 mt-5" ng-click="vm.extensionEdit(0,item,itemIndex)"></a>
                                <span class="L"><b>来源于</b> <span>{{item.extensionQuestionTitle}}</span></span>
                            </div>
                        </div>
                    </div>
                    <div class="list_facContent mb-50">
                        <div class="list_facContent_L">知识内容: &nbsp;</div>
                        <div >
                            <div class="clearfix mb-10">
                                <span uploader-factor server="'api/elementKnowledgeAdd/upload'"  is-auto="'true'" table-list="vm.tableList"></span>
                                <!--<input  type="button" class="btn1 btn1_blue mb-10" uploader-handle server="'api/elementKnowledgeAdd/upload'" value="上传线下编辑场景知识">-->
                                <!--<span class="f-14 pl-10">请先<a href="javascript:;" class="c-primary">下载模板</a>进行填写</span>-->
                                <div class="essential_factor_div bd mt-10">
                                    <div class="mb-10">
                                        <a href="javascript:;" class="add_l ine mr-10" ng-click="vm.addRow()"><img src="../images/ys_img1.png"/></a>
                                        <a href="javascript:;" class="delete_line mr-10" ng-click="vm.tableRemove(1)"><img src="../images/ys_img2.png"/></a>
                                        <a href="javascript:;" class="add_column mr-10"  ng-click="vm.addList();"><img src="../images/ys_img3.png"/></a>
                                        <a href="javascript:;" class="delete_column"  ng-click="vm.tableRemove(2)"><img src="../images/ys_img4.png"/></a>
                                    </div>
                                    <div>

                                        <!--{{vm.tableList}}-->
                                        <!--{{vm.tableList.data.listTable}}-->
                                        <!--{{vm.tableRow}}{{vm.tableColumn}}-->
                                        <table class="essential_factor_tab">
                                            <!--<tr ng-repeat="(indexRow,row) in vm.tableList.data.listTable track by $index">-->
                                                <!--<td ng-repeat="(indexColumn,item) in row track by $index" ng-click="vm.tableRow=indexRow;vm.tableColumn=indexColumn">-->
                                                    <!--&lt;!&ndash;{{item}}&ndash;&gt;-->
                                                    <!--<input type="text" ng-if="indexRow==0" ng-model="item" value="{{item}}"  ng-disabled="indexColumn==0"  ng-click="indexColumn==0?'':vm.editList(indexRow,indexColumn);" style="width:100%;background:inherit;cursor:pointer"/>-->
                                                    <!--&lt;!&ndash;<input type="text" ng-if="indexRow==0&&indexColumn!=0" ng-model="item"   style="background:inherit"/>&ndash;&gt;-->
                                                    <!--<input type="text" ng-if="indexRow!=0" ng-model="item" value="{{item}}" ng-change="vm.tableChange(indexRow,indexColumn,item)" style="width:100%;"/>-->
                                                <!--</td>-->
                                            <!--</tr>-->
                                            <tr ng-repeat="(indexRow,row) in vm.tableList.data.listTable track by $index">
                                                <td ng-repeat="(indexColumn,item) in row track by $index" ng-click="vm.tableRow=indexRow;vm.tableColumn=indexColumn">
                                                    <!--{{item}}-->
                                                    <textarea ng-if="indexRow==0" ng-model="item" value=""  ng-disabled="indexColumn==0"  ng-click="indexColumn==0?'':vm.editList(indexRow,indexColumn);" style="width:100%;background:inherit;cursor:pointer">{{item}}</textarea>
                                                    <!--<input type="text" ng-if="indexRow==0&&indexColumn!=0" ng-model="item"   style="background:inherit"/>-->
                                                    <textarea  ng-if="indexRow!=0" ng-model="item" value="" ng-change="vm.tableChange(indexRow,indexColumn,item)" style="width:100%;">{{item}}</textarea>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="channel_div  mb-10">
                                <span class="channel_s">渠道：</span>
                                <div>
                                    <label class="mr-10" ng-repeat="channel in vm.channels">
                                        <input style="vertical-align: middle; margin:0px 0 0px 0;" type="checkbox" ng-checked="vm.channel.inArray(channel.channelCode)" ng-click="vm.selectChannel(channel.channelCode)">
                                        {{channel.channelName}}
                                    </label>
                                </div>
                            </div>
                            <div class="channel_div mb-10">
                                <span class="channel_s">维度：</span>
                                <div auto-complete  source="vm.dimensionsCopy" result="vm.dimensionArr"></div>
                            </div>
                            <div class="channel_div mb-10" style="padding-left:80px;">
                                <span class="channel_s" >高级选项：</span>
                                <a href="javascript:;" class="c-primary unfold_fit" ng-click="vm.slideDown()">
                                    <span ng-if="!vm.slideFlag">展开</span>
                                    <span ng-if="vm.slideFlag">隐藏</span>
                                </a>
                            </div>
                            <div class="senior_div"  style="display: none">
                                <div class=" mb-10">
                                    <span >知识配置：</span>
                                    <div class="dib pt-5 mr-15">
                                        <span switch value="vm.question"></span>
                                        <span>显示相关问题</span>
                                    </div>
                                    <div class="dib pt-5 mr-15"  style="margin-left: 81px;">
                                        <span switch value="vm.tip"></span>
                                        <span>在相关问题内提示</span>
                                    </div>
                                    <div class="dib pt-5 mr-15" style="margin-left: 81px;">
                                        <span switch value="vm.tail"></span>
                                        <span>弹出评价小尾巴</span>
                                    </div>
                                </div>
                                <div>
                                    <div class="mb-10" style="position: relative;">
                                        <span class="mr-5">指定相关知识 :</span>
                                        <input type="text" class=" appoint input-text extended_query_txt" ng-model="vm.appointRelative"  placeholder="" style="width:380px;padding-left: 10px;">
                                        <ul class="listItem specify_know_ul pd-5" ng-if="vm.appointRelativeList.length" >
                                            <li ng-repeat="item in vm.appointRelativeList track by $index"
                                                ng-click="vm.addAppoint(item,vm.appointRelativeGroup)">{{item}}</li>
                                        </ul>
                                    </div>
                                    <!-- -->

                                    <div class="channel_div mb-20" ng-if="vm.appointRelativeGroup.length">
                                        <span class="channel_s c-primary">已添加</span>
                                        <ul>
                                            <li ng-repeat="item in vm.appointRelativeGroup track by $index">
                                                <span class="mr-10">{{$index+1}}、{{item}}</span>
                                                <span class="delete_a dib" ng-click="vm.appointRelativeGroup.splice($index,1)"></span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="list_facContent " style="margin-bottom:80px;">
                        <div class="list_facContent_L"></div>
                        <div>
                            <input type="button" class="btn1 btn1_blue mr-20" value="预览" ng-click="vm.scan()"/>
                            <input type="button" class="btn1 btn_green"  ng-disabled="vm.limitSave"   ng-click="vm.save()" value="保存"/>
                        </div>
                    </div>
                    <!--引导-->
                    <div class="shadow_div dn" ></div>
                    <div class="step_div " >
                        <div class="step_one dn" id="step_one" >
                            <div class="step_one_s">1</div>
                            <div class="step_one_arrow"></div>
                            <div class="step_one_con">
                                <p>知识标题：您只需要填写这个知识的标准的提问方式，然后点击后面的生成按钮，系统会自动生成BOT路径哦~</p>
                                <div class="tr introjs-tooltipbuttons">
                                    <button  class="introjs-button introjs-skip" ng-click="vm.hideTip()">跳出</button>
                                    <button  disabled class="c-999 introjs-button introjs-prev" ng-click="vm.prevDiv($event)">上一步</button>
                                    <button  class="introjs-button introjs-next" ng-click="vm.nextDiv($event)">下一步</button>
                                </div>
                            </div>
                        </div>
                        <div class="step_one step_two dn" id="step_two">
                            <div class="step_one_s">2</div>
                            <div class="step_one_arrow"></div>
                            <div class="step_one_con">
                                <p>BOT:除了自动生成的BOT路径，您还可以点击选择按钮选择您所希望的BOT类目路径。选好了别忘了点击后面的加号，路径可以添加多个哦~</p>
                                <div class="tr introjs-tooltipbuttons">
                                    <button  class="introjs-button introjs-skip" ng-click="vm.hideTip()">跳出</button>
                                    <button  class="introjs-button introjs-prev" ng-click="vm.prevDiv($event)">上一步</button>
                                    <button  class="introjs-button introjs-next" ng-click="vm.nextDiv($event)">下一步</button>
                                </div>
                            </div>
                        </div>
                        <div class="step_one step_three dn" id="step_three">
                            <div class="step_one_s">3</div>
                            <div class="step_one_arrow"></div>
                            <div class="step_one_con">
                                <p>业务框架：选择完毕路径之后，我们根据目前所选择的BOT，为您列出符合要求的业务框架，您可以选择对应的业务框架以节省编写扩展问的时间。业务框架可以添加多个哦~</p>
                                <div class="tr introjs-tooltipbuttons">
                                    <button  class="introjs-button introjs-skip" ng-click="vm.hideTip()">跳出</button>
                                    <button  class="introjs-button introjs-prev" ng-click="vm.prevDiv($event)">上一步</button>
                                    <button  class="introjs-button introjs-next" ng-click="vm.nextDiv($event)">下一步</button>
                                </div>
                            </div>
                        </div>
                        <div class="step_one step_four dn" id="step_four">
                            <div class="step_one_s">4</div>
                            <div class="step_one_arrow"></div>
                            <div class="step_one_con">
                                <p>扩展问题：您可以自行填写扩展问题，应对问题的多样化.
                                </p>
                                <div class="tr introjs-tooltipbuttons">
                                    <button  class="introjs-button introjs-skip" ng-click="vm.hideTip()">跳出</button>
                                    <button  class="introjs-button introjs-prev" ng-click="vm.prevDiv($event)">上一步</button>
                                    <button  class="introjs-button introjs-next" ng-click="vm.nextDiv($event)">下一步</button>
                                </div>
                            </div>
                        </div>
                        <div class="step_one step_five dn" id="step_five">
                            <div class="step_one_s">5</div>
                            <div class="step_one_arrow"></div>
                            <div class="step_one_con">
                                <p>知识内容：知识内容就是答案，可以根据渠道维度的不同填写多个哦!
                                </p>
                                <div class="tr introjs-tooltipbuttons">
                                    <button  class="introjs-button introjs-skip" ng-click="vm.hideTip()">跳出</button>
                                    <button  class="introjs-button introjs-prev" ng-click="vm.prevDiv($event)">上一步</button>
                                    <button  class="introjs-button introjs-next" ng-click="vm.nextDiv($event)">下一步</button>
                                </div>
                            </div>
                        </div>
                        <div class="step_one step_six dn" id="step_six">
                            <div class="step_one_s">6</div>
                            <div class="step_one_arrow"></div>
                            <div class="step_one_con">
                                <p>渠道维度：渠道和维度的组合是不可以重复的，添加时一定要注意哦!
                                </p>
                                <div class="tr introjs-tooltipbuttons">
                                    <button  class="introjs-button introjs-skip" ng-click="vm.hideTip()">跳出</button>
                                    <button  class="introjs-button introjs-prev" ng-click="vm.prevDiv($event)">上一步</button>
                                    <button  class="introjs-button introjs-next" ng-click="vm.nextDiv($event)">下一步</button>
                                </div>
                            </div>
                        </div>
                        <div class="step_one step_seven dn" id="step_seven">
                            <div class="step_one_s">7</div>
                            <div class="step_one_arrow"></div>
                            <div class="step_one_con">
                                <p>最后一步：编辑完知识可以选择预览，或者保存，就可以啦!
                                </p>
                                <div class="tr introjs-tooltipbuttons">
                                    <button  class="introjs-button introjs-skip" ng-click="vm.hideTip()">完成</button>
                                    <button  class="introjs-button introjs-prev" ng-click="vm.prevDiv($event)">上一步</button>
                                    <button  disabled class="c-999 introjs-button introjs-next" ng-click="vm.nextDiv($event)">下一步</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--引导end-->
                </div>
            </div>
        </div>
    </div>
</div>


