<div class="bot_box">
    <div class="list_facContent mb-10">
        <div class="list_facContent_L">BOT路径：</div>
        <div>
            <div class="value Div clearfix">
                <div class="ipt-txt-box L mr-10">
                    <input class="ipt-txt bd botTagAuto"
                           style="padding-right:28px;width:395px;height:32px;box-sizing: border-box;" botTagAuto
                           ng-model="vm.knowledgeBotVal" id="ipt-txt" type="text"
                           style="width: 380px;border: solid 1px #ddd;"/>
                    <i class="btn-menu_1" ng-click="MASTER.slideToggle('.rootClassfy')"
                       style="right:1px;top:2px;width:23px;height:28px;"></i>

                    <div class="rootClassfy aside-navs aside-navs2">
                        <ul class="menus show">
                            <!--//test-->
                            <li ng-repeat="item in vm.botRoot">
                                <div class="slide-a">
                                    <a class="ellipsis" href="javascript:;">
                                        <i class="icon-jj" data-option="{{item.categoryId}}"></i>
                                        <span>{{item.categoryName}}</span>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <a href="javascript:;" ng-click="dirBot.botSelectAdd()" class="L mr-15 mt-5"><img
                        src="../../../../images/images/add_img.png" alt=""></a>
            </div>
        </div>
    </div>
</div>