<script type="text/ng-template" >
</script>
    <div class="pd-20" >
         <form  class="" >
             <div class="mb-15 framework">
                 <span class="framework_s">应用名称：</span>
                 <input type="text" ng-model="vm.newApplicationName" class="input-text"/>
             </div>

             <div class="mb-15 framework">
                 <span class="framework_s">场景选择：</span>
                 <select class="input-text" ng-model="vm.newScene">
                     <option ng-repeat="licence in vm.selectLicence" ng-value="licence.sceneId" ng-selected="$index==0? true :false" >{{licence.sceneName}}</option>
                 </select>
             </div>
             <div class="mb-15 framework">
                 <span class="framework_s">licence：</span>
                 <input type="text"  class="input-text" ng-model="vm.newLicence" placeholder="请输入license"/>
             </div>
             <div class="mb-15 framework">
                 <span class="framework_s">应用描述：</span>
                 <textarea class="textarea" ng-model="vm.newDescribe"></textarea>
             </div>
             <!--<div class="framework">-->
                 <!--<span class="framework_s "></span>-->
                 <!--<div >-->
                     <!--<input type="submit" class="btn1 btn1_blue mr-15" value="确认" ng-click="closeThisDialog(1)"/>-->
                     <!--<input type="button" class="btn1 btn_gray" ng-click="closeThisDialog(0)" value="取消" />-->
                 <!--</div>-->
             <!--</div>-->
             <div class="tc">
                 <input type="submit" class="btn1 btn1_blue mr-15" value="确认" ng-click="closeThisDialog(1)"/>
                 <input type="button" class="btn1 btn_gray" ng-click="closeThisDialog(0)" value="取消" />
             </div>
         </form>
    </div>

<style>
    .ngdialog.ngdialog-theme-default .ngdialog-content {

    }
    .framework{padding-left:80px;}
</style>



