<div class="channel_div  mb-10">
    <span class="channel_s">渠道：</span>
    <div>
        <label class="mr-10" ng-repeat="channel in $parent.$parent.MASTER.channelList">
            <input style="vertical-align: middle; margin:0 ;" type="checkbox" ng-checked="vm.channel.inArray(channel.channelCode)" ng-click="vm.selectChannel(channel.channelCode)"> {{channel.channelName}}
            </label>
        </div>
    </div>
<div class="channel_div mb-10">
    <span class="channel_s">维度：</span>
    <div auto-complete  source="vm.dimensionsCopy" result="vm.dimensionArr"></div>
    </div>
<div class="channel_div mb-10" style="padding-left:80px;">
    <span class="channel_s" >高级选项：</span>
    <a href="javascript:;" class="c-primary unfold_fit" ng-click="dirCont.slideDown()">
        <span ng-if="!dirCont.slideFlag">展开</span>
        <span ng-if="dirCont.slideFlag">隐藏</span>
        </a>
    </div>
<div class="senior_div"  style="display: none;overflow:visible!important;">
    <div class=" mb-10">
        <span >知识配置：</span>
        <div class="dib pt-5 mr-15">
            <span switch value="vm.question"></span>
            <span>显示相关问题</span>
            </div>
        <div class="dib pt-5 mr-15"  style="margin-left: 81px;">
            <span switch value="vm.tip"></span>
            <span>在相关问题内提示</span>
            </div>
        <div class="dib pt-5 mr-15" style="margin-left: 81px;">
            <span switch value="vm.tail"></span>
            <span>弹出评价小尾巴</span>
            </div>
        </div>
    <div>
        <div class="mb-10 clearfix" style="position: relative;z-index:1000;">
            <span>指定相关知识:</span>
            <input type="text" class="appoint input-text extended_query_txt" ng-blur="dirCont.leaveAppointEnter()" ng-model="dirCont.appointRelative"  placeholder="" style="width:380px;">
            <ul class="specify_know_ul"  >
                <li ng-repeat="item in dirCont.appointRelativeList track by $index" ng-click="dirCont.addAppoint(item,vm.appointRelativeGroup)">{{item}}</li>
                <li ng-if="dirCont.search" style="background:#fff">查询中请稍后...</li>
                <li ng-if="dirCont.empty" style="background:#fff;color:red">查询到数据为空!</li>
            </ul>
        </div>
        <div class="channel_div mb-20" ng-if="vm.appointRelativeGroup.length">
            <span class="channel_s c-primary">已添加</span>
            <ul>
                <li ng-repeat="item in vm.appointRelativeGroup track by $index">
                    <span class="mr-10">{{$index+1}}、{{item}}</span>
                    <span class="delete_a dib"  ng-click="vm.appointRelativeGroup.splice($index,1)"></span>
                </li>
            </ul>
        </div>
    </div>
</div> 