<div class="r-cont pd30 L">
    <div class="r-cont-hd">
        <span>业务概念管理</span>
    </div>
    <div>
        <div class="conceptSearch clearfix">
            <div class=" L bd mr-5">
                <select>
                    <option>概念类名</option>
                    <option>概念类权重</option>
                    <option>业务词</option>
                    <option>创建人</option>
                    <option>上传日期</option>
                </select>
                <input type="text" class="input_text" style="border:0;"/>
            </div>
            <input type="button" value="查找" class="btn1 btn1_blue"/>
            <div class="jqrsz-btn-box conceptSearchRt">
                <a class="btn btn-blue mr10" id="addCase" ng-click="vm.addBusiness()">新增</a>
                <a class="btn btn-blue mr10" href="javascript:;">批量新增</a>
                <!--<a class="btn btn-green mr10" href="javascript:;">继续概念库</a>-->
                <a class="btn btn-green mr10" href="javascript:;">下载模板</a>
                <a class="btn btn-green2 mr10" href="javascript:;">导出概念库</a>
            </div>
        </div>
        <div class="conceptTab">
            <table border="1">
                <thead>集合概念表</thead>
                <tr>
                    <td><div class="my-checkbox table-checkbox1"><label></label></div></td>
                    <td>概念类名</td>
                    <td>概念类权重</td>
                    <td>集合概念</td>
                    <td>更新时间</td>
                    <td>创建人</td>
                    <td>操作</td>
                </tr>
                <tr ng-repeat="item in vm.listData">
                    <td><input type="checkbox" style="width: 18px;height: 18px;"></td>
                    <td class="color-blue2">{{item.businessConceptKey}}</td>
                    <td class="color-blue2">{{item.businessConceptWeight | weightFilter}}</td>
                    <td class="color-blue2">{{item.businessConceptTerm | strReplace}}</td>
                    <td>{{item.businessConceptModifyTime | date : 'yyyy-MM-dd hh:mm:ss'}}</td>
                    <td>{{item.businessConceptModifier}}</td>
                    <td><a href="javascript:;" class="color-blue modifyConcept" ng-click="vm.editBusiness(item.businessConceptId)">修改</a> &nbsp;<a ng-click="vm.singleDel(item.businessConceptId)" class="delConcept">删除</a></td>
                </tr>

            </table>
        </div>
        <pagination ng-if="vm.paginationConf.totalItems && vm.paginationConf.totalItems>0" conf="vm.paginationConf"></pagination>
    </div>
</div>
<style>
    .pagination {
        margin: 0 !important;
    }
</style>