<div class="wrap dataAcquisition" style="margin-top:10px;">
    <div class="pd-30" style="background:#fff;">
		<div>
			<a class="btn1 btn1_blue mr-10" ui-sref="deepLearning.dataAcquisition">返回数据采集页面</a>
		</div>
        <div class="tab_div">
            <table class="tab">
                <tr>
                    <td width="10%">序号</td>
                    <td width="19%">原始问题</td>
                    <td width="19%">原始答案</td>
                    <td width="20%">处理后问题</td>
                    <td width="20%">处理后答案</td>
                    <td width="12%">操作</td>
                </tr>
                <tbody ng-repeat="item in vm.listData">
	                <tr>
	                    <td>{{item.knowledgeId}}</td>
	                    
	                    <td ng-if="item.crawlQuestion.length<=25" title="{{item.crawlQuestion}}">{{item.crawlQuestion}}</td>
	                    <td ng-if="item.crawlQuestion.length>25"  title="{{item.crawlQuestion}}">{{item.crawlQuestion.substring(0,25)+'...'}}</td>
	                    
	                    <td ng-if="item.crawlAnswer.length<=25" title="{{item.crawlAnswer}}">{{item.crawlAnswer}}</td>
	                    <td ng-if="item.crawlAnswer.length>25"  title="{{item.crawlAnswer}}">{{item.crawlAnswer.substring(0,25)+'...'}}</td>
	                    
	                    <td ng-if="item.knowledgeQuestion.length<=25" title="{{item.knowledgeQuestion}}">{{item.knowledgeQuestion}}</td>
	                    <td ng-if="item.knowledgeQuestion.length>25"  title="{{item.knowledgeQuestion}}">{{item.knowledgeQuestion.substring(0,25)+'...'}}</td>
	                    
	                    <td ng-if="item.knowledgeAnswer.length<=25" title="{{item.knowledgeAnswer}}">{{item.knowledgeAnswer}}</td>
	                    <td ng-if="item.knowledgeAnswer.length>25"  title="{{item.knowledgeAnswer}}">{{item.knowledgeAnswer.substring(0,25)+'...'}}</td>
	                    <td>
	                    	<a href="javascript:;" class="mr-10 c-blue" ng-click="vm.editOrView(item, 0)">查看</a>
	                        <a href="javascript:;" class="mr-10 c-orange" ng-click="vm.editOrView(item, 1)">编辑</a>
	                        <a href="javascript:;" class="mr-10 c-red" ng-click="vm.del(item.knowledgeId)">删除</a>
	                    </td>
	                </tr>
				</tbody>
            </table>
            <pagination ng-if="vm.paginationConf.totalItems && vm.paginationConf.totalItems>0" conf="vm.paginationConf"></pagination>
        </div>
    </div>
</div>
