<div class="pt-10 pb-10">
    <form action="" method="post" name="myForm" class="form form-horizontal" novalidate>
        <div class="mb-10 cl">
            <label class="form-label col-xs-3 col-sm-4">Name：</label>
            <div class="formControls col-xs-9 col-sm-7">
                <input type="text" class="input-text bd" placeholder="Please enter a name" ng-model="vm._name"/>
        	</div>
        </div>
        <div class="mb-10 cl">
            <label class="form-label col-xs-3 col-sm-4">Cell：</label>
            <div class="formControls col-xs-9 col-sm-7">
            	<select class="bd" ng-model="vm.cell">
                	<option value="RNN">RNN</option>
                	<option value="LSTM">LSTM</option>
                	<option value="GRU">GRU</option>
            	</select>
            </div>
        </div>
        <div class="mb-10 cl">
            <label class="form-label col-xs-3 col-sm-4">Activation：</label>
            <div class="formControls col-xs-9 col-sm-7">
            	<select class="bd" ng-model="vm.activation">
                	<option value="ReLu">ReLu</option>
                	<option value="Tanh">Tanh</option>
                	<option value="Sigmoid">Sigmoid</option>
                	<option value="Linear">Linear</option>
            	</select>
            </div>
        </div>
        <div class="mb-10 cl">
            <label class="form-label col-xs-3 col-sm-4">Regularization：</label>
            <div class="formControls col-xs-9 col-sm-7">
            	<select class="bd" ng-model="vm.regularization">
                	<option value="l1">l1</option>
                	<option value="l2">l2</option>
            	</select>
            </div>
        </div>
        <div class="mb-10 cl">
            <label class="form-label col-xs-3 col-sm-4">Regularization Rate：</label>
            <div class="formControls col-xs-9 col-sm-7">
                <input type="text" class="input-text bd" placeholder="0" ng-model="vm.regularizationRate"/>
        	</div>
        </div>
        <div class="mb-10 cl">
            <label class="form-label col-xs-3 col-sm-4">Layers：</label>
            <div class="formControls col-xs-9 col-sm-7">
                <input type="text" class="input-text bd" placeholder="2" ng-model="vm.layers"/>
        	</div>
        </div>
        <div class="mb-10 cl">
            <label class="form-label col-xs-3 col-sm-4">Neurons：</label>
            <div class="formControls col-xs-9 col-sm-7">
                <input type="text" class="input-text bd" placeholder="1024" ng-model="vm.neurons"/>
        	</div>
        </div>
        <div class="mb-10 cl">
            <label class="form-label col-xs-3 col-sm-4">Learning Rate：</label>
            <div class="formControls col-xs-9 col-sm-7">
                <input type="text" class="input-text bd" placeholder="0.0003" ng-model="vm.learningRate"/>
        	</div>
        </div>
        <div class="mb-10 cl">
            <label class="form-label col-xs-3 col-sm-4">Max Gradient：</label>
            <div class="formControls col-xs-9 col-sm-7">
                <input type="text" class="input-text bd" placeholder="5.0" ng-model="vm.maxGradient"/>
        	</div>
        </div>
        <div class="mb-10 cl">
            <label class="form-label col-xs-3 col-sm-4">Dropout：</label>
            <div class="formControls col-xs-9 col-sm-7">
                <input type="text" class="input-text bd" placeholder="0.5" ng-model="vm.dropout"/>
        	</div>
        </div>
        <div class="mb-10 cl">
            <label class="form-label col-xs-3 col-sm-4">Batch Size：</label>
            <div class="formControls col-xs-9 col-sm-7">
                <input type="text" class="input-text bd" placeholder="64" ng-model="vm.batchSize"/>
        	</div>
        </div>
    <div class="tc">
        <input type="button" class="btn1 btn1_blue mr-20" value="save" ng-click="vm.verifyRelease()?closeThisDialog(1):''"/>
        <input type="button" class="btn1 btn_gray" value="cancel" ng-click="closeThisDialog(0)"/>
    </div>
    </form>
</div>

<style type="text/css">select {width: 302px; height: 29px;}</style>
