<!--引导页头部遮罩-->
<div class="shadow_div dn" style="height:60px;" ></div>
<!--引导页头部遮罩end-->
<div class="main warp knowledgeSale">
    <div class="addContent pd30">
        <div class="cl">
            <div class="r-cont-hd L">
                <span ng-if="!vm.knowledgeId">营销知识新增</span>
                <span ng-if="vm.knowledgeId">营销知识编辑</span>
            </div>
            <a href="javascript:;" class="c_green R" ng-click="vm.showTip();">使用帮助</a>
        </div>
        <!--<auto-complete ng-if="vm.dimensionsCopy" source="vm.dimensionsCopy" result="vm.dimensionArr"></auto-complete>-->
        <div class="r-cont-bd oh pr">
            <!--<form novalidate="novalidate" name="form">-->
            <div class="jqrsz-item">
                <div class="item-line">
                    <div class="lable">
                        营销标题：
                    </div>
                    <div class="value" >
                        <div class="ipt-txt-box" style="width:100%;">
                            <input class="ipt-txt bd" style="height:32px;" type="text"  ng-model="vm.title" name="title" ng-focus="vm.titleTip=''" ng-minlength="1" ng-maxlength="1000" required />
                            <i class="btn-empty"></i>
                            <a href="javascript:;" title="自动匹配BOT" class="mr-15"  ng-click="vm.getBotByTitle()"><img src="../../../images/match_img.png" width="25" height="25"></a>
                            <p class="c-error pd-5"  ng-if="vm.titleTip">{{vm.titleTip}}</p>
                        </div>
                    </div>
                </div>

                <div class="item-line clearfix">
                    <div class="lable">
                        知识有效期：
                    </div>
                    <label>
                        <input style="margin: 0;" type="checkbox" ng-model="vm.isTimeTable"> 启用
                    </label>
                    <div style="margin: 10px 0 10px  232px;" ng-show="vm.isTimeTable">
                        <input type="text" id="startTime" onchange=""  ng-model="vm.timeStart"  onclick="WdatePicker({startDate:'%y',dateFmt:'yyyy-MM-dd',maxDate:'#F{$dp.$D(\'endTime\')}'})" class="input-text Wdate "  style="width:185px;border:1px solid #e1e1e1;height: 35px;font-size: 15px;color: #333!important;" placeholder="yyyy-mm-dd" readonly>
                        -
                        <input type="text" id="endTime"   onchange="" ng-model="vm.timeEnd" onclick="WdatePicker({startDate:'%y',dateFmt:'yyyy-MM-dd',minDate:'#F{$dp.$D(\'startTime\')}'})" class="input-text Wdate "  style="width:185px;border:1px solid #e1e1e1;height: 35px;font-size: 15px;color: #333!important;" placeholder="yyyy-mm-dd" readonly>
                    </div>
                </div>
                <div class="item-line mb-10">
                    <div class="lable">
                        BOT路径：
                    </div>
                    <div class="value Div clearfix" id="Div">
                        <div class="ipt-txt-box L mr-10">
                            <input class="ipt-txt bd" style="height:32px;" ng-click="vm.knowledgeBot()" ng-model="vm.knowledgeBotVal" readonly id="ipt-txt" type="text" ng-disabled/>
                            <!--<p class="ipt-txt" id="ipt-txt" >-->
                            <!--<span ng-repeat="item in vm.knowledgeBotVal" >{{item}}<i ng-if="$index!=vm.knowledgeBotVal.length-1">,</i></span>-->
                            <!--</p>-->
                            <i class="btn-menu_1" ng-click="vm.knowledgeBot()"></i>
                            <div class="rootClassfy aside-navs aside-navs2" >
                                <ul class="menus show">
                                    <!--//test-->
                                    <li ng-repeat="item in vm.botRoot track by $index">
                                        <div class="slide-a">
                                            <a class="ellipsis" href="javascript:;">
                                                <i class="icon-jj" data-option="{{item.categoryId}}"></i>
                                                <span>{{item.categoryName}}</span>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <a href="javascript:;" ng-click="vm.botSelectAdd()" class="L mr-15 mt-5" ><img src="../../../images/images/add_img.png" alt=""></a>
                    </div>
                </div>
                <!--bot  标题 点击生成  -->
                <div class="item-line clearfix" ng-if="vm.botClassfy.length" ng-repeat="item in  vm.botClassfy track by $index">
                    <div class="lable"> BOT分类：</div>
                    <div class="value Div clearfix" id="Div">
                        <div class="ipt-txt-box L mr-10">
                            <div class="ipt-txt" style="overflow:hidden;line-height:24px;">
                                <a title="{{item.className.join('/')}}">{{item.className.join("/")}}</a>
                            </div>
                        </div>
                        <a href="javascript:;" class="L mr-10 mt-5" ng-if="item.classificationType==0" ng-click="vm.botClassfy.splice($index,1)"><img src="../../../images/images/delete_img.png"  alt=""></a>
                    </div>
                </div>
                 <!--手选生成-->
                <div class="item-line clearfix mb-10" ng-if="vm.creatSelectBot.length" ng-repeat="item in  vm.creatSelectBot track by $index">
                    <div class="lable"> BOT分类：</div>
                    <div class="value Div" id="Div">
                        <div class="ipt-txt-box L">
                            <div class="ipt-txt" style="overflow:hidden;line-height:24px;">
                                <a title="{{item.className.join('/')}}">{{item.className.join("/")}}</a>
                            </div>
                        </div>
                        <a href="javascript:;" class=" L ml-10 mt-5" ><img src="../../../images/images/delete_img.png" ng-click="vm.creatSelectBot.splice($index,1)" alt=""></a>
                    </div>
                </div>
                <div class="item-line clearfix">
                    <div class="row clearfix mb-10">
                        <div class="lable" style="width:245px;">业务框架：</div>
                        <!--<label class="form-label col-xs-4 col-sm-2 text-r">业务框架：</label>-->
                        <div class="value" style="padding-left:0;">
                            <select class="input-text" style="width:407px;"  ng-model="vm.frameId" ng-options="frame.frameId as frame.frameTitle for frame in vm.frames">
                                <option value="" ng-if="vm.frames.length">--请选择以上业务框架--</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="item-line"  style="overflow: visible">
                    <div class="lable" >
                        触发要素：
                    </div>
                    <div class="value" style="overflow: visible">
                        <div class="clearfix mb-10" style="width: 500px;height: 34px;">
                            <select  ng-model="vm.factor" onchange="" class="bd L " style="width:102px;height:33px;line-height:33px;">
                                <option value="62">知识标题</option>
                                <option value="63">概念扩展</option>
                            </select>
                            <input  onchange=""  type="text" class="L mr-10" placeholder="请输入问题" ng-model="vm.factorTitle" style="text-indent:1em;height:33px;line-height:33px;display: inline-block;width: 302px;border: 1px solid #e1e1e1;border-left:0;">
                            <!--<input ng-if="vm.factor==1" type="text" class="L mr-10" placeholder="请输入问题" ng-model="vm.extensionTitle" style="text-indent:1em;height: 98%;display: inline-block;width: 70%;border: 1px solid #e1e1e1;border-left:0;">-->
                            <a href="javascript:;" class="L mr-15 mt-5" ng-click="vm.getExtension(vm.factorTitle)"><img src="../../../images/images/add_img.png" alt=""></a>
                            <!--<a href="javascript:;" class="L mr-15 mt-5" ng-click="vm.getDetailByTitle(vm.factorTitle)"><img src="../../../images/images/add_img.png" alt=""></a>-->
                            <ul class="listItem" ng-if="vm.getFactorByTitle.length" style="position: absolute;
                            left: 100px;z-index: 2;height: 200px;overflow: auto ;box-sizing:border-box;top: 40px;">
                                <li ng-repeat="item in vm.getFactorByTitle track by $index" style="min-width: 351px;
                                              cursor:pointer;background: #e1e1e1;text-indent: 1em;line-height: 26px;margin: 2px 0;"
                                    ng-click="vm.selelectTitle(item)">{{item}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="jqrsz-item" style="overflow: visible" ng-if="vm.extensions.length || vm.extensionsByFrame.length || vm.knowledgeTitleTag.length">
                <!-- 标题生成标签-->
                <div class="item-line"  style="overflow: visible" ng-if="vm.knowledgeTitleTag">
                    <div class="lable">
                        概念扩展：
                    </div>
                    <div class="value clearfix">
                        <div class=" tag_box L mr-10">
                            <span ng-repeat="val in vm.knowledgeTitleTag track by $index" style="margin: 0 5px 5px 0;background: #e1e1e1;padding: 4px;" >
                                {{val}}
                            </span>
                        </div>
                        <span class="L"><b>来源于</b> <span>{{vm.title}}</span></span>
                    </div>
                </div>
                <!--sshoudong  tinajia -->
                <div class="item-line"  style="overflow: visible" ng-repeat="(itemIndex,item) in vm.extensions track by $index">
                    <div class="lable">
                        概念扩展：
                    </div>
                    <div class="value clearfix">
                        <div class=" tag_box L mr-10">
                            <span ng-repeat="val in item.extensionQuestionTagList track by $index" style="margin: 0 5px 5px 0;background: #e1e1e1;padding: 4px;" ng-class="val.exist?'':'tagRepeat'">
                                {{val.tagName}}
                            </span>
                        </div>
                        <span class="tag_s mr-10 L">{{item.extensionQuestionType==62?'知识标题':'概念扩展'}}</span>
                        <a href="javascript:;" ng-click="vm.extensions.splice($index,1)" class="L mr-10" ><img src="../../../images/images/delete_img.png" alt="" ></a>
                        <a href="javascript:;" class="L edit_a mr-10 mt-5" ng-click="vm.extensionEdit(0,item,itemIndex)"></a>
                        <span class="L"><b>来源于</b> <span>{{item.extensionQuestionTitle}}</span></span>
                    </div>
                </div>
                <!-- 業務框架 生成 -->
                <div class="item-line"  style="overflow: visible" ng-repeat="(itemIndex,item) in vm.extensionsByFrame track by $index">
                    <div class="lable">
                        概念扩展：
                    </div>
                    <div class="value clearfix">
                        <div class=" tag_box L mr-10">
                            <!--{{item.extensionQuestionTagList}}-->
                            <span ng-repeat="val in item.extensionQuestionTagList track by $index" style="margin:0 5px 5px 0;background: #e1e1e1;padding: 4px;" ng-class="val.exist?'':'tagRepeat'">
                                {{val.tagName}}
                            </span>
                        </div>
                        <span class="tag_s mr-10 L" style="width: 56px;text-align: center;">普通</span>
                        <a href="javascript:;" ng-click="vm.extensionsByFrame.splice($index,1)" class="L mr-10" ><img src="../../../images/images/delete_img.png" alt="" ></a>
                        <a href="javascript:;" class="L edit_a mr-10 mt-5"  ng-click="vm.extensionEdit(0,item,itemIndex)"></a>
                        <span class="L" ng-if="item.extensionQuestionTitle"><b>来源于: </b> <span>{{item.extensionQuestionTitle}}</span></span>
                    </div>
                </div>
            </div>

            <div class="jqrsz-item" style="padding-top:0;">
                <!--预览内容-->
                <div ng-repeat="(index,item) in vm.scanContent track by $index">
                    <div class="item-line">
                        <div class="lable" style="padding-right:10px;box-sizing:border-box;">
                            内容{{index+1}}:
                        </div>
                        <div class="value">
                            <div class="ipt-txt-box clearfix">
                                <div class="textareaDiv textareaDiv1 textareaDiv2 L " >
                                    <p ng-repeat="text in item.knowledgeContent.split('\n')">{{text}}</p>
                                </div>
                                <!--<a href="javascript:;" ng-click="vm.scanContent.splice($index,1)" class=" mr-15" ><img src="../../../images/images/delete_img.png" alt=""></a>-->
                                <a href="javascript:;" ng-click="vm.scanContent.splice($index,1)" class="delete_a ml-10 L mt-20"></a>
                                <a href="javascript:;" class="edit_a L mt-20 ml-10" ng-click="vm.knowledgeAdd(vm.scanContent[$index],$index)"></a>
                            </div>
                        </div>
                    </div>
                    <div class="item-line item-lineId">
                        <div class="left"></div>
                        <div class="optionDiv">渠道：
                            <span style=" margin: 0 4px;" ng-repeat="val in item.channelIdList">{{val | channel:vm.channels}}</span>
                        </div>
                    </div>
                    <div class="item-line item-lineId">
                        <div class="left"></div>
                        <div class="optionDiv">维度:
                            <span style="margin: 0 4px;" ng-repeat="val in item.dimensionIdList track by $index">{{val | dimension:vm.dimensions}}</span>
                        </div>
                    </div>
                    <!-- 扩展问生成标签-->
                    <div class="item-line" ng-repeat="val in item.extensionByContentByTitle track by $index" style="margin-top: 4px;">
                        <div class="value">
                            <div class="ipt-txt-box">
                                <input class="ipt-txt" type="text"  ng-model="val" name="title" />
                                <i class="btn-empty"></i>
                                <a href="javascript:;"  title="点击生成扩展问" ng-click="vm.getExtension(val)" class="mr-15"><img src="../../../images/images/add_img.png" ></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-line" style="margin-top: 15px">
                    <div class="lable">
                        营销内容：
                    </div>
                    <div class="value">
                        <div class="ipt-txt-box">
                            <input class="addBth" ng-click="vm.knowledgeAdd()" type="button" value="+ 新增"/>
                            <i class="btn-empty"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="jqrsz-btn-box" style="margin-bottom:120px;">
                <a class="btn btn-blue mr10" href="javascript:;" ng-disabled="vm.limitSave" ng-click="vm.save()">保存</a>
                <a class="btn btn-gray" href="javascript:;" style="background: #2bcacc; color: #fff;" ng-click="vm.scan()">预览</a>
            </div>
            <!--引导-->
            <div class="shadow_div dn" ></div>
            <div class="step_div " >
                <div class="step_one dn" id="step_one" >
                    <div class="step_one_s">1</div>
                    <div class="step_one_arrow"></div>
                    <div class="step_one_con">
                        <p>知识标题：您只需要填写这个知识的标准的提问方式，然后点击后面的生成按钮，系统会自动生成BOT路径哦~</p>
                        <div class="tr introjs-tooltipbuttons">
                            <button  class="introjs-button introjs-skip" ng-click="vm.hideTip()">跳出</button>
                            <button  disabled class="c-999 introjs-button introjs-prev" ng-click="vm.prevDiv($event)">上一步</button>
                            <button  class="introjs-button introjs-next" ng-click="vm.nextDiv($event)">下一步</button>
                        </div>
                    </div>
                </div>
                <div class="step_one step_two dn" id="step_two">
                    <div class="step_one_s">2</div>
                    <div class="step_one_arrow"></div>
                    <div class="step_one_con">
                        <p>BOT:除了自动生成的BOT路径，您还可以点击选择按钮选择您所希望的BOT类目路径。选好了别忘了点击后面的加号，路径可以添加多个哦~</p>
                        <div class="tr introjs-tooltipbuttons">
                            <button  class="introjs-button introjs-skip" ng-click="vm.hideTip()">跳出</button>
                            <button  class="introjs-button introjs-prev" ng-click="vm.prevDiv($event)">上一步</button>
                            <button  class="introjs-button introjs-next" ng-click="vm.nextDiv($event)">下一步</button>
                        </div>
                    </div>
                </div>
                <div class="step_one step_three dn" id="step_three">
                    <div class="step_one_s">3</div>
                    <div class="step_one_arrow"></div>
                    <div class="step_one_con">
                        <p>业务框架：选择完毕路径之后，我们根据目前所选择的BOT，为您列出符合要求的业务框架，您可以选择对应的业务框架以节省编写扩展问的时间。业务框架可以添加多个哦~
                        </p>
                        <div class="tr introjs-tooltipbuttons">
                            <button  class="introjs-button introjs-skip" ng-click="vm.hideTip()">跳出</button>
                            <button  class="introjs-button introjs-prev" ng-click="vm.prevDiv($event)">上一步</button>
                            <button  class="introjs-button introjs-next" ng-click="vm.nextDiv($event)">下一步</button>
                        </div>
                    </div>
                </div>
                <div class="step_one step_four dn" id="step_four">
                    <div class="step_one_s">4</div>
                    <div class="step_one_arrow"></div>
                    <div class="step_one_con">
                        <p>扩展问题：您可以自行填写扩展问题，应对问题的多样化.
                        </p>
                        <div class="tr introjs-tooltipbuttons">
                            <button  class="introjs-button introjs-skip" ng-click="vm.hideTip()">跳出</button>
                            <button  class="introjs-button introjs-prev" ng-click="vm.prevDiv($event)">上一步</button>
                            <button  class="introjs-button introjs-next" ng-click="vm.nextDiv($event)">下一步</button>
                        </div>
                    </div>
                </div>
                <div class="step_one step_five dn" id="step_five">
                    <div class="step_one_s">5</div>
                    <div class="step_one_arrow"></div>
                    <div class="step_one_con">
                        <p>营销内容：营销内容就是答案，可以根据渠道维度的不同填写多个哦!
                        </p>
                        <div class="tr introjs-tooltipbuttons">
                            <button  class="introjs-button introjs-skip" ng-click="vm.hideTip()">跳出</button>
                            <button  class="introjs-button introjs-prev" ng-click="vm.prevDiv($event)">上一步</button>
                            <button  class="introjs-button introjs-next" ng-click="vm.nextDiv($event)">下一步</button>
                        </div>
                    </div>
                </div>
                <div class="step_one step_six dn" id="step_six">
                    <div class="step_one_s">6</div>
                    <div class="step_one_arrow"></div>
                    <div class="step_one_con">
                        <p>最后一步：编辑完知识可以选择预览，或者保存，就可以啦!</p>
                        <div class="tr introjs-tooltipbuttons">
                            <button  class="introjs-button introjs-skip" ng-click="vm.hideTip()">完成</button>
                            <button  class="introjs-button introjs-prev" ng-click="vm.prevDiv($event)">上一步</button>
                            <button  disabled class="c-999 introjs-button introjs-next" ng-click="vm.nextDiv($event)">下一步</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--引导end-->
        </div>
    </div>
</div>
<style>
    .container{
        background:#f8f8f8;
    }



</style>
<script>

</script>