<div class="msgR-cont pd30">
    <div class="r-cont-hd">
        <span>应用信息</span>
    </div>
    <p class="msgR-name">长沙银行客服机器人
                <span ng-click="vm.editName()">
                    <i></i>修改名称
                </span>
    </p>
    <ul class="msgR-state">
        <li>应用状态：已发布</li>
        <li>场景类型：客服型</li>
        <li>创建时间：2017-2-13</li>
    </ul>
    <div class="jqrsz-btn-box" style="padding: 30px 0 0 0">
        <a class="btn btn-blue mr10" href="javascript:;">线下所有服务</a>
        <a class="btn btn-gray" id="deletePop" ng-click="vm.deleteName()" style="background: #e2e2e2; color: #666;">删除应用</a>
    </div>
    <p class="msgR-title">应用高级信息</p>
    <ul class="msgR-table-1">
        <li class="msgR-table-head">场景信息</li>
        <li>业务框架 <span>10分钟</span></li>
        <li>业务类型 <span>5分钟</span></li>
        <li>交互方式 <span>3分钟</span></li>
    </ul>
    <ul class="msgR-table-1 msgR-table-2">
        <li class="msgR-table-head">发布信息</li>
        <li><span class="release">已发布</span> &nbsp; 长沙银行知识 <p><span class="Offline">下线</span>&nbsp; | &nbsp;<span class="restart">重启</span></p></li>
        <li><span class="Nrelease">未发布</span> &nbsp; 湖南信用卡微信知识 <p><span>发布</span></p></li>
        <li><span class="Nrelease">未发布</span> &nbsp; 长沙银行知识测试版 <p><span>发布</span></p></li>
    </ul>
</div>
<style>

</style>