<div class="scene_setup pd-20" >
    <h3 class="f16 mb-20 tc bold">多轮交互配置</h3>
    <form name="myScene" class="css-form" novalidate>
    <div>
        <h3 class="f14 mb-10  c-999">类目模糊:</h3>
        <div class="framework mb-10 " style="margin-left:100px;padding-left:135px;">
            <span class="framework_s">是否支持：</span>
            <div>
                <div class="dib pt-5 mr-15">
                    <div switch value="multipleConversation.categoryFuzzyOn"></div>
                </div>
            </div>
        </div>
        <div class="framework mb-10 " style="margin-left:100px;padding-left:135px;">
            <span class="framework_s">推荐问相似度：</span>
            <div>
                <input type="number" class="bd" ng-model="multipleConversation.recommendedSimilarity" required  ng-disabled="multipleConversation.categoryFuzzyOn==''?true:false"/>
            </div>
        </div>
    <div >
        <h3 class="f14 mb-10 c-999">主题缺失:</h3>
        <div class="framework mb-10 " style="margin-left:100px;padding-left:135px;">
            <span class="framework_s">是否支持：</span>
            <div>
                <div class="dib pt-5 mr-15">
                    <div switch value="multipleConversation.topicMissingOn"></div>
                </div>
            </div>
        </div>
        <div class="framework mb-10 " style="margin-left:100px;padding-left:135px;">
            <span class="framework_s">主题记忆轮数：</span>
            <div>
                <input type="number" class="bd" ng-model="multipleConversation.topicMemoryRounds" required  ng-disabled="multipleConversation.topicMissingOn==''?true:false"/>
            </div>
        </div>
    </div>
    <div>
        <h3 class="f14 mb-10 c-999">要素缺失配置:</h3>
        <div class="framework mb-10 " style="margin-left:100px;padding-left:135px;">
            <span class="framework_s">是否支持：</span>
            <div>
                <div switch value="multipleConversation.elementIntelligentRecommendOn"></div>
            </div>
        </div>
        <div class="framework mb-10 " style="margin-left:100px;padding-left:135px;">
            <span class="framework_s">支持非零点启动：</span>
            <div>
                <select class="sel bd" ng-model="multipleConversation.nonZeroStartOn">
                    <option value="1">支持</option>
                    <option value="0">不支持</option>
                </select>
            </div>
        </div>
        <div class="framework mb-10 " style="margin-left:100px;padding-left:135px;">
            <span class="framework_s">是否作为标签匹配：</span>
            <div>
                <select class="sel bd" ng-model="multipleConversation.matchTagOn">
                    <option value="1">是</option>
                    <option value="0">否</option>
                </select>
            </div>
        </div>
    </div>
    <div class="text-c">
        <input type="submit" class="btn1 btn1_blue mr-15" ng-click="closeThisDialog(1)" value="保存"/>
        <input type="button" class="btn1 btn_gray" ng-click="closeThisDialog(0)" value="取消" />
    </div>
   </div>
   </form>
</div>
