<div class="r-cont pd30">
    <p class="r-cont-hd mb-20">交互管理</p>
    <div class="scene_box">
        <table class="stop_word_tab">
            <tr class="title">
                <td width="20%" class="bold">交互方式</td>
                <td width="60%" class="bold">详情</td>
                <td width="20%" class="bold">操作</td>
            </tr>
            <tr ng-repeat="item in vm.exchangeModeData" ng-class="!$last?'bd_none':''">
                <td>{{item.name}}</td>
                <td><a class="description">{{item.description}}</a></td>
                <td><a ng-if="$index==1" class="c_blue" ng-click="vm.multipleConversationSetup()">多轮会话配置</a></td>
            </tr>
        </table>
    </div>
</div>
<style>
    .stop_word_tab{
        border : 1px solid #f0f0f0;
    }
    .stop_word_tab .title{
        background : #f0f0f0;
    }
    .stop_word_tab td{
        border:0;
    }
    .stop_word_tab tr.bd_none{
        padding:5%;
        border-bottom:1px solid  #f0f0f0;
    }
    .stop_word_tab .description {
        color: #a5a5a5
    }

</style>