/* 2017/12/26  游标卡尺*/
.caliper .scale {
    background: #ddd;
    width: 200px;
    height: 3px;
    position: relative;
    margin: 20px;
}

.caliper .scale span {
    background: #aaa;
    width: 8px;
    height: 16px;
    position: absolute;
    left: -2px;
    top: -6px;
    cursor: pointer;
    border-radius: 3px;
}

.caliper .scale div {
    background: #66D9EF;
    position: absolute;
    height: 3px;
    width: 0;
    left: 0;
    bottom: 0;
}