<!--<div ui-view="header"></div>-->
<div class="main warp">
    <div class="page-lrcont210 clearfix bgwhite mt10">
        <div class="l-aside fl">
            <div class="aside-nav aside-nav2">
                <ul>
                    <li>
                        <a class="slide-a ellipsis" ui-sref=".question">
                            <i class="icon-l icon-nav1"></i>
                            <span>问法测试</span>
                            <!--<i class="icon-r icon-jt"></i>-->
                        </a>
                    </li>
                    <li>
                        <a class="slide-a ellipsis" ui-sref=".session">
                            <i class="icon-l icon-nav3"></i>
                            <span >聊天测试</span>
                        </a>
                    </li>
                    <li>
                        <a class="slide-a ellipsis"  ui-sref=".batch">
                            <i class="icon-l icon-nav4"></i>
                            <span >批量测试 </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div ui-view="content"></div>
    </div>

</div>
<style>
    .menu_1{
        display: block;
    }
</style>
<script>
    $('.menu_1 li').click(function(){
        $(this).css('background','#d0caca').siblings().css('background','#e6e6e6');
    });
</script>





