<!--<div ui-view="header"></div>-->
<div class="main warp">
    <div class="page-lrcont210 clearfix bgwhite mt10">
        <div class="l-aside fl">
            <div  id="test-nav">
                <ul>
                    <li class="cur_test_li">
                        <a class="slide-a ellipsis" ui-sref=".question">
                            <i class="icon-l icon-navquestion"></i>
                            <span>问法测试</span>
                            <!--<i class="icon-r icon-jt"></i>-->
                        </a>
                    </li>
                    <li>
                        <a class="slide-a ellipsis" ui-sref=".session">
                            <i class="icon-l icon-navchat"></i>
                            <span >聊天测试</span>
                        </a>
                    </li>
                    <li>
                        <a class="slide-a ellipsis"  ui-sref=".batch">
                            <i class="icon-l icon-navbatch"></i>
                            <span >批量测试 </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div ui-view="content"></div>
    </div>

</div>
<style>
    .menu_1{
        display: block;
    }

</style>
<script>
    $('#test-nav li').click(function(){
        $(this).addClass('cur_test_li').siblings().removeClass('cur_test_li');
    });
</script>





