<div class="main warp">
    <div class="crumbs-nav bgwhite mt20">
        <span class="cn-lable">你曾经路过此地：</span>
        <span class="cn-value"><a class="cn-a" href="javascript:;">首页</a><i class="close">x</i></span>
        <span class="cn-value"><a class="cn-a" href="javascript:;">我的应用</a><i class="close">x</i></span>
        <!--<span class="cn-value"><a class="cn-a" href="javascript:;">评论列表</a><i class="close">x</i></span>
        <span class="cn-value active"><a class="cn-a" href="javascript:;">机器人设置</a><i class="close">x</i></span>-->
    </div>
    <div class="addContent pd30">
        <div class="r-cont-hd">
            <span>FAQ知识新增</span>
        </div>
        <div class="r-cont-bd oh">
            <!--<form novalidate="novalidate" name="form">-->
            <div class="jqrsz-item">
                <div class="item-line">
                    <div class="lable">
                        知识标题：
                    </div>
                    <div class="value">
                        <div class="ipt-txt-box">
                            <input class="ipt-txt" type="text"  ng-model="vm.title" name="title" ng-keypress="vm.enterEvent($event,vm.getCreatBot)" ng-focus="vm.titleTip=''" ng-minlength="1" ng-maxlength="1000" required />
                            <i class="btn-empty"></i>
                            <a href="javascript:;" title="自动匹配BOT" class="mr-15"  ng-click="vm.getCreatBot()"><img src="../../../images/match_img.png"  width="25" height="25"></a>
                            <p class="c-error pd-5"  ng-if="vm.titleTip">{{vm.titleTip}}</p>
                        </div>
                    </div>
                </div>
                <div class="item-line">
                    <div class="lable">
                        知识有效期：
                    </div>
                    <label>
                        <input style="margin: 0px;" type="checkbox" ng-model="vm.isTimeTable"> {{vm.timeFlag}}
                    </label>
                    <div style="margin: 10px 0 10px  232px;" ng-show="vm.isTimeTable">
                        <input type="text" id="startTime" onchange=""  ng-model="vm.timeStart"  onclick="WdatePicker({startDate:'%y',dateFmt:'yyyy-MM-dd',maxDate:'#F{$dp.$D(\'endTime\')}'})" class="input-text Wdate "  style="width:185px;border:1px solid #e1e1e1;height: 35px;font-size: 15px;color: #333!important;" placeholder="yyyy-mm-dd" readonly>
                        -
                        <input type="text" id="endTime"   onchange="" ng-model="vm.timeEnd" onclick="WdatePicker({startDate:'%y',dateFmt:'yyyy-MM-dd',minDate:'#F{$dp.$D(\'startTime\')}'})" class="input-text Wdate "  style="width:185px;border:1px solid #e1e1e1;height: 35px;font-size: 15px;color: #333!important;" placeholder="yyyy-mm-dd" readonly>
                    </div>
                </div>

                <div class="item-line">
                    <div class="lable">
                        BOT路径：
                    </div>
                    <div class="value Div clearfix" id="Div">
                        <div class="ipt-txt-box L mr-10">
                            <input class="ipt-txt" ng-click="vm.knowledgeBot()" ng-model="vm.knowledgeBotVal" readonly id="ipt-txt" type="text" ng-disabled/>
                            <!--<p class="ipt-txt" id="ipt-txt" >-->
                            <!--<span ng-repeat="item in vm.knowledgeBotVal" >{{item}}<i ng-if="$index!=vm.knowledgeBotVal.length-1">,</i></span>-->
                            <!--</p>-->
                            <i class="btn-menu_1" ng-click="vm.knowledgeBot()"></i>
                            <div class="rootClassfy aside-navs aside-navs2" >
                                <ul class="menus show">
                                    <!--//test-->
                                    <li ng-repeat="item in vm.botRoot">
                                        <div class="slide-a">
                                            <a class="ellipsis" href="javascript:;">
                                                <i class="icon-jj" data-option="{{item.categoryId}}"></i>
                                                <span>{{item.categoryName}}</span>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                        </div>
                        <a href="javascript:;" class="L mr-15 mt-5" ng-click="vm.botSelectAdd()"><img src="../../../images/images/add_img.png" alt=""></a>
                    </div>
                </div>
 <!--bot  标题 点击生成  -->
                <div class="item-line" ng-if="vm.botClassfy.length" ng-repeat="item in  vm.botClassfy track by $index">
                    <div class="lable"> BOT路径：</div>
                    <div class="value Div clearfix" id="Div">
                        <div class="ipt-txt-box L mr-10">
                            <div class="ipt-txt">
                                <span>{{item.className.join("/")}}</span>
                            </div>
                        </div>
                        <a href="javascript:;" class="L mr-10 mt-5" ng-if="item.classificationType==0" ng-click="vm.botClassfy.splice($index,1)"><img src="../../../images/images/delete_img.png"  alt=""></a>
                    </div>
                </div>
<!-- 手选生成-->
                <!--<div class="item-line" ng-if="vm.creatSelectBot.length" ng-repeat="item in  vm.creatSelectBot">-->
                    <!--<div class="lable"> BOT分类：</div>-->
                    <!--<div class="value Div" id="Div">-->
                        <!--<div class="ipt-txt-box">-->
                            <!--<div class="ipt-txt">-->
                                <!--<span>{{item}}</span>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<a href="javascript:;" class=" mr-10" ><img src="../../../images/images/delete_img.png" ng-click="vm.botClassfy.splice($index,1)" alt=""></a>-->
                    <!--</div>-->
                <!--</div>-->
                <div class="item-line">
                    <div class="row cl mb-10">
                        <div class="lable" style="width:245px;">业务框架：</div>
                        <!--<label class="form-label col-xs-4 col-sm-2 text-r">业务框架：</label>-->
                        <div class="formControls col-xs-8 col-sm-9" style="padding-left:0;">
                            <select class="input-text" style="width:407px;"  ng-model="vm.frameId" ng-options="frame.frameId as frame.frameTitle for frame in vm.frames">
                                <option value="" ng-if="vm.frames.length">--业务框架为空--</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="jqrsz-item" style="overflow: visible">
                <div class="item-line"  style="overflow: visible">
                    <div class="lable" >
                        扩展问：
                    </div>
                    <div class="value" style="overflow: visible">
                        <div class="clearfix" style="width: 500px;height: 38px;">
                            <input type="text" class="L" placeholder="请输入问题" ng-keypress="enterEvent($event,vm.getExtension)" ng-model="vm.extensionTitle" style="text-indent:1em;height: 98%;display: inline-block;width: 70%;border: 1px solid #e1e1e1;border-right: 0;">
                            <select  ng-model="vm.extensionWeight"  class="input-text L mr-10" style="display: inline-block;width: 20%;height: 39px;">
                                <option value="1">普通</option>
                                <option value="0">否定</option>
                            </select>
                            <a href="javascript:;" class="L mr-15 mt-5" ng-click="vm.getExtension(vm.extensionTitle,vm.extensionWeight)"><img src="../../../images/images/add_img.png" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="Concept-Ipt-nxtDiv Concept-Ipt-nxtDivOut" style="margin-top: 20px;margin-bottom: 0;">
                    <span class="Concept-Ipt-nxt-ico"></span>
                    <span class="Concept-Ipt-nxt"> 我们从您的知识内容里提取出了知识表示，您可以对这些知识表示进行编辑以生成概念扩展</span>
                </div>

<!--sshoudong  tinajia -->
                <div class="item-line"  style="overflow: visible" ng-repeat="item in vm.extensions">
                    <div class="lable" ng-class="'milesVh'">
                        扩展问：
                    </div>
                    <div class="value clearfix" >
                        <div class="bd tag_box L mr-10" >
                           {{item.extensionQuestionTitle}}
                        </div>
                        <span class="tag_s mr-10 L">{{item.extensionQuestionType==1?'普通':'否定'}}</span>
                        <a href="javascript:;" ng-click="vm.extensions.splice($index,1)" class="L mr-10" ><img src="../../../images/images/delete_img.png" alt="" ></a>
                        <!--<span class="L"><b>来源于</b> <span>信用卡如何办理</span></span>-->
                    </div>
                </div>

<!-- 業務框架 生成 -->
                <div class="item-line"  style="overflow: visible" ng-repeat="item in vm.extensionsByFrame">
                    <div class="lable" ng-class="'milesVh'">
                        扩展问：
                    </div>
                    <div class="value clearfix" >
                        <div class="bd tag_box L mr-10" >
                            {{item.extensionQuestionTitle}}
                        </div>
                        <span class="tag_s mr-10 L">{{item.extensionQuestionType==1?'普通':'否定'}}</span>
                        <a href="javascript:;" ng-click="vm.extensionsByFrame.splice($index,1)" class="L mr-10" ><img src="../../../images/images/delete_img.png" alt="" ></a>
                        <!--<a href="javascript:;" class="L edit_a mr-10 mt-5" ng-click="vm.KnowledgeEdit()"></a>-->
                        <span class="L"><b>来源于:业务框架 </b> <span>{{item.source}}</span></span>
                    </div>
                </div>
            </div>
            <div class="jqrsz-item">
                <!--预览内容-->
                <div ng-repeat="item in vm.scanContent">
                    <div class="item-line">
                        <div class="lable"></div>
                        <div class="value">
                            <div class="ipt-txt-box clearfix">
                                <div class="textareaDiv textareaDiv1 textareaDiv2 L " >
                                <!--<textarea   readonly style="width: 100%;">-->
                                    {{item.knowledgeContent}}
                                <!--</textarea>-->
                                </div>
                                <!--<a href="javascript:;" ng-click="vm.scanContent.splice($index,1)" class=" mr-15" ><img src="../../../images/images/delete_img.png" alt=""></a>-->
                                <a href="javascript:;" ng-click="vm.scanContent.splice($index,1)" class="delete_a ml-10 L mt-20"></a>
                                <a href="javascript:;" class="edit_a L mt-20 ml-10" ng-click="vm.knowledgeAdd(vm.scanContent[$index])"></a>
                            </div>
                        </div>
                    </div>
                    <div class="item-line" id="item-line">
                        <div class="left"></div>
                        <div class="optionDiv">渠道：
                            <span ng-repeat="val in item.channelIdList">{{val | channel:vm.channels}}</span>
                        </div>
                    </div>
                    <div class="item-line" id="item-line">
                        <div class="left"></div>
                        <div class="optionDiv">
                            维度:
                            <span class="mr-10"  ng-repeat="val in item.dimensionIdList">{{val | dimension:vm.dimensions}}</span>
                        </div>
                    </div>
                </div>
                <div class="item-line" style="margin-top: 15px">
                    <div class="lable">
                        知识内容：
                    </div>
                    <div class="value">
                        <div class="ipt-txt-box">
                            <input class="addBth" ng-click="vm.knowledgeAdd()" type="button" value="+ 新增"/>
                            <i class="btn-empty"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="jqrsz-btn-box">
                <a class="btn btn-blue mr10" href="javascript:;" ng-click="vm.save()">保存</a>
                <a class="btn btn-gray" href="javascript:;" style="background: #2bcacc; color: #fff;" ng-click="vm.scan()">预览</a>
            </div>
        </div>
    </div>
</div>


<style>
    .container{
        background:#f8f8f8;
    }
    .ipt-txt{
        border: 1px  solid #e1e1e1;
    }
    .tag_box{width:356px;height:31px;overflow-y:auto;padding:2px;box-sizing:border-box;}

    .tag_s{display:inline-block;color: #46799b; background: #e0eaf1;border:1px solid #eee;height:25px;line-height:25px;padding:0 10px;margin-right:6px;}

</style>
<script>


</script>