<div class="pd-10 selectImage">
    <form class="form form-horizontal" >
        <div>
            <p class="tc mb-10" >请选择要上传的图片</p>
            <ul class="classic_head_ul clearfix" >
                <li>
                    <div style="width:88px;height:81px;overflow:hidden;margin-bottom: 5px;">
                        <img style="width: 100%;height: 100%;cursor:pointer;" src="../../../images/u1134.png" />
                    </div>
                    <p class="f14">图片1</p>
                </li>
                <li>
                    <div style="width:88px;height:81px;overflow:hidden;margin-bottom: 5px;">
                        <img style="width: 100%;height: 100%;cursor:pointer;" src="../../../images/u1134.png" />
                    </div>
                    <p class="f14">图片1</p>
                </li>
                <li>
                    <div style="width:88px;height:81px;overflow:hidden;margin-bottom: 5px;">
                        <img style="width: 100%;height: 100%;cursor:pointer;" src="../../../images/u1134.png" />
                    </div>
                    <p class="f14">图片1</p>
                </li>
                <li>
                    <div style="width:88px;height:81px;overflow:hidden;margin-bottom: 5px;">
                        <img style="width: 100%;height: 100%;cursor:pointer;" src="../../../images/u1134.png" />
                    </div>
                    <p class="f14">图片1</p>
                </li>
                <li>
                    <div style="width:88px;height:81px;overflow:hidden;margin-bottom: 5px;">
                        <img style="width: 100%;height: 100%;cursor:pointer;" src="../../../images/u1134.png" />
                    </div>
                    <p class="f14">图片1</p>
                </li>
                <li>
                    <div style="width:88px;height:81px;overflow:hidden;margin-bottom: 5px;">
                        <img style="width: 100%;height: 100%;cursor:pointer;" src="../../../images/u1134.png" />
                    </div>
                    <p class="f14">图片1</p>
                </li>
            </ul>

        </div>
        <div class="tc">分页</div>
        <div class="row cl">
            <div class="text-c">
                <button  class="btn1 btn1_blue mr-20" type="button" ng-click="closeThisDialog(1)"> 保存</button>
                <button  class="btn1 btn_gray" type="button" ng-click="closeThisDialog(0)"> 取消</button>
            </div>
        </div>
    </form>
</div>

