
<div class="pd-20" >
    <div>
        <h3 class="mb-20 tc">新增知识内容</h3>
        <div class="mb-20 ">
            <textarea  ng-model="vm.contentVal"  class="input_text" style="min-height: 100px;width:100%;"/>
            </textarea>
        </div>
        <div class="tc">
            <input type="submit" class="btn1 btn1_blue mr-15" ng-click="closeThisDialog(1)" value="确定"/>
            <input type="button" class="btn1 btn_gray" ng-click="closeThisDialog(0)" value="取消" />
        </div>
    </div>
</div>
<style>
    .ngdialog.ngdialog-theme-default .ngdialog-content{
        width:400px;
    }
</style>
<script>

</script>