<div class="pt-10 pb-10" ng-init="vm.userOldPassword='';vm.userPassword='';vm.userConfirmPassword=''">
    <form action="" method="post" name="myForm" class="form form-horizontal" novalidate>
        <div class="mb-10 cl">
            <label class="form-label col-xs-3">旧的密码：</label>
            <div class="formControls col-xs-9">
                <input name="userPassword" type="password" ng-model="vm.userOldPassword"  ng-pattern="/^[0-9a-zA-Z]+$/" class="input-text"  required/>
                <span style="color:red" ng-show="myForm.userPassword.$dirty && myForm.userOldPassword.$invalid">
                    <small ng-show="myForm.userPassword.$error.required">密码不能为空!</small>
                    <small ng-show="myForm.userPassword.$error.pattern">密码只可以是数字和字母组合!</small>
                </span>
            </div>
        </div>
        <div class="mb-10 cl">
            <label class="form-label col-xs-3">新密码：</label>
            <div class="formControls col-xs-9">
                <input name="userPassword" type="password" ng-model="vm.userPassword"  ng-pattern="/^[0-9a-zA-Z]+$/" class="input-text"  required/>
                <span style="color:red" ng-show="myForm.userPassword.$dirty && myForm.userPassword.$invalid">
                    <small ng-show="myForm.userPassword.$error.required">密码不能为空!</small>
                    <small ng-show="myForm.userPassword.$error.pattern">密码只可以是数字和字母组合!</small>
                </span>
            </div>
        </div>
        <div class="mb-10 cl">
            <label class="form-label col-xs-3">确认密码：</label>
            <div class="formControls col-xs-9">
                <input name="userConfirmPassword" type="password" ng-model="vm.userConfirmPassword" class="input-text" ng-minlength="1" required/>
                <span style="color:red" ng-show="myForm.userConfirmPassword.$valid ||  myForm.userConfirmPassword.$dirty">
                    <small ng-show="vm.userConfirmPassword!=vm.userPassword">密码不一致!</small>
                </span>
            </div>
        </div>

        <div class="tc">
            <button  class="btn btn-primary radius mr-10" type="button" ng-click="myForm.$valid ? closeThisDialog(1):''">保存</button>
            <button  class="btn btn-default radius" type="button"  ng-click="closeThisDialog(0)">取消</button>
        </div>
    </form>
</div>




