<div class="pt-10 pb-10">
    <form action="" method="post" name="myForm" class="form form-horizontal" novalidate>
        <div class="mb-10 cl">
            <label class="form-label col-xs-3 col-sm-2">姓名：</label>

            <div class="formControls col-xs-9 col-sm-9">
                <input name="userName" type="text" placeholder="显示在登录后的用户名称" ng-model="vm.userName" class="input-text" id="username" required>
                 <span style="color:red" ng-show="myForm.userName.$dirty && myForm.userName.$invalid">
                    <span ng-show="myForm.userName.$error.required">姓名不能为空!</span>
                </span>
            </div>
        </div>
        <div class="mb-10 cl">
            <label class="form-label col-xs-3 col-sm-2">登录名：</label>

            <div class="formControls col-xs-9 col-sm-9">
                <input name="userLoginName" type="text" placeholder=" 在登录页使用的登录名" ng-model="vm.userLoginName" class="input-text" id="name" required>
                <span style="color:red" ng-show="myForm.userLoginName.$dirty && myForm.userLoginName.$invalid">
                    <span ng-show="myForm.userLoginName.$error.required">登录名不能为空!</span>
                </span>
            </div>
        </div>
        <div class="mb-10 cl">
            <label class="form-label col-xs-3 col-sm-2">密码：</label>

            <div class="formControls col-xs-9 col-sm-9">
                <input name="userPassword" type="password" ng-model="vm.userPassword" class="input-text"  required/>
                <span style="color:red" ng-show="myForm.userPassword.$dirty && myForm.userPassword.$invalid">
                    <span ng-show="myForm.userPassword.$error.required">密码不能为空!</span>
                </span>
            </div>
        </div>
        <div class="mb-10 cl">
            <label class="form-label col-xs-3 col-sm-2">确认密码：</label>
            <div class="formControls col-xs-9 col-sm-9">
                <input name="userPassWord" type="password" ng-model="vm.userPassWord" class="input-text" ng-minlength="1" required/>
                 <span style="color:red" ng-show="(!myForm.userPassWord.$invalid)  ||  myForm.userPassWord.$dirty">
                    <span ng-show="vm.userPassWord!=vm.userPassword">密码不一致!</span>
                </span>
            </div>
        </div>
        <div class="mb-10 cl">
            <label class="form-label col-xs-3 col-sm-2">手机：</label>

            <div class="formControls col-xs-9 col-sm-9">
                <input name="phoneNumber" type="text" placeholder="123456356578" ng-model="vm.userPhoneNumber" class="input-text" id="phone_number" required />
                  <span style="color:red" ng-show="myForm.phoneNumber.$dirty && myForm.phoneNumber.$invalid">
                    <span ng-show="myForm.phoneNumber.$error.required">请输入手机号!</span>
                </span>
            </div>
        </div>
        <div class="mb-10 cl">
            <label class="form-label col-xs-3 col-sm-2">邮箱：</label>

            <div class="formControls col-xs-9 col-sm-9">
                <input name="userEmail" type="text" placeholder="123456@163.com" ng-model="vm.userEmail" class="input-text" id="email"
                        ng-pattern="/^[a-zA-Z0-9_-]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+$/" required />

                  <span style="color:red" ng-show="myForm.userEmail.$dirty && myForm.userEmail.$invalid">
                    <span ng-show="myForm.userEmail.$error.required">请输入邮箱!</span>
                </span>

                 <span style="color:red" ng-show="myForm.userEmail.$dirty && myForm.userEmail.$invalid">
                    <span ng-show="myForm.userEmail.$error.pattern">请输入正确的邮箱格式!</span>
                </span>
            </div>
        </div>
        <div class="mb-10 cl">
            <label class="form-label col-xs-3 col-sm-2">角色：</label>
            <div class="formControls col-xs-9 col-sm-9">
                <select class="input-text" id="role_id" ng-model="vm.roleId" ng-options="role.id as role.name for role in vm.roleList">
                </select>
            </div>
        </div>
        <div class="mb-10 cl">
            <label class="form-label col-xs-3 col-sm-2">所属应用：</label>
            <div class="formControls col-xs-9 col-sm-9" style="max-height:200px;overflow-y: auto;">
                <label  ng-repeat="item in vm.listApplication" ng-class="$first?mr-10:''" style="width:47%;display:inline-block;margin-right: 2%;">
                    <input  type="checkbox" ng-checked="vm.applicationIds.inArray(item.id)" ng-click="vm.applicationIds.inArray(item.id)?vm.applicationIds.remove(item.id):vm.applicationIds.push(item.id)"/>
                    {{item.name}}
                </label>
            </div>
        </div>
        <div class="tc">
            <button  class="btn btn-primary radius mr-10" type="button" ng-click="vm.verifyRelease()?closeThisDialog(1):''">保存</button>
            <button  class="btn btn-default radius" type="button"  ng-click="closeThisDialog(0)">取消</button>
        </div>
    </form>
</div>




