<div ui-view="header"></div>
<div class="main warp">
    <div class="page-lrcont210 clearfix bgwhite mt10">
        <div class="l-aside fl">
            <div class="aside-nav aside-nav2">
                <ul>
                    <li>
                        <a class="slide-a ellipsis" ui-sref=".user">
                            用户管理
                        </a>
                    </li>
                    <li>
                        <a class="slide-a ellipsis" ui-sref=".role">
                            角色管理
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div ui-view="content"></div>
    </div>
</div>






