<div class="wrap" style="width: auto;">
    <div class="p20" style="background:#fff;">
        <div class="bd p20" style="background:#fcfdfd;">
            <div class="mb-10 cl">
            	<span class="L">
                	<button  class="btn1 btn1_blue" ng-click="vm.addRole()"> 添加角色</button>
                </span>
            </div>
            <div class="cl">
                <div class="r">
                    <span class="c-999 pl-10">共有数据：<b >{{vm.paginationConf.totalItems}}</b> 条</span>
                </div>
            </div>
            <div class="mt-20">
                <table class="stop_word_tab" id="user_table">
                    <thead>
                    <tr>
                        <th class="bold" width="3%"><input class="selectAllBtn" type="checkbox" ng-click="vm.selectAll($event)" ng-checked="vm.selectAllCheck || (vm.deleteIds.length == vm.listData.length)"/></th>
                        <th class="bold" width="8%">角色名称</th>
                        <th class="bold" width="8%">角色描述</th>
                        <th class="bold" width="11%">创建时间</th>
                        <th class="bold" width="13%">修改人</th>
                        <th class="bold" width="15%">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in vm.roleListData">
                        <td><input type="checkbox" ng-checked="vm.selectAllCheck || vm.deleteIds.inArray(id)" ng-click="vm.selectSingle($event,item.userId)"/></td>
                        <td>{{item.name}}</td>
                        <td>{{item.description}}</td>
                        <td>{{item.lastModifiedDate | date : 'yyyy-MM-dd HH:mm:ss'}}</td>
                        <td>{{item.modifierName}}</td>
                        <td>
                            <a href="javascript:;" title="编辑" class="mr-10 c-orange" ng-click="vm.editRole(item)">编辑</a>
                            <a href="javascript:;" title="删除" class="mr-10 c-red" ng-click="vm.deleteRole(item.id)">删除</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <pagination ng-if="vm.paginationConf.totalItems && vm.paginationConf.totalItems>0" conf="vm.paginationConf"></pagination>
        </div>
    </div>
</div>




