<div class="wrap permission_user" style="width: auto;">
    <div class="p20" style="background:#fff;">
        <div class="text-c mb-20">
            <input type="text" placeholder="用户姓名" ng-model="vm.searchName" style="width:250px" class="input-text">
            <button class="btn1 btn1_blue" type="button"  ng-click="vm.queryUserList(vm.paginationConf.currentPage,vm.paginationConf.pageSize,1)">搜用户</button>
        </div>
        <div class="bd p20" style="background:#fcfdfd;">
            <div class="mb-10 cl">
            	<span class="L">
                	<button  class="btn1 btn1_blue" ng-click="vm.addUser()"> 添加用户</button>
                    <button  class="btn1 btn_delete" ng-click="vm.deleteUser(vm.deleteIds)"> 批量删除</button>
                </span>
            </div>
            <div class="cl">
                <div class="r">
                    <!--<span class="c-999 pl-10">共有数据：<strong id="user_total">3</strong> 条 </span>-->
                    <!--<span class="c-999 pl-10">共有数据：<b >{{vm.userDataTotal}}</b> 条</span>-->
                </div>
            </div>
            <div class="mt-20">
                <table class="stop_word_tab" id="user_table">
                    <thead>
                    <tr>
                        <th class="bold" width="3%"><input class="selectAllBtn" type="checkbox" ng-click="vm.deleteIds.length==vm.userListIds.length?vm.deleteIds=[]:vm.deleteIds=$parent.$parent.MASTER.selectAll(vm.userListIds,0)" ng-checked="(vm.deleteIds.length==vm.userListIds.length) && vm.userListIds.length!=0"/></th>
                        <th class="bold" width="8%">登录名</th>
                        <th class="bold" width="8%">姓名</th>
                        <th class="bold" width="11%">手机</th>
                        <th class="bold" width="13%">邮箱</th>
                        <th class="bold" width="8%">角色</th>
                        <th class="bold" width="15%">更新时间</th>
                        <!--<th class="bold" width="9%">状态</th>-->
                        <th class="bold" width="18%">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="user in vm.userList track by $index">
                        <!--<td>    {{item}}</td>-->
                        <td><input type="checkbox" ng-checked="vm.deleteIds.inArray(user.id)" ng-click="vm.deleteIds.inArray(user.id)?vm.deleteIds.remove(user.id):vm.deleteIds.push(user.id)"/></td>
                        <td>{{user.account}}</td>
                        <td>{{user.name}}</td>
                        <td>{{user.phone}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.roleName}}</td>
                        <td>{{user.lastModifiedDate | date : 'yyyy-MM-dd HH:mm:ss'}}</td>
                        <!--<td><span ng-repeat="application in user.applicationName[0].data">{{application.name}}<i ng-if="$index!=user.applicationName[0].data.length-1">,</i></span></td>-->
                        <!--<td>-->
                            <!--<span class="btn1 btn_green2" ng-if="user.status==1">已启用</span>-->
                            <!--<span class="btn1 btn_red" ng-if="user.status==0">未启用</span>-->
                        <!--</td>-->
                        <td>
                            <a href="javascript:;" class="mr-10 c-orange" ng-click="vm.changePassword(user.id,vm.userOlddPassword,vm.userPassword)">修改密码</a>
                            <a href="javascript:;"  class="mr-10 c-orange" ng-click="vm.addUser(user)">编辑</a>
                            <!--<span><a href="javascript:;"  class="mr-10 c-primary" ng-click="vm.changeStatus(user.id,user.status)" ng-bind="user.status==1?'停用':'启用'"></a></span>-->
                            <a href="javascript:;"  class="mr-10 c-red" ng-click="vm.deleteUser([user.id])">删除</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <pagination ng-if="vm.paginationConf.totalItems && vm.paginationConf.totalItems>0" conf="vm.paginationConf"></pagination>
        </div>
    </div>
</div>




