
<div class="pd-20" >
    <div class="framework mb-10 cl" style="min-height:25px;">
        <span class="framework_s text-r">备注：</span>
        <div class="">
            <input type="text" class="txt bd" ng-model="vm.remark2" style="width:200px;"/>
        </div>
    </div>
    <div class="framework mb-10 cl" style="min-height:25px;">
        <span class="framework_s text-r">选择服务：</span>
        <div class="">
            <select class="bd mr-30" style="height:30px;min-width: 50px" ng-model="vm.serviceId"  ng-options="service.id as service.name for service in vm.listService">
                <option value="" ng-if="vm.listService.length==0">应用下服务为空</option>
            </select>
        </div>
    </div>
    <div class="framework mb-10 cl" style="min-height:25px;">
        <span class="framework_s text-r">渠道：</span>
        <label class="mr-10"><input type="checkbox" ng-checked="vm.channel==131" ng-click="vm.selectChannel(131)" /> 微信</label>
        <label class="mr-10"><input type="checkbox" ng-checked="vm.channel==132" ng-click="vm.selectChannel(132)" /> web</label>
        <label class="mr-10"><input type="checkbox" ng-checked="vm.channel==133" ng-click="vm.selectChannel(133)" /> app</label>
    </div>
    <div class="text-c pt-10 pb-10">
        <input type="button" value="确定"  ng-click="vm.start2()"  class="btn1 btn1_blue mr-10"/>
        <input type="button" value="取消" ng-click="closeThisDialog(0)"  class="btn1 btn_gray"/>
    </div>
</div>

<script>

</script>





