<div class=" pt-20">
    <div class=" mb25 ">
        <div class=" p10 ">
             <div style="height:50px">
                <div class="framework mb-10" style="padding-left: 80px;">
                    <span class="framework_s text-r">标准问题：</span>
                    <div class="">
                        <input type="text" class="L input-text mr-10 extended_query_txt" value="{{vm.frameTitle}}" style="width:300px;"/>
                    </div>
                </div>
            </div>
            <div class="framework mb-10" style="padding-left: 80px;">
                <span class="framework_s text-r">启用：</span>
                <div >
                    <div ng-class="{1: 'open1 b_box', 0: 'close1 b_box'}[vm.frameEnableStatusId]" ng-click="vm.turnOn(vm.frameEnableStatusId,'frameEnableStatusId')" style="float:left;margin-right:10px;" class="b_box open1">
                        <div ng-class="{1: 'open2 s_box', 0: 'close2 s_box'}[vm.frameEnableStatusId]" class="s_box open2"></div>
                    </div>
                </div>
            </div>
            <div class="exten_problem" id="faq_extension">
                <div class="framework mb-10" style="padding-left: 80px;">
                    <span class="framework_s text-r">扩展问题：</span>
                    <div class="frameList">
                        <input type="text" ng-model="vm.content" onblur="add_ques()"  class="L input-text mr-10 extended_query_txt" style="width:450px;"/>
                    </div>
                </div>
            </div>

            <div class="framework mb-10 pt-10">
                <span class="framework_s text-r"></span>
                <div class="">
                    <input type="button" class="btn1 btn1_blue mr-20" ng-click="closeThisDialog(1)" value="保存"/>
                    <input type="button" class="btn1 btn_green" ng-click="closeThisDialog(0)" value="返回"/>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .ngdialog.ngdialog-theme-default .ngdialog-content {
        width:625px;
    }

</style>
<script>
    //添加扩展问
    function add_ques(){
        var oVal=$('.extended_query_txt').val();
        if(lengthCheck(oVal,0,255)==false){
            layer.msg("扩展问题不能为空或长度超过200")
            return;
        }
        var flag = true;
        if(oVal==""){
          $(this).remove();
           var str='<input type="text"  class="L input-text mr-10 extended_query_txt" style="width:450px;" >';
           $('.frameList').append(str);
        }
        var str='<input type="text"   class="L input-text mr-10 extended_query_txt" style="width:450px;" >';
        $('.frameList').append(str);
       
    }
    //删除扩展问
    function rem_ques(obj){
        $(obj).parent().parent().remove();
    }
</script>






