<div ui-view="header"></div>

<div class="main warp">
    <div class="libraryCnt">
        <div class="libraryFt pd-20 mr-20">
            <div class="tac libSearch">
                <div class="search-auto">
                    <input id="category-autocomplete" class="bd ipt-txt" type="text" style="width: 280px;">
                </div>
            </div>
            <h3 class="tc mb-20">资源BOT<i ng-click="vm.addBotLibrary()" style="display: inline-block;margin-left: 20px;cursor: pointer;"><img src="../../../images/images/add_img.png" alt=""></i></h3>
            <div class="item-line">
                <div class="value menu_1Div" id="menu_1Div">
                    <div class="ipt-txt-box">
                        <div id="library" class="aside-navs show"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="library_mid  L mr-20" >
            <div class="mb-20">
                <a href="javascript:;" class="right_arrow" ng-click="vm.applyCategory()"> >> >> </a>
            </div>
        </div>
        <div class="libraryFt pd-20">
            <h3 class="tc mb-20">场景BOT</h3>
            <div class="item-line">
                <div class="value menu_1Div">
                    <div class="ipt-txt-box">
                        <div id="category" class="aside-navs show" ></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<style>
    .libraryFt{width:480px;}
    .library_mid{width:200px;height:875px;background:#fff;padding:50px 20px;}
    .library_mid .sel{width:150px;height:30px;}
    .right_arrow,.left_arrow{width:150px;height:40px;border-radius:5px;background:#50bbeb;color:#fff;display:block;line-height:40px;text-align:center;}
</style>
