<div class="pd-10">
    <div>
        <p class="tc bold">确认删除节点/关系?</p>
        <p class="mt-20 mb-20 tc">删除节点/关系后，其所有子孙节点/关系与对应的框架库、知识库、BOT词库也将一并删除</p>
        <div class=" tc">
            <a class="btn btn-danger mr-20 namePopupClose" id="removeSure" href="javascript:;" ng-click="closeThisDialog(1)">删除</a>
            <a class="btn btn-gray namePopupClose" href="javascript:;" ng-click="closeThisDialog(0)">取消</a>
        </div>
    </div>
</div>
<style>
    .ngdialog.ngdialog-theme-default .ngdialog-content{
        width:350px;
    }
</style>
<script></script>