
<div class=" ">
    <p class="f16 tc mb-30 mt-30">请选择框架类型</p>
    <div class="tc mb-10">
        <input type="button" value="FAQ" ng-click="closeThisDialog(10011)"  class="btn1 btn1_blue mr-10"/>
        <input type="button" value="概念扩展" ng-click="closeThisDialog(10012)"  class="btn1 btn1_blue mr-10"/>
        <input type="button" value="要素" ng-click="closeThisDialog(10013)"  class="btn1 btn1_blue mr-10"/>
    </div>
</div>
<style>
    .ngdialog.ngdialog-theme-default .ngdialog-content{width:300px;}
</style>






