<!-- new markKnow  -->
<!--引导页头部遮罩-->
<div class="shadow_div dn" style="height:60px;" ></div>
<!--引导页头部遮罩end-->
<div class="wrap markKnow">
    <div class="content_wrap page-container" style="padding:0;">
        <div class="wrap mb30">
            <div class="content_box mb25 mt10">
                <div class="cl mb-20">
                    <div class="L">
                        <h3 class="f22 pl-10 mb15"  ng-bind="vm.knowledgeId?'富文本型知识编辑':'富文本型知识新增'"></h3>
                    </div>
                    <a href="javascript:;" class="c_green R" ng-click="vm.showTip();">使用帮助</a>
                </div>
                <div class=" pr">
                    <div class="pt30 pb30" style="border-bottom: 1px dashed #dadada;">
                        <div class="list_facContent mb-10">
                            <div class="list_facContent_L">知识标题：</div>
                            <div >
                                <input  type="text" class="bk-gray input-text " autofocus  placeholder="请输入标题" ng-model="vm.title" name="title" ng-focus="vm.titleTip=''" ng-minlength="1" ng-maxlength="1000" required  style="width:394px;"/>
                                <p class="c-error pd-5"  ng-if="vm.titleTip">{{vm.titleTip}}</p>
                            </div>
                        </div>

                        <!-- 时间-->
                        <span select-start-end-time="notDialog"></span>
                        <!--  bot -->
                        <span bot-class-tree="notDialog"></span>
                        <!-- 生成bot列表 -->
                        <div class="exten_problem"  ng-if="vm.creatSelectBot.length" ng-repeat="item in  vm.creatSelectBot">
                            <div class="list_facContent mb-10">
                                <div class="list_facContent_L">BOT路径：</div>
                                <div class=" clearfix" >
                                    <div class="ipt-txt-box L" style="width: 395px;border: 1px solid #e1e1e1;margin-right: 10px;">
                                        <div class="ipt-txt" style="overflow:hidden;line-height:24px;">
                                            <a title="{{item.className.join('/')}}">{{item.className.join("/")}}</a>
                                        </div>
                                    </div>
                                    <a href="javascript:;" class="L mr-10 mt-5" ><img src="../../../../images/images/delete_img.png" ng-click="vm.creatSelectBot.splice($index,1)" alt=""></a>
                                </div>
                            </div>
                        </div>
                        <div class="list_facContent mb-10">
                            <div class="list_facContent_L">业务框架：</div>
                            <div >
                                <select class="input-text" style="width:395px;"  ng-model="vm.frameId" ng-options="frame.frameId as frame.frameTitle for frame in vm.frames">
                                    <option value="" ng-if="vm.frames.length">--请选择以上业务框架--</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="list_facContent" style="padding-top:30px;padding-bottom:30px;border-bottom: 1px dashed #dadada;">
                        <div class="list_facContent_L" style="top:30px;">知识内容: &nbsp;</div>
                        <!--预览内容-->
                        <div ng-repeat="(index,item) in vm.scanContent track by $index">
                            <div class="item-line">
                                <div class="lable" style="padding-right:10px;box-sizing:border-box;">
                                    内容{{index+1}}:
                                </div>
                                <div class="value">
                                    <div class="ipt-txt-box clearfix">
                                        <div class="textareaDiv textareaDiv1 textareaDiv2 L ">
                                            <p ng-if="item.knowledgeContentNegative == 113" ng-bind-html="item.knowledgeContent | toHtml"></p>
                                            <div ng-if="item.knowledgeContentNegative == 112" style="text-align: center">
                                                <p>语音名称：{{item.knowledgeContentDetail.name}}</p>
                                                <p><img src="/images/audio_pic1.png" title="{{item.knowledgeContentDetail.name}}" style="width: 120px;height: 80px;margin-top: 10px;" alt=""/></p>
                                            </div>
                                            <div ng-if="item.knowledgeContentNegative == 111" style="text-align: center">
                                                <p>图片名称：{{item.knowledgeContentDetail.name}}</p>
                                                <p><img ng-src="/img/{{item.knowledgeContent}}" title="{{item.knowledgeContentDetail.name}}" style="width: 120px;height: 80px;margin-top: 10px;" alt=""/></p>
                                            </div>
                                            <div ng-if="item.knowledgeContentNegative == 114" style="text-align: center">
                                              <p>图文标题：{{item.knowledgeContentDetail.name}}</p>
                                              <p><img ng-src="/img/{{item.knowledgeContentDetail.url}}" title="{{item.knowledgeContentDetail.name}}" style="width: 120px;height: 80px;margin-top: 10px;" alt=""/></p>

                                           </div>
                                        </div>
                                        <a href="javascript:;" ng-click="vm.scanContent.splice($index,1)" class="delete_a ml-10 L mt-20"></a>
                                        <a href="javascript:;" class="edit_a L mt-20 ml-10" ng-click="vm.knowledgeAdd(vm.scanContent[$index],$index)"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="item-line item_line">
                                <div class="optionDiv">渠道：
                                    <span class="mr-10" ng-repeat="val in item.channelIdList track by $index">{{val | channel:$parent.$parent.MASTER.channelList}}</span>
                                </div>
                            </div>
                            <div class="item-line item_line" >
                                <div class="optionDiv">维度:
                                    <span style="margin: 0 4px;" ng-repeat="val in item.dimensionIdList track by $index">{{val | dimension:vm.dimensions}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="item-line">
                            <div class="value">
                                <div class="ipt-txt-box">
                                    <input class="addBth" ng-click="vm.knowledgeAdd('',(vm.scanContent.length)?(vm.scanContent.length):0)"  type="button" value="+ 新增"/>
                                    <i class="btn-empty"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div  style="padding-top:30px;padding-bottom:30px;">
                        <span concept-extension="notDialog" tag="true" api="queryRichTextExtension"></span>
                        <!--手动添加-->
                        <div class="exten_problem"  style="overflow: visible" ng-repeat="(itemIndex,item) in vm.extensions track by $index">
                            <div class="list_facContent mb-10">
                                <div class="list_facContent_L">概念扩展：</div>
                                <div >
                                    <div class="L extended_query_txt" style="width:345px;height:35px;border:0;overflow-x: auto;" >
                                        <!--{{item.extensionQuestionTagList}}-->
                                           <span ng-repeat="val in item.extensionQuestionTagList track by $index" ng-class="{' tag_item':true , ' tagExistFalse':!val.exist}">
                                                {{val.tagName}}
                                            </span>
                                        <!--{{item.extensionQuestionTitle}}-->
                                    </div>
                                    <span class="tag_s mr-10 L" style="background: #e0eaf1;border: 1px solid #eee;height: 25px;line-height: 25px;padding: 0 10px;text-align: center;">{{item.extensionQuestionType==60?'普通':'否定'}}</span>
                                    <a href="javascript:;" ng-click="$parent.knowCtr.rmeoveExtToLocal(vm.knowledgeId,'cust_list_ext',item);vm.extensions.splice($index,1);" class="L mr-10" ><img src="../../../../images/images/delete_img.png" alt="" ></a>
                                    <span class="L"><b>来源于: </b> <span>{{item.extensionQuestionTitle}}</span></span>
                                </div>
                            </div>
                        </div>
                        <!-- 業務框架 生成 -->
                        <div class="exten_problem"  ng-repeat="(itemIndex,item) in vm.extensionsByFrame">
                            <div class="list_facContent mb-10">
                                <div class="list_facContent_L">概念扩展：</div>
                                <div>
                                    <div class="L extended_query_txt" style="width:345px;height:35px;border:0;overflow-x: auto" >
                                       <span ng-repeat="val in item.extensionQuestionTagList" ng-class="{' tag_item':true , ' tagExistFalse':!val.exist}">
                                            {{val.tagName}}
                                        </span>
                                    </div>
                                    <span class="tag_s mr-10 L" style="background: #e0eaf1;border: 1px solid #eee;height: 25px;line-height: 25px;padding: 0 10px;text-align: center;">{{item.extensionQuestionType==60?'普通':'否定'}}</span>
                                    <a href="javascript:;" ng-click="$parent.knowCtr.rmeoveExtToLocal(vm.knowledgeId,'cust_list_ext',item);vm.extensions.splice($index,1);" class="L mr-10" ><img src="../../../../images/images/delete_img.png" alt="" ></a>
                                    <span class="L"><b>来源于: </b> <span>{{item.extensionQuestionTitle}}</span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="list_facContent " style="margin-bottom:80px;">
                        <div class="list_facContent_L"></div>
                        <div >
                            <input type="button" class="btn1 btn1_blue mr-20" ng-disabled="vm.limitSave"  ng-click="vm.save(vm.knowledgeId?'updateRichTextKnow':'storeRichTextKnow')" value="保存"/>
                            <input type="button" class="btn1 btn_green" value="预览" ng-click="vm.scan(vm.knowledgeId?'updateRichTextKnow':'storeRichTextKnow')"/>
                        </div>
                    </div>
                    <!--引导-->
                    <div class="shadow_div dn" ></div>
                    <div class="step_div " >
                        <div class="step_one dn" id="step_one" >
                            <div class="step_one_s">1</div>
                            <div class="step_one_arrow"></div>
                            <div class="step_one_con">
                                <p>知识标题：您只需要填写这个知识的标准的提问方式，然后点击后面的生成按钮，系统会自动生成BOT路径哦~
                                </p>
                                <div class="tr introjs-tooltipbuttons">
                                    <button  class="introjs-button introjs-skip" ng-click="vm.hideTip()">跳出</button>
                                    <button  disabled class="c-999 introjs-button introjs-prev" ng-click="vm.prevDiv($event)">上一步</button>
                                    <button  class="introjs-button introjs-next" ng-click="vm.nextDiv($event)">下一步</button>
                                </div>
                            </div>
                        </div>
                        <div class="step_one step_two dn" id="step_two">
                            <div class="step_one_s">2</div>
                            <div class="step_one_arrow"></div>
                            <div class="step_one_con">
                                <p>BOT:除了自动生成的BOT路径，您还可以点击选择按钮选择您所希望的BOT类目路径。选好了别忘了点击后面的加号，路径可以添加多个哦~
                                </p>
                                <div class="tr introjs-tooltipbuttons">
                                    <button  class="introjs-button introjs-skip" ng-click="vm.hideTip()">跳出</button>
                                    <button  class="introjs-button introjs-prev" ng-click="vm.prevDiv($event)">上一步</button>
                                    <button  class="introjs-button introjs-next" ng-click="vm.nextDiv($event)">下一步</button>
                                </div>
                            </div>
                        </div>
                        <div class="step_one step_three dn" id="step_three">
                            <div class="step_one_s">3</div>
                            <div class="step_one_arrow"></div>
                            <div class="step_one_con">
                                <p>业务框架：选择完毕路径之后，我们根据目前所选择的BOT，为您列出符合要求的业务框架，您可以选择对应的业务框架以节省编写扩展问的时间。业务框架可以添加多个哦~
                                </p>
                                <div class="tr introjs-tooltipbuttons">
                                    <button  class="introjs-button introjs-skip" ng-click="vm.hideTip()">跳出</button>
                                    <button  class="introjs-button introjs-prev" ng-click="vm.prevDiv($event)">上一步</button>
                                    <button  class="introjs-button introjs-next" ng-click="vm.nextDiv($event)">下一步</button>
                                </div>
                            </div>
                        </div>
                        <div class="step_one step_four dn" id="step_four">
                            <div class="step_one_s">4</div>
                            <div class="step_one_arrow"></div>
                            <div class="step_one_con">
                                <p>知识内容：知识内容就是答案，可以根据渠道维度的不同填写多个哦!
                                </p>
                                <div class="tr introjs-tooltipbuttons">
                                    <button  class="introjs-button introjs-skip" ng-click="vm.hideTip()">跳出</button>
                                    <button  class="introjs-button introjs-prev" ng-click="vm.prevDiv($event)">上一步</button>
                                    <button  class="introjs-button introjs-next" ng-click="vm.nextDiv($event)">下一步</button>
                                </div>
                            </div>
                        </div>
                        <div class="step_one step_five dn" id="step_five">
                            <div class="step_one_s">5</div>
                            <div class="step_one_arrow"></div>
                            <div class="step_one_con">
                                <p>扩展问题：您可以自行填写扩展问题，应对问题的多样化.
                                </p>
                                <div class="tr introjs-tooltipbuttons">
                                    <button  class="introjs-button introjs-skip" ng-click="vm.hideTip()">跳出</button>
                                    <button  class="introjs-button introjs-prev" ng-click="vm.prevDiv($event)">上一步</button>
                                    <button  class="introjs-button introjs-next" ng-click="vm.nextDiv($event)">下一步</button>
                                </div>
                            </div>
                        </div>

                        <div class="step_one step_seven dn" id="step_seven">
                            <div class="step_one_s">6</div>
                            <div class="step_one_arrow"></div>
                            <div class="step_one_con">
                                <p>最后一步：编辑完知识可以选择预览，或者保存，就可以啦!
                                </p>
                                <div class="tr introjs-tooltipbuttons">
                                    <button  class="introjs-button introjs-skip" ng-click="vm.hideTip()">完成</button>
                                    <button  class="introjs-button introjs-prev" ng-click="vm.prevDiv($event)">上一步</button>
                                    <button  disabled class="c-999 introjs-button introjs-next" ng-click="vm.nextDiv($event)">下一步</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--引导end-->
                </div>
            </div>
        </div>
    </div>
</div>
