<div class="knowledge_edit">
    <div class="base_info">
        <div class="clearfix" style="border-bottom:1px solid #e5e5e5;padding-bottom:18px">
            <div class="L">
                <span class="f16"><span class="bold">基本信息栏</span><span style="color:#666;margin-left:16px"></span></span>
            </div>
            <!--<div class="R">-->
                <!--<a href="javascript:void(0)" class="f15" style="color:#3e91e7">更换模板</a>-->
            <!--</div>-->
        </div>
        <div style="padding:18px 0 0 56px" class="clearfix">
            <span>版本 : <input type="text" ng-model="knowItem.version" style="width:130px;height:30px;" readonly="true" /></span>
            <span class="R" style="margin-right:80px">更新时间 : <input type="text" ng-model="knowItem.utime" style="width:130px;height:30px;" readonly="true" /></span>
        </div>
    </div>
    <div class="base_info" style="height:148px;margin-top:20px">
        <div class="clearfix" style="border-bottom:1px solid #e5e5e5;padding-bottom:18px">
            <span class="f16 bold">标题</span>
        </div>
        <p style="margin-top:20px">
            <textarea class="tit_textarea" ng-model="knowItem.title" ></textarea>
        </p>
    </div>
    <div class="base_info" style="height:auto;margin-top:20px">
        <div class="clearfix" style="border-bottom:1px solid #e5e5e5;padding-bottom:18px">
            <span class="f16 bold">内容</span>
        </div>
        <div class="ueditor lc_content" ng-model="knowItem.content" knowid="knowItemId"></div>
    </div>

    <p class="lc_btn">
        <input type="button" value="保存" ng-click="updateKnowItem()"/>
        <input ng-if="pIdFlg && editFlg" type="button" value="发起流程" ng-click="startWorkflow()"/>
    </p>
</div>



