<!--主体-->
<div class="main bgGray">
    <div class="warp">

        <div class="hv-cont bgWhite mt20 mb30">
            <div class="hd">
                <h3>历史版本</h3>
            </div>
            <div class="bd mb30">
                <table class="bddb-table">
                    <thead>
                    <tr>
                        <td width="100px">
                            <a href="javascript:;" >
                                <img src="images/pic-bbdb.jpg" ng-click="exitCompare()"/>
                            </a>
                        </td>
                        <td width="150px">
                            更新时间
                        </td>
                        <td width="150px">
                            版本号
                        </td>
                        <td>
                            知识标题
                        </td>
                        <td width="150px">
                            创建人
                        </td>
                        <td width="150px">
                            创建时间
                        </td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="knowItem in knowItemList">
                        <td align="center">
                            <div class="my-checkbox my-checkbox3" version-compare-row>
                                <label version-compare-combo="" ng-click="toCompare(knowItem.id)"></label>
                            </div>
                        </td>
                        <td align="center" ng-bind="knowItem.utime | date:'yyyy-MM-dd'">
                        </td>
                        <td align="center" ng-bind="knowItem.version">
                        </td>
                        <td>
                            <div class="td-title ellipsis" ng-bind="knowItem.title">
                            </div>
                        </td>
                        <td align="center" ng-bind="knowItem.userName">
                            admin
                        </td>
                        <td align="center" ng-bind="knowItem.ctime | date:'yyyy-MM-dd'">
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

</div>
<!--end 主体-->