<div class="i-nav">
    <div class="i-img-box i-img1">
        <a  ui-sref="knowledgeManagement.customKnowledge" ng-if="vm.sceneId==2">
            <div class="psa" >
                <strong>营销场景知识管理</strong>
                <p>可以针对营销场景内容的知识进行管理</p>
            </div>
        </a>
        <a ui-sref="knowledgeManagement.faqAdd" ng-if="vm.sceneId==1">
            <div class="psa" >
                <strong>客服场景知识管理</strong>
                <p>可以针对客服场景内容的知识进行管理</p>
            </div>
        </a>
    </div>
    <div class="i-img-box i-img2">
        <a ui-sref="relationalCatalog.manage">
            <div class="psa">
                <strong>业务建模</strong>
                <p>针对概念，业务分类进行继承复用以及上传</p>
            </div>
        </a>
    </div>
    <div class="i-img-box i-img3">
        <a ui-sref="functionalTest.questionTest">
            <strong class="psa1">测试功能</strong>
            <p class="psa2">可以上传不同的富文本内容</p>
        </a>
    </div>
    <div class="i-img-box i-img4">
        <a ui-sref="materialManagement.chatKnowledgeBase">
            <strong class="psa1">素材管理</strong>
            <p class="psa2">可以上传不同的富文本内容</p>
        </a>
    </div>
    <div class="i-img-box i-img5">
        <a href="#">
            <div class="psa">
                <strong>知识自动加工</strong>
                <p>针对不同格式的知识，生成结构化知识的体系</p>
            </div>
        </a>
    </div>
</div>
<style>
    html,body{height: 100%; position: relative;}
    body{background: url(../../images/images/index-bg.jpg) no-repeat center; background-size: cover;}
    .i-nav{ transform-style: preserve-3d; perspective:800px; position: absolute; left: 50%; top: 50%; width: 870px; height: 490px; margin-left: -435px; margin-top: -215px;}
    .i-img-box {float: left; position: relative;}
    .i-img-box a{ display: block; width: 100%; height: 100%; position: absolute; left: 0; top: 0; transition: transform 0.1s;}
    .i-img-box strong{padding:  0 22px; font-size: 30px; color: #fff; font-weight: normal;}
    .i-img-box p{padding:  0 22px; font-size: 16px; color: #fff;}
    .i-img-box a:hover{ transform: scale(1.05);  z-index: 999;box-shadow: 0px 0px 4px 0px #000; }
    .i-img1{width: 368px; height: 100%;}
    .i-img1 .psa{ position: absolute; bottom:20px;}
    .i-img1 a{background: url(../../images/images/i-img1.jpg) no-repeat center; background-size: 100% 100%;}
    .i-img2{width: 329px; height: 245px; }
    .i-img2 .psa{position: absolute; top:20px;}
    .i-img2 a{background: url(../../images/images/i-img2.jpg) no-repeat center; background-size: 100% 100%;}
    .i-img3{width: 173px; height: 245px; }
    .i-img3 .psa1{position: absolute; top:20px; color: #000;}
    .i-img3 .psa2{position: absolute; bottom:20px; color: #000;}
    .i-img3 a{background: url(../../images/images/i-img3.png) no-repeat center #fff;}
    .i-img4{width: 173px; height: 245px; }
    .i-img4 .psa1{position: absolute; top:20px; color: #000;}
    .i-img4 .psa2{position: absolute; bottom:20px; color: #000;}
    .i-img4 a{background: url(../../images/images/i-img4.jpg) no-repeat center #fff;}
    .i-img5{width: 329px; height: 245px; }
    .i-img5 .psa{position: absolute; top:20px;}
    .i-img5 a{background: url(../../images/images/i-img5.jpg) no-repeat center; background-size: 100% 100%;}

</style>