<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
<meta http-equiv="Cache-Control" content="no-siteapp">

<!--[if lt IE 9]>
	<link href="../css/H-ui.ie.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="../lib/html5.js"></script>
	<script type="text/javascript" src="../lib/respond.min.js"></script>
	<script type="text/javascript" src="../js/PIE_IE678.js"></script>
	<![endif]-->
<link rel="stylesheet" type="text/css" href="../css/H-ui.min.css">
<link rel="stylesheet" type="text/css" href="../css/H-ui.admin.css">

<link rel="stylesheet" type="text/css" href="../css/common2.css">
<link rel="stylesheet" type="text/css" href="../css/style1.css">
<link rel="stylesheet" type="text/css" href="../css/style.css">


<!--[if IE 6]>
	<script type="text/javascript" src="../lib/DD_belatedPNG_0.0.8a-min.js"></script>
	<script>DD_belatedPNG.fix('*');</script>
	<![endif]-->
<title>素材管理-上传文档</title>
<meta name="keywords" content="">
<meta name="description" content="">
<link rel="stylesheet" href="../css/layer.css" id="layui_layer_skinlayercss">
<link rel="stylesheet" href="../js/skin/WdatePicker.css">
</head>

<body >
<div class="wrap" >
    <!-- 未分组id-->
    <input id="defaultGroupingid" type="hidden">
    <div class="titlt mb10 clearfix">
    	<span class="L">
            <img src="../images/home.png">
            <a href="javascript:;" onclick="parent.window.parentMethod();">首页</a>>素材管理>文档库
        </span>
        <a href="javascript:;" class="R" onclick="window.location.reload();">
            <img src="../images/refresh.png">
        </a>
    </div>
    <div class="p30" style="background:#fff;box-sizing:border-box;">
        <form class="form form-horizontal">
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2">文档标题：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" id="titleId" placeholder=" 请输入文档标题" class="input-text" style="width:260px;"/>
                </div>
            </div>			
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2">文档分类：</label>
                <div class="formControls col-xs-8 col-sm-9 pr upload_doc_div">                
                    <p class="upload_doc_p bd" onclick="$on(this)"  >请选择</p>
                    <ul class="upload_doc_ul bd" id="upload_doc_ulId"  >
                    </ul>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2">文档上传：</label>
                <div class="formControls col-xs-8 col-sm-9 ">
                    <div class="bk-gray pd-20">
                        <div onclick="add_popup('选择文件','document_library_upload.html','510','400')" class="p-10 mb-20" style="width:100px;height:100px;background:url(../images/upload_box.png) no-repeat;" id="showfileImgeId">
                        </div>
                        <span id="filename"></span>
                      <input type="hidden" id="fileUrlId">
                    </div>
                </div>
            </div>
            <div class="row cl">
                <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2 tc">
                    <button class="btn1" type="button" onclick="submitOn()"> 提交</button>
                </div>
            </div>
        </form>
	</div>   
</div>
<script type="text/javascript" src="../js/jquery.min.js"></script>
<script src="../js/common.js"></script>
<script type="text/javascript" src="../js/layer.js"></script>
<script type="text/javascript" src="../js/H-ui.js"></script>
<script type="text/javascript" src="../js/H-ui.admin.js"></script>
<script src="../js/WdatePicker.js" type="text/javascript"></script>

<script type="text/javascript">
   
    
    //弹窗
	function add_popup(title,url,w,h){
        
		layer_show(title,url,w,h);
	}

	/*用户-删除*/
	function member_del(obj,id){
		layer.confirm('确认要删除吗？');
	}
	
</script>
</body>
</html>
