<!--引导页头部遮罩-->
<div class="shadow_div dn" style="height:60px;" ></div>
<!--引导页头部遮罩end-->
<div class="wrap knowledgeFactor">
    <div class="content_wrap page-container" style="padding:0;">
        <div class="wrap mb30">
            <div class="content_box mb25 mt10">
                <div class="cl mb-20">
                    <div class="L">
                        <h3 class="f22 pl-10 mb15" ng-if="!vm.knowledgeId">任务知识新增</h3>
                        <h3 class="f22 pl-10 mb15" ng-if="vm.knowledgeId">任务知识编辑</h3>
                    </div>
                    <a href="javascript:;" class="c_green R" ng-click="$parent.knowCtr.introduction.showTip();">使用帮助</a>
                </div>
                <div class="pr">
                    <div class="list_facContent mb-10">
                        <div class="list_facContent_L">知识标题：</div>
                        <div >
                            <input  type="text" class="bk-gray input-text " autofocus placeholder="请输入标题" ng-model="parameter.title" name="title" ng-focus="vm.titleTip=''" ng-minlength="1" ng-maxlength="1000" required  style="width:394px;"/>
                            <p class="c-error pd-5"  ng-if="vm.titleTip">{{vm.titleTip}}</p>
                        </div>
                    </div>
                    <!-- 时间-->
                    <span select-start-end-time="notDialog"></span>
                    <!--  bot -->
                    <span bot-class-tree="notDialog"></span>
                    <div class="exten_problem" ng-repeat="item in parameter.classifyList track by $index">
                        <div class="list_facContent mb-10">
                            <div class="list_facContent_L">BOT路径：</div>
                            <div class=" clearfix" >
                                <div class="ipt-txt-box L" style="width: 394px;border: 1px solid #e1e1e1;margin-right:10px;">
                                    <div class="ipt-txt" style="overflow:hidden;line-height:24px;">
                                        <a title="{{item.value}}">{{item.value}}</a>
                                    </div>
                                </div>
                                <a href="javascript:;" class="L mr-10 mt-5" ><img src="../../../../images/images/delete_img.png" ng-click="parameter.classifyList.splice($index,1)" alt=""></a>
                            </div>
                        </div>
                    </div>
                    <div class="list_facContent mb-10">
                        <div class="list_facContent_L">用户问法：</div>
                        <div style="padding-top: 5px;">
                            <!--不知道怎么写扩展问？试试套用<a class="c_blue" ng-click="vm.showFrame(this)">业务框架</a>吧-->
                            <p ng-repeat="ext in parameter.extensionQuestionList track by $index" style="width: 410px;position: relative">
                                <input class="ipt-txt bd" style="width:407px;height:32px;" type="text"
                                       ng-model="ext.title" ng-change="parameter.extensionQuestionList[$index].title=ext.title" ng-keydown="$parent.knowCtr.skipNewLine(this,$event,$index)"
                                       ng-blur="$parent.knowCtr.extensionUnique(parameter.extensionQuestionList)"
                                >
                                <span style="position:absolute;right: 8px;top: 8px;display: inline-block;width: 16px;height:16px;background: url('images/detel.png')"
                                      ng-click="$parent.knowCtr.removeExtention(this,$index)"
                                ></span>
                            </p>
                        </div>
                    </div>
                    <div class="list_facContent mb-10">
                        <div class="list_facContent_L"></div>
                        <div>

                        </div>
                    </div>
                    <div class="list_facContent mb-50">
                        <div class="list_facContent_L">知识内容: &nbsp;</div>
                        <div >
                            <div class="clearfix mb-10">
                                <span uploader-factor server="'api/elementKnowledgeAdd/upload'"  is-auto="'true'" table-list="vm.tableList"></span>
                                <div class="essential_factor_div bd mt-10">
                                    <div class="mb-10">
                                        <a href="javascript:;" class="add_l ine mr-10" ng-click="vm.addRow()"><img src="../images/ys_img1.png"/></a>
                                        <a href="javascript:;" class="delete_line mr-10" ng-click="vm.tableRemove(1)"><img src="../images/ys_img2.png"/></a>
                                        <a href="javascript:;" class="add_column mr-10"  ng-click="vm.editColumn();"><img src="../images/ys_img3.png"/></a>
                                        <a href="javascript:;" class="delete_column"  ng-click="vm.tableRemove(2)"><img src="../images/ys_img4.png"/></a>
                                    </div>
                                    <div>
                                        <!--{{parameter.contents}}{{parameter.slotList}}-->
                                        <table class="essential_factor_tab">
                                            <tr ng-repeat="(indexRow,row) in parameter.contents track by $index">
                                                <td ng-repeat="(indexColumn,item) in row.content track by $index" ng-click="vm.tableRow=indexRow;vm.tableColumn=indexColumn">
                                                    <!--{{item}}-->
                                                    <textarea ng-if="indexRow==0" ng-model="item" value=""  ng-disabled="indexColumn==0"  ng-click="indexColumn==0?'':vm.editColumn(indexColumn);" style="width:100%;height:19px;background:inherit;cursor:pointer;border: 0;">{{item}}</textarea>
                                                    <textarea  ng-if="indexRow!=0" ng-model="item" value="" ng-change="parameter.contents[indexRow].content[indexColumn]=item" style="width:100%;border: 0;">{{item}}</textarea>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                    </div>
                    <div class="list_facContent " style="margin-bottom:80px;">
                        <div class="list_facContent_L"></div>
                        <div>
                            <input type="button" class="btn1 btn1_blue mr-20" value="预览" ng-click="vm.scan()"/>
                            <input type="button" class="btn1 btn_green"  ng-click="vm.save()" value="保存"/>
                        </div>
                    </div>
                    <!--引导-->
                    <div class="shadow_div dn" ></div>
                    <div class="step_div " >
                        <div class="step_one dn" id="step_one" >
                            <div class="step_one_s">1</div>
                            <div class="step_one_arrow"></div>
                            <div class="step_one_con">
                                <p>知识标题：您需要填写这个知识的标准的提问方式哦~</p>
                                <div class="tr introjs-tooltipbuttons">
                                    <button  class="introjs-button introjs-skip" ng-click="$parent.knowCtr.introduction.hideTip()">跳出</button>
                                    <button  disabled class="c-999 introjs-button introjs-prev" ng-click="$parent.knowCtr.introduction.prevDiv($event)">上一步</button>
                                    <button  class="introjs-button introjs-next" ng-click="$parent.knowCtr.introduction.nextDiv($event)">下一步</button>
                                </div>
                            </div>
                        </div>
                        <div class="step_one step_two dn" id="step_two">
                            <div class="step_one_s">2</div>
                            <div class="step_one_arrow"></div>
                            <div class="step_one_con">
                                <p>BOT:除了自动生成的BOT路径，您还可以点击选择按钮选择您所希望的BOT类目路径。选好了别忘了点击后面的加号，路径可以添加多个哦~</p>
                                <div class="tr introjs-tooltipbuttons">
                                    <button  class="introjs-button introjs-skip" ng-click="$parent.knowCtr.introduction.hideTip()">跳出</button>
                                    <button  class="introjs-button introjs-prev" ng-click="$parent.knowCtr.introduction.prevDiv($event)">上一步</button>
                                    <button  class="introjs-button introjs-next" ng-click="$parent.knowCtr.introduction.nextDiv($event)">下一步</button>
                                </div>
                            </div>
                        </div>
                        <div class="step_one step_three dn" id="step_three">
                            <div class="step_one_s">3</div>
                            <div class="step_one_arrow"></div>
                            <div class="step_one_con">
                                <p>业务框架：选择完毕路径之后，我们根据目前所选择的BOT，为您列出符合要求的业务框架，您可以选择对应的业务框架以节省编写扩展问的时间。业务框架可以添加多个哦~</p>
                                <div class="tr introjs-tooltipbuttons">
                                    <button  class="introjs-button introjs-skip" ng-click="$parent.knowCtr.introduction.hideTip()">跳出</button>
                                    <button  class="introjs-button introjs-prev" ng-click="$parent.knowCtr.introduction.prevDiv($event)">上一步</button>
                                    <button  class="introjs-button introjs-next" ng-click="$parent.knowCtr.introduction.nextDiv($event)">下一步</button>
                                </div>
                            </div>
                        </div>
                        <div class="step_one step_four dn" id="step_four">
                            <div class="step_one_s">4</div>
                            <div class="step_one_arrow"></div>
                            <div class="step_one_con">
                                <p>扩展问题：您可以自行填写扩展问题，应对问题的多样化.
                                </p>
                                <div class="tr introjs-tooltipbuttons">
                                    <button  class="introjs-button introjs-skip" ng-click="$parent.knowCtr.introduction.hideTip()">跳出</button>
                                    <button  class="introjs-button introjs-prev" ng-click="$parent.knowCtr.introduction.prevDiv($event)">上一步</button>
                                    <button  class="introjs-button introjs-next" ng-click="$parent.knowCtr.introduction.nextDiv($event)">下一步</button>
                                </div>
                            </div>
                        </div>
                        <div class="step_one step_five dn" id="step_five">
                            <div class="step_one_s">5</div>
                            <div class="step_one_arrow"></div>
                            <div class="step_one_con">
                                <p>知识内容：知识内容就是答案，可以根据渠道维度的不同填写多个哦!
                                </p>
                                <div class="tr introjs-tooltipbuttons">
                                    <button  class="introjs-button introjs-skip" ng-click="$parent.knowCtr.introduction.hideTip()">跳出</button>
                                    <button  class="introjs-button introjs-prev" ng-click="$parent.knowCtr.introduction.prevDiv($event)">上一步</button>
                                    <button  class="introjs-button introjs-next" ng-click="$parent.knowCtr.introduction.nextDiv($event)">下一步</button>
                                </div>
                            </div>
                        </div>
                        <div class="step_one step_six dn" id="step_six">
                            <div class="step_one_s">6</div>
                            <div class="step_one_arrow"></div>
                            <div class="step_one_con">
                                <p>渠道维度：渠道和维度的组合是不可以重复的，添加时一定要注意哦!
                                </p>
                                <div class="tr introjs-tooltipbuttons">
                                    <button  class="introjs-button introjs-skip" ng-click="$parent.knowCtr.introduction.hideTip()">跳出</button>
                                    <button  class="introjs-button introjs-prev" ng-click="$parent.knowCtr.introduction.prevDiv($event)">上一步</button>
                                    <button  class="introjs-button introjs-next" ng-click="$parent.knowCtr.introduction.nextDiv($event)">下一步</button>
                                </div>
                            </div>
                        </div>
                        <div class="step_one step_seven dn" id="step_seven">
                            <div class="step_one_s">7</div>
                            <div class="step_one_arrow"></div>
                            <div class="step_one_con">
                                <p>最后一步：编辑完知识可以选择预览，或者保存，就可以啦!
                                </p>
                                <div class="tr introjs-tooltipbuttons">
                                    <button  class="introjs-button introjs-skip" ng-click="$parent.knowCtr.introduction.hideTip()">完成</button>
                                    <button  class="introjs-button introjs-prev" ng-click="$parent.knowCtr.introduction.prevDiv($event)">上一步</button>
                                    <button  disabled class="c-999 introjs-button introjs-next" ng-click="$parent.knowCtr.introduction.nextDiv($event)">下一步</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--引导end-->
                </div>
            </div>
        </div>
    </div>
    </div>
</div>


