<!--<div ui-view="header"></div>-->

<div class="main warp">

    <div class="addContent pd30">
        <div class="r-cont-hd">
            <span>知识预览</span>
        </div>
        <!--{{vm.listData}}-->
        <ul class="Preview">
            <li>
                <p class="mb-10" ng-if="vm.listData.knowledgeBase.knowledgeTitle">{{vm.listData.knowledgeBase.knowledgeTitle}}</p>
                <p class="mb-10" ng-if="vm.listData.knowledgeBase.knowledgeExpDateStart"><span>知识有效期：</span>{{vm.listData.knowledgeBase.knowledgeExpDateStart  |  date : 'yyyy-MM-dd hh:mm:ss'}} 至 {{vm.listData.knowledgeBase.knowledgeExpDateEnd |  date : 'yyyy-MM-dd hh:mm:ss'}}</p>
                <p class="mb-10" ng-if="vm.listData.knowledgeBase.classificationAndKnowledgeList" ng-repeat="item in vm.listData.knowledgeBase.classificationAndKnowledgeList"><span ng-class="$index!=0?'milesVh':''">BOT路径：</span><b style="font-weight:normal;">{{item.className.join("/")}}</b></p>
            </li>
            <li>
                <p  ng-repeat="item in vm.listData.extensionQuestions track by $index">
                    <span ng-class="$index!=0?'milesVh':''">概念扩展：</span>
                    <span style="width: auto;" >
                        {{item.extensionQuestionTitle}}
                    </span>
                </p>
            </li>
            <li ng-class="vm.knowledgeType==101?'':'borderN'" style="border-bottom: 0">
                <div class="knowContent" ng-repeat="item in vm.listData.knowledgeContents track by $index">
                    <span ng-class="$index!=0?'mileVs':''">知识内容：</span>
                    <div class="PreviewRight">
                        <p >内容 {{$index+1 | numberToWord}}</p>
                        <div>
                            <p ng-repeat="text in item.knowledgeContent.split('\n')">{{text}}</p>
                            <span>&nbsp;</span>
                        </div>
                    </div>
                    <p><span>知识配置：</span>
                        <b style="font-weight:normal;margin-right:10px;" ng-show="item.knowledgeRelatedQuestionOn">显示相关问题</b>
                        <b style="font-weight:normal;margin-right:10px;" ng-show="item.knowledgeBeRelatedOn">在相关问题内提示</b>
                        <b style="font-weight:normal;margin-right:10px;" ng-show="item.knowledgeCommonOn">弹出评价小尾巴</b>
                    </p>
                    <p ng-repeat=" (indexVal,val) in item.knowledgeRelevantContentList">
                        <span ng-class="indexVal?'':'mileVs'">已添加知识：</span>
                        <span>{{indexVal}}{{val}}</span>
                    </p>
                    <p ng-repeat=" (indexVal,val) in item.knowledgeRelevantContentList"><span ng-class="indexVal?'':'mileVs'">已添加知识：</span>
                        <span>{{indexVal}}{{val}}</span>
                    </p>
                </div>
            </li>
        </ul>
        <div class="jqrsz-btn-box" style="padding-left: 150px;margin-top: 4px;">
            <a class="btn btn-blue mr10" ui-sref="knowledgeManagement.markOverview">返回</a>
            <a class="btn btn-gray" href="javascript:;" ng-click="vm.edit()" style="background: #2bcacc; color: #fff;">修改</a>
        </div>
    </div>
</div>