
<div class="wrap" style="background:#fff;">
    <div class="pd-20 mt-10" >
        <div class="bd pr history_div" >
            <select class="sel ">
                <option>操作人</option>
                <option>加工文件</option>
                <option>加工日期</option>
            </select>
            <input type="text" />
            <input type="button" value="查找" class="pa btn1 btn1_blue" />
        </div>
        <div class="history_tabdiv">
            <table class="history_table">
                <thead>
                    <td class="bold" width="25%">文件名</td>
                    <td class="bold" width="10%">目标位置</td>
                    <td class="bold"  width="10%">状态</td>
                    <td class="bold"  width="10%">操作人</td>
                    <td class="bold"  width="9%">上传总条数</td>
                    <td class="bold"  width="9%">上传成功条数</td>
                    <td class="bold"  width="13%">上传时间</td>
                    <td class="bold"  width="14%">操作</td>
                </thead>
                <tbody>
                    <tr class="type1" ng-repeat="item in vm.uploadRecordList" >
                        <td>{{item.uploadName}}</td>
                        <td>{{item.uploadType | uploadRecordTypeFilter}}</td>
                        <td>{{item.uploadStatus | uploadRecordStatus}}</td>
                        <td>{{item.userName}}</td>
                        <td>{{item.uploadSum}}</td>
                        <td>{{item.uploadSuccess}}</td>
                        <td>{{item.uploadTime | date : 'yyyy-MM-dd HH:mm:ss'}}</td>
                        <td>
                            <button  ng-if="item.uploadSum!=item.uploadSuccess" class="btn1 btn1_blue mr-10" ng-click="downRecordFile(item.uploadName)">查看</button>
                            <button  class="btn1 btn_delete"  ng-click="deleteRecord(item.uploadId)">删除</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <pagination ng-if="vm.paginationConf.totalItems && vm.paginationConf.totalItems>0" conf="vm.paginationConf"></pagination>
        </div>
    </div>
</div>

<script>

</script>