
<div class="wrap" style="background:#fff;">
    <div class="pd-20 mt-10" >
        <div class="bd pr history_div" >
            <select class="sel ">
                <option>操作人</option>
                <option>加工文件</option>
                <option>加工日期</option>
            </select>
            <input type="text" />
            <input type="button" value="查找" class="pa btn1 btn1_blue" />
        </div>
        <div class="history_tabdiv">
            <table class="history_table">
                <thead>
                    <td class="bold" width="25%">文件名</td>
                    <td class="bold" width="10%">目标位置</td>
                    <td class="bold"  width="10%">状态</td>
                    <td class="bold"  width="10%">操作人</td>
                    <td class="bold"  width="10%">上传总条数</td>
                    <td class="bold"  width="10%">上传成功条数</td>
                    <td class="bold"  width="15%">上传时间</td>
                    <td class="bold"  width="10%">操作</td>
                </thead>
                <tbody>
                    <tr class="type1" ng-repeat="item in vm.uploadRecordList" >
                        <td>{{item.uploadName}}</td>
                        <td ng-if="item.uploadType==170">业务知识批量</td>
                        <td ng-if="item.uploadType==171">要素知识批量</td>
                        <td ng-if="item.uploadType==172">营销知识批量</td>
                        <td ng-if="item.uploadType==173">聊天知识库批量</td>
                        <td ng-if="item.uploadType==174">类目库批量</td>
                        <td ng-if="item.uploadType==175">概念库批量</td>
                        <td ng-if="item.uploadType==176">框架库批量</td>
                        <td ng-if="item.uploadStatus==180">正在处理</td>
                        <td ng-if="item.uploadStatus==181">导入成功</td>
                        <td>{{item.userName}}</td>
                        <td>{{item.uploadSum}}</td>
                        <td>{{item.uploadSuccess}}</td>
                        <td>{{item.uploadTime}}</td>
                        <td>
                            <button  ng-if="item.uploadSum!=item.uploadSuccess" class="btn1 btn1_blue" ng-click="downRecordFile(item.uploadId)">查看</button>
                            <button  class="btn1 btn1_blue"  ng-click="deleteRecord(item.uploadId)">删除</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <pagination ng-if="vm.paginationConf.totalItems && vm.paginationConf.totalItems>0" conf="vm.paginationConf"></pagination>
        </div>
    </div>
</div>

<script>

</script>