    <div class="checkboxStr mb-10">
        <form action="" name="content">
            渠道：
            <label ng-repeat="channel in $parent.$parent.MASTER.channelList track by $index">
                <input name="channel" style="vertical-align: middle; margin:-2px 2px 0 0;" type="radio"  ng-click="newKnow.channel = channel.code" ng-checked="newKnow.channel == channel.code">
                {{channel.name}}
            </label>
        </form>
    </div>
    <div class="senior_div">
        <div>
            <div class="mb-10" style="position: relative;padding-left:100px;">
                <span class="pa" style="left:0;top:0;">指定相关知识:</span>
                <input type="text" class="appoint input-text extended_query_txt"  ng-blur="dirCont.leaveAppointEnter()" ng-model="dirCont.appointRelative"  placeholder="请输入相关知识" style="width:279px;">
                <ul class="listItem"  style="position:static;">
                    <li ng-repeat="item in dirCont.appointRelativeList track by $index" ng-click="dirCont.addAppoint(item,vm.knowledgeRelevantContentList)">{{item.title}}</li>
                    <li ng-if="dirCont.search" style="background:#fff">查询中请稍后...</li>
                    <li ng-if="dirCont.empty" style="background:#fff;color:red">查询到数据为空!</li>
                </ul>
            </div>
            <!-- -->
            <div class="channel_div mb-20" ng-if="vm.knowledgeRelevantContentList.length" style="padding-left:70px;">
                <span class="channel_s c-primary">已添加</span>
                <ul>
                    <li ng-repeat="item in vm.knowledgeRelevantContentList track by $index">
                        <span class="mr-30">{{$index+1}}、{{item.title}}  </span>
                        <a ng-click="vm.knowledgeRelevantContentList.splice($index,1)"><img src="../../../images/images/delete_img.png" alt=""></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <style>

    </style>