<div class="list_facContent mb-10">
    <p class="list_facContent_L">知识有效期：</p>
    <div style="padding-top: 6px;">
        <div class="dib">
             <label><input style=" margin-top: -2px;" type="checkbox" ng-model="vm.isTimeTable"> 启用</label>
             <div style="margin-top: 10px;" ng-show="vm.isTimeTable">
                <input type="text" id="startTime" onchange=""  ng-model="parameter.expDateStart"  onclick="WdatePicker({startDate:'%y',dateFmt:'yyyy-MM-dd',maxDate:'#F{$dp.$D(\'endTime\')}'})" class="input-text Wdate "  style="width:190px;border:1px solid #e1e1e1;height: 35px;font-size: 15px;color: #333!important;" placeholder="请选择开始日期" readonly>
                      -
                <input type="text" id="endTime"   onchange="" ng-model="parameter.expDateEnd" onclick="WdatePicker({startDate:'%y',dateFmt:'yyyy-MM-dd',minDate:'#F{$dp.$D(\'startTime\')}'})" class="input-text Wdate "  style="width:190px;border:1px solid #e1e1e1;height: 35px;font-size: 15px;color: #333!important;" placeholder="请选择结束日期" readonly>
            </div>
        </div>
    </div>
</div>