
<div class="wrap">
    <div class="content_wrap page-container" style="padding:0;">
        <div class="wrap mb30">
            <div class="crumbs-nav bgwhite mt20 mb-10">
                <span class="cn-lable">你曾经路过此地：</span>
                <span class="cn-value"><a class="cn-a" href="javascript:;">首页</a><i class="close">x</i></span>
                <span class="cn-value"><a class="cn-a" href="javascript:;">我的应用</a><i class="close">x</i></span>
                <span class="cn-value"><a class="cn-a" href="javascript:;">评论列表</a><i class="close">x</i></span>
                <span class="cn-value active"><a class="cn-a" href="javascript:;">机器人设置</a><i class="close">x</i></span>
            </div>
            <div class="content_box mb25 ">
                <h3 class="f22 pl-10 mb15">列表型知识新增</h3>
                <div class=" p10 ">
                    <div class="row cl mb-10">
                        <label class="form-label col-xs-4 col-sm-2 text-r">知识标题：</label>
                        <div class="formControls col-xs-8 col-sm-9" style="padding-right:0;">
                            <input  type="text" class="bk-gray input-text " placeholder="请输入标题" ng-model="vm.title" name="title" ng-focus="vm.titleTip=''" ng-minlength="1" ng-maxlength="1000" required  style="width:264px;"/>
                            <a href="javascript:;" title="自动匹配BOT" ng-click="vm.getCreatBot()" class=" mr-15" onclick="add_bot();"><img src="../../../images/match_img.png" width="25" height="25"></a>
                            <p class="c-error pd-5"  ng-if="vm.titleTip">{{vm.titleTip}}</p>
                        </div>
                    </div>
                    <div class="row cl mb-10">
                        <label class="form-label col-xs-4 col-sm-2 text-r">知识有效期：</label>
                        <div class="formControls col-xs-8 col-sm-9" style="padding-right:0;">
                            <div class="dib">
                                <label>
                                    <input style=" margin: 0px 0 -1px 0;" type="checkbox" ng-model="vm.isTimeTable"> {{vm.timeFlag}}
                                </label>
                                <div style="margin-top: 10px;" ng-show="vm.isTimeTable">
                                    <input type="text" id="startTime" onchange=""  ng-model="vm.timeStart"  onclick="WdatePicker({startDate:'%y',dateFmt:'yyyy-MM-dd',maxDate:'#F{$dp.$D(\'endTime\')}'})" class="input-text Wdate "  style="width:185px;border:1px solid #e1e1e1;height: 35px;font-size: 15px;color: #333!important;" placeholder="yyyy-mm-dd" readonly>
                                    -
                                    <input type="text" id="endTime"   onchange="" ng-model="vm.timeEnd" onclick="WdatePicker({startDate:'%y',dateFmt:'yyyy-MM-dd',minDate:'#F{$dp.$D(\'startTime\')}'})" class="input-text Wdate "  style="width:185px;border:1px solid #e1e1e1;height: 35px;font-size: 15px;color: #333!important;" placeholder="yyyy-mm-dd" readonly>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bot_box">
                        <div class="row cl mb-10">
                            <label class="form-label col-xs-4 col-sm-2 text-r">BOT路径：</label>
                            <div class="formControls col-xs-8 col-sm-9">
                                <div class="value Div clearfix" id="Div">
                                    <div class="ipt-txt-box L mr-10">
                                        <input class="ipt-txt" ng-click="vm.knowledgeBot()" ng-model="vm.knowledgeBotVal" readonly id="ipt-txt" type="text" ng-disabled style="width: 250px;border: solid 1px #ddd;"/>
                                        <i class="btn-menu_1" ng-click="vm.knowledgeBot()"></i>
                                        <div class="rootClassfy aside-navs aside-navs2" >
                                            <ul class="menus show">
                                                <!--//test-->
                                                <li ng-repeat="item in vm.botRoot">
                                                    <div class="slide-a">
                                                        <a class="ellipsis" href="javascript:;">
                                                            <i class="icon-jj" data-option="{{item.categoryId}}"></i>
                                                            <span>{{item.categoryName}}</span>
                                                        </a>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <a href="javascript:;" class="L mr-15 mt-5" ><img src="../../../images/images/add_img.png" alt=""></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row cl mb-10">
                        <label class="form-label col-xs-4 col-sm-2 text-r">业务框架：</label>
                        <div class="formControls col-xs-8 col-sm-9" style="padding-right:0;">
                                <select class="input-text" style="width:395px;"  ng-model="vm.frameId" ng-options="frame.frameId as frame.frameTitle for frame in vm.frames">
                                    <option value="" ng-if="vm.frames.length">--业务框架为空--</option>
                                </select>
                        </div>
                    </div>

                    <div class="exten_problem" >
                        <div class="row cl mb-10">
                            <label class="form-label col-xs-4 col-sm-2 text-r">概念扩展：</label>
                            <div class="formControls col-xs-8 col-sm-9">
                                <input type="text" class="L input-text extended_query_txt" placeholder="请输入问题"
                                       style="width:279px;" >
                                <select class="sel bd L mr-10" style="margin-left:-1px;"  ng-model="vm.extensionWeight" >
                                        <option value="1">普通</option>
                                        <option value="0">否定</option>
                                </select>
                                <a href="javascript:;" class="create_a" ng-click="vm.getExtension(vm.extensionTitle,vm.extensionWeight)">
                                    <img src="../../../images/images/add_img.png">
                                </a>
                            </div>
                        </div>
                    </div>
                    <!--sshoudong  tinajia -->
                    <div class="exten_problem"  ng-repeat="item in vm.extensions">
                        <div class="row cl mb-10">
                            <label class="form-label col-xs-4 col-sm-2 text-r">概念扩展：</label>
                            <div class="formControls col-xs-8 col-sm-9">
                                <div class="L input-text extended_query_txt" style="width:279px;" >
                                    <!--{{item.extensionQuestionTitle}}-->
                                    <span>ddddd</span>
                                </div>
                                <span class="sel bd L mr-10" style="padding-left:2px;">
                                    {{item.extensionQuestionType==1?'普通':'否定'}}
                                </span>
                                <a href="javascript:;" ng-click="vm.extensions.splice($index,1)" class="create_a" ><img src="../../../images/images/delete_img.png" alt="" ></a>
                            </div>
                        </div>
                    </div>
                    <!-- 業務框架 生成 -->
                    <div class="exten_problem"  ng-repeat="item in vm.extensionsByFrame">
                        <div class="row cl mb-10">
                            <label class="form-label col-xs-4 col-sm-2 text-r">概念扩展：</label>
                            <div class="formControls col-xs-8 col-sm-9">
                                <div class="L input-text extended_query_txt" style="width:279px;" >
                                    <!--{{item.extensionQuestionTitle}}-->
                                    <span>ddddd</span>
                                </div>
                                <span class="sel bd L mr-10" style="padding-left:2px;">
                                    {{item.extensionQuestionType==1?'普通':'否定'}}
                                </span>
                                <a href="javascript:;" ng-click="vm.extensionsByFrame.splice($index,1)" class="L mr-10" ><img src="../../../images/images/delete_img.png" alt="" ></a>
                                <a href="javascript:;" class="L edit_a mr-10 mt-5" ng-click="vm.extensionEdit()"></a>
                                <span class="L"><b>来源于:业务框架 </b> <span>{{item.source}}</span></span>
                            </div>
                        </div>
                    </div>
                    <div class="row cl mb-50">
                        <label class="form-label col-xs-4 col-sm-2 text-r">知识内容:</label>
                        <div class="formControls col-xs-8 col-sm-9" style="padding-right: 22px;">
                            <div class="clearfix mb-10">
                                <p class="mb-10 f-16">肯定回答:</p>
                                <textarea class="word_div bd"  placeholder="#违禁品#是违禁物品，不可以带上飞机"></textarea>
                            </div>
                            <div class="clearfix mb-10">
                                <p class="mb-10 f-16">否定回答:</p>
                                <textarea class="word_div bd" placeholder=" #违禁品#是违禁物品，不可以带上飞机"></textarea>
                            </div>
                            <div class="channel_div  mb-10">
                                <span class="channel_s">渠道：</span>
                                <div>
                                    <label class="mr-10" ng-repeat="channel in vm.channels">
                                        <input style="vertical-align: middle; margin:0px 0 0px 0;" type="checkbox" ng-click="vm.selectChannel(channel.channelId)">
                                        {{channel.channelName}}
                                    </label>
                                </div>
                            </div>
                            <div class="channel_div mb-10">
                                <span class="channel_s">维度：</span>
                                <auto-complete  source="vm.dimensionsCopy" result="vm.dimensionArr"></auto-complete>
                            </div>
                            <div class="channel_div mb-10" style="padding-left:80px;">
                                <span class="channel_s" >高级选项：</span>
                                <a href="javascript:;" class="c-primary unfold_fit" ng-click="vm.slideDown()">
                                    <span ng-if="!vm.slideFlag">展开</span>
                                    <span ng-if="vm.slideFlag">隐藏</span>
                                </a>
                            </div>
                            <div class="senior_div"  style="display: none">
                                <div class=" mb-10">
                                    <span >知识配置：</span>
                                    <div class="dib pt-5 mr-15">
                                        <switch value="vm.question"></switch>
                                        <span>显示相关问题</span>
                                    </div>
                                    <div class="dib pt-5 mr-15"  style="margin-left: 81px;">
                                        <switch value="vm.tip"></switch>
                                        <span>在相关问题内提示</span>
                                    </div>
                                    <div class="dib pt-5 mr-15" style="margin-left: 81px;">
                                        <switch value="vm.tail"></switch>
                                        <span>弹出评价小尾巴</span>
                                    </div>
                                </div>
                                <div>
                                    <div class="mb-10" style="position: relative;">
                                        <span>指定相关知识:</span>
                                        <input type="text" class=" appoint input-text extended_query_txt" ng-model="vm.appointRelative"  placeholder="" style="width:279px;">
                                        <ul class="listItem" ng-if="vm.appointRelativeList.length" style="position: absolute;
                            left: 100px;z-index: 2;height: 200px;overflow: scroll ;">
                                            <li ng-repeat="item in vm.appointRelativeList track by $index" style="min-width: 280px;
                                             cursor:pointer;background: #e1e1e1;text-indent: 1em;line-height: 26px"
                                                ng-click="vm.addAppoint(item,vm.appointRelativeGroup)">{{item}}</li>
                                        </ul>
                                    </div>
                                    <!-- -->
                                    <div class="channel_div mb-20" ng-if="vm.appointRelativeGroup.length">
                                        <span class="channel_s c-primary">已添加</span>
                                        <ul>
                                            <li ng-repeat="item in vm.appointRelativeGroup track by $index">{{$index}}、{{item}}  <span class="delete_a R" ng-click="vm.appointRelativeGroup.splice($index,1)"></span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row cl mb-10 ">
                        <label class="form-label col-xs-4 col-sm-2 text-r"></label>
                        <div class="formControls col-xs-8 col-sm-9">
                            <input type="button" class="btn1 btn1_blue mr-20" value="预览"/>
                            <input type="button" class="btn1 btn_green" value="保存"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>

</style>