
<div class="wrap">
    <div class="content_wrap page-container" style="padding:0;">
        <div class="wrap mb30">
            <div class="crumbs-nav bgwhite mt20 mb-10">
                <span class="cn-lable">你曾经路过此地：</span>
                <span class="cn-value"><a class="cn-a" href="javascript:;">首页</a><i class="close">x</i></span>
                <span class="cn-value"><a class="cn-a" href="javascript:;">我的应用</a><i class="close">x</i></span>
                <span class="cn-value"><a class="cn-a" href="javascript:;">评论列表</a><i class="close">x</i></span>
                <span class="cn-value active"><a class="cn-a" href="javascript:;">机器人设置</a><i class="close">x</i></span>
            </div>
            <div class="content_box mb25 ">
                <h3 class="f22 pl-10 mb15">列表型知识新增</h3>
                <div class=" p10 ">
                    <div class="row cl mb-10">
                        <label class="form-label col-xs-4 col-sm-2 text-r">知识标题：</label>
                        <div class="formControls col-xs-8 col-sm-9" style="padding-right:0;">
                            <input  type="text" class="bk-gray input-text mr-10" placeholder="请输入标题" ng-model="vm.title" name="title" ng-focus="vm.titleTip=''" ng-minlength="1" ng-maxlength="1000" required  style="width:250px;"/>
                            <a href="javascript:;" ng-click="vm.getCreatBot()" class=" mr-15" onclick="add_bot();"><img src="../../../images/images/add_img.png" alt=""></a>
                            <p class="c-error pd-5"  ng-if="vm.titleTip">{{vm.titleTip}}</p>
                        </div>
                    </div>
                    <div class="row cl mb-10">
                        <label class="form-label col-xs-4 col-sm-2 text-r">知识有效期：</label>
                        <div class="formControls col-xs-8 col-sm-9" style="padding-right:0;">
                            <div class="dib">
                                <label>
                                    <input style="width: 18px;height: 18px; margin-top: 2px;" type="checkbox" ng-model="vm.isTimeTable"> {{vm.timeFlag}}
                                </label>
                                <div style="margin-top: 10px;" ng-show="vm.isTimeTable">
                                    <input type="text" id="startTime" onchange=""  ng-model="vm.timeStart"  onclick="WdatePicker({startDate:'%y',dateFmt:'yyyy-MM-dd',maxDate:'#F{$dp.$D(\'endTime\')}'})" class="input-text Wdate "  style="width:185px;border:1px solid #e1e1e1;height: 35px;font-size: 15px;color: #333!important;" placeholder="yyyy-mm-dd" readonly>
                                    -
                                    <input type="text" id="endTime"   onchange="" ng-model="vm.timeEnd" onclick="WdatePicker({startDate:'%y',dateFmt:'yyyy-MM-dd',minDate:'#F{$dp.$D(\'startTime\')}'})" class="input-text Wdate "  style="width:185px;border:1px solid #e1e1e1;height: 35px;font-size: 15px;color: #333!important;" placeholder="yyyy-mm-dd" readonly>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bot_box">
                        <div class="row cl mb-10">
                            <label class="form-label col-xs-4 col-sm-2 text-r">BOT路径：</label>
                            <div class="formControls col-xs-8 col-sm-9">
                                <div class="value Div" id="Div">
                                    <div class="ipt-txt-box">
                                        <input class="ipt-txt" ng-click="vm.knowledgeBot()" ng-model="vm.knowledgeBotVal" readonly id="ipt-txt" type="text" ng-disabled style="width: 250px;border: solid 1px #ddd;"/>
                                        <i class="btn-menu_1" ng-click="vm.knowledgeBot()"></i>
                                        <div class="rootClassfy aside-navs aside-navs2" >
                                            <ul class="menus show">
                                                <!--//test-->
                                                <li ng-repeat="item in vm.botRoot">
                                                    <div class="slide-a">
                                                        <a class="ellipsis" href="javascript:;">
                                                            <i class="icon-jj" data-option="{{item.categoryId}}"></i>
                                                            <span>{{item.categoryName}}</span>
                                                        </a>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row cl mb-10">
                        <label class="form-label col-xs-4 col-sm-2 text-r">业务框架：</label>
                        <div class="formControls col-xs-8 col-sm-9" style="padding-right:0;">
                                <select class="input-text" style="width:395px;"  ng-model="vm.frameId" ng-options="frame.frameId as frame.frameTitle for frame in vm.frames">
                                    <option value="" ng-if="vm.frames.length">--业务框架为空--</option>
                                </select>
                        </div>
                    </div>

                    <div class="exten_problem" >
                        <div class="row cl mb-10">
                            <label class="form-label col-xs-4 col-sm-2 text-r">概念扩展：</label>
                            <div class="formControls col-xs-8 col-sm-9">
                                <input type="text" class="L input-text extended_query_txt" placeholder="请输入问题"
                                       style="width:279px;" >
                                <select class="sel bd L mr-10" style="margin-left:-1px;"  ng-model="vm.extensionWeight" >
                                        <option value="1">普通</option>
                                        <option value="0">否定</option>
                                </select>
                                <a href="javascript:;" class="create_a" ng-click="vm.getExtension(vm.extensionTitle,vm.extensionWeight)">
                                    <img src="../../../images/images/add_img.png" >
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="row cl mb-50">
                        <label class="form-label col-xs-4 col-sm-2 text-r">知识内容:</label>
                        <div class="formControls col-xs-8 col-sm-9">
                            <div class="clearfix mb-10">
                                <p class="mb-10 f-16">肯定回答:</p>
                                <div class="word_div bd">
                                    <span>#违禁品#是违禁物品，不可以带上飞机</span>
                                </div>
                            </div>
                            <div class="clearfix mb-10">
                                <p class="mb-10 f-16">否定回答:</p>
                                <div class="word_div bd">
                                    <span>不是违禁物品，可以带上飞机</span>
                                </div>
                            </div>
                            <div class="channel_div  mb-10">
                                <span class="channel_s">渠道：</span>
                                <div>
                                    <label ng-repeat="channel in vm.channels">
                                        <input style="width: 18px;height: 18px; margin-top: 2px;" type="checkbox" ng-click="vm.selectChannel(channel.channelId)">
                                        {{channel.channelName}}
                                    </label>
                                </div>
                            </div>
                            <div class="channel_div mb-10">
                                {{vm.dimensionsCopy}}
                                <span class="channel_s">维度：</span>
                                {{vm.dimensionArr}}
                                <auto-complete  source="vm.dimensionsCopy" result="vm.dimensionArr"></auto-complete>
                            </div>
                        </div>
                    </div>
                    <div class="row cl mb-10 ">
                        <label class="form-label col-xs-4 col-sm-2 text-r"></label>
                        <div class="formControls col-xs-8 col-sm-9">
                            <input type="button" class="btn1 btn1_blue mr-20" value="预览"/>
                            <input type="button" class="btn1 btn_green" value="保存"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>

</style>