<div class="r-cont pd30">
    <div class="r-cont-hd">
        <span>渠道管理</span>
    </div>
    <div class="r-cont-bd oh ">
        <div class="con_box  mb25">
            <!--<div class="pr con_box_serl bd mr10" style="margin:0 auto 20px;">-->
            <!--<input type="text" class="txt L" placeholder="请输入维度名称"  style="width:257px;">-->
            <!--<input type="button" class="btn1" value="查找" >-->
            <!--</div>-->
            <div class="mb10 bd p20 cl" style="background:#fcfdfd;border-color:#f2f4f7;">
                <div class="cl mb-20">
                    	<span class="L">
                            <button class="L btn1 btn_delete mr-10" >删除渠道</button>
                        	<button class="L btn1 btn1_blue mr-10" ng-click="vm.addChannel()">添加渠道</button>
                        </span>
                        <span class="R">
                            <span>共有数据：<b >3</b> 条</span>
                        </span>
                </div>
                <div>
                    <table class="stop_word_tab" >
                        <thead>
                        <tr>
                            <th class="bold" width="6%"><input  type="checkbox" /></th>
                            <th class="bold" width="14%">ID</th>
                            <th class="bold" width="15%">渠道名称</th>
                            <th class="bold" width="19%">创建时间</th>
                            <th class="bold" width="15%">状态</th>
                            <th class="bold" width="19%">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in vm.channelData">
                            <td><input  type="checkbox" /></td>
                            <td>$index</td>
                            <td>{{item.channelName}}</td>
                            <td>{{item.channelUpdateTime | date : 'yyyy-MM-dd hh:mm:ss'}}</td>
                            <td>
                                <span ng-if="item.statusId==50001" class="btn1 btn_green2">未启用</span>
                                <span ng-if="item.statusId==50002" class="btn1 btn_green2">已启用</span>
                            </td>
                            <td>
                                <a ng-if="item.statusId==50001" href="javascript:;"
                                   class="c-error mr-10" >启用</a>
                                <a ng-if="item.statusId==50002" href="javascript:;"
                                   class="c-error mr-10" >禁用</a>
                                <a href="javascript:;" class="c-primary mr-10" >编辑</a>
                                <a href="javascript:;" class="c-error" onclick="remove_del();">删除</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <pagination ng-if="vm.paginationConf.totalItems && vm.paginationConf.totalItems>0" conf="vm.paginationConf"></pagination>
            </div>
        </div>
    </div>
    <div class="r-cont-hd">
        <span>黑名单管理</span>
    </div>
    <div class="r-cont-bd oh ">
        <div class="con_box  mb25">
            <div class="mb10 bd p20 cl" style="background:#fcfdfd;border-color:#f2f4f7;">
                <div class="cl mb-20">
                    	<span class="L">
                            <button class="L btn1 btn_delete mr-10" >批量移除黑名单</button>
                        	<button class="L btn1 btn1_blue mr-10" ng-click="vm.addBlacklist()">添加黑名单</button>
                        </span>
                        <span class="R">
                            <span>共有数据：<b >3</b> 条</span>
                        </span>
                </div>
                <div>
                    <table class="stop_word_tab" >
                        <thead>
                        <tr>
                            <th class="bold" width="6%"><input  type="checkbox" /></th>
                            <th class="bold" width="14%">ID</th>
                            <th class="bold" width="15%">标识</th>
                            <th class="bold" width="19%">加入黑名单时间</th>
                            <th class="bold" width="15%">备注</th>
                            <th class="bold" width="19%">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><input  type="checkbox" /></td>
                            <td>1</td>
                            <td>124.42.103.131</td>
                            <td>2016.9.27 12:00:00</td>
                            <td>乱发消息</td>
                            <td>
                                <a href="javascript:;" class="c-error" >移除</a>
                            </td>
                        </tr>
                        <tr>
                            <td><input  type="checkbox" /></td>
                            <td>1</td>
                            <td>124.42.103.131</td>
                            <td>2016.9.27 12:00:00</td>
                            <td>乱发消息</td>
                            <td>
                                <a href="javascript:;" class="c-error" >移除</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="page clearfix">
                    <span class="page_span ">上一页</span>
                    <a href="javascript:;" class="cura">1</a>
                    <a href="javascript:;">2</a>
                    <a href="javascript:;">3</a>
                    <a href="javascript:;">4</a>
                    <a href="javascript:;">5</a>
                    <span class="page_span ">下一页</span>
                    <span>共<b class="page_b">12</b>页</span>
                    <span>跳转到</span>
                    <input type="text" class="page_txt">
                    <span>页</span>
                    <span class="go_span">GO</span>
                </div>
            </div>
        </div>
    </div>
</div>
<style>

</style>
<script>

</script>