<div class="r-cont pd30">
    <div class="r-cont-hd">
        <span>渠道管理</span>
    </div>
    <div class="r-cont-bd oh ">
        <div class="con_box  mb25">
            <!--<div class="pr con_box_serl bd mr10" style="margin:0 auto 20px;">-->
            <!--<input type="text" class="txt L" placeholder="请输入维度名称"  style="width:257px;">-->
            <!--<input type="button" class="btn1" value="查找" >-->
            <!--</div>-->
            <div class="mb10 bd p20 cl" style="background:#fcfdfd;border-color:#f2f4f7;">
                <div class="cl mb-20">
                    	<!--<span class="L">-->
                            <!--&lt;!&ndash;<button class="L btn1 btn_delete mr-10" >删除渠道</button>&ndash;&gt;-->
                        	<!--<button class="L btn1 btn1_blue mr-10" ng-click="vm.addChannel()">添加渠道</button>-->
                        <!--</span>-->
                        <span class="R">
                            <span>共有数据：<b >{{vm.channelDataTotal}}</b> 条</span>
                        </span>
                </div>
                <div>
                    <table class="stop_word_tab" >
                        <thead>
                        <tr>
                            <!--<th class="bold" width="6%"><input  type="checkbox" /></th>-->
                            <th class="bold" width="14%">ID</th>
                            <th class="bold" width="15%">渠道名称</th>
                            <th class="bold" width="19%">创建时间</th>
                            <th class="bold" width="15%">状态</th>
                            <th class="bold" width="19%">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in vm.channelData">
                            <!--<td><input  type="checkbox" /></td>-->
                            <td>{{item.channelId}}</td>
                            <td>{{item.channelName}}</td>
                            <td>{{item.channelUpdateTime | date : 'yyyy-MM-dd hh:mm:ss'}}</td>
                            <td>
                                <span ng-if="item.statusId==50001" class="btn1 btn_green2">未启用</span>
                                <span ng-if="item.statusId==50002" class="btn1 btn_green2">已启用</span>
                            </td>
                            <td>
                                <a ng-if="item.statusId==50001"
                                   class="c-error " ng-click="vm.changeChannel(item.channelId,item.statusId)">启用</a>
                                <a ng-if="item.statusId==50002"
                                   class="c-error " ng-click="vm.changeChannel(item.channelId,item.statusId)">禁用</a>
                                <!--<a href="javascript:;" class="c-primary mr-10" ng-click="vm.editChannel(item)">编辑</a>-->
                                <!--<a href="javascript:;" class="c-error" ng-click="vm.delChannel(item.channelId)">删除</a>-->
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <pagination ng-if="vm.paginationConf.totalItems && vm.paginationConf.totalItems>0" conf="vm.paginationConf"></pagination>
            </div>
        </div>
    </div>
    <div class="r-cont-hd">
        <span>黑名单管理</span>
    </div>
    <div class="r-cont-bd oh ">
        <div class="con_box  mb25">
            <div class="mb10 bd p20 cl" style="background:#fcfdfd;border-color:#f2f4f7;">
                <div class="cl mb-20">
                    	<span class="L">
                            <button class="L btn1 btn_delete mr-10" ng-click="vmo.batchDelBlacklist()">批量移除黑名单</button>
                        	<button class="L btn1 btn1_blue mr-10" ng-click="vmo.addBlacklist()">添加黑名单</button>
                        </span>
                        <span class="R">
                            <span>共有数据：<b >{{vmo.blackListDataTotal}}</b> 条</span>
                        </span>
                </div>
                <div>
                    <table class="stop_word_tab" >
                        <thead>
                        <tr>
                            <th class="bold" width="6%">
                                <input  type="checkbox" ng-click="vmo.selectAll()" ng-checked="vmo.isSelectedAll"/>
                            </th>
                            <th class="bold" width="14%">ID</th>
                            <th class="bold" width="15%">标识</th>
                            <th class="bold" width="19%">加入黑名单时间</th>
                            <th class="bold" width="15%">备注</th>
                            <th class="bold" width="19%">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in vmo.blackListData">
                            <td>
                                <input  type="checkbox" name="selected" ng-checked="vmo.selectedList.inArray(item.blackListId)"
                                        ng-click="vmo.selectSingle(item.blackListId)"/>
                            </td>
                            <td>{{item.blackListId}}</td>
                            <td>{{item.blackListIdentify}}</td>
                            <td>{{item.blackListUpdateTime | date : 'yyyy-MM-dd hh:mm:ss'}}</td>
                            <td>{{item.blackListRemark}}</td>
                            <td>
                                <a class="c-error" ng-click="vmo.delBlacklist(item.blackListId)">移除</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <pagination ng-if="vmo.paginationConf.totalItems && vmo.paginationConf.totalItems>0" conf="vmo.paginationConf"></pagination>
            </div>
        </div>
    </div>
</div>
