<div class="" style="padding:15px 0;">
    <h3 class="f16 tc mb-20">添加热点问题</h3>
    <div style="height:320px;overflow:auto;">
        <div class="mb-10 cl">
            <label class="form-label col-xs-2 col-sm-2 bold">已选知识：</label>
            <div class="formControls col-xs-10 col-sm-9">
                <ul id="already_select" ng-repeat="item in vm.seleceAddAll">
                    <!--{{item}}-->
                    <li><span class="mr-10">{{item.chatKnowledgeTopic}}</span>
                        <a href="javascript:;" ng-click="vm.deleteDialog(item)" class="c-red">X</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="mb-10 cl">
            <label class="form-label col-xs-2 col-sm-2 bold">未选知识：</label>
            <div class="formControls col-xs-10 col-sm-9">
                <div class="mb-10">
                    <input id="inputValue" type="text" placeholder="请输入要查找的知识" ng-model="vm.knowledge" style="width:220px" class="input-text">
                    <!--<button class="btn1 btn1_blue" >查找</button>-->
                    <!--<button class="btn1 btn_green" >全部</button>-->
                    <button class="btn1 btn1_blue" type="button"  ng-click="vm.findKnowledge(1)">查找</button>
                </div>
                <table class="table table-border  table-bordered" id="knowledge-tab">
                    <thead class="text-c bg-1">
                    <tr>
                        <th><input  class="selectAllBtnDialog" type="checkbox" ng-click="vm.selectAllDialog($event)" ng-checked="vm.selectAllCheckDialog"/></th>
                        <th>知识标题</th>
                    </tr>
                    </thead>
                    <tbody class="text-c">
                    <tr ng-repeat="item in vm.listKnoData">
                        <td ><input class="selectSingle"  type="checkbox" ng-checked="vm.selectAllCheckDialog" ng-click="vm.selectSingleDialog($event,item.chatKnowledgeId,item.chatKnowledgeTopic,$index)"/></td>
                        <td>{{item.chatKnowledgeTopic}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <pagination ng-if="vm.paginationConf1.totalItems && vm.paginationConf1.totalItems>0" conf="vm.paginationConf1"></pagination>

    </div>
    <div class="row tc">
        <button  class="btn btn-primary radius mr-10" type="button"  ng-click="closeThisDialog(1)">保存</button>
        <button  class="btn btn-default radius" type="button"  ng-click="closeThisDialog(0)">取消</button>
    </div>
</div>
<style>
    .ngdialog.ngdialog-theme-default .ngdialog-content{
        width:660px;
    }
</style>