<div class="" >
    <form class="form form-horizontal">
        <div class="mb-10 mt-10 pl30" style="height:200px;overflow:auto;">
            <div class="latit_repres_div">
                <div class="mb-10 clearfix">
                    <span class="add_ele_span L">维度名称：</span>
                    <div class="dib L pl-5">
                        <input type="text"  class="input-text " placeholder="维度名称" ng-model="vm.dimension"/>
                    </div>
                    <div class="dib ml-15 pt-5 L mr-15">
                        <span class="L mr-30">状态：</span>
                        <!--<span style="margin-right: 27px">状态：</span>-->
                        <switch-turn  value="vm.switchTurn"></switch-turn>
                    </div>
                </div>
                <div class="mb-10 ">
                    <span class="add_ele_span">维度表示：</span>
                    <div class="dib">
                        <input type="text" placeholder="请输入维度表示" ng-model="vm.getDimensionVal" class="input-text  latitude"/>
                    </div>
                    <a href="javascript:;" class="create_a"  ng-click="vm.savePro(vm.getDimensionVal,vm.newDimensions)"><img src="../../../images/images/add_img.png" alt=""></a>
                </div>
                <!--{{vm.newDimensions}}-->
                <div class="mb-10" ng-repeat="item in vm.newDimensions">
                    <span class="add_ele_span"></span>
                    <div class="dib">
                        <p class="input-text" style="width: 174px;">{{item}}</p>
                    </div>
                    <a href="javascript:;" class="create_a"  ng-click="vm.newDimensions.remove(item)"><img src="../../../images/images/delete_img.png" alt=""></a>
                </div>
            </div>

        </div>
        <div class="tc">
            <input type="button" value="确定" ng-click="closeThisDialog(1)"  class="btn1 btn1_blue mr-10"/>
            <input type="button" value="取消" ng-click="closeThisDialog(0)"  class="btn1 btn_gray"/>
        </div>
    </form>
</div>
<style>

</style>
<script>

    //开关
    function turn_on(obj){
        if($(obj).parent().hasClass('close1')){
            $(obj).parent().attr('class','b_box open1');

        }else{
            $(obj).parent().attr('class','b_box close1');
        }
        if($(obj).hasClass('close2')){
            $(obj).attr('class','s_box open2');
        }else{
            $(obj).attr('class','s_box close2');
        }
    }
</script>