<div class="r-cont pd30">
    <div class="r-cont-hd">
        <span>参数设置</span>
    </div>
    <div class="r-cont-bd oh pt30">
        <div class="jqrsz-item jqrsz-item2">
            <div class="item-line">
                <div class="lable">
                    评论小尾巴：
                </div>
                <div class="value">
                    <div class="dib pt-5 mr-15">
                        <div ng-class="app.settingCommentOn?'open1 b_box': 'close1 b_box'"
                             ng-click="app.turnOn(app.settingCommentOn,'settingCommentOn')" style="float:left;margin-right:10px;">
                            <div  ng-class="app.settingCommentOn?'open2 s_box': 'close2 s_box'"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="jqrsz-item jqrsz-item2">
            <div class="item-line">
                <div class="lable">
                    寒暄开关：
                </div>
                <div class="value">
                    <div class="dib pt-5 mr-15">
                        <div ng-class="{1: 'open1 b_box', 0: 'close1 b_box'}[app.settingGreetingOn]"
                             ng-click="app.turnOn(app.settingGreetingOn,'settingGreetingOn')" style="float:left;margin-right:10px;">
                            <div ng-class="{1: 'open2 s_box', 0: 'close2 s_box'}[app.settingGreetingOn]"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="jqrsz-item jqrsz-item2">
            <div class="item-line">
                <div class="lable">
                    话轮识别：
                </div>
                <div class="value">
                    <div class="dib pt-5 mr-15">
                        <div ng-class="{1: 'open1 b_box', 0: 'close1 b_box'}[app.settingTurnRoundOn]"
                             ng-click="app.turnOn(app.settingTurnRoundOn,'settingTurnRoundOn')"
                             style="float:left;margin-right:10px;">
                            <div ng-class="{1: 'open2 s_box', 0: 'close2 s_box'}[app.settingTurnRoundOn]"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="jqrsz-item jqrsz-item2">
            <div class="item-line">
                <div class="lable">
                    关联个数：
                </div>
                <div class="value">
                    <input class="input-text" type="text" ng-model="app.settingRelateNumber"
                           placeholder="配置关联问题的个数，标准格式为数字型" style="width: 350px;">
                </div>
            </div>
        </div>
        <div class="jqrsz-item jqrsz-item2">
            <div class="item-line">
                <div class="lable">
                    推荐个数：
                </div>
                <div class="value">
                    <input class="input-text" type="text" ng-model="app.settingRecommendNumber"
                           placeholder="配置推荐问题个数，标准格式为数字型" style="width: 350px;">
                </div>
            </div>
        </div>
        <div class="jqrsz-item jqrsz-item2">
            <div class="item-line">
                <div class="lable">
                    获取数据时间：
                </div>
                <div class="value">
                    <input class="input-text" type="text" ng-model="app.settingDataTimeoutLimit"
                           placeholder="获取数据时间限制，标准格式为数字型" style="width: 350px;">
                </div>
            </div>
        </div>
        <div class="jqrsz-item jqrsz-item2">
            <div class="item-line">
                <div class="lable">
                    上限阈值：
                </div>
                <div class="value">
                    <input class="input-text" type="text" ng-model="app.settingUpperLimit"
                           placeholder="配置上限阈值，标准格式为float型" style="width: 350px;">
                </div>
            </div>
        </div>
        <div class="jqrsz-item jqrsz-item2">
            <div class="item-line">
                <div class="lable">
                    下限阈值：
                </div>
                <div class="value">
                    <input class="input-text" type="text" ng-model="app.settingLowerLimit"
                           placeholder="配置下线阈值，标准格式为float型" style="width: 350px;">
                </div>
            </div>
        </div>
        <div class="jqrsz-item jqrsz-item2">
            <div class="item-line">
                <div class="lable">
                    寒暄阈值：
                </div>
                <div class="value">
                    <input class="input-text" type="text" ng-model="app.settingGreetingThreshold"
                           placeholder="配置寒暄阈值，标准格式为float型" style="width: 350px;">
                </div>
            </div>
        </div>
        <div class="jqrsz-btn-box">
            <a class="btn btn-blue mr10" ng-click="app.editApplication()">保存</a>
            <a class="btn btn-gray" ng-click="$state.reload()">取消</a>
        </div>

    </div>
</div>
<style>
    .jqrsz-item2{border-top:0;padding:0;margin-top:0;}
</style>
