<div class="r-cont pd30">
    <div class="r-cont-hd mb-10">
        <span>场景管理</span>
    </div>
    <div class="scene_box">
        <div class="scene_box_top">
            <span class="cur">知识类型</span>
            <span id="exchangeMode">交互方式</span>
        </div>
        <div class="scene_box_bot">
            <div style="display:block;">
                <h3 class="pt-20 pb-20 f16">客服型场景所包含的知识类型</h3>
                <div class="mb-20" >
                    <input type="text" class="bd input-text " ng-model="vm.keyword" placeholder="请输入知识框架" style="width:257px;">
                    <input type="button" class="btn1 btn1_blue " value="查找" ng-click="vm.listKnowledgeType()">
                </div>
                <div class="cl" >
                    <div class="bd know_style" ng-repeat="item in vm.knowledgeTypeData">
                        <p class="tc">{{item.knowledgeTypeName}}</p>
                        <dl class="bd_bot text-c pb-10 mb-10">
                            <dt><img src="../../../images/images/u1435.png " width="50" height="50"/></dt>
                            <dd>
                                <a ng-click="vm.updateKnowledgeType(item);" ng-if="item.statusId==20001">禁用</a>
                                <a ng-click="vm.updateKnowledgeType(item);" ng-if="item.statusId==20002">启用</a>
                            </dd>
                        </dl>
                        <p class="c-999">*{{item.knowledgeTypeDescription}}</p>
                    </div>
                </div>
            </div>
            <div style="display:none;">
                <h3 class="pt-20 pb-20 f16">客服型场景所包含的交互方式</h3>
                <div class="mb-20" >
                    <input type="text" class="bd input-text " ng-model="vm.keyword" placeholder="请输入交互方式" style="width:257px;">
                    <input type="button" class="btn1 btn1_blue " value="查找" ng-click="vm.listExchangeMode()">
                </div>
                <div class="cl">
                    <div class="bd know_style" ng-repeat="item in vm.exchangeModeData">
                        <p class="tc">{{item.exchangeModeName}}</p>
                        <dl class="bd_bot text-c pb-10 mb-10">
                            <dt><img src="../../../images/images/u1456.png " width="50" height="50"/></dt>
                            <dd>
                                <a ng-click="vm.updateExchangeMode(item);" ng-if="item.statusId==20001">禁用</a>
                                <a ng-click="vm.updateExchangeMode(item);" ng-if="item.statusId==20002">启用</a>
                            </dd>
                        </dl>
                        <p class="c-999">{{item.exchangeDescription}}</p>
                    </div>
                </div>
                <!-- -&#45;&#45;&#45;&#45;-->
                <a href="javascript:;" ng-click="vm.addDialog()">配置</a>
                <!-- -&#45;&#45;&#45;&#45;-->
            </div>
        </div>
    </div>
</div>
<style>

</style>
<script>
    $('.scene_box_top span').click(function(){
        $(this).addClass('cur').siblings().removeClass();
        $('.scene_box_bot').children('div').eq($(this).index()).css('display','block').siblings().css('display','none');
    });
</script>