<div class="pd-20"  >
    <h3 class="f16 mb-20 tc bold">多轮交互配置</h3>
    <div >
        <h3 class="f14 mb-10  c-999">类目模糊:</h3>
        <div class="framework mb-10 " style="margin-left:100px;">
            <span class="framework_s">是否支持：</span>
            <div>
                <div class="dib pt-5 mr-15">
                    <div ng-class="vm.categoryFuzzyOn?'open1 b_box': 'close1 b_box'"
                         ng-click="vm.turnOn(vm.categoryFuzzyOn,'categoryFuzzyOn')" style="float:left;margin-right:10px;">
                        <div  ng-class="vm.categoryFuzzyOn?'open2 s_box': 'close2 s_box'"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="framework mb-10 " style="margin-left:100px;">
            <span class="framework_s">推荐问题相似度：</span>
            <div>
                <input type="text" class="bd" placeholder="3.1" ng-model="vm.recommendedSimilarity"/>
            </div>
        </div>
    </div>
    <div >
        <h3 class="f14 mb-10 c-999">主题缺失:</h3>
        <div class="framework mb-10 " style="margin-left:100px;">
            <span class="framework_s">是否支持：</span>
            <div>
                <div class="dib pt-5 mr-15">
                    <div ng-class="vm.subjectMissingOn?'open1 b_box': 'close1 b_box'"
                         ng-click="vm.turnOn(vm.subjectMissingOn,'subjectMissingOn')" style="float:left;margin-right:10px;">
                        <div  ng-class="vm.subjectMissingOn?'open2 s_box': 'close2 s_box'"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="framework mb-10 " style="margin-left:100px;">
            <span class="framework_s">主题记忆轮数：</span>
            <div>
                <input type="text" class="bd" placeholder="3.1" ng-model="vm.subjectMemoryRounds"/>
            </div>
        </div>
        <div class="framework mb-10 " style="margin-left:100px;">
            <span class="framework_s">记忆方法：</span>
            <div>
                <select class="sel bd" ng-model="vm.memoryMethod">
                    <option value="0">衰减</option>
                    <option value="1">恒定</option>
                </select>
            </div>
        </div>
    </div>
    <div >
        <h3 class="f14 mb-10 c-999">要素缺失配置:</h3>
        <div class="framework mb-10 " style="margin-left:100px;">
            <span class="framework_s">是否支持：</span>
            <div>
                <div class="dib pt-5 mr-15">
                    <div ng-class="vm.elementMissingOn?'open1 b_box': 'close1 b_box'"
                         ng-click="vm.turnOn(vm.elementMissingOn,'elementMissingOn')" style="float:left;margin-right:10px;">
                        <div  ng-class="vm.elementMissingOn?'open2 s_box': 'close2 s_box'"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="framework mb-10 " style="margin-left:100px;">
            <span class="framework_s">要素推荐顺序：</span>
            <div>
                <input type="number" class="bd" placeholder="3" ng-model="vm.elementRecommendationOrder"/>
            </div>
        </div>
        <div class="framework mb-10 " style="margin-left:100px;">
            <span class="framework_s">支持非零点启动：</span>
            <div>
                <select class="sel bd" ng-model="vm.nonZeroStartOn">
                    <option value="1">支持</option>
                    <option value="0">不支持</option>
                </select>
            </div>
        </div>
        <div class="framework mb-10 " style="margin-left:100px;">
            <span class="framework_s">是否完全匹配：</span>
            <div>
                <select class="sel bd" ng-model="vm.matchCompleteOn">
                    <option value="1">是</option>
                    <option value="0">否</option>
                </select>
            </div>
        </div>
        <div class="framework mb-10 " style="margin-left:100px;">
            <span class="framework_s">是否作为标签匹配：</span>
            <div>
                <select class="sel bd" ng-model="vm.matchTagOn">
                    <option value="1">是</option>
                    <option value="0">否</option>
                </select>
            </div>
        </div>
    </div>
    <div class="text-c">
        <input type="submit" class="btn1 btn1_blue mr-15" ng-click="closeThisDialog(1)" value="保存"/>
        <input type="button" class="btn1 btn_gray" ng-click="closeThisDialog(0)" value="取消" />
    </div>

</div>
<style>
    .framework{padding-left:135px;}
    .ngdialog.ngdialog-theme-default .ngdialog-content{
        width:600px;
    }
</style>
<script>
    //开关
    function turn_on(obj){
        if($(obj).parent().hasClass('close1')){
            $(obj).parent().attr('class','b_box open1');

        }else{
            $(obj).parent().attr('class','b_box close1');
        }
        if($(obj).hasClass('close2')){
            $(obj).attr('class','s_box open2');
        }else{
            $(obj).attr('class','s_box close2');
        }

    }
</script>