<div class="r-cont pd30">
    <div class="r-cont-hd">
        <span>机器人设置</span>
    </div>
    <div class="r-cont-bd oh">
        <div class="jqrsz-item">
            <div class="item-line">
                <div class="lable">
                    机器人昵称：
                </div>
                <div class="value">
                    <div class="ipt-txt-box">
                        <input name="robotName" class="ipt-txt" type="text"
                               ng-model="robot.robotName" />
                        <i class="btn-empty"></i>
                    </div>
                    <div class="error-tip">
                        昵称输入不能超过8个汉字，请重新输入
                    </div>
                </div>
            </div>
            <div class="item-line mt15 mb10">
                <div class="lable">
                    机器人头像：
                </div>
                <div class="value">
                    <div class="poto-box">
                        <img src=""/>
                    </div>
                    <div class="up-tip">
                        网页聊天中左上角展示的圆形头像，<br />设置像素为70*70
                    </div>
                    <div class="up-btn">
                        <a class="js-jdbtn" href="javascript:;">经典</a>
                        <a class="js-zdybtn" href="javascript:;">自定义</a>
                    </div>
                </div>
            </div>
            <div class="item-line">
                <div class="lable">
                    欢迎语：
                </div>
                <div class="value">
                    <textarea class="textarea" ng-model="robot.robotWelcome">小富机器人欢迎您！</textarea>
                    <div class="error-tip">
                        错误提示
                    </div>
                </div>
            </div>
        </div>

        <div class="jqrsz-item">
            <div class="item-line">
                <div class="lable">
                    热点知识跟新频率：
                </div>
                <div class="value">
                    <div class="ipt-txt-box">
                        <input class="ipt-txt" type="text" ng-model="robot.robotHotQuestionTimeout" style="width: 190px;" />
                        <i class="btn-empty"></i>
                    </div>
                    &nbsp;<span>分钟</span>
                    <div class="error-tip">
                        错误提示
                    </div>
                </div>
            </div>
            <div class="item-line">
                <div class="lable">
                    未知回答：
                </div>
                <div class="value">
                    <div class="ipt-txt-box">
                        <input class="ipt-txt" type="text" ng-model="robot.robotUnknown"/>
                        <i class="btn-empty"></i>
                    </div>
                    <div class="error-tip">
                        错误提示
                    </div>
                </div>
            </div>
            <div class="item-line">
                <div class="lable">
                    敏感词回答：
                </div>
                <div class="value">
                    <div class="ipt-txt-box">
                        <input class="ipt-txt" type="text" ng-model="robot.robotSensitive"/>
                        <i class="btn-empty"></i>
                    </div>
                    <div class="error-tip">
                        错误提示
                    </div>
                </div>
            </div>
            <div class="item-line">
                <div class="lable">
                    过期知识回答：
                </div>
                <div class="value">
                    <div class="ipt-txt-box">
                        <input class="ipt-txt" type="text" ng-model="robot.robotExpire"/>
                        <i class="btn-empty"></i>
                    </div>
                    <div class="error-tip">
                        错误提示
                    </div>
                </div>
            </div>
        </div>

        <div class="jqrsz-item">
            <div class="item-line">
                <div class="lable">
                    重复回答次数：
                </div>
                <div class="value">
                    <div class="ipt-txt-box">
                        <input class="ipt-txt" type="text" ng-model="robot.robotRepeatNumber" style="width: 190px;" />
                        <i class="btn-empty"></i>
                    </div>
                    &nbsp;<span>次</span>
                    <div class="error-tip hide">
                        错误提示
                    </div>
                </div>
            </div>
            <div class="item-line">
                <div class="lable">
                    重复回答提示：
                </div>
                <div class="value">
                    <div class="ipt-txt-box">
                        <input class="ipt-txt" type="text" ng-model="robot.robotRepeat"/>
                        <i class="btn-empty"></i>
                    </div>
                    <div class="error-tip hide">
                        错误提示
                    </div>
                </div>
            </div>
            <div class="item-line">
                <div class="lable">
                    会话超时时间：
                </div>
                <div class="value">
                    <div class="ipt-txt-box">
                        <input class="ipt-txt" type="text" ng-model="robot.robotTimeoutLimit" style="width: 190px;" />
                        <i class="btn-empty"></i>
                    </div>
                    &nbsp;<span>分钟</span>
                    <div class="error-tip hide">
                        错误提示
                    </div>
                </div>
            </div>
            <div class="item-line">
                <div class="lable">
                    会话超时提示：
                </div>
                <div class="value">
                    <div class="ipt-txt-box">
                        <input class="ipt-txt" type="text" ng-model="robot.robotTimeout"/>
                        <i class="btn-empty"></i>
                    </div>
                    <div class="error-tip hide">
                        错误提示
                    </div>
                </div>
            </div>
        </div>
        <div class="jqrsz-btn-box">
            <a class="btn btn-blue mr10" ng-click="robot.editRobot()">保存</a>
            <a class="btn btn-gray" ng-click="$state.reload()">取消</a>
        </div>

    </div>

</div>
<style>
    .ipt-txt-box .ipt-txt{
        border:1px solid gray
    }
</style>