<div class="r-cont pd30">
    <div class="r-cont-hd">
        <span>机器人设置</span>
    </div>
    <div class="r-cont-bd oh">
        <!--<form name="mySetting" class="css-form" novalidate ng-submit="robot.editRobot(mySetting.$valid)">-->
        <form name="mySetting" class="css-form" novalidate>
        <div class="jqrsz-item">
            <div class="item-line">
                <div class="lable">
                    机器人昵称：
                </div>
                <div class="value">
                    <div class="ipt-txt-box">
                        <input name="robotName" class="ipt-txt" type="text" placeholder="给机器人起个名字吧"
                               ng-model="robot.robotName" ng-maxlength="8" ng-pattern="/^[\u2E80-\uFE4F]+$/"/>
                        <i class="btn-empty"></i>
                    </div>
                    <div class="error-tip" ng-show="mySetting.robotName.$dirty && mySetting.robotName.$invalid">
                        昵称输入不能超过8个汉字，请重新输入！
                    </div>
                </div>
            </div>
            <div class="item-line mt15 mb10">
                <div class="lable">
                    机器人头像：
                </div>
                <div class="value">
                    <div class="poto-box">
                        <img ng-src="{{robot.imgUrl}}{{robot.robotHead}}"/>
                    </div>
                    <div class="up-tip">
                        网页聊天中左上角展示的圆形头像，<br />设置像素为70*70
                    </div>
                    <div class="up-btn">
                        <a class="js-jdbtn" ng-click="robot.addClassic()">经典</a>
                        <a class="js-zdybtn" ng-click="robot.addCustom()">自定义</a>
                    </div>
                </div>
            </div>
            <div class="item-line">
                <div class="lable">
                    欢迎语：
                </div>
                <div class="value">
                    <textarea class="textarea" name="robotWelcome" check-welcome="robotWelcome" placeholder="请再次输入欢迎语!"
                              ng-model="robot.robotWelcome"
                              ng-pattern="/^[\u2E80-\uFE4F\（\）\《\》\——\；\，\。\“\”\<\>\！\\r\n]+$/"/>>小富机器人欢迎您！</textarea>
                    <!--<div class="error-tip" ng-show="mySetting.robotWelcome.$dirty && mySetting.robotWelcome.$invalid">-->
                        <!--欢迎语不能超过10条，请重新输入-->
                    <!--</div>-->
                    <!--{{mySetting.robotWelcome.$error.pattern}}-->
                    <div class="error-tip" ng-show="mySetting.robotWelcome.$error.pattern">
                        欢迎语只能是汉字，请重新输入
                    </div>
                    <!--{{mySetting.robotWelcome.$error.len}}-->
                    <div class="error-tip " ng-show="mySetting.robotWelcome.$error.len">
                        欢迎语不能超过10条，请重新输入
                    </div>
                </div>
            </div>

            <div class="item-line">
                <div class="lable">
                    企业名称设置：
                </div>
                <div class="value">
                    <div class="ipt-txt-box">
                        <input class="ipt-txt" type="text" name="" placeholder=""
                                style="width: 406px;"  >

                    </div>
                    <div class="error-tip" >
                        错误提示
                    </div>

                </div>
            </div>

        </div>

        <div class="jqrsz-item">
            <div class="item-line">
                <div class="lable">
                    热点知识更新频率：
                </div>
                <div class="value">
                    <div class="ipt-txt-box">
                        <input class="ipt-txt" type="text" name="robotHotQuestionTimeout" placeholder="热点问题的更新频率，只限正整数"
                               ng-model="robot.robotHotQuestionTimeout" style="width: 190px;" ng-pattern="/^([1-9][0-9]*){1,3}$/" >
                        <i class="btn-empty"></i>
                    </div>
                    &nbsp;<span>分钟</span>
                    <div class="error-tip" ng-show="mySetting.robotHotQuestionTimeout.$dirty && mySetting.robotHotQuestionTimeout.$invalid">
                        热点知识更新频率必须大于0，请重新输入
                    </div>

                </div>
            </div>
            <div class="item-line">
                <div class="lable">
                    未知回答：
                </div>
                <div class="value">
                    <div class="ipt-txt-box">
                        <input class="ipt-txt" type="text" name="robotUnknown" placeholder="当机器人答不上来时，机器人的回复"
                               ng-model="robot.robotUnknown" ng-maxlength="50"
                               ng-pattern="/^[\u2E80-\uFE4F\（\）\《\》\——\；\，\。\“\”\<\>\！]+$/"/>
                        <i class="btn-empty"></i>
                    </div>
                    <div class="error-tip" ng-show="mySetting.robotUnknown.$dirty && mySetting.robotUnknown.$invalid">
                        您输入的未知回答不能超过50个汉字，请重新输入
                    </div>
                </div>
            </div>
            <div class="item-line">
                <div class="lable">
                    敏感词回答：
                </div>
                <div class="value">
                    <div class="ipt-txt-box">
                        <input class="ipt-txt" type="text" name="robotSensitive" placeholder="当会话中包含敏感词时，机器人的回复"
                               ng-model="robot.robotSensitive" ng-maxlength="50"
                               ng-pattern="/^[\u2E80-\uFE4F\（\）\《\》\——\；\，\。\“\”\<\>\！]+$/"/>
                        <i class="btn-empty"></i>
                    </div>
                    <div class="error-tip" ng-show="mySetting.robotSensitive.$dirty && mySetting.robotSensitive.$invalid">
                        您输入的敏感词回答不能超过50个汉字，请重新输入
                    </div>
                </div>
            </div>
            <div class="item-line">
                <div class="lable">
                    过期知识回答：
                </div>
                <div class="value">
                    <div class="ipt-txt-box">
                        <input class="ipt-txt" name="robotExpire" type="text" placeholder="当问答的知识已经过期了，机器人的回复"
                               ng-model="robot.robotExpire" ng-maxlength="50"
                               ng-pattern="/^[\u2E80-\uFE4F\（\）\《\》\——\；\，\。\“\”\<\>\！]+$/"/>
                        <i class="btn-empty"></i>
                    </div>
                    <div class="error-tip" ng-show="mySetting.robotExpire.$dirty && mySetting.robotExpire.$invalid">
                        过期知识回答不能超过50个汉字，请重新输入
                    </div>
                </div>
            </div>
        </div>

        <div class="jqrsz-item">
            <div class="item-line">
                <div class="lable">
                    重复回答次数：
                </div>
                <div class="value">
                    <div class="ipt-txt-box">
                        <input class="ipt-txt" type="text" name="robotRepeatNumber"
                               ng-model="robot.robotRepeatNumber" style="width: 190px;" ng-pattern="/^([1-9][0-9]*){1,3}$/"/>
                        <i class="btn-empty"></i>
                    </div>
                    &nbsp;<span>次</span>
                    <div class="error-tip" ng-show="mySetting.robotRepeatNumber.$dirty && mySetting.robotRepeatNumber.$invalid">
                        重复回答次数必须设置为大于0，请重新输入
                    </div>
                </div>
            </div>
            <div class="item-line">
                <div class="lable">
                    重复回答提示：
                </div>
                <div class="value">
                    <div class="ipt-txt-box">
                        <input class="ipt-txt" type="text" name="robotRepeat" placeholder="当用户重复回答超过设置次数时，机器人的回复"
                               ng-model="robot.robotRepeat" ng-maxlength="50"
                               ng-pattern="/^[\u2E80-\uFE4F\（\）\《\》\——\；\，\。\“\”\<\>\！]+$/"/>
                        <i class="btn-empty"></i>
                    </div>
                    <div class="error-tip" ng-show="mySetting.robotRepeat.$dirty && mySetting.robotRepeat.$invalid">
                        重复回答提示不能超过50个字，请重新输入
                    </div>
                </div>
            </div>
            <div class="item-line">
                <div class="lable">
                    会话超时时间：
                </div>
                <div class="value">
                    <div class="ipt-txt-box">
                        <input class="ipt-txt" name="robotTimeoutLimit" type="text"
                               ng-model="robot.robotTimeoutLimit" style="width: 190px;" ng-pattern="/^([1-9][0-9]*){1,3}$/"/>
                        <i class="btn-empty"></i>
                    </div>
                    &nbsp;<span>分钟</span>
                    <div class="error-tip" ng-show="mySetting.robotTimeoutLimit.$dirty && mySetting.robotTimeoutLimit.$invalid">
                        会话超时时间必须设置为大于0，请重新设置
                    </div>
                </div>
            </div>
            <div class="item-line">
                <div class="lable">
                    会话超时提示：
                </div>
                <div class="value">
                    <div class="ipt-txt-box">
                        <input class="ipt-txt" name="robotTimeout" type="text" placeholder="当会话超时后，机器人的回复"
                               ng-model="robot.robotTimeout" ng-maxlength="50"
                               ng-pattern="/^[\u2E80-\uFE4F\（\）\《\》\——\；\，\。\“\”\<\>\！]+$/"/>
                        <i class="btn-empty"></i>
                    </div>
                    <div class="error-tip" ng-show="mySetting.robotTimeout.$dirty && mySetting.robotTimeout.$invalid">
                        会话超时提示不能超过50个汉字，请重新输入
                    </div>
                </div>
            </div>
        </div>
        <div class="jqrsz-btn-box">
            <a class="btn btn-blue mr10" ng-click="robot.editRobot(mySetting.$valid)">保存</a>
            <!--<button  class="btn btn-blue mr10" type="submit">保存</button>-->
            <a class="btn btn-gray" ng-click="$state.reload()">取消</a>
        </div>
        </form>
    </div>

</div>
<style>
    .ipt-txt-box .ipt-txt{
        border:1px solid #e1e1e1;
    }
    .jqrsz-item .item-line .value .error-tip{position:static;margin-top:5px;}
</style>