<script type="text/ng-template" id="templateId"></script>
<div>
    <div class="addContent pd10">
        <div class="mb-20">
            <p>{{vm.dialogTitle}}</p>
        </div>
        <div>
            <form name="myService" class="css-form" novalidate>

                <div class="framework mb-10">
                    <span class="framework_s text-r">服务名称：</span>
                    <div >
                        <input  type="text" class="bk-gray input-text"
                                ng-model="vm.serviceName"
                                name="serviceName" check-service-name="serviceName"
                                placeholder=""  style="width:100%;" required>
                        <div class="c-red" ng-if="vm.allowSubmit==0">服务名称重复，请重新输入！</div>
                        </p>
                    </div>
                </div>
                <div class="framework mb-10">
                    <span class="framework_s text-r">选择节点：</span>
                    <div>
                        <ul class="bd pd-10 node_ul  mr-10" style="width:100%;min-height:30px;">
                            <li ng-repeat="node in vm.nodeList.available"  ng-class="{'btn1_blue':vm.code==node.id}"\
                                ng-click="vm.code=node.id">{{node.url}}
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="framework mb-10">
                    <span class="framework_s text-r"></span>
                    <div>
                        <button class="btn1 btn1_blue mr-10"  ng-click="vm.verifyRelease()?closeThisDialog(1):''">发布</button>
                        <button class="btn1 btn_gray"  ng-click="closeThisDialog(0)">取消</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<style>
    .miles-autoBar{width:100%;}
</style>