<div class="warp" style="margin-top:20px;">
    <div class="p20" style="background:#fff;">
        <!--//图片上传时显示进度条-->
        <div class="pic_bar mt-10 ">
            <p class="tc mb-10">10%</p>
            <div class="progress mb-20">
                <span class="bar_span"></span>
            </div>
        </div>
        <div class="clearfix mb-20" >
            <span class="L">
                <button class="L btn1 btn1_blue mr-10" >上传文档</button>
                <span >目前支持最多10个文件上传，格式为：word、excel、ppt、pdf。单个大小为10M以内</span>
            </span>
            <div class="R dib">
                <span class="L mr-10">
                    <input type="text" class="L input-text"  placeholder="请输入查询文档的名称" style="width:200px;"/>
                    <input type="button" value="" class="L tw_btn " />
                </span>
                <button class="L btn1 btn1_blue mr-10">导出</button>
                <button class="L btn1 btn_delete">批量删除</button>
            </div>
        </div>
        <div class="pic_box_wrap clearfix">
            <table class="pic_tab">
                <tr class="tr1">
                    <td width="5%"><input type="checkbox" /> </td>
                    <td width="30%">文档名称</td>
                    <td width="15%">文件大小</td>
                    <td width="18%">添加时间</td>
                    <td width="16%">添加人</td>
                    <td width="16%">操作</td>
                </tr>
                <tr>
                    <td><input type="checkbox" /></td>
                    <td>小富测试文档.docx</td>
                    <td>140.3kb</td>
                    <td>2017-08-15</td>
                    <td>zhangzheng</td>
                    <td>
                        <a href="javascript:;" class="mr-10 c_blue" ng-click="vm.changeName()">修改名称</a>
                        <a href="javascript:;" class="c_red">删除</a>
                    </td>
                </tr>
                <tr>
                    <td><input type="checkbox" /></td>
                    <td>小富测试文档.docx</td>
                    <td>140.3kb</td>
                    <td>2017-08-15</td>
                    <td>zhangzheng</td>
                    <td>
                        <a href="javascript:;" class="mr-10 c_blue" ng-click="vm.changeName()">修改名称</a>
                        <a href="javascript:;" class="c_red">删除</a>
                    </td>
                </tr>
            </table>

        </div>
        <div class="tr"><span >本页<b>0</b>条，共有<b>X</b>条</span></div>
        <pagination ng-if="vm.paginationConf.totalItems && vm.paginationConf.totalItems>0" conf="vm.paginationConf"></pagination>
    </div>
</div>
<style>

</style>
<script>



</script>