<div ui-view="header"></div>
<div class="warp "  style="margin-top:20px;">
    <div class="pd-30" style="background:#fff;">
        <h3 class="mb-30 f16">使用常见问题</h3>
        <div>
            <h4 class="c_blue mb10">1、ultra_bpp产品bpp的中文全称是什么？专业人士给个答案，是叫业务流程平台么？</h4>
            <p class="pl20 mb20">答：业务流程平台(Business Process Platform，BPP) </p>
            <h4 class="c_blue mb10 ">2、登陆目标主机，启动PtrolAgent 进程时报错： Cannot access `/patrol/itmuser/Patrol3/AIX5.3-64/lib/psl' for writing -- I/O error如何解决</h4>
            <p class="pl20 mb20">答：工欲善其事，必先利其器。请问什么时候才能配上电脑？电脑为什么都配acer或dell的，开发用thinkpad T系列的不是更好，哪怕是老点的本，只要内存够大，更加适合开发使用。只是个人想法。</p>
            <h4 class="c_blue mb10 ">3、重启失败是啥问题？</h4>
            <p class="pl20 mb10">答：喝点热水</p>
        </div>
    </div>
</div>
