<div ui-view="header"></div>
<div class="warp "  style="margin-top:20px;">
    <div class="pd-30" style="background:#fff;">
        <h3 class="mb-30 f16">使用常见问题</h3>
        <div>
            <!--<h4 class="c_blue mb10">1、ultra_bpp产品bpp的中文全称是什么？专业人士给个答案，是叫业务流程平台么？</h4>-->
            <!--<p class="pl20 mb20">答：业务流程平台(Business Process Platform，BPP) </p>-->
            <!--<h4 class="c_blue mb10 ">2、登陆目标主机，启动PtrolAgent 进程时报错： Cannot access `/patrol/itmuser/Patrol3/AIX5.3-64/lib/psl' for writing &#45;&#45; I/O error如何解决</h4>-->
            <!--<p class="pl20 mb20">答：工欲善其事，必先利其器。请问什么时候才能配上电脑？电脑为什么都配acer或dell的，开发用thinkpad T系列的不是更好，哪怕是老点的本，只要内存够大，更加适合开发使用。只是个人想法。</p>-->
            <!--<h4 class="c_blue mb10 ">3、重启失败是啥问题？</h4>-->
            <!--<p class="pl20 mb10">答：喝点热水</p>-->

            <h4 class="c_blue mb10">1. 小富机器人功能？ </h4>
            <p class="pl20 mb20"> 面向大中型企业的私有部署智能问答交互产品。是一款更懂你的机器人! </p>

            <h4 class="c_blue mb10">2. 小富机器人的重要性？ </h4>
            <p class="pl20 mb20"> 小富的设计融合各个行业领域的需求推出分场景设计，对相同场景的业务提供多样化的支撑，提供多样化的知识加工。 </p>

            <h4 class="c_blue mb10">3. 小富机器人的目标用户？ </h4>
            <p class="pl20 mb20">大中型企业，政府的知识条目都很复杂，小富机器人有很强大的业务类目与知识加工功能，能帮助客户快速的加工知识，-因此小富是大中型企业客户的理想工具 </p>

            <h4 class="c_blue mb10">4. 小富机器人设计理念？</h4>
            <p class="pl20 mb20">神州泰岳的小富机器人是一款人工智能界的创新产品，它提供了业界首款面向场景的智能问答机器人。
                小富机器人从设计之初一直秉承着极致创新的产品理念，为用户打造爱不释手的产品。
                小富的设计融合各个行业领域的需求,在产品设计上采用了业界领先的语义认知技术，而且在交互体验上对企业用户的实际操作过程做了细致考虑。
                目前，小富机器人已经为政府，银行等数家大型企业提供智能问答服务。 </p>

            <h4 class="c_blue mb10">5. 小富机器人的产品定位和价值？ </h4>
            <p class="pl20 mb20"> (1) 小富主要定位于为企业、政府、个人用户提供智能问答解决方案。</p>
            <p class="pl20 mb20"> (2) 小富的价值主要体现在：业内首款面向场景设计的交互机器人，采用目前业内最先进的算法，提供了整体性业务建模，场景化的知识表达体系，以及具有碎片化知识加工的功能。 </p>

        </div>
    </div>
</div>
