<div class="main_conR_con">
    <div id="loadingWidget" class="row-fluid ui-corner-all" style="padding: 0 .7em;" loading-widget>
        <div class="loadingContent">
            <p style="text-align:center;">
                <img alt="Loading  Content" src="images/loading.gif"/>
            </p>
        </div>
    </div>

    <div class="main_conR_condiv" ng-repeat="knowItem in knowItems">
        <p class="p2" ng-bind="knowItem.title" ui-sref="index.item_detail({id:knowItem.id})"></p>
        <!-- 内容显示80字 这里还需要进行过滤 推荐后台处理 -->
        <div class="main_conR_condiv2" ng-bind="knowItem.content"
             ng-text-truncate="knowItem.content"
             ng-tt-more-label="显示"
             ng-tt-less-label="隐藏"
             ng-tt-chars-threshold="60">
        </div>
        <div class="main_conR_condiv2">
            <em class="em1 color_gray">业务标签：</em>
            <b ng-bind="knowItem.serviceTag"></b>
        </div>
        <div class="main_conR_condiv2 clearfix">
            <div class="L ">
                <em class="em1 color_gray">更新时间</em>
                <span ng-bind="knowItem.utime"></span>
                <em class="em1 color_gray">知识状态：</em>
                <span ng-bind="knowItem.state"></span>
            </div>
            <div class="R share_div">
                <a href="javascript:;" class="a1" ng-bind="knowItem.commentNum" title="评论"
                   ng-click="showCommentContainer(knowItem.id)"></a>
                <a href="javascript:;" class="a2" ng-bind="knowItem.attentionNum" title="关注"
                   ng-click="focusKnowItem(knowItem)"></a>
                <a href="javascript:;" class="a3" title="分享" ng-click="toShareKnowItem(knowItem)"></a>
            </div>
        </div>
        <form name="commentForm" class="hide" id="commentContent{{knowItem.id}}">
            <fieldset class="form-group">
                <textarea class="form-control" placeholder="" title="Review" required="true"></textarea>
            </fieldset>
            <fieldset class="form-group">
                <input type="submit" class="btn btn-primary pull-right" value="提交"
                       ng-click="submitComment(knowItem.id)"/>
            </fieldset>
        </form>
    </div>
    <span ng-if="SearchPojoInitialized()">
        <pagination ng-if="paginationConf.totalItems && paginationConf.totalItems>0" conf="paginationConf"></pagination>
    </span>
</div>