.Wdate{
	border:#129ee6 1px solid;
	width:128px;
	height:26px;
	background:url(datePicker.png) no-repeat 143px center;
	color:#06cee8!important;
	font:12px/1.5 Microsoft YaHei,tahoma,arial,\5b8b\4f53;
	padding:5px 30px 5px 12px;
}
.Wdate1{
	border:#129ee6 1px solid;
	width:128px;
	height:26px;
	background:url(datePicker.png) no-repeat 94px center;
	color:#06cee8!important;
	font:12px/1.5 Microsoft YaHei,tahoma,arial,\5b8b\4f53;
	padding:5px 30px 5px 12px;
}
.Wdate::-ms-clear{display:none;}

.WdateFmtErr{
	font-weight:bold;
	color:red;
}