
<div class="pd-20" >
    <div>
        <h3 class="mb-20 tc">{{vm.dialogTitle}}</h3>
        <div class="mb-20 concept_div">
            <span class="concept_s">词语：</span>
            <div >
                <input id="sentimentKeyTwo" type="text" ng-model="vm.key" class="input_text"/>
                <p id="keyAddError" class="c-error pd-5"></p>
            </div>
        </div>
        <div class="mb-20 concept_div">
            <span class="concept_s" >情感分类：</span>
            <select ng-model="vm.classify"  class="input_text" style="width: 260px;">
                <option value=490 selected>乐</option>
                <option value=491>好</option>
                <option value=492>怒</option>
                <option value=493>哀</option>
                <option value=494>惧</option>
                <option value=495>恶</option>
                <option value=496>惊</option>
            </select>
        </div>
        <div class="mb-20 concept_div">
            <span class="concept_s" >强度：</span>
            <select ng-model="vm.strength"  class="input_text" style="width: 260px;">
                <option value="1" selected>1</option>
                <option value="3">3</option>
                <option value="5">5</option>
                <option value="7">7</option>
                <option value="9">9</option>
            </select>
        </div>
        <div class="mb-20 concept_div">
            <span class="concept_s" >极性：</span>
            <select ng-model="vm.polar"  class="input_text" style="width: 260px;">
                <option value="0" selected>0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">4</option>
            </select>
        </div>
        <div class="concept_div">
            <input type="submit" class="btn1 btn1_blue mr-15" ng-click="closeThisDialog(1)" value="确定"/>
            <input type="button" class="btn1 btn_gray" ng-click="closeThisDialog(0)" value="取消" />
        </div>
    </div>
</div>
<style>
    .ngdialog.ngdialog-theme-default .ngdialog-content{
        width:500px;
    }

    .ui-autocomplete {
        /* will be fixed by options.outHeight */
        max-height: 300px;
        min-height: 50px;
        max-width: 200px;
        overflow-y: auto;
        /* prevent horizontal scrollbar */
        overflow-x: hidden;
        /* add padding to account for vertical scrollbar */
        padding-right: 0;
        z-index: 9999;
    }
    .ui-helper-hidden-accessible {
        display: none;
    }
    .ui-menu-add {
        text-align: center;
    }
    .ui-menu-group {
        margin-right: 10px;
        text-align: right;
        color: red;
    }
    .ui-state-hover,
    .ui-state-focus,
    .ui-state-active {
        border: none;
        background: none;
        cursor: pointer;
    }
    /* Scrollbar Styles */
    ::-webkit-scrollbar {
        background-color: transparent;
        width: 15px;
    }
    ::-webkit-scrollbar-thumb {
        background: #aaa;
        min-height: 20px;
    }
    ::-webkit-scrollbar-track {
        background: #ddd;
    }
    .text-demo {
        color: red;
    }
</style>
<script></script>