<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
<meta http-equiv="Cache-Control" content="no-siteapp">

<!--[if lt IE 9]>
	<link rel="stylesheet" type="text/css" href="../css/H-ui.ie.css">
    <script type="text/javascript" src="../lib/html5.js"></script>
    <script type="text/javascript" src="../lib/respond.min.js"></script>
    <script type="text/javascript" src="../js/PIE_IE678.js"></script>
    <![endif]-->
<link rel="stylesheet" type="text/css" href="../css/H-ui.min.css">
<link rel="stylesheet" type="text/css" href="../css/H-ui.admin.css">
<link rel="stylesheet" type="text/css" href="../lib/1.0.8/iconfont.css">

<link rel="stylesheet" type="text/css" href="../css/common2.css">
<link rel="stylesheet" type="text/css" href="../css/style1.css">


<title>修改同义概念</title>
<meta name="keywords" content="">
<meta name="description" content="">
<link rel="stylesheet" href="../css/layer.css" id="layui_layer_skinlayercss">
<link rel="stylesheet" href="../js/skin/WdatePicker.css">
</head>

<body style="background:#fff;">
<div class="page-container" >
    <form  method="post" class="form form-horizontal" >
        <div class="mb-10 cl">
            <label class="form-label col-xs-3 col-sm-2">概念类名：</label>
            <div class="formControls col-xs-9 col-sm-9">
                <input type="text"  value="违禁品" class="input-text"/>
            </div>
        </div>
        <div class="mb-10 cl">
            <label class="form-label col-xs-3 col-sm-2">概念权重：</label>
            <div class="formControls col-xs-9 col-sm-9">

                <select class="input-text">
                    <option>重要</option>
                    <option>一般</option>
                    <option>不重要</option>
                </select>
            </div>
        </div>
        <div class="concept_box">
            <div class="mb-10 cl">
                <label class="form-label col-xs-3 col-sm-2">新增概念：</label>
                <div class="formControls col-xs-9 col-sm-9">
                    <input type="text"  value="违禁品" class="input-text input_m"/>
                    <a href="javascript:;" onclick="add_concept(this);"><img src="../images/add_img.png"/></a>
                </div>
            </div>
        </div>
        <div class="mb-10 cl">
            <label class="form-label col-xs-3 col-sm-2">同义概念：</label>
            <div class="formControls col-xs-9 col-sm-9">
                <div class="bd cl">
                    <input type="text " class="L txt_synonym" />
                    <input type="button" class="btn_synonym L"/>
                </div>
                <ul class="bd synonym_ul">
                    <li onclick="select(this)">汽油</li>
                    <li onclick="select(this)">火柴</li>
                    <li onclick="select(this)">砍刀</li>
                    <li onclick="select(this)">炸弹</li>
                    <li onclick="select(this)">地雷</li>
                    <li onclick="select(this)">手枪</li>
                </ul>
            </div>
        </div>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                <input type="submit" class="btn1 mr-15" value="确定"/>
                <input type="button" class="btn_gray" value="取消" />
            </div>
        </div>
    </form>
</div>
<script type="text/javascript" src="../js/jquery.min.js"></script>
<script src="../js/common.js"></script>
<script type="text/javascript" src="../js/layer.js"></script>
<script type="text/javascript" src="../js/H-ui.js"></script>
<script type="text/javascript" src="../js/H-ui.admin.js"></script>
<script src="../js/WdatePicker.js" type="text/javascript"></script>

<script type="text/javascript">
    //添加
    function add_concept(obj){
        var oCon=$(obj).prev().val();
        var str='<div class="mb-10 cl"><label class="form-label col-xs-3 col-sm-2">新增概念：</label><div class="formControls col-xs-9 col-sm-9"><input type="text"  value="'+oCon+'" class="input-text input_m"/><a href="javascript:;" onclick="rem_concept(this)"> <img src="../images/delete_img.png"/></a></div></div>';
        $('.concept_box').append(str);
    }
    //删除
    function rem_concept(obj){
        $(obj).parent().parent().remove();
    }
    //
    function select(obj){
        var oTxt=$(obj).html();
        $('.txt_synonym').val(oTxt);
        $(obj).parent().hide();
    }
</script>
</body>
</html>
