<div class="r-cont pd30">



    <div class="r-cont-hd">
        <span>集合概念管理</span>
    </div>
    <div>
        <div class="conceptSearch">
            <div class="conceptSearchFl">
                <input type="text"/>
                <div class="my-select" style="width: 112px;">
                    <div class="my-value">
                        <label>概念类</label><em></em>
                    </div>
                    <div class="my-option" style="display: none;">
                        <dl>
                            <dd value="1">概念类</dd>
                            <dd value="2">概念类</dd>
                            <dd value="3">概念类</dd>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="jqrsz-btn-box conceptSearchRt">
                <a class="btn btn-blue mr10" id="addCase" ng-click="vm.addAggregate()">新增</a>
                <a class="btn btn-blue mr10" href="javascript:;">批量新增</a>
                <a class="btn btn-green mr10" href="javascript:;">继续概念库</a>
                <a class="btn btn-green mr10" href="javascript:;">下载模板</a>
                <a class="btn btn-green2 mr10" href="javascript:;">导出概念库</a>
            </div>
        </div>
        <div class="conceptTab">
            <table border="1">
                <thead>集合概念表</thead>
                <tr>
                    <td><div class="my-checkbox table-checkbox1"><label></label></div></td>
                    <td>概念类名</td>
                    <td>概念类权重</td>
                    <td>集合概念</td>
                    <td>更新时间</td>
                    <td>创建人</td>
                    <td>操作</td>
                </tr>
                <tr ng-repeat="item in vm.listData">
                    <td><div class="my-checkbox table-checkbox"><label></label></div></td>
                    <td class="color-blue2">{{item.businessConceptKey}}</td>
                    <td class="color-blue2">{{item.businessConceptWeight}}</td>
                    <!--<td class="color-blue2">{{item.businessConceptTerm.replace(/'\；'/,",")}}</td>-->
                    <!--<td class="color-blue2">{{item.businessConceptTerm.replace("/\;/",",")}}打击、<a href="javascript:;">敲打</a></td>-->
                    <td>2016-04-29 14:40:54</td>
                    <td>{{item.businessConceptModifier}}</td>
                    <td><a href="javascript:;" class="color-blue modifyConcept" ng-click="vm.editAggregate()">修改</a> &nbsp;<a href="javascript:;" class="delConcept">删除</a></td>
                </tr>

            </table>
        </div>
        <pagination ng-if="vm.paginationConf.totalItems && vm.paginationConf.totalItems>0" conf="vm.paginationConf"></pagination>
    </div>
</div>
<style>
    .pagination {
        margin: 0 !important;
    }
</style>