<div class="pd-20">
    <div>
        <h3 class="mb-20 tc">{{vm.dialogTitle}}</h3>
        <div class="mb-20 concept_div">
            <span class="concept_s">概念类名：</span>
            <div>

                <form name="title">
                    <input type="text" ng-model="vm.key" maxlength="20"  class="input_text" placeholder="违禁品"/>
                </form>

            </div>
        </div>
        <div class="mb-20 concept_div">
            <span class="concept_s">概念权重：</span>
            <div>
                <select class="input_text" ng-model="vm.weight">
                    <option value="31">极不重要</option>
                    <option value="32">不重要</option>
                    <option value="33">一般</option>
                    <option value="34">重要</option>
                    <option value="35">极重要</option>
                </select>
            </div>
        </div>
        <div class="mb-20 concept_div">
            <span class="concept_s" >概念集合：</span>
            <div>
                <div class="textarea" style="height: auto;width: 260px ;border: 0;padding: 0;">
                    <textarea id="term"></textarea>
                </div>
            </div>
        </div>
        <div class="concept_div">
            <input type="submit" class="btn1 btn1_blue mr-15" ng-click="closeThisDialog(1)" value="确定"/>
            <input type="button" class="btn1 btn_gray" ng-click="closeThisDialog(0)" value="取消" />
        </div>
    </div>
</div>
<style>
    .ngdialog.ngdialog-theme-default .ngdialog-content{
        width:500px;
    }

    .ui-autocomplete {
        /* will be fixed by options.outHeight */
        max-height: 300px;
        min-height: 50px;
        max-width: 200px;
        overflow-y: auto;
        /* prevent horizontal scrollbar */
        overflow-x: hidden;
        /* add padding to account for vertical scrollbar */
        padding-right: 0;
        z-index: 9999;
    }
    .ui-helper-hidden-accessible {
        display: none;
    }
    .ui-menu-add {
        text-align: center;
    }
    .ui-menu-group {
        margin-right: 10px;
        text-align: right;
        color: red;
    }
    .ui-state-hover,
    .ui-state-focus,
    .ui-state-active {
        border: none;
        background: none;
        cursor: pointer;
    }
    /* Scrollbar Styles */
    ::-webkit-scrollbar {
        background-color: transparent;
        width: 15px;
    }
    ::-webkit-scrollbar-thumb {
        background: #aaa;
        min-height: 20px;
    }
    ::-webkit-scrollbar-track {
        background: #ddd;
    }
    .text-demo {
        color: red;
    }
</style>
<script></script>