
<div class="pd-20" >
    <div>
        <h3 class="mb-20 tc">新增集合概念</h3>
        <div class="mb-20 concept_div">
            <span class="concept_s">概念类名：</span>
            <div>
                <input type="text" ng-model="vm.key"  maxlength="20"  class="input_text" placeholder="违禁品"/>
            </div>
        </div>
        <div class="concept_div">
            <input type="submit" class="btn1 btn1_blue mr-15" ng-click="closeThisDialog(1)" value="确定"/>
            <input type="button" class="btn1 btn_gray" ng-click="closeThisDialog(0)" value="取消" />
        </div>
    </div>
</div>
<style>
    .ngdialog.ngdialog-theme-default .ngdialog-content{
        width:500px;
    }
</style>
<script>

</script>