<div class="r-cont pd30 L" style="min-width: 1000px;">
    <div class="r-cont-hd">
        <span>集合概念管理</span>
    </div>
    <div>
        <div class="conceptSearch clearfix">
            <div class=" L bd mr-5" style="height:32px;max-width:467px;padding:1px;">
                <select id="searchType" ng-model="vm.searchType" style="height: 29px;">
                    <option value="collectiveConceptKey" selected>集合概念类名</option>
                    <option value="collectiveConceptWeight">集合概念权重</option>
                    <option value="collectiveConceptTerm">概念集合</option>
                    <option value="collectiveConceptModifier">修改人</option>
                    <option value="collectiveConceptModifyTime">更新时间</option>
                </select>
                <input type="text" ng-if="vm.searchType!='collectiveConceptModifyTime' || vm.searchType!='collectiveConceptWeight'" ng-model="vm.searchVal" class="input_text" style="border:0;height:25px;" ng-keypress="($event.which === 13)?vm.search():0"/>
                <div style="margin: -30px 0px 0px 101px;" ng-if="vm.searchType=='collectiveConceptModifyTime'">
                    <input type="text" id="startTime" onchange=""  ng-model="vm.timeStart"  onclick="WdatePicker({startDate:'%y',dateFmt:'yyyy-MM-dd',maxDate:'#F{$dp.$D(\'endTime\')}'})" class="input-text Wdate "  style="width:170px;border:1px solid #e1e1e1;height: 31px;font-size: 15px;color: #333!important;" placeholder="yyyy-mm-dd" readonly>
                    -
                    <input type="text" id="endTime"   onchange="" ng-model="vm.timeEnd" onclick="WdatePicker({startDate:'%y',dateFmt:'yyyy-MM-dd',minDate:'#F{$dp.$D(\'startTime\')}'})" class="input-text Wdate "  style="width:170px;border:1px solid #e1e1e1;height: 31px;font-size: 15px;color: #333!important;" placeholder="yyyy-mm-dd" readonly>
                </div>
                <div style="margin: -30px 0px 0px 107px;" ng-if="vm.searchType=='collectiveConceptWeight'">
                    <select class="input_text" id="collectiveConceptWeight" style="height: 29px;">
                        <option value="31">极不重要</option>
                        <option value="32">不重要</option>
                        <option value="33" selected>一般</option>
                        <option value="34">重要</option>
                        <option value="35">极重要</option>
                    </select>
                </div>
            </div>
            <input type="button" value="查找" ng-click="vm.searchCollectiveConcept()"  class="btn1 btn1_blue"/>
            <div class=" conceptSearchRt">
                <a class="btn btn-blue mr10" id="addCase" ng-click="vm.addCollective()">新增</a>
                <a class="btn btn-blue mr10" href="javascript:;" ng-click="vm.batchUpload()">批量新增</a>
                <!--<a class="btn btn-green mr10" href="javascript:;">继续概念库</a>-->
                <a class="btn btn-green mr10" href="javascript:;" ng-click="vm.downloadTemplate()">下载模板</a>
                <a class="btn btn-green2 mr10" href="javascript:;" ng-click="vm.exportAll()">导出概念库</a>
            </div>
        </div>
        <table class="stop_word_tab">
            <thead>
                <tr>
                    <!--<th class="bold" width="5%"><input type="checkbox"/></th>-->
                    <th class="bold" width="10%">集合概念类名</th>
                    <th class="bold" width="10%">集合概念权重</th>
                    <th class="bold" width="40%">概念集合</th>
                    <th class="bold" width="20%">更新时间</th>
                    <th class="bold" width="10%">修改人</th>
                    <th class="bold" width="10%">操作</th>
                </tr>
            </thead>
            <tr ng-repeat="item in vm.listData">
                <!--<td><input type="checkbox"></td>-->
                <td>{{item.collectiveConceptKey}}</td>
                <td>{{item.collectiveConceptWeight | weightFilter}}</td>
                <td>
                    <span ng-class="($index%2==1)?'ng-blue':'ng-red'" ng-repeat = "i in item.collectiveConceptTerm.split('；')">{{i}} <i ng-if="$index!=item.collectiveConceptTerm.split('；').length-1" style="color: #333;">,</i></span>
                </td>
                <td>{{item.collectiveConceptModifyTime | date : 'yyyy-MM-dd HH:mm:ss'}}</td>
                <td>{{item.collectiveConceptModifier}}</td>
                <td>
                    <a href="javascript:;" class="color-blue modifyConcept" ng-click="vm.editCollective(item)">修改</a> &nbsp;
                    <a href="javascript:;" class="delConcept" ng-click="vm.deleteCollective(item.collectiveConceptId)">删除</a>
                </td>
            </tr>
        </table>
        <pagination ng-if="vm.paginationConf.totalItems && vm.paginationConf.totalItems>0" conf="vm.paginationConf"></pagination>
    </div>

</div>
<style>
    .pagination {
        margin: 0 !important;
    }
    .ngdialog{
        z-index: 5!important;
    }
</style>
<script></script>