<div class="msgR-cont" style="width: 100%;">
    <p class="r-cont-hd" style="border-bottom: 1px solid #f0f0f0;line-height: 78px;margin-bottom: 30px;font-weight: 600;padding-left: 20px;">应用信息</p>
    <div style="padding-left: 40px;">
        <ul class="msgR-state">
            <li >应用名称：{{vm.applicationInfo.name}}</li>
            <li >应用状态：
                <span ng-if="vm.applicationInfo.statusId==40001">未使用</span>
                <span ng-if="vm.applicationInfo.statusId==40002">使用中</span>
                <span ng-if="vm.applicationInfo.statusId==40003">已停用</span>
            </li>
            <li>场景类型：客服</li>
            <li>创建时间：{{vm.applicationInfo.createTime | date : 'yyyy-MM-dd'}}</li>
        </ul>
        <div class="jqrsz-btn-box" style="padding: 30px 0;margin-bottom:0; ">
            <buttom class="btn btn_delete mr10" style="color:#fff" id="deletePop" ng-click="vm.deleteApplication()">删除应用</buttom>
            <buttom class="btn btn-gray mr10" ng-click="vm.stopAllServices()" >下线所有服务</buttom>
        </div>
        <p class="msgR-title mb-10">应用高级信息</p>
        <div class="clearfix" >
            <ul class="msgR-table-1 msgR-table-2 L">
                <li class="msgR-table-head">发布信息</li>
                <li ng-repeat="item in vm.serviceData track by $index">
                    <div style="width: 36%;float: left;text-align: center;">
                        {{item.name}}
                    </div>
                    <div style="width: 25%;float: left;text-align: center;">
                        <span  ng-if="item.status==30002">已发布</span>
                        <span  ng-if="item.status==30001">未发布</span>
                        <span  ng-if="item.status==30003">已下线</span>
                    </div>
                    <div style="width: 30%;float: left;text-align: right;">
                        <buttom class="btn btn-blue" ng-if="item.status==30003" ng-click="vm.startService(item.id)">发布</buttom>
                        <buttom class="btn btn-gray" ng-if="item.status==30002" ng-click="vm.stopService(item.id)">下线</buttom>
                        <buttom class="btn btn-blue" ng-if="item.status==30001" ng-click="vm.startService(item.id)">发布</buttom>
                    </div>

                </li>
            </ul>
        </div>
        <!--<pagination ng-if="vm.paginationConf.totalItems && vm.paginationConf.totalItems>0" conf="vm.paginationConf"></pagination>-->
    </div>

</div>
