
html,body{font-family: "\5FAE\8F6F\96C5\9ED1"; min-width: 1250px;}
.ellipsis{ display: block; white-space:nowrap;text-overflow:ellipsis;overflow:hidden;cursor:pointer;}
.btn{padding: 0.4em 1em; text-align: center; cursor: pointer;border: 1px solid transparent; display: inline-block; *display: inline; *zoom: 1;}
.icoimg{position: relative;top: -0.15em; margin-right: 0.2em; vertical-align: middle;}
.ipt-txt{height: 20px; line-height:20px;font-size: 14px; padding: 6px; background: none; border: none; background-color: #fff;}
/*头部*/
.warp{width: 1200px; overflow: hidden; margin: 0 auto 78px; height: inherit; }
.h-cont{height: 104px; background-color: #03a3ff; overflow: hidden;}
.logo{color: #fff; display: inline-block;  margin: 26px 0;}
.logo span{ font-weight: bold;font-size: 26px; line-height: 1.1em; display: block; text-shadow: 1px 1px 1px #79ceff;}
.logo em{font-size: 16px;text-shadow: 0px 0px 1px #79ceff;}
.h-search{ width: 496px; height: 36px; overflow: hidden; position: relative;background-color: #fff; margin: 34px 65px; padding-right: 66px; padding-left: 4px;}
.h-search .search-txt{background: none; font-size: 12px; width: 100%; padding: 11px 0px; line-height: 1.2; border: none;}
.h-search .search-btn{position: absolute; right: 0; top: 0; width: 62px; height: 100%; font-size: 14px; background: #393e49; border: none; color: #fff; cursor: pointer;}
.h-cont .user-box{overflow: hidden;  line-height: 1; margin: 26px 0; padding: 18px 0;}
.h-cont .user-box li{float: left; padding: 0 18px; border-left:1px solid #f6f6f6 ; margin-left: -1px;}
.h-cont .user-box li a{color: #fff;font-size: 14px;}
.h-cont .user-info{ position: relative; padding-left: 45px;     white-space:nowrap;text-overflow:ellipsis;width: 43px; font-size: 14px; color: #fff; display: block;}
.h-cont .user-info .user-photo{position: absolute;left: 0; top: -11px; width: 36px; height: 36px; display: inline-block; overflow: hidden; }
.signout{ padding-left: 18px; display: block;background: url(../images/icon-signout.png) no-repeat left center;}

.nav-box{ height: 52px; background-color: #393e49;}
.nav-box li{float: left; margin-right: 45px;}
.nav-box li a{font-size: 16px; color: #e1e1e3; display: block; height: 47px; line-height: 52px;}
.nav-box li a.active,.nav-box li a:hover{ border-bottom: 5px solid #03a3ff; color: #03a3ff;}

/*底部*/
.footer_f{height:55px; background-color: #393e49;position:fixed;bottom:0;width:100%;z-index:20}
.f-nav{ overflow: hidden; color: #f6f6f6; padding: 11px 0; position: relative; left: -60px;}
.f-nav dt,.f-nav dd{display: inline-block;  *display: inline; *zoom: 1;}
.f-nav dt{font-size: 20px; margin-left: 60px; padding-right: 25px; position: relative; z-index: 2; background: #393e49; margin-right: -6px;}
.f-nav dt img{margin-right: 10px;}
.f-nav dt span{vertical-align: middle;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}
.f-nav dd{padding: 0 6px; border-left:1px solid #989aa0; line-height: 1.1; position: relative; top: 4px; *top: 1px;}
.f-nav dd a{color: #f6f6f6;}
.f-bq{color: #f6f6f6; font-size: 14px; padding: 20px 0;}

/*主体*/
.main.bgGray{background-color: #f8f8f8; min-height: 740px;}

.qr-btn,.qx-btn{margin-left: 4px;font-size: 14px; cursor: pointer; height: 35px; line-height: 35px; padding:  0 25px; border-radius: 4px; display: inline-block; *display: inline; *zoom: 1;}
.qr-btn{background-color: #03a3ff; color: #fff; border: 1px solid transparent;}
.qx-btn{background-color: #fcfcfc; color: #666; border: 1px solid #e5e5e5;}
.qr-btn.min-btn,.qx-btn.min-btn{height: 30px; line-height: 30px; padding:  0 10px;}
 .tw_btn { width: 50px; height: 31px; background: url(../../images/tw_search_png.png) #529ff6 no-repeat center center; margin-left: -1px; cursor: pointer;vertical-align: bottom;}