<div class="main warp">
    <div class="crumbs-nav bgwhite mt20">
        <span class="cn-lable">你曾经路过此地：</span>
        <span class="cn-value"><a class="cn-a" href="javascript:;">首页</a><i class="close">x</i></span>
        <span class="cn-value"><a class="cn-a" href="javascript:;">我的应用</a><i class="close">x</i></span>
        <span class="cn-value"><a class="cn-a" href="javascript:;">评论列表</a><i class="close">x</i></span>
        <span class="cn-value active"><a class="cn-a" href="javascript:;">机器人设置</a><i class="close">x</i></span>
    </div>
    <div class="addContent pd30">
        <div class="r-cont-hd">
            <span>概念知识新增</span>
        </div>
        <div class="r-cont-bd oh">

            <div class="jqrsz-item">
                <div class="item-line">
                    <div class="lable">
                        知识标题：
                    </div>
                    <div class="value">
                        <div class="ipt-txt-box">
                            <input ng-model="vm.knowledgeTitle" class="ipt-txt" type="text" />
                            <i class="btn-empty"></i>
                            <a href="javascript:;" class=" mr-15" ><img src="../../../images/images/add_img.png" alt=""></a>
                        </div>
                    </div>
                </div>

                <div class="item-line">
                    <div class="lable">
                        知识有效期：
                    </div>
                    <label>
                        <input style="width: 18px;height: 18px; margin-top: 2px;" type="checkbox" ng-model="vm.isTimeTable">  {{vm.timeFlag}}
                    </label>
                    <div style="margin: 10px 0 10px  232px;" ng-show="vm.isTimeTable">
                        <input type="text" id="startTime" onchange=""  ng-model="vm.timeStart"  onclick="WdatePicker({startDate:'%y',dateFmt:'yyyy-MM-dd',maxDate:'#F{$dp.$D(\'endTime\')}'})" class="input-text Wdate "  style="width:185px;border:1px solid #e1e1e1;height: 35px;font-size: 15px;color: #333!important;" placeholder="yyyy-mm-dd" readonly>
                        -
                        <input type="text" id="endTime"   onchange="" ng-model="vm.timeEnd" onclick="WdatePicker({startDate:'%y',dateFmt:'yyyy-MM-dd',minDate:'#F{$dp.$D(\'startTime\')}'})" class="input-text Wdate "  style="width:185px;border:1px solid #e1e1e1;height: 35px;font-size: 15px;color: #333!important;" placeholder="yyyy-mm-dd" readonly>
                    </div>
                </div>

                <div class="item-line">
                    <div class="lable">
                        知识BOT：
                    </div>
                    <div class="value menu_1Div" id="menu_1Div">
                        <div class="ipt-txt-box">
                            <input class="ipt-txt" ng-model="vm.knowledgeBotVal" id="ipt-txt" type="text" ng-disabled/>
                            <i class="btn-menu_1" ng-click="vm.knowledgeBot($event,0)"></i>
                            <div class="aside-navs aside-navs2" >
                                <ul class="menus show">
                                    <!--//test-->
                                    <li ng-repeat="item in vm.botRoot">
                                        <div class="slide-a">
                                            <a class="ellipsis" href="javascript:;">
                                                <i class="icon-jj" data-option="{{item.categoryId}}"></i>
                                                <span ng-click="vm.botValChange(item.categoryName)">{{item.categoryName}}</span>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="item-line" ng-repeat="item in vm.titleGroup">
                    <div class="lable"></div>
                    <div class="value menu_1Div" id="menu_1Div">
                        <div class="ipt-txt-box">
                            <div class="ipt-txt" ng-text="item"></div>
                        </div>
                    </div>
                </div>



                <div class="item-line">
                    <div class="row cl mb-10">
                        <div class="lable">业务框架：</div>
                        <!--<label class="form-label col-xs-4 col-sm-2 text-r">业务框架：</label>-->
                        <div class="formControls col-xs-8 col-sm-9">
                            <select class="input-text" style="width:407px;">
                                <option value="" ng-repeat="x in vm.framework">{{x}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="jqrsz-item">
                <div class="item-line">
                    <div class="lable">
                        知识内容：
                    </div>
                    <div class="value">
                        <div class="ipt-txt-box">
                            <input class="addBth" ng-click="vm.KnowledgeAdd()" type="button" value="+ 新增"/>
                            <i class="btn-empty"></i>
                        </div>
                    </div>
                </div>
                <div class="item-line">
                    <div class="lable"></div>
                    <div class="value">
                        <div class="ipt-txt-box">

                            <div class="textareaDiv textareaDiv1 textareaDiv2" >
                                <p contenteditable="true">信用卡账户：是指乙方及其附属卡持卡人在甲方开立的信用卡项下账户，双币信用卡的账户分为人民币账户和外币账户；IC信用卡的账户分为人民币主账户和人民币电子现金账户。
                                </p>
                                <span></span><span class="textareClose2"></span>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="item-line" id="item-line">
                    <div class="left"></div>
                    <div class="optionDiv"><span>渠道：</span>web</div>
                </div>

                <div class="item-line" id="item-line">
                    <div class="left"></div>
                    <div class="optionDiv"><span>维度：</span>地区—北京 地区—河北 地区—湖南</div>
                </div>

                <div class="item-line" id="item-line">
                    <div class="left"></div>
                    <div class="optionDiv"><span>概念扩展：</span></div>
                </div>

                <div class="item-line">
                    <div class="left"></div>
                    <div class="textareaDiv">信用卡账户账户和人民币电子现金账户。<span></span></div>
                    <i class="Hui-iconfont Hui-iconfont-add2" style="font-size: 27px"></i>
                </div>


                <div class="Concept-Ipt-nxtDiv Concept-Ipt-nxtDivOut">
                    <span class="Concept-Ipt-nxt-ico"></span>
                    <span class="Concept-Ipt-nxt"> 我们从您的知识内容里提取出了知识表示，您可以对这些知识表示进行编辑以生成概念扩展</span>
                </div>

            </div>

            <div class="jqrsz-item">
                <div class="item-line">
                    <div class="lable">
                        概念扩展：
                    </div>
                    <div class="value">
                        <div style="width: 500px;height: 38px;">
                            <input type="text"  placeholder="请输入问题" class="" style="text-indent:1em;height: 98%;display: inline-block;width: 70%;border: 1px solid #e1e1e1;border-right: 0;"><select name="" id="" class="input-text" style="display: inline-block;width: 20%;margin-top: 10px;height: 100%;">
                                <option value="">概念类</option>
                                <option value="">概念类</option>
                                <option value="">概念类</option>
                                <option value="">概念类</option>
                            </select>
                            <i class="Hui-iconfont  Hui-iconfont-close" style="font-size: 27px;color: red;"></i>
                        </div>
                        <!--<div class="error-tip hide">-->
                            <!--错误提示-->
                        <!--</div>-->
                    </div>
                </div>
            </div>

            <div class="jqrsz-btn-box">
                <a class="btn btn-blue mr10" href="javascript:;">保存</a>
                <a class="btn btn-gray" href="javascript:;" style="background: #2bcacc; color: #fff;">预览</a>
            </div>

        </div>
    </div>
</div>
<style>
    .container{
        background:#f8f8f8;
    }
    .ipt-txt{
        border: 1px  solid #e1e1e1;
    }
</style>
<script>
//    $(function(){
//        $(".checkboxAddress .my-select").hover(function () {
//            $(this).find("[class='deleteAddress']").css("display","block");
//            $(this).find("em").css("display","none")
//        },function () {
//            $(this).find("[class='deleteAddress']").css("display","none");
//            $(this).find("em").css("display","block")
//        });
//        $(".deleteAddress").click(function () {
//            $(this).parents("[class='my-select']").remove();
//        });

//        $("#ipt-txt").focus(function () {
//            $(".aside-navs2").slideDown()
//        });
//        $(".btn-menu_1").click(function () {
//            $(".aside-navs2").slideDown();
//        });
//        $(document).click(function () {
//            $(".aside-navs2").slideUp()
//        });
//
//        $("#ipt-txt,.btn-menu_1,.aside-navs2").click(function(e){//自己要阻止
//
//            e.stopPropagation();//阻止冒泡到body
//        });
//    });
//   hui  checkbox
//    $(function(){
//        $('.skin-minimal input').iCheck({
//            checkboxClass: 'icheckbox-blue',
//            radioClass: 'iradio-blue',
//            increaseArea: '20%'
//        })});

</script>