
<script type="text/ng-template" >
</script>
<div class="page-container" style="width: 550px" >
    <p>知识内容新增<span><i class="namePopupClose"  ng-click="closeThisDialog(0)"></i></span></p>
    <div class="addPopupCnt">
        <textarea ng-model="vm.newTitle"></textarea>
        <div class="checkboxStr">
            <div>渠道：</div>
            <label ng-repeat="channel in vm.channels">
                <input style="width: 18px;height: 18px; margin-top: 2px;" type="checkbox" >
                <!-- channelId-->
                {{channel.channelName}}
            </label>
        </div>
        <div class="checkboxAddress"  style="height: auto;">
            维度：
            <auto-complete  source="vm.source" result="vm.channelArr"></auto-complete>
        </div>
        <div class="Concept-Ipt-nxtDiv">
            <span class="Concept-Ipt-nxt-ico"></span>
            <span class="Concept-Ipt-nxt"> 我们从您的知识内容里提取出了知识表示，您可以对这些知识表示进行编辑以生成概念扩展</span>
        </div>

        <div class="channel_div mb-10" style="padding-left:80px;">
            <span class="channel_s" >高级选项：</span>
            <a href="javascript:;" class="c-primary unfold_fit" ng-click="vm.slideDown()">
                <span ng-if="!vm.slideFlag">展开</span>
                <span ng-if="vm.slideFlag">隐藏</span>
            </a>
        </div>
        <div class="senior_div"  style="display: none">
            <div class=" mb-10">
                <span >知识配置：</span>
                <div class="dib pt-5 mr-15">

                    <switch ng-click="vm.question = !vm.question"></switch>
                    <span>不显示相关问题</span>
                </div>
                <div class="dib pt-5 mr-15"  style="margin-left: 81px;">
                    <switch ng-click="vm.tip = !vm.tip"></switch>
                    <span>不在相关问题内提示</span>
                </div>
                <div class="dib pt-5 mr-15" style="margin-left: 81px;">
                    <switch ng-click="vm.tail = !vm.tail"></switch>
                    <span>不弹出评价小尾巴</span>
                </div>
            </div>
            <div>
                <div class="mb-10" style="position: relative;">
                    <span>指定相关知识:</span>
                    <input type="text" class="input-text extended_query_txt" ng-model="vm.appointRelative" placeholder="" ng-blur="vm.appointRelativeList=[];vm.appointRelative=''" style="width:279px;">
                    <ul ng-if="vm.appointRelativeList.length" style="position: absolute;left: 100px;z-index: 2">
                        <li ng-repeat="item in vm.appointRelativeList" style="border: 1px solid #b3b3b3;min-width: 280px;background: #e0eaf1;text-indent: 1em"
                            ng-click="vm.addAppoint(item,vm.appointRelativeGroup)">{{item}}</li>
                    </ul>
                </div>
                <!-- -->
                <div class="channel_div mb-20" ng-if="vm.appointRelativeGroup.length">
                    <span class="channel_s c-primary">已添加</span>
                    <ul>
                        <li ng-repeat="item in vm.appointRelativeGroup">{{$index}}、{{item}}  <span class="delete_a R" ng-click="vm.removeAppointRelative(item)"></span></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="jqrsz-btn-box" style="padding-left: 0px;">
            <a class="btn btn-blue mr10" ng-click="closeThisDialog(1)" href="javascript:;">保存</a>
            <a class="btn btn-gray" href="javascript:;" ng-click="closeThisDialog(0)">取消</a>
        </div>
    </div>
</div>


<style>
    #search_bar{
        width: 421px;
    }
    .addPopup {
        height: 500px
    }
    .ngdialog.ngdialog-theme-default .ngdialog-content {

        width: 500px;
    }
    .addPopupCnt{
        margin-left: 22px;
    }
</style>
<script>

</script>













