
<script type="text/ng-template" >
</script>
<div class="pd-10" style="width: 100%;" >
    <p>知识内容新增<span><i class="namePopupClose"  ng-click="closeThisDialog(0)"></i></span></p>
    <div class="addPopupCnt" style="width:100%;margin-left:0;padding-top:10px;">
        <form action="" name="myForm" novalidate>
            <textarea name="title" ng-model="vm.newTitle" required></textarea>
            <span class="c_red" ng-if="myForm.title.$dirty && myForm.title.$invalid">请添加知识标题</span>
        </form>
        <div class="checkboxStr mb-10">
            <div>渠道：</div>
            <!--{{vm.channel}}-->
            <label ng-repeat="channel in vm.channels">
                <input style="width: 18px;height: 18px; margin-top: 2px;" type="checkbox" ng-click="vm.selectChannel(channel.channelId)">
                {{channel.channelName}}
            </label>
        </div>
        <div class="checkboxAddress pr"  style="padding-left:50px;height: auto;">
            <span class="pa" style="left:0;top:0;">维度：</span>
            <!--{{vm.dimensionArr.id}}-->
            <auto-complete  source="vm.dimensionsCopy" result="vm.dimensionArr"></auto-complete>

        </div>
        <div class="Concept-Ipt-nxtDiv">
            <span class="Concept-Ipt-nxt-ico"></span>
            <span class="Concept-Ipt-nxt"> 我们从您的知识内容里提取出了知识表示，您可以对这些知识表示进行编辑以生成概念扩展</span>
        </div>

        <div class="channel_div mb-10" style="padding-left:80px;">
            <span class="channel_s" >高级选项：</span>
            <a href="javascript:;" class="c-primary unfold_fit" ng-click="vm.slideDown()">
                <span ng-if="!vm.slideFlag">展开</span>
                <span ng-if="vm.slideFlag">隐藏</span>
            </a>
        </div>
        <div class="senior_div"  style="display: none">
            <div class=" mb-10">
                <span >知识配置：</span>
                <div class="dib pt-5 mr-15">
                    <switch value="vm.question"></switch>
                    <span>显示相关问题</span>
                </div>
                <div class="dib pt-5 mr-15"  style="margin-left: 81px;">
                    <switch value="vm.tip"></switch>
                    <span>在相关问题内提示</span>
                </div>
                <div class="dib pt-5 mr-15" style="margin-left: 81px;">
                    <switch value="vm.tail"></switch>
                    <span>弹出评价小尾巴</span>
                </div>
            </div>
            <div>
                <div class="mb-10" style="position: relative;">
                    <span>指定相关知识:</span>
                    <input type="text" class=" appoint input-text extended_query_txt" ng-model="vm.appointRelative"  placeholder="" style="width:279px;">
                    <ul class="listItem" ng-if="vm.appointRelativeList.length" style="position: absolute;
                            left: 100px;z-index: 2;height: 200px;overflow: scroll ;">
                        <li ng-repeat="item in vm.appointRelativeList track by $index" style="min-width: 280px;
                                             cursor:pointer;background: #e1e1e1;text-indent: 1em;line-height: 26px"
                            ng-click="vm.addAppoint(item,vm.appointRelativeGroup)">{{item}}</li>
                    </ul>
                </div>
                <!-- -->
                <div class="channel_div mb-20" ng-if="vm.appointRelativeGroup.length">
                    <span class="channel_s c-primary">已添加</span>
                    <ul>
                        <li ng-repeat="item in vm.appointRelativeGroup track by $index">{{$index}}、{{item}}  <span class="delete_a R" ng-click="vm.appointRelativeGroup.splice($index,1)"></span></li>
                    </ul>
                </div>
            </div>
        </div>
        <!--{{vm.channel.length}}-->
        <!--{{}}-->
        <div class="jqrsz-btn-box" style="padding-left: 0px;">

            <input ng-disabled="(!vm.newTitle) || (!vm.channel.length)" value="保存" type="button" class="btn btn-blue mr10" ng-click="closeThisDialog(1)" >
            <a class="btn btn-gray" href="javascript:;" ng-click="closeThisDialog(0)">取消</a>
        </div>
    </div>
</div>

<style>
    #search_bar{
        width: 421px;
    }
    .addPopup {
        height: 500px
    }
    .ngdialog.ngdialog-theme-default .ngdialog-content {

        width:650px;
    }
    .addPopupCnt{
        margin-left: 22px;
    }
</style>
<script>

</script>













