<script type="text/ng-template">
</script>
<div class="pd-20 knowPopup" style="width: 100%;">
    <div class="tab_tit" style="width: 70%;border-bottom:0;">
        <span ng-class="vm.contentType==113?'cur':''" ng-click="vm.contentType=113">文本新增</span>
        <span ng-class="vm.contentType==111?'cur':''" ng-click="vm.contentType=111">图片新增</span>
        <span ng-class="vm.contentType==112?'cur':''" ng-click="vm.contentType=112">语音新增</span>
        <span ng-class="vm.contentType==114?'cur':''" ng-click="vm.contentType=114">图文新增</span>
    </div>
    <!--emotion-->
    <div name="emotion" class="miles-textArea-container" ng-show="vm.contentType==113"
         style="width: 100%;overflow-y: auto;">
        <!--{{vm.emotionText | emotion}}-->
        <div class="miles-textArea mb-5" id="emotion-container" name="title" contenteditable="true"
             style="overflow:auto;height:160px;"></div>
        <input type="text" id="emotinon-backup" ng-hide="true" ng-model="vm.emotionText"/>

        <div>
            <span class="emotion">表情</span>
            <span ng-click="vm.addLint()" style="cursor: pointer;margin-left: 8px;">添加连接</span>
        </div>
    </div>
    <!-- pic-->
    <div name="Teletext" class="miles-textArea-container" ng-show="vm.contentType==111"
         style="width: 100%;overflow-y: auto;">
        <img name="title" ng-if="vm.imgSelected" ng-click="vm.selectMultimedia()" ng-src="/img/{{vm.imgSelected.url}}"
             alt="" style="width: 188px;height: 150px;"/>
        <img name="title" ng-if="!vm.imgSelected" ng-click="vm.selectMultimedia()" src="/images/photo_add3.png" alt=""
             style="width: 150px;height: 150px;cursor:pointer;"/>

        <p ng-if="vm.imgSelected" style="margin-top: 10px;">已添加：{{vm.imgSelected.name}}</p>
    </div>
    <!-- pic-text-->
    <div name="imgText" class="miles-textArea-container" ng-show="vm.contentType==114"
         style="width: 100%;overflow-y: auto;">
        <img name="title" ng-if="vm.imgTextSelected" ng-click="vm.selectMultimedia()" ng-src="/img/{{vm.imgTextSelected.url}}"
             alt="" style="width: 188px;height: 150px;"/>
        <img name="title" ng-if="!vm.imgTextSelected" ng-click="vm.selectMultimedia()" src="/images/photo_add3.png" alt=""
             style="width: 150px;height: 150px;cursor:pointer;"/>

        <p ng-if="vm.imgTextSelected" style="margin-top: 10px;">已添加：{{vm.imgTextSelected.name}}</p>
    </div>
    <!--voice-->
    <div name="voice" class="miles-textArea-container" ng-show="vm.contentType==112"
         style="width: 100%;overflow-y: auto;">
        <img name="title" ng-if="vm.voiceSelected" ng-click="vm.selectMultimedia()" src="/images/audio_pic1.png" alt=""
             style="width: 150px;height: 150px;cursor:pointer;"/>
        <img name="title" ng-if="!vm.voiceSelected" ng-click="vm.selectMultimedia()" src="/images/photo_add3.png" alt=""
             style="width: 150px;height: 150px;cursor:pointer;"/>

        <p ng-if="vm.voiceSelected" style="margin-top: 10px;">已添加：{{vm.voiceSelected.name}}</p>
    </div>

    <div class="channel_div  mb-10 mt-10" style="padding-left:0;">

        <div class="checkboxStr mb-10">
            <div>渠道：</div>
            <!--{{vm.channel}}-->
            <label ng-repeat="channel in MASTER.channelList track by $index">
                <input style="vertical-align: middle; margin:-2px 2px 0px 0;" type="checkbox"  ng-click="vm.selectChannel(channel.channelCode,$event)" ng-checked="MASTER.channelList.inArray(channel.channelCode)">
                {{channel.channelName}}
            </label>
        </div>
        <div class="checkboxAddress pr"  style="padding-left:50px;height:auto;">
            <span class="pa" style="top:0;left:0;">维度：</span>
            <!--{{vm.dimensionArr.id}}-->
            <div auto-complete  source="vm.dimensionsCopy" result="vm.dimensionArr"></div>

        </div>
    <div class="channel_div mb-10" style="padding-left:80px;">
        <span class="channel_s">高级选项：</span>
        <a href="javascript:;" class="c-primary unfold_fit" ng-click="vm.slideDown()">
            <span ng-if="!vm.slideFlag">展开</span>
            <span ng-if="vm.slideFlag">隐藏</span>
        </a>
    </div>
    <div class="senior_div" style="display: none">
        <div class=" mb-10">
            <span>知识配置：</span>

            <div class="dib pt-5 mr-15">
                <span switch value="vm.question"></span>
                <span>显示相关问题</span>
            </div>
            <div class="dib pt-5 mr-15" style="margin-left: 81px;">
                <span switch value="vm.tip"></span>
                <span>在相关问题内提示</span>
            </div>
            <div class="dib pt-5 mr-15" style="margin-left: 81px;">
                <span switch value="vm.tail"></span>
                <span>弹出评价小尾巴</span>
            </div>
        </div>
        <div>
            <div class="mb-10" style="position: relative;">
                <span>指定相关知识:</span>
                <input type="text" class=" appoint input-text extended_query_txt" ng-model="vm.appointRelative"
                       placeholder="" style="width:380px;">
                <ul class="listItem" ng-if="vm.appointRelativeList.length" style="position: absolute;
    left: 91px;z-index: 2;height: 200px;width:380px;overflow: scroll ;">
                    <li ng-repeat="item in vm.appointRelativeList track by $index" style="min-width: 280px;
    cursor:pointer;background: #e1e1e1;text-indent: 1em;line-height: 26px"
                        ng-click="vm.addAppoint(item,vm.appointRelativeGroup)">{{item}}
                    </li>
                </ul>
            </div>
            <!-- -->
            <div class="channel_div mb-20" ng-if="vm.appointRelativeGroup.length">
                <span class="channel_s c-primary">已添加</span>
                <ul>
                    <li ng-repeat="item in vm.appointRelativeGroup track by $index">
                        <span class="mr-10">{{$index+1}}、{{item}}</span>
                        <span class="delete_a dib" ng-click="vm.appointRelativeGroup.splice($index,1)"></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
        <div class="tc mb-10">
            <input  value="保存" type="button" class="btn1 btn1_blue mr-20" ng-click="vm.increaseCheck()" >
            <button class="btn1 btn_gray" ng-click="closeThisDialog(0)">取消</button>
        </div>
</div>
</div>