<div class="pd-20" >
    <h3 class="mb10">批量新增</h3>

    <div class="bd voice_upload_div  mb-10">
        <div class="p10 ">
            <span uploader-base  class=" mr-10"></span>
        </div>
        <a href="/api/material/chat/knowledge/download?fileName=chatKnowledgeTemplate.xls" target="_blank" class="btn1 L btn1_blue2  mr-10" style="line-height:20px;">下载模板</a>


        <div class=" pd-5" style="border-top:1px solid #eee;">
            <p >只支持Excel 文本进行上传。以下错误可能会导致上传失败：</p>
            <p>1.上传文件为空</p>
            <p>2.上传格式不对</p>
            <p>3.数据为空</p>
        </div>
    </div>
    <button class="btn1 btn1_blue" id="startUpload" ng-click="vm.isUploadStart = true ">开始上传</button>

</div>
<style>

</style>
<script>



</script>