
html,body{font-family: "\5FAE\8F6F\96C5\9ED1"; min-width: 1280px;}
.ellipsis{ display: block; white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}
.btn{padding: 0.4em 1em; text-align: center; cursor: pointer;border: 1px solid transparent; display: inline-block; *display: inline; *zoom: 1;}
.icoimg{position: relative;top: -0.15em; margin-right: 0.2em; vertical-align: middle;}
.pas-t4{position: relative; top: -4px;}
.ipt-txt{height: 20px; line-height:20px;font-size: 14px; padding: 6px; background: none; border: none; background-color: #fff;}
.warp{width: 1200px; overflow: hidden; margin: 0 auto; height: inherit; }
/*头部*/
.header{position: relative; z-index: 3; height: 60px; line-height: 60px; padding: 0 28px; background-color: #2b2b2d;}
.header .logo{float: left; overflow: hidden; height: inherit;}
.header .logo a{display: block;height: inherit; padding-left: 35px; background: url(../../img/HomePage/logo.png) no-repeat left center; font-size: 18px; font-weight: bold; color: #fff;}
.header .logo .edition{font-size: 12px; background-color: #e84f4f; line-height: 1; padding: 0px 4px; border-radius: 2px; margin-left: 6px;}
.header .nav{float: left;  margin-left: 30px;}
.header .nav:before{content: ""; height: 20px; border-left:1px solid #3c3c3f; border-right: 1px solid #1d1d20; float: left; margin-top: 20px;}
.header .nav>li{float: left; position: relative;}
.header .nav>li>a{font-size: 16px; color: #fff; display: block; text-align: center; padding: 0 20px;border-top: 3px solid transparent; height: 57px;}
.header .menu{position: absolute; left: 0; top: 60px; float: left; padding: 0px 19px 10px; background-color: #39393c; line-height: 35px; display: none;}
.header .menu a{color: #afafb8; font-size: 14px; white-space:nowrap;}
.header .nav>li:hover>a{background-color: #39393c; border-top: 3px solid #3ea9fb;}
.header .nav>li:hover .menu{ display: block;}

.nav-more {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    margin-left: 6px;
    position: relative;
    top: -0.15em;
    *left: 6px;
    *top:-0.4em;
    background-image: url(../../img/HomePage/nav-more.png);
}


.header .nav>li:hover .nav-more__nav-more {
    background-position: 0px 0px;
    width: 9px;
    height: 6px;
}
.nav-more__nav-more {
    background-position: -9px 0px;
    width: 9px;
    height: 6px;
}

.icon-nav {
    display: inline-block;
    margin-right: 2px;
    *display: inline;
    *zoom: 1;
    *margin-right: 6px;
    vertical-align: middle;
    position: relative;
    top: -0.1em;
    *top:0;
    background-image: url(../../img/HomePage/icon-nav.png);
}
.header .menu a:hover{color: #3ea9fb;}
.header .menu a:hover .icon-nav__icon-nav_fltj {
    background-position: 0px -85px;
    width: 16px;
    height: 16px;
}
.icon-nav__icon-nav_fltj {
    background-position: -100px -48px;
    width: 16px;
    height: 16px;
}
.header .menu a:hover .icon-nav__icon-nav_fwtj {
    background-position: -52px 0px;
    width: 16px;
    height: 19px;
}
.icon-nav__icon-nav_fwtj {
    background-position: -36px 0px;
    width: 16px;
    height: 19px;
}
.header .menu a:hover .icon-nav__icon-nav_gngl {
    background-position: -85px -18px;
    width: 15px;
    height: 18px;
}
.icon-nav__icon-nav_gngl {
    background-position: -85px 0px;
    width: 15px;
    height: 18px;
}
.header .menu a:hover .icon-nav__icon-nav_hhmx {
    background-position: -32px -85px;
    width: 16px;
    height: 15px;
}
.icon-nav__icon-nav_hhmx {
    background-position: -48px -85px;
    width: 16px;
    height: 15px;
}
.header .menu a:hover .icon-nav__icon-nav_hxck {
    background-position: -68px -34px;
    width: 17px;
    height: 16px;
}
.icon-nav__icon-nav_hxck {
    background-position: 0px -53px;
    width: 17px;
    height: 16px;
}
.header .menu a:hover .icon-nav__icon-nav_jjltj {
    background-position: -16px -85px;
    width: 16px;
    height: 16px;
}
.icon-nav__icon-nav_jjltj {
    background-position: -100px -64px;
    width: 16px;
    height: 16px;
}
.header .menu a:hover .icon-nav__icon-nav_jmzy{
    background-position: -85px -52px;
    width: 15px;
    height: 16px;
}
.icon-nav__icon-nav_jmzy {
    background-position: -85px -36px;
    width: 15px;
    height: 16px;
}
.header .menu a:hover .icon-nav__icon-nav_lmgl {
    background-position: -85px -68px;
    width: 15px;
    height: 15px;
}
.icon-nav__icon-nav_lmgl {
    background-position: 0px -101px;
    width: 15px;
    height: 15px;
}
.header .menu a:hover .icon-nav__icon-nav_lsck {
    background-position: -51px -69px;
    width: 17px;
    height: 16px;
}
.icon-nav__icon-nav_lsck {
    background-position: -17px -53px;
    width: 17px;
    height: 16px;
}
.header .menu a:hover .icon-nav__icon-nav_ltcs {
    background-position: 0px -18px;
    width: 17px;
    height: 18px;
}
.icon-nav__icon-nav_ltcs {
    background-position: -17px -18px;
    width: 17px;
    height: 18px;
}
.header .menu a:hover .icon-nav__icon-nav_ltzsk {
    background-position: -116px 0px;
    width: 13px;
    height: 16px;
}
.icon-nav__icon-nav_ltzsk {
    background-position: -116px -16px;
    width: 13px;
    height: 16px;
}
.icon-nav__icon-nav_myltj {
    background-position: -68px -69px;
    width: 16px;
    height: 16px;
}
.header .menu a:hover .icon-nav__icon-nav_myltj {
    background-position: -100px -32px;
    width: 16px;
    height: 16px;
}
.header .menu a:hover .icon-nav__icon-nav_plcs{
    background-position: -98px -85px;
    width: 18px;
    height: 9px;
}
.icon-nav__icon-nav_plcs {
    background-position: -15px -101px;
    width: 18px;
    height: 9px;
}
.header .menu a:hover .icon-nav__icon-nav_tpk{
    background-position: -68px -53px;
    width: 17px;
    height: 16px;
}
.icon-nav__icon-nav_tpk {
    background-position: 0px -69px;
    width: 17px;
    height: 16px;
}
.header .menu a:hover .icon-nav__icon-nav_twfxk {
    background-position: -17px -69px;
    width: 17px;
    height: 16px;
}
.icon-nav__icon-nav_twfxk {
    background-position: -34px -69px;
    width: 17px;
    height: 16px;
}
.header .menu a:hover .icon-nav__icon-nav_wdk {
    background-position: 0px -36px;
    width: 17px;
    height: 17px;
}
.icon-nav__icon-nav_wdk {
    background-position: -34px -36px;
    width: 17px;
    height: 17px;
}
.header .menu a:hover .icon-nav__icon-nav_wfcs {
    background-position: -18px 0px;
    width: 18px;
    height: 18px;
}
.icon-nav__icon-nav_wfcs {
    background-position: 0px 0px;
    width: 18px;
    height: 18px;
}
.header .menu a:hover .icon-nav__icon-nav_wpp {
    background-position: -36px -19px;
    width: 16px;
    height: 17px;
}
.icon-nav__icon-nav_wpp {
    background-position: -52px -19px;
    width: 16px;
    height: 17px;
}
.header .menu a:hover .icon-nav__icon-nav_zsdpm {
    background-position: -100px -16px;
    width: 16px;
    height: 16px;
}
.icon-nav__icon-nav_zsdpm {
    background-position: -100px 0px;
    width: 16px;
    height: 16px;
}
.header .menu a:hover .icon-nav__icon-nav_zsfb {
    background-position: -17px -36px;
    width: 17px;
    height: 17px;
}
.icon-nav__icon-nav_zsfb {
    background-position: -68px -17px;
    width: 17px;
    height: 17px;
}
.header .menu a:hover .icon-nav__icon-nav_zsjg {
    background-position: -51px -53px;
    width: 17px;
    height: 16px;
}
.icon-nav__icon-nav_zsjg {
    background-position: -34px -53px;
    width: 17px;
    height: 16px;
}
.header .menu a:hover .icon-nav__icon-nav_zssh {
    background-position: -68px 0px;
    width: 17px;
    height: 17px;
}
.icon-nav__icon-nav_zssh {
    background-position: -51px -36px;
    width: 17px;
    height: 17px;
}
.header .menu a:hover .icon-nav__icon-nav_zszl {
    background-position: -64px -85px;
    width: 17px;
    height: 14px;
}
.icon-nav__icon-nav_zszl {
    background-position: -81px -85px;
    width: 17px;
    height: 14px;
}


.header-r{float: right;}
.user-admin{position: relative; float: left;}
.user-admin .user-name{position: relative; padding-right: 12px; max-width: 68px; font-size: 14px; color: #fff; display: block; text-align: center;}
.user-admin .user-name span{white-space:nowrap;text-overflow:ellipsis;overflow:hidden; display: block;}
.user-admin .user-name i{position: absolute; right: 0; top: 29px; display: inline-block; vertical-align: middle; overflow: hidden; width: 0; height: 0; border-top: 4px solid #fff; border-left: 4px solid transparent; border-right: 4px solid transparent;}
.user-admin .ua-menu-box{position: absolute; left: 50%; top: 60px; z-index: 8;  display: none;}
.user-admin .ua-menu{position: relative; left: -50%; background-color: #39393c; padding:10px 20px; line-height: 35px;}
.user-admin .ua-menu:after{ position: absolute; left: 50%; top: -9px; content: ""; display: inline-block; margin-left: -9px; vertical-align: middle; overflow: hidden; width: 0; height: 0; border-bottom: 9px solid #39393c; border-left: 9px solid transparent; border-right: 9px solid transparent;}
.user-admin .ua-menu a{font-size: 14px; color: #fff; white-space:nowrap;}
.user-admin .ua-menu a:hover{color: #3ea9fb;}
.user-admin:hover .ua-menu-box{ display: block;}


.icon-header-r {
    display: inline-block;
    margin-right: 2px;
    *display: inline;
    *zoom: 1;
    *margin-right: 6px;
    vertical-align: middle;
    position: relative;
    top: -0.1em;
    *top:0;
    background-image: url("../../img/HomePage/icon-header-r.png");
}
.icon-header-r__h-r1 {
    background-position: -16px 0px;
    width: 16px;
    height: 17px;
}
.user-admin .ua-menu a:hover .icon-header-r__h-r1 {
    background-position: 0px 0px;
    width: 16px;
    height: 17px;
}
.icon-header-r__h-r2 {
    background-position: -32px -17px;
    width: 16px;
    height: 13px;
}
.user-admin .ua-menu a:hover .icon-header-r__h-r2{
    background-position: -16px -17px;
    width: 16px;
    height: 13px;
}
.icon-header-r__h-r3 {
    background-position: 0px -17px;
    width: 16px;
    height: 17px;
}
.user-admin .ua-menu a:hover .icon-header-r__h-r3 {
    background-position: -32px 0px;
    width: 16px;
    height: 17px;
}

.mail-conver{float: left; position: relative; margin: 20px 0;margin-left: 20px;  height: 20px;}
.mail-conver:before{content: ""; height: 20px; border-left:1px solid #3c3c3f; border-right: 1px solid #1d1d20; float: left; margin-right: 10px;}
.mail-conver a{margin: 0 10px; display: inline-block; width: 19px; height: 19px; position: relative; float: left;}
.mail-conver a.mail{background: url(../../img/HomePage/ico-mail.png) no-repeat center;}
.mail-conver a.mail em{position: absolute; right: -40%;top: -5px; min-width: 6px; padding:1px 4px; height: 12px; line-height: 12px; text-align: center; display: inline-block; border-radius: 14px; background-color: #e84f4f; color: #fff; font-size: 12px; font-family: "\5B8B\4F53";}
.mail-conver a.conver{background: url(../../img/HomePage/ico-conver.png) no-repeat center;}
